<div class="ui form">
    <div class="field">
        <label class="col-sm-2 control-label">Video / Embed Content</label>

        <div class="col-sm-10">
            <textarea name="embed_content" class="form-control input-lg" ng-model="article.embed_content"></textarea>
									<span class="help-block m-b-none">
									</span>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="field">
        <label class="col-sm-2 control-label">Featured Image</label>
        <div class="col-sm-10">
            <button class="ui button" type="button"
                    sm-uploader="featured_image" ng-model="article.featured_image">Choose Featured Image</button>
            <div class="width-100 set_featured_image">
                <img class="featured_image_preview img-responsive img-thumbnail" ng-src="{{article.featured_image}}" ng-show="article.featured_image" style="width:auto;" />
            </div>
            <input type="hidden" name="featured_image" class="form-control input-lg" ng-model="article.featured_image">
									<span class="help-block m-b-none">
										This is the featured image for your article, it is used as the image when sharing on social sites such as Facebook.
									</span>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="field">
        <div class="ui checkbox" ng-model="article.always_show_featured_image" sui-checkbox truevalue="1"
             falsevalue="0">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Show featured image on individual article</label>
        </div>
    </div>
</div>