<div class="row" style="margin-left: auto;margin-right: auto;" ng-init="init()">
    <div class="ui grid">
        <div class="twelve wide column" ng-if="loading">
            <div class="ui segment" style="min-height:200px;min-width:500px;">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column" ng-if="!loading">

            <div class="ui piled segment section_background_color">

                <div>
                    <div class="space"></div>
                    <div dynamic="jv.thankyou_note" class="fr-view"></div>
                </div>

                <hr>
                <div class="space"></div>
            </div>

        </div>
    </div>
</div>