<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="users icon"></i>
		Your Member Imports
		<div class="ui right floated button" ng-click="refreshState()"> Refresh	</div>
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>These are the imports you've done previously, and the status of any still-processing import jobs. You may
				need to refresh your browser to see progress on imports.</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>
			
			<table class="ui celled striped padded structured table" ng-if="items.length > 0 && !loading" foonice>
				<thead>
					<tr>
						<th data-toggle="">Members</th>
						<th data-hide="">Status</th>
						<th data-hide="">Import Progress</th>
						<th data-hide="">Created</th>
					</tr>
				</thead>
				<tbody>

					<tr class="{{item.is_active ? 'warning' : 'positive'}}" dir-paginate="item in items | orderBy:'created_at':true | itemsPerPage: pagination.per_page" total-items="pagination.total_count"  current-page="pagination.current_page">
						<td>
							{{item.total_count}}
						</td>
						<td>
							<div class="label" ng-if="item.is_active">Importing</div>
							<div class="label" ng-if="!item.is_active">Done</div>
						</td>
						<td>
							<div class="ui indicating progress" data-value="{{item.done_count}}" data-total="{{item.total_count}}" data-percent="100">
								<div class="bar" style="transition-duration: 300ms;width:{{(item.done_count / item.total_count) * 100}}%;">
									<div class="progress"></div>
								</div>
								<div class="label" ng-if="item.is_active">{{item.done_count}} of {{item.total_count}} imported... please wait</div>
								<div class="label" ng-if="!item.is_active">{{item.total_count}} imported!</div>
							</div>
						</td>
						<td>
							{{moment.utc(item.created_at).fromNow()}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">
							<div class="ui pointing label">
								{{pagination.total_count}} items
							</div>
							<dir-pagination-controls max-size="5"></dir-pagination-controls>
						</th>
					</tr>
				</tfoot>
			</table>
			<div ng-show="items.length == 0 && !loading">
				<p>No members imported yet</p>
			</div>

		</div>
	</div>
	<div class="actions">
		<a ui-sref="public.app.admin.members.import" class="ui right labeled icon green button">
			Import More Users
			<i class="plus icon"></i>
		</a>
       <a ng-click="CloseAdminState()" ng-show="SiteStateExists()" class="ui black button">
			Close
		</a>
        <div class="ui deny button" ui-sref="public.app.admin.members.list">
            Back
        </div>
	</div>
</div>