 <div class="page-content alt_style_container">
	<div class="page" id="js-page">
		<section>
			<div id="wrapper">
	<div class="animate-panel">

		<div class="content">
			<div class="row">
				<div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.1s; -webkit-animation-delay: 0.1s;">
					<div class="hpanel">
						<div class="panel-body">
							<div class="text-center">
								<h2 class="m-b-xs">Access Passes</h2>
								<p class="font-bold text-success">content allowances</p>
								<div class="m">
									<i class="pe-7s-science fa-5x"></i>
								</div>
								<p class="">
									Access passes pair up a user with an access level - in other words, these are how
									your site knows who's allowed to access your protected content.
								</p>
								<a href="/admin/access-pass/">
									<button class="btn btn-success">Give an Access Pass</button>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 animated-panel zoomIn" style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
					<div class="hpanel">
						<div class="panel-body">
							<div class="table-responsive">
								<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
									<div class="row">
										<div class="col-sm-6">
											
										</div>
										<div class="col-sm-6">
										<div id="example1_filter" class="dataTables_filter">
											<label>Search:
												<input type="text" class="form-control input-sm" placeholder="Search by email address" aria-controls="example1" ng-model="query" ng-change="search()" ng-model-options="{debounce: { 'default': 500, 'blur': 0 } }">
											</label>
										</div>
										</div>
									</div>
								<div class="row">
									<div class="col-sm-12" infinite-scroll='getPasses()' infinite-scroll-distance='1' infinite-scroll-disabled="disable">

										<table id="example1" class="display table table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="example1_info" style="width: 691px;">
											<thead>
												<tr>
													<th>ID</th>
													<th>User</th>
													<th>Email</th>
													<th>Access Level</th>
													<th>Expire Date</th>
													<th>Created Date</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd" ng-repeat="pass in access_passes">
													<td valign="top">{{pass.id}}</td>
													<td valign="top">
														<a href="/admin/access-pass/{{pass.id}}">
													 		<span class="text-success font-bold">
													 			{{pass.user.first_name}} {{pass.user.last_name}}
													 		</span>
													 	</a>
													</td>
													<td valign="top">{{pass.user.email}}</td>
													<td valign="top">{{pass.access_level.name}}</td>
													<td valign="top">
														{{moment(pass.expired_at).isValid() ? moment(pass.exired_at).format('ll') : "Never"}}</td>
													<td valign="top">
														{{moment(pass.created_at).format('ll')}}
														<span class="pull-right fa fa-trash" ng-click="delete(pass.id)" style="cursor:pointer;" ><span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</section></div>
			</div>