<div class="animate-panel" ng-init="initSiteNotice()">
    <div class="content">

        <form method="get" class="save_form" ng-submit="saveSiteNotice()">

            <div class="row">
                <div class="col-md-8">
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt">
                            Create New Site Notice
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label>
                                    Title:

                                </label>
                                <input type="text" name="title" class="form-control"
                                       ng-model="site_notice.title">
                                <span class="help-block m-b-none">
                                    Customers will see this name publicly
                                </span>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <textarea froala ng-model="site_notice.content"></textarea>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt">
                            Save
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-brand" type="submit">Save changes</button>
                                    <a ui-sref="admin.site-notices" class="btn btn-default">Cancel</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
