<div class="ui long modal"><i class="close icon"></i>
	<div class="header">
		<i class="configure icon"></i>
		Access Level
	</div>
	<div class="content">
		<div class="description">

			<div class="ui segment form">
				<div class="inline field">
					<label>Access Level Name</label>
					<input type="text" ng-model="access_level.name">
				</div>
			</div>

			<div class="ui styled fluid accordion" sui-accordion>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Advanced Settings
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<div class="field">
							<label>Sales Page Url</label>
							<a ng-model="access_level" class="ui button" url-popup position="top center" duration="10000" hide="10000" html="/templates/modals/popover.html">{{
								access_level.information_url|| 'Select url' }}
							</a>
							<div class="ui info message">
								This is the url to the sales page, or wherever you want users to go when they try to access something they don't have access too.
								They will be told they don't have accessed and asked to click a link to this Url to get access.
							</div>
						</div>
						<div class="field">
							<label>Redirect Url</label>
							<input type="text" name="redirect_url" ng-model="access_level.redirect_url"/>
							<div class="ui info message">
								This URL is used to redirect customers after purchase through Paypal or Stripe.
							</div>
						</div>

						<div class="field">
							<label>Granted Access Levels</label>

							<select multiple="multiple" class="ui fluid dropdown" ng-model="access_level.grants" style="height: 150px;">
								<optgroup label="Site Access Levels">
									<option ng-selected="exists(al.id)" ng-repeat="al in access_levels" value={{al.id}}>{{al.name}}</option>
								</optgroup>
								<optgroup label="Shared Access Levels">
									<option ng-selected="exists_share(al.access_level.id)" ng-repeat="al in shared_access_levels" value={{al.access_level.id}}>{{al.access_level.name}}</option>
								</optgroup>
							</select>
							<div class="ui info message">
								Select any other Access Levels you want owners of this Access Level to get access to.
								<br>
								aka. if this is your "Gold" level, select Bronze and Silver.
								<strong>Hold down Ctrl key to select multiple access levels</strong>
							</div>
						</div>
                        <div class="field">
                            <div class="ui checkbox" ng-model="access_level.hide_unowned_content" sui-checkbox>
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>Hide content from users who don't have this product level</label>
                            </div>
                        </div>
					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Facebook Group Integration
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<div class="field">
							<label>Facebook Group</label>
							<select data-ng-options="group.remote_id as group.name for group in facebook_groups" class='form-control input-lg' ng-model="access_level.facebook_group_id" placeholder='Select Access Permission'>
							</select>
							<button ng-hide="!access_level.facebook_group_id || access_level.facebook_group_id == '' || access_level.facebook_group_id == '0'" type="button" class="btn" ng-click="access_level.facebook_group_id=''">Remove Group</button>
							<div class="ui info message">
								Select a facebook group that own and new members to this product level will automatically get invitation to join the group.
							</div>
						</div>

					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					JVZoo Integration
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<div class="field">
							<label>Product ID</label>
							<input type="text" name="jvzoo_product_id" class="form-control input-lg"
								   ng-model="access_level.product_id">
							<div class="ui info message">
								This is the product ID in JVZoo. If you want this product level given to customers
								who purchase a particular product through JVZoo, find it via your JVZoo dashboard
								and set it here.
							</div>
						</div>
						<div class="field">
							<label>Buy Button</label>
							<textarea name="jvzoo_button" ng-model="access_level.jvzoo_button"></textarea>
							<div class="ui info message">
								This is a buy button from JVZoo. You can have this show up on the checkout page.
							</div>
						</div>

					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Webinar Integration
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<div class="field">
							<label>GoToWebinar Webinar URL</label>
							<input type="text" class="form-control input-lg" ng-model="access_level.webinar_url">
							<div class="ui info message">
								Optionally enter in the url of a Go To Webinar registration page. Anytime a member is granted this Access Level, they'll be signed up for your webinar! Make sure to setup your webinar to ONLY require first name, last name and email OR registration will fail.
							</div>
						</div>

					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					ClickBank Settings
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<div class="field">
							<label>Product ID</label>
							<input type="text" name="cb_product_id" class="form-control input-lg"
								   ng-model="access_level.cb_product_id">
							<div class="ui info message">
								This is the product ID in ClickBank. If you want this product level given to customers
								who purchase a particular product through ClickBank, find it via your ClickBank dashboard
								and set it here.
							</div>
						</div>

					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					WSO Settings
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<div class="field">
							<label>Product ID</label>
							<input type="text" name="wso_product_id" class="form-control input-lg"
								   ng-model="access_level.wso_product_id">
							<div class="ui info message">
								This is the product ID in WarriorPlus. If you want this product level given to customers
								who purchase a particular product through WarriorPlus, find it via your WarriorPlus dashboard
								and set it here.
							</div>
						</div>

					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Zaxaa Settings
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<h4 class="ui header">Product ID</h4>
						<div class="field">
							<div class="col-sm-12">
								<input type="text" name="zaxaa_product_id" class="form-control input-lg"
									   ng-model="access_level.zaxaa_product_id">
								<div class="ui info message">
									This is the product ID in Zaxaa. If you want this product level given to customers
									who purchase a particular product through Zaxaa, find it via your Zaxaa dashboard
									and set it here.
								</div>
							</div>
						</div>

					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Payment Settings
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<h4 class="ui header">Payment Type</h4>
						<div class="field">
							<div class="col-sm-12">
								<select name="payment_type" class="form-control input-lg" ng-model="access_level.payment_interval">
									<option value="one_time">One Time</option>
									<option value="bi_weekly">Bi-Weekly</option>
									<option value="weekly">Weekly</option>
									<option value="monthly">Monthly</option>
									<option value="quarterly">Quarterly</option>
									<option value="annually">Annual</option>
								</select>
							</div>
						</div>
						<h4 ng-if="access_level.payment_interval == 'one_time'">Expiration Period</h4>
						<div ng-if="access_level.payment_interval == 'one_time'" class="field">

							<div class="col-sm-12">
								<input type="number" min="0" name="redirect_url"
									   class="form-control input-lg editable editable-click"
									   ng-model="access_level.expiration_period"/>
								<div class="ui info message">
									This is the default expiration period (in months) for each access pass granted, leave blank or set to 0 to not have a default expiration period.
								</div>
							</div>
						</div>
						<h4 class="ui header">Price</h4>
						<div class="field">
							<div class="ui left labeled input">
								<div class="ui inline labeled icon dropdown button" sui-smart-dropdown ng-model="access_level.currency" label="{{_.findWhere( currencies, {id: (access_level.currency ? access_level.currency : default_currency )} ).label}}">
									<i class="money icon"></i>
									<span class="text">Currency</span>
									<div class="menu">
										<div class="item" ng-repeat="currency in currencies" data-value="{{currency.id}}">
											<a>
												<span dynamic="currency.label" class="fr-view"></span>
											</a>
										</div>
									</div>
								</div>
								<input type="text" style="margin-bottom:0;" name="stripe_price" ng-model="access_level.price">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="field">
							<label>

								<h4 class="help-block m-b-none">
									<input type="checkbox" ng-model="access_level.enable_trial"
										   ng-checked="(access_level.trial_amount != 0 || access_level.trial_amount != '0')"
										   ng-disabled="access_level.payment_interval == 'one_time'">
									Enable Product Trial (only available for
									recurring payment)
								</h4>
							</label>
						</div>
						<div ng-hide="access_level.payment_interval == 'one_time' || access_level.enable_trial == false"
							 ng-if="access_level.enable_trial || access_level.trial_amount != null">
							<h4 class="ui header">Trial Duration</h4>
							<div class="field ui grid">
								<div class="eight wide column">
									<input type="text" name="redirect_url" placeholder="Duration"
										   class="form-control input-lg"
										   ng-model="access_level.trial_duration"/>
								</div>
								<div class="eight wide column">
									<select class="form-control input-lg" ng-model="access_level.trial_interval">
										<option value=""></option>
										<option value="day">Day(s)</option>
										<option value="week">Week(s)</option>
										<option value="month">Month(s)</option>
									</select>
								</div>
							</div>
							<h4 class="ui header">Trial Price</h4>

							<div class="field">
								<div class="ui left labeled input">
									<input type="text" style="margin-bottom:0;" name="stripe_price" ng-model="access_level.trial_amount">
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<h4 ng-if="access_level.payment_interval!='one_time'">Stripe Plan ID</h4>
						<div class="field" ng-if="access_level.payment_interval!='one_time'">
							<div class="col-sm-11">
								<input type="text" name="stripe_plan_id" class="form-control input-lg"
									   ng-model="access_level.stripe_plan_id">
								<div class="ui info message">
									If you provide a Stripe Plan ID, this purchase will be considered a recurring purchase.
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<h4 class="ui header">Payment Methods</h4>
						<div class="field">
							<div class="col-sm-12">
								<select multiple ng-model="access_level.new_payment_methods" class="form-control used_payment_methods">
									<option ng-selected="paymentMethodExists( p.id ) || !access_level.id" ng-repeat="p in payment_method_types | filter:validPaymentMethod" value={{p.id}}>{{p.name}}</option>
								</select>
								<div class="ui info message">
									Select the payment methods you want users to be able to use on the checkout page.
									<br>
									Note that you can only select methods you have already set up, go to
									<a href="/admin/app_configurations/all">app_configurations</a>
									to set up these methods.
									<br>
									The JVZoo checkout button will only show up if you have a JVZoo buy button set above.
								</div>
							</div>
						</div>
						<span ng-if="payment_app_configurations.stripe.length > 1">
							<div class="hr-line-dashed"></div>
							<h4 class="ui header">Which Stripe Integration should be used?</h4>
							<div class="field">
								<div class="col-sm-12">
									<select class="form-control" ng-model="access_level.stripe_integration" ng-change="changeAccount()">
										<option value="0" ng-selected="!access_level.stripe_integration">Use default integration</option>
										<optgroup label="Stripe app_configurations">
											<option ng-repeat="stripe_integration in payment_app_configurations.stripe" ng-selected="stripe_integration.id == access_level.stripe_integration" value="{{stripe_integration.id}}">{{stripe_integration.account.name ? stripe_integration.account.name : stripe_integration.account.username}}</option>
										</optgroup>
									</select>
									<span class="help-block m-b-none" ng-hide="access_level.payment_interval == 'one_time'">
										Note that the Stripe Plan ID you choose must be set up on the Stripe account you are choosing to use for this checkout page.
									</span>
								</div>
							</div>
						</span>
						<span ng-if="payment_app_configurations.paypal.length > 1">
							<div class="hr-line-dashed"></div>
							<h4 class="ui header">Which Paypal Integration should be used?</h4>
							<div class="field">
								<div class="col-sm-12">
									<select class="form-control" ng-model="access_level.paypal_integration">
										<option value="0" ng-selected="!access_level.paypal_integration">Use default integration</option>
										<optgroup label="Paypal app_configurations">
											<option ng-repeat="paypal_integration in payment_app_configurations.paypal" ng-selected="paypal_integration.id == access_level.paypal_integration" value="{{paypal_integration.id}}">{{paypal_integration.remote_id}}</option>
										</optgroup>
									</select>
								</div>
							</div>
						</span>
						<div class="hr-line-dashed"></div>

					</div>
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Access Level Share Key
				</h3>
				<div class="ui attached segment content">
					<div class="ui form">

						<h4>Create a New Key</h4>
						<div class="form-group">
							<div class="col-sm-8">
								<input type="text" class="form-control input-lg" ng-model="key">
							</div>
							<div class="col-sm-4">
								<div class="ui black deny button close" ng-click="generateACShareKey()">
									Generate New Key
								</div>
							</div>
							<div class="ui info message">
								Press the button to create a new shared access level key
							</div>
						</div>

						<h4>Generated Key</h4>
						<div class="form-group">
							<table class="ui fixed single line celled stackable table" data-page-size="15">
								<thead>
									<tr>
										<th style="width: 294px;">Key</th>
										<th>Claimed site name</th>
										<th>Claimed site URL</th>
										<th>Date</th>
										<th class="text-right" data-sort-ignore="true">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="next_item in keys">
										<td>
											{{next_item.key}}
										</td>
										<td>
											{{next_item.destination_site.name}}
										</td>
										<td>
											{{next_item.destination_site.subdomain ? next_item.destination_site.subdomain + '.smartmember.com' : ''}}
										</td>
										<td>
											{{moment.utc(next_item.created_at).fromNow()}}
										</td>
										<td class="text-right">
											<button class="btn btn-danger btn-outline btn-sm ng-scope" sm-delete="{{next_item.id}}">
												Delete
												<i class="fa fa-trash"></i>
											</button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
									</tr>
								</tfoot>
							</table>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div ui-sref="public.app.admin.members.products" class="ui black deny button close">
			Cancel
		</div>
		<button ng-click="save()" class="ui right labeled icon button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>