<section>
	<div id="wrapper">
	    <div class="ui modal"><i class="close icon"></i>


			<div class="content">
		        <div class="row">
					<form accept-encoding="UTF-8" class="form_change_name col span_4_of_6">
						<input type="hidden" name="change_name" value="1">
						<input type="hidden" name="user_id" value="6964">
						<p>
							<label for="full_name">Full Name</label>
							<input type="text" class="no_bottom_margin small_right_margin" name="full_name" maxlength="75" ng-model="full_name">
							<span class="input_note">Entering your name helps your teammates recognize you.</span>
						</p>

						<p>
							<button id="save_profile" class="btn btn_large ladda-button" ng-click="saveName(full_name)" data-style="expand-right"><span class="ladda-label" >Save Changes</span></button>
						</p>

					</form>
			</div>
			</div>
		</div>
	</div>
</section>