<div class="ui modal">
    <div class="header">
        <i class="settings icon"></i>
        Segment Customization: {{segment.name}}
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label class="control-label">Custom Subject</label>

                <div class="">
                    <input type="text" name="title" class="form-control input-lg" ng-model="segment.subject">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="field">
                <label class="control-label">Custom Intro</label>

                <div class="">
                    <textarea froala ng-model="segment.intro"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button close" ng-click="cancel()">
            Cancel
        </div>
        <button ng-click="save()" class="ui green right labeled icon button">
            Save changes
            <i class="save icon"></i>
        </button>
    </div>
</div>