<div class="ui modal">
    <div class="row content">
        <div class="col-lg-12">

            <div class="ibox-content page-heading clear_box">
                <div class="p-xs">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="pull-left m-r-md">
                                <i class="fa fa-gear text-branded mid-icon"></i>
                            </div>
                            <h2 class="ui header">{{ template_data.title | translate }}</h2>
                            <span>{{template_data.description}}</span>
                        </div>
                        <div class="col-md-3 text-right">
                            <!-- <a ng-click="smModal.Show('public.administrate.team.invite')" class="btn btn-brand m-t-md btn-large">
                                <i class="fa fa-plus"></i>
                                Invite team  members
                            </a> -->
							<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
								<i class="fa fa-question"></i>
							</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="loading" class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4" ng-repeat="next_item in data[ pagination.current_page ]">

						<div class="contact-box center-version">

							<a href="">

								<img ng-if="next_item.user.profile_image" title="{{next_item.user.first_name}}" class="img-circle m-t-xs" src="{{next_item.user.profile_image}}">
								<img ng-if="!next_item.user.profile_image" title="{{next_item.user.first_name}}" class="img-circle m-t-xs" src="http://www.gravatar.com/avatar/{{next_item.user.email_hash}}?d=mm">

								<h3 class="m-b-xs"><strong>{{next_item.user.first_name ? next_item.user.first_name + ' ' + next_item.user.last_name : 'name unknown'}}</strong></h3>

								<div class="font-bold">{{highestRoleTypeName(next_item)}}</div>

								<small>joined {{moment.utc(next_item.created_at).fromNow()}}</small>

							</a>
							<div class="contact-box-footer">
								{{next_item.user.email}}
							</div>
							<div class="contact-box-footer">
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 2 && !isRole(next_item,2) && !isRole(next_item,1)" ng-click="toggleRole(next_item,2)">
									Make Owner
								</button>
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 2 && isRole(next_item,2)" ng-click="toggleRole(next_item)">
									Revoke Owner Status
								</button>
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 3 && !isRole(next_item,3) && !isRole(next_item,1)" ng-click="toggleRole(next_item,3)">
									Make Manager
								</button>
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 3 && isRole(next_item,3)" ng-click="toggleRole(next_item)">
									Revoke Manager Status
								</button>
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 4 && !isRole(next_item,4) && !isRole(next_item,1)" ng-click="toggleRole(next_item,4)">
									Make Admin
								</button>
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 4 && isRole(next_item,4)" ng-click="toggleRole(next_item)">
									Revoke Admin Status
								</button>
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 5 && !isRole(next_item,5) && !isRole(next_item,1)" ng-click="toggleRole(next_item,5)">
									Make Agent
								</button>
								<button class="btn btn-xs btn-white" ng-if="userPrivilegeLevel() < 5 && isRole(next_item,5)" ng-click="toggleRole(next_item)">
									Revoke Agent Status
								</button>
								<button class="btn btn-danger btn-outline btn-xs" ng-click="delete(next_item.id)">
									Delete
									<i class="fa fa-trash"></i>
								</button>
							</div>

						</div>

					</div>
				</div>
			</div>

        </div>
    </div>
    <div class="actions">
        <button ng-click="smModal.Show('public.administrate.team.invite')" class="ui right labeled icon button">
            Invite members
            <i class="fa fa-plus"></i>
        </button>
        <div class="ui black deny button close" >
            Close
        </div>
    </div>
</div>
