<div class="ui large inverted fluid vertical menu ng-scope">
	<a class="item" ng-click="smSidebar.Close()">
		close
		<i class="sidebar icon"></i>
	</a>
</div>

<ng-include src="'templates/components/public/admin-bar/build-menu/content.html'"></ng-include>
<ng-include src="'templates/components/public/admin-bar/build-menu/members.html'"></ng-include>
<ng-include src="'templates/components/public/admin-bar/build-menu/sidebars.html'"></ng-include>
<ng-include src="'templates/components/public/admin-bar/build-menu/settings.html'"></ng-include>