<div class="ui large menu" ng-init="toggleSidebar()" ng-controller="themeEngineController">
	<div class="header item">
		Theme Editor
	</div>
	<div class="item">
		<button class="ui primary button" ng-click="toggleSidebar()">Layout</button>
	</div>
	<div class="item">
		<button class="ui primary button" ng-click="toggleSidebar()">Colors</button>
	</div>
	<div class="item">
		Things
		<div class="ui small basic icon buttons">

			<div class="ui icon button" title="View as desktop" sui-popup>
				<i class="desktop icon"></i>
			</div>
			<div class="ui icon button" title="View as tablet" sui-popup>
				<i class="tablet icon"></i>
			</div>
			<div class="ui icon button" title="View as mobile" sui-popup>
				<i class="mobile icon"></i>
			</div>

		</div>
	</div>
	<div class="item">
		<div class="ui button" ng-click="save();">Save</div>
		<div class="ui button" ng-click="smSidebar.Close();">cancel</div>
	</div>
</div>