<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="paragraph icon"></i>
		Create a new forum category
	</div>
	<div class="content">
		<div class="description">

			<div class="ui form">
				<div class="field">
					<label>Title</label>
					<input ng-model='category.title' placeholder="Title">
				</div>
				<div class="field">
					<label>Description</label>
					<textarea froala rows="2" ng-model='category.description'></textarea>
				</div>
				<div class="field">
					<label>Access Type</label>
					<select class="ui dropdown" ng-model='category.access_level_type'>
						<option value="1" selected>Public</option>
						<option value="2">Admin</option>
						<option value="3">Members</option>
						<option value="4">Private</option>
					</select>
				</div>
				<div class="field">
					<label>Add Icon Field here</label>
					<sm-iconpicker icon='{{category.icon}}'>
					</sm-iconpicker>
					<!-- <input ng-model='category.icon' placeholder="Icon"> -->
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
		<a ng-click="save()" class="ui right labeled icon button">
			Save changes
			<i class="checkmark icon"></i>
		</a>
	</div>
</div>