<div class="four wide column the_left_sidebar white_background p-none">


	<div ng-if="requesting_data" class="ui active inverted dimmer">
		<div class="ui text loader">Loading</div>
	</div>

	<div ng-if="!requesting_data && tickets.length==0">
		<p class="alert alert-info">No tickets found</p>
	</div>

	<div class="ui segments">

		<div class="ui segment tight">
			<div class="ui compact fluid secondary three item menu">
				<div class="item ui basic dropdown button" sui-dropdown>

					{{type_to_fetch == 'open' ? 'Open' : 'Closed'}} ({{pagination.total_count || 0}})
					<i class="dropdown icon"></i>

					<div class="menu">
						<div class="item" ng-click="FetchByType('open')">Open</div>
						<div class="item" ng-click="FetchByType('closed')">Close</div>
					</div>
				</div>
				<div class="item ui basic dropdown button" sui-dropdown>
					Assigned to
					<i class="dropdown icon"></i>
					<div class="menu set-z-index agents_dropdown">
						<div class="item" ng-click="agent_to_fetch='all';FetchTickets()">All</div>
						<div class="item" ng-repeat="agent in company_agents | orderBy:'first_name'" ng-click="$parent.agent_to_fetch=agent._id;FetchTickets()">{{agent.first_name}} {{agent.last_name}}</div>
						<div class="item" ng-click="agent_to_fetch=0;FetchTickets()">Unassigned</div>
					</div>
				</div>
				<div class="item ui basic dropdown button" sui-dropdown>
					Date
					<i class="dropdown icon"></i>

					<div class="menu set-z-index agents_dropdown">
						<div class="item" ng-click="ticketsOrder('asc')">Asc</div>
						<div class="item" ng-click="ticketsOrder('desc')">Desc</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui {{current_conversation == next_item.id ? 'active' : ''}} segment conversation_container" ui-sref="admin.app.inbox.ticket({id: next_item.id})" dir-paginate="next_item in tickets[ pagination.current_page ] | itemsPerPage: pagination.per_page" total-items="pagination.total_count" current-page="pagination.current_page">

			<div class="pull-right meta">
				{{moment.utc(next_item.created_at).fromNow(true)}}
			</div>
			<h4 class="ui header pull-left m-n">
				<img class="ui rounded image" src="{{next_item.user.profile_image || '/images/image.png'}}">
				{{next_item.user_name || next_item.user_email}}
			</h4>
			<div class="ui clearing hidden divider"></div>
			<p>{{next_item.subject}}</p>

		</div>
	</div>

	<span ng-if="pagination.total_count > 0">{{pagination.total_count}} tickets found</span>
	<span ng-if="pagination.total_count == 0">No tickets found</span>
	<div class="text-right" ng-if="!loading && pagination.total_count > 0">
		<dir-pagination-controls max-size="3"></dir-pagination-controls>
	</div>

</div>

<div class="eight wide column p-none">

	<ui-view name="ticket_body"></ui-view>

</div>
<div class="four wide column white_background" ng-if="current_conversation">

	<div class="ui fluid container">
		<div class="ui basic segment">
			<ui-view name="ticket_details"></ui-view>
		</div>
	</div>

</div>