<div class="ui modal">
    <div class="content">
        <div class="col-sm-8">
            <h2 class="ui header">{{ page_title | translate }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ng-href="/">{{ 'HOME' | translate }}</a>
                </li>
                <li>
                    <a ng-click="smModal.Show('public.administrate.site.content.livecast')">{{ template_data.title | translate }}</a>
                </li>
                <li class="active">
                    <strong>{{ page_title | translate }}</strong>
                </li>
            </ol>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight ecommerce">

            <div class="row">
                <div class="col-lg-12">

                    <div class="tabs-container">

                        <tabset>
                            <tab>
                                <tab-heading>
                                    Main Content
                                </tab-heading>
                                <div class="panel-body">
                                    <div ng-include="'templates/components/public/administrate/site/content/common/content-options.html'"></div>
                                </div>
                            </tab>
                            <!--<tab>
                                <tab-heading>
                                    Extras
                                </tab-heading>
                                <div class="panel-body">

                                    <fieldset class="ui form">
                                     
                                        <div class="field">
                                            <label class="col-sm-2 control-label">Presenter:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="presenter" ng-model="next_item.presenter">
                                                <span class="help-block m-b-none">If filled in, this shows under the embedded video to show the name of the person presenting the next_item.</span>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="col-sm-2 control-label">Lesson Note:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="note" ng-model="next_item.note">
                                                <span class="help-block m-b-none">This is the small text that shows up on the syllabus, such as a video length or "new" text, etc.</span>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                            </tab>-->
                            <tab>
                                <tab-heading>
                                    Media
                                </tab-heading>
                                <div class="panel-body">
                                    <div class="field">
                                        <input type="hidden" name="featured_image" class="" ng-model="next_item.featured_image">
                                        <label class="col-sm-2 control-label">Featured Image:</label>
                                        <div class="col-sm-10">
                                            <button type="button" class="set_audio_file" sm-uploader="featured_image" ng-model="next_item.featured_image">Choose Featured Image
                                            </button>
                                            <span class="help-block m-b-none">This image will be shown when listing your content.</span>
                                        </div>
                                    </div>
                                    <div class="field" ng-show="next_item.featured_image">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <img class="featured_image_preview img-responsive img-thumbnail"
                                                 ng-src="{{next_item.featured_image}}"
                                                 style="width:auto;"/>
                                        </div>
                                    </div>
                                    <div class="field" ng-show="next_item.featured_image">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <a href="" ng-click="next_item.featured_image=''">
                                                <i class="fa fa-remove"></i> Remove
                                            </a>
                                        
                                        </div>
                                    </div>
                                    <div class="field" ng-show="next_item.featured_image">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <div>
                                                <label>
                                                    <input icheck type="checkbox" ng-true-value="1" ng-false-value="0"
                                                           ng-model="next_item.always_show_featured_image"
                                                           ng-checked="next_item.always_show_featured_image">
                                                    Check to show this featured image when viewing this content's individual page
                                                </label>
                                            </div>
                                                                        <span class="help-block m-b-none">
                                                                            It's best to leave this unchecked if you also have video embedded in this content
                                                                        </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="col-sm-2 control-label">Video / Embed Content:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="embed_content" ng-model="next_item.embed_content"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    Scheduling
                                </tab-heading>
                                <div class="panel-body">
                                    <div ng-include="'templates/components/public/administrate/site/content/common/scheduling-options.html'"></div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    Commenting
                                </tab-heading>
                                <div class="panel-body">
                                    <div ng-include="'templates/components/public/administrate/site/content/common/commenting-options.html'"></div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    Social Sharing
                                </tab-heading>
                                <div class="panel-body">
                                    <div ng-include="'templates/components/public/administrate/site/content/common/social-sharing-options.html'"></div>
                                </div>
                            </tab>
                        </tabset>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <a ng-click="smModal.Show(template_data.cancel_route)" class="ui black button">
            Cancel
        </a>
        <a ng-click="save()" class="ui right labeled icon button">
            Save changes
            <i class="check icon"></i>
        </a>
    </div>
</div>

