<div class="ui header">
    Tags
</div>
<div class="ui segment">
    <div class="ui fluid container">
        <div class="ui grid">
            <div class="two wide column">
                <button class="ui button" ng-click="showAll()">
                    <i class="unhide icon">
                    </i>
                    Show All
                </button>
            </div>
            <div class="two wide column">
                <button class="ui button" ng-click="hideAll()">
                    <i class="hide icon">
                    </i>
                    Hide All
                </button>
            </div>
        </div>
        <br>
        <table class="ui small celled padded table tagstable">
            <thead>
                <tr>
                    <th>
                        VISIBILITY
                    </th>
                    <th>
                        TAG NAME
                    </th>
                    <th>
                        CREATED BY
                    </th>
                    <th>
                        CREATED
                    </th>
                    <th>
                        PEOPLE
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tag in allTags">
            	<td>
            		<button class="ui button" ng-click="toggle(tag._id)">
                    	<i class="unhide icon dull_color" ng-show="{{tag.status == 'disable'}}"></i>
                    	<i class="unhide icon" ng-show="{{tag.status == 'enable'}}"></i>
                	</button>
            	</td>
            	<td>
            		{{tag.name}}
            	</td>
            	<td>
            		<a class="ui label" ng-if="tag.user_data.profile_image != ''">
            			<img class="ui right spaced image" src="{{tag.user_data.profile_image}}"/>
            			{{tag.user_data.first_name}} {{tag.user_data.last_name}}
        			</a>
                    <p class="ui label"  ng-if="tag.user_data.profile_image == ''">{{tag.user_data.first_name}} {{tag.user_data.last_name}}</p>
            	</td>
            	<td>
            		{{moment(tag.user_data.created_at).format('DD MMM YYYY')}}
            	</td>
            	<td>
            		<a href="members/all-members?name=Tag&value={{tag._id}}" title="See People" target="_blank">
                        See People      
                    </a>
            	</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
