<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="mail icon"></i>
		{{ email.id ? 'Edit existing ' : 'Write an' }} email
	</div>
	<div class="content">
		<div class="description">
			<p ng-if="email.id">Update an existing email to tweak it's recipients or content and re-send it</p>
			<p ng-if="!email.id">Write a new email to send to your members / subscribers!</p>

			<div class="ui form">

				<div class="ui segment" ng-if="false">
					<div class="inline field">
						<label>Recipient Type</label>

						<div class="ui buttons">
							<div class="ui button" ng-class="{single:'active'}[recipient_type]" ng-click="SetRecipientType('single')">
								<i class="user icon"></i> Single Recipient
							</div>
							<div class="ui button" ng-class="{members:'active'}[recipient_type]" ng-click="SetRecipientType('members')">
								<i class="users icon"></i> Specific Members
							</div>
							<div class="ui button" ng-class="{segment:'active'}[recipient_type]" ng-click="SetRecipientType('segment')">
								<i class="sitemap icon"></i> Segments
							</div>
						</div>

					</div>
				</div>

				<div class="ui segment" ng-if="recipient_type == 'single'">
					<div class="field">
						<label>Recipient Email</label>
						<input type="text" class="form-control" ng-model="$parent.recipient" placeholder="alex.smith@corporate.com">

					</div>
				</div>
				<div class="ui segment" ng-if="recipient_type == 'members'">
					<div class="field">
						<label>Members</label>

						<input type="text"
							   ng-model="$parent.asyncSelected"
							   placeholder="Search members"
							   typeahead-wait-ms="10"
							   typeahead-on-select="selectMember($item,$model,$label)"
							   uib-typeahead="(member.name && member.name.trim() != '' ? member.name : member.email) for member in searchMembers($viewValue)"
							   typeahead-loading="$parent.loadingLocations"
							   typeahead-no-results="$parent.noResults"
							   class="form-control">
						<span class="label label-info" ng-repeat="recipient in recipients" style="margin-right:5px;display:inline-block;">
							{{recipient}}
							<a href="#" ng-click="removeRecipient(recipient)">&times;</a>
						</span>
					</div>
				</div>
				<div class="ui grid" ng-if="recipient_type == 'segment' && !loading_segments">
					<div class="eight wide column">
						<div class="ui top attached header">
							<h5>Available Segments
								<small class="m-l-sm">drag these over</small>
								<button type="button" class="btn btn-xs btn-primary pull-right" ng-click="selectAllSegments()">Select All</button>
							</h5>
						</div>
						<div class="ui attached segment">
							<div class="ui fluid icon input">
								<input type="text" placeholder="Search..." ng-model="$parent.available_lists_search">
								<i class="search icon"></i>
							</div>
						</div>
						<div class="ui attached segment">

							<div class="ui divided selection list segment_container" ui-sortable="currentSortableOptions" class="sortable-list connectList" ng-model="segments">
								<a ng-click="selectSegment(segment)" class="item {{segment_classes[ segment.type ]}}-element segment_item" ng-repeat="segment in segments" style="{{showAvailableSegment(segment) ? '':'display:none;'}}">
									<div class="ui horizontal label">{{formatNumber( segment.count )}}</div>
                                    <span class="ui horizontal blue label" ng-if="segment.type == 'list'">LIST</span>
                                    <span class="ui horizontal yellow label" ng-if="segment.type == 'level'">LEVEL</span>
                                    <span class="ui horizontal red label" ng-if="segment.type == 'site'">SITE</span>
									{{segment.name}}
								</a>
							</div>

						</div>
						<div class="ui attached segment">
							<span class="pull-right">
								{{::formatNumber( counts.total_available_recipients )}} possible recipients
							</span>
							{{::counts.total_available_segments}} available segments
						</div>
					</div>
					<div class="eight wide column">
						<div class="ui top attached header">
							<h5>
								Selected Segments
								<small class="m-l-sm">email recipients</small>
								<button type="button" class="btn btn-xs btn-danger pull-right" ng-click="removeAllSegments()">Remove All</button>
								<div ng-if="calculatingSegments" class="pull-right sk-spinner sk-spinner-three-bounce">
									<div class="sk-bounce1"></div>
									<div class="sk-bounce2"></div>
									<div class="sk-bounce3"></div>
								</div>
							</h5>
						</div>
						<div class="ui attached segment">
							<div class="ui fluid icon input">
								<input type="text" placeholder="Search..." ng-model="$parent.selected_lists_search">
								<i class="search icon"></i>
							</div>
						</div>
						<div class="ui attached segment">

							<div class="ui divided selection list segment_container" ui-sortable="currentSortableOptions" class="sortable-list connectList" ng-model="chosen_segments">
								<div class="link item {{segment_classes[ segment.type ]}}-element segment_item" ng-repeat="segment in chosen_segments" style="{{showChosenSegment(segment) ? '':'display:none;'}}">
									<div class="ui horizontal label">{{formatNumber( ( counts.segments[ segment.type + '_' + segment.target_id ].count ? counts.segments[ segment.type + '_' + segment.target_id ].count : segment.count ) - counts.segments[ segment.type + '_' + segment.target_id ].duplicates )}}</div>
                                    <span class="ui horizontal blue label" ng-if="segment.type == 'list'">LIST</span>
                                    <span class="ui horizontal yellow label" ng-if="segment.type == 'level'">LEVEL</span>
                                    <span class="ui horizontal red label" ng-if="segment.type == 'site'">SITE</span>
                                    {{segment.name}}

									<div class="ui circular right floated icons">
										<i class="delete icon" ng-click="removeSegment(segment)"></i>
										<i class="edit icon" ng-click="editSegment(segment)"></i>
									</div>
									<div class="ui small right floated labels" ng-show="counts.segments[ segment.type + '_' + segment.target_id ].duplicates > 0">
										<a class="ui label" title="Duplicate Recipients Found">
											{{formatNumber( counts.segments[ segment.type + '_' + segment.target_id ].duplicates ? '-' + counts.segments[ segment.type + '_' + segment.target_id ].duplicates : 0 )}}
											<i class="copy icon"></i>
										</a>
									</div>

								</div>
							</div>

						</div>
						<div class="ui attached segment">
							<span class="pull-right">
								{{formatNumber( counts.total )}} unique recipients selected
							</span>
							{{chosen_segments.length}} segments selected
						</div>
					</div>
				</div>

				<div class="ui segment">

					<div class="field">
						<label>Email Subject</label>
						<input type="text" value="" ng-model="email.subject">
					</div>

					<div class="field">
						<label>Email Content</label>

						<textarea froala ng-model="email.content"></textarea>
					</div>

					<div class="ui info message">
						<p>Add <strong>%subscriber_name%</strong> anywhere you want the recipient's name to appear.</p>
					</div>

					<div ng-if="showSignature.status == 'false'" class="text-center">
						<a class="btn btn-white" ng-click="showSettings()">Customize Signature & "From" Settings</a>
					</div>
					<div ng-show="showSignature.status=='true'">

						<div class="field">
							<label>From Name</label>
							<input class="form-control input-lg" ng-model="email.mail_name" type="text" id="mail_name" name="mail_name"/>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="field">
							<label>
								From Email Address
							</label>
							<input class="form-control input-lg" ng-model="email.mail_sending_address" type="text" id="mail_sending_address" name="mail_sending_address"/>

						</div>
						<div class="hr-line-dashed"></div>
						<div class="field">
							<label>
								Reply-to Email Address
							</label>
							<input class="form-control input-lg" ng-model="email.mail_reply_address" type="text" id="mail_reply_address" name="mail_reply_address"/>

						</div>
						<div class="hr-line-dashed"></div>
						<div class="field">
							<label>
								Email Signature
							</label>
							<textarea froala ng-model="email.mail_signature"></textarea>

						</div>

						<div class="text-center">
							<a class="btn btn-white" ng-click="hideSettings()">Hide Settings</a>
						</div>

					</div>

				</div>
				<div class="ui segment">
					<div class="ui info message">
						<p>Schedule date and time to send (leave blank to send now)</p>
					</div>
					<div class="inline field">
						<label>Date</label>
						<input type="date" ng-model="queueEmailData.send_date">
					</div>
					<div class="inline field">

						<label>Time</label>
						<input type="time" ng-model="queueEmailData.send_time">
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="actions">
		<div class="ui black deny button close" ui-sref="public.app.admin.email.emails">
			Back
		</div>
		<button ng-click="save()" class="ui green right labeled icon button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
		<button ng-click="preview()" class="ui right labeled icon button">
			Preview
			<i class="eye icon"></i>
		</button>
		<button ng-click="send()" class="ui right labeled icon button">
			Save & Send
			<i class="send icon"></i>
		</button>
	</div>
</div>