
<div class="ui right floated pagination menu" ng-if="1 < pages.length || !autoHide">
	<a class="icon item" ng-click="setCurrent(1)" ng-class="{ disabled : pagination.current == 1 }">
		<i class="left chevron icon"></i>
	</a>
	<a class="icon item" ng-click="setCurrent(pagination.current - 1)" ng-class="{ disabled : pagination.current == 1 }">
		<i class="left chevron icon"></i> <i class="left chevron icon"></i>
	</a>
	<a class="item" ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
		{{ pageNumber }}
	</a>

	<a class="icon item" ng-click="setCurrent(pagination.current + 1)" ng-class="{ disabled : pagination.current == pagination.last }">
		<i class="right chevron icon"></i>
		<i class="right chevron icon"></i>
	</a>
	<a class="icon item" ng-click="setCurrent(pagination.last)" ng-class="{ disabled : pagination.current == pagination.last }">
		<i class="right chevron icon"></i>
	</a>
</div>