
<div ng-if="!isLoggedIn() || !is_member" class="row">
	<div class="column" style="text-align: right;">
		<div class="ui buttons" ng-show="!isLoggedIn()">
			<a class="ui button" ui-sref="public.sign.in">Log-in</a>
			<div class="or"></div>
			<a class="ui positive button" ui-sref="public.sign.up">Sign up</a>
		</div>
		<div class="ui buttons" ng-show="isLoggedIn()">
			<button class="ui button" ng-click="addMember()" ng-show="isLoggedIn() && !is_member">Join</button>
		</div>
	</div>
</div>
<div sm-class="'ui labeled navigation_background_color ' + (meta_data.icon_position == 'top' || meta_data.icon_position == 'bottom' ? ' icon ' : '') + meta_data.navigation_style + ' ' + meta_data.navigation_location + ' pointing menu large stackable'">

	<div resize sm-class="(options.menu_items.length | numbertoword) + ( (meta_data.navigation_location != 'left fixed' && meta_data.navigation_location != 'right fixed') ? (IsMobile() ? ' ui buttons' : '') : '')" ng-if="options.menu_items">
		<a class="item button navigation_text_color" ng-href="{{menu_item.url | parseurl}}" ng-repeat="menu_item in options.menu_items | orderBy:'sort_order'" ng-click="selectedElement($index)">
			<i sm-class="'icon navigation_icon_color fa ' + ( menu_item.icon || 'fa-home' ) + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'top' || meta_data.icon_position == 'left') && !menu_item.custom_icon && meta_data.show_nav_icons"></i>
			<i sm-class="'icon navigation_icon_color fa ' + menu_item.custom_icon + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'top' || meta_data.icon_position == 'left') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') != -1 && meta_data.show_nav_icons"></i>
			<img style="width:auto;" sm-class="'icon navigation_icon_color ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'top' || meta_data.icon_position == 'left') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') == -1 && meta_data.show_nav_icons" src="{{menu_item.custom_icon}}"/>
			{{ menu_item.label }}
			<i sm-class="'icon navigation_icon_color fa ' + ( menu_item.icon || 'fa-home' ) + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'bottom' || meta_data.icon_position == 'right') && !menu_item.custom_icon && meta_data.show_nav_icons"></i>
			<i sm-class="'icon navigation_icon_color fa ' + menu_item.custom_icon + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'bottom' || meta_data.icon_position == 'right') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') != -1 && meta_data.show_nav_icons"></i>
			<img style="width:auto;" sm-class="'icon navigation_icon_color ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'bottom' || meta_data.icon_position == 'right') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') == -1 && meta_data.show_nav_icons" src="{{menu_item.custom_icon}}"/>
		</a>
	</div>

</div>
