<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="picture icon"></i>
		My Advertising Banners
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>Here you can upload some advertisements to use in your sidebar as banner widgets.</p>
			</div>

			<div class="ui divided items">
				<div class="item" ng-repeat="ad in ads">
					<div class="image">
						<img ng-src="{{ad.banner_image_url || '/images/image.png'}}"/>
					</div>
					<div class="content">
						<a class="header fr-view" dynamic="ad.banner_url">Watchmen</a>
						<div class="meta">
							<span class="cinema">added {{ moment.utc(ad.created_at).fromNow() }}</span>
						</div>
						<div class="extra">

							<div class="ui label">
								<i class="eye icon"></i>
								views
								<div class="detail">{{ad.views}}</div>
							</div>
							<div class="ui label">
								<i class="crosshairs icon"></i>
								clicks
								<div class="detail">{{ad.clicks}}</div>
							</div>
							<!-- <button class="ui right floated small button" ng-click="delete(ad)">
								Delete
							</button> -->
							<button class="btn btn-danger btn-outline btn-xs" sm-delete={{ad.id}}>
								Delete
								<i class="fa fa-trash"></i>
							</button>
							<button class="ui right floated small button" ng-click="smModal.Show('public.administrate.site.appearance.banner', {id: ad.id})">
								Edit
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
		<a ng-click="smModal.Show('public.administrate.site.appearance.banner', {modal_options:{closable:false}})" class="ui right labeled icon button">
			Create new banner
			<i class="plus icon"></i>
		</a>
	</div>
</div>
