<div id="wrapper">
	<div class="animate-panel">
		<div class="content js-list">
			<div class="row">
                <h2> {{leaderboard.contest.title}}</h2>
                <div class="col-md-8">
                    <div ng-if="leaderboard.updated_at" class="alert" style="background-color: #dff0d8; text-align:center;">
                         Last updated <strong>{{moment.utc(leaderboards.updated_at).fromNow()}}</strong>
                    </div>
                    <div class="table-responsive">
                        <table id="" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Affiliate Name</th>
                                    <th>Standing</th>
                                    <th>Rank</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rank in leaderboard.ranking">
                                    <td>{{rank.position}}</td>
                                    <td>{{rank.affiliate_name}}</td>
                                    <td class="text-center width-10">{{rank.standing}}</td>
                                    <td class="text-center width-10">
                                        <div class="label label-primary" style="font-size: 75%;float:left;" ng-if="rank.ahead != -1"> + {{rank.ahead}} ahead of {{rank.ahead_of}} </div>
                                        <div class="label label-success" style="font-size: 100%;float:right;">total: {{rank.rank}} </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>  
                <div class="col-md-4">
                    <img ng-src="{{leaderboard.contest.featured_image}}" class="featured_image_preview img-responsive img-thumbnail" ng-show="leaderboard.contest.featured_image"></img>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
		</div>
	</div>
</div>