
<div class="row" style="margin-left: auto;margin-right: auto;" ng-init="init()">
    <div class="ui grid">
        <div class="twelve wide column" ng-if="loading">
            <div class="ui segment" style="min-height:200px;min-width:500px;">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column" ng-if="!loading">

            <div class="ui piled segment section_background_color">
                <h1 class="grey lighter smaller">
                    My Tickets
                </h1>

                <p>Need help? <a href="/support-ticket">Submit a new ticket!</a></p>
                <div style="margin:10px;" >Sort by: 
                    <select ng-model="sortBy" ng-init="sortBy='id'" ng-change="sort(sortBy)">
                        <option value="subject" >subject</option>
                        <option value="status">status</option>
                        <option value="reply.length">replies</option>
                        <option value="id" >created at</option>
                    </select>
                </div>
                <div class="table-responsive">
                    <table class="ui celled padded table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Attachment</th>
                            <th>Replies</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr role="row" class="odd" ng-repeat="ticket in tickets" >
                            <td><a href="/support-ticket/{{ticket.id}}">{{ticket.id}}</td></a>
                            <td>{{ticket.status}}</td>
                            <td>{{ticket.subject}}</td>
                            <td>{{ticket.message | cut:true:200:' ...'}}</td>
                            <td>
                                <a ng-if="ticket.attachment" class="" href="{{ticket.attachment}}" target="_blank">{{ticket.attachment.split('/').pop()}}</a>
                                <p ng-if="!ticket.attachment">No attachment</p>
                            </td>
                            <td>{{ticket.reply.length}}</td>
                            <td>{{moment.utc(ticket.created_at).fromNow()}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <img ng-src="{{leaderboard.contest.featured_image}}" class="featured_image_preview img-responsive img-thumbnail" ng-show="leaderboard.contest.featured_image" />
            </div>

        </div>
    </div>

</div>