<style >
table{
   table-layout: fixed;
   width: 100%;
    word-wrap: break-word;       
     white-space: normal;
}
</style>
<div class="sixteen wide column">

	<div class="ui fluid container contained_fluid">
		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>
		<div class="ui basic segment">
		</div>
		<div class="ui basic segment">
			<div class="ui equal width middle aligned grid">
				<div class="column">
					<h2 class="ui inline header">
						<i class="fa fa-key icon"></i>
						<div class="content">
							{{page_title}} Key
						</div>
					</h2>
				</div>
				<div class="right aligned column">
					<a ng-if="key._id" ng-href="/access/edit-key/?clone={{key._id}}" class="ui large right labeled icon button">
						Duplicate
						<i class="copy icon"></i>
					</a>
					<button ng-if="key._id" busy ng-click="deleteKey()" class="ui large right labeled icon button">
						Delete
						<i class="delete icon"></i>
					</button>
					<button ng-click="save(false)" ng-if="hasAnyFilter() && key.name" busy class="ui large right labeled icon button">
						Save and Close
						<i class="check icon"></i>
					</button>
				</div>
			</div>

			<div class="ui hidden divider"></div>

			<div class="ui fluid container edit_container">

				<div class="ui segments {{segments.active_segment == 'name' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'name' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'name'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('name',$event)">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="plug icon"></i>
							<div class="content">
								Name your key
							</div>
						</h2>
					</div>
					<div class="ui secondary segment">

						<div class="ui transparent massive fluid input">
							<input type="text" placeholder="Name your key" ng-model="key.name">
						</div>

					</div>
				</div>
				<div class="ui segments {{segments.active_segment == 'webinar' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'webinar' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'webinar'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('webinar',$event)">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="plug icon"></i>
							<div class="content">
								Enter webinar url
							</div>
						</h2>
					</div>
					<div class="ui secondary segment">

						<div class="ui transparent massive fluid input">
							<input type="text" placeholder="https://attendee.gotowebinar.com/register/5940448390915346946" ng-model="key.webinar_url">
						</div>

					</div>
				</div>
				<div class="ui segments {{segments.active_segment == 'audience' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'audience' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'audience'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('audience',$event)">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="wizard icon"></i>
							<div class="content">
								Audience (auto-granting)
							</div>
						</h2>
					</div>
					<div class="ui secondary segment p-none">

						<div class="ui stackable internally celled padded grid">
							<div class="three wide column the_left_sidebar" ng-include="'templates/components/admin/app/common/filters/filters.html'"></div>
							<div class="thirteen wide column">

								<div class="ui active inverted dimmer" ng-if="loading">
									<div class="ui text loader">Loading</div>
								</div>

								<div class="ui secondary menu">
									<div class="item">
										<h2 class="ui inline header">
											<div class="content" ng-if="!hasAnyFilter()">
												Please choose a filter for audience.
											</div>
											<div class="content" ng-if="hasAnyFilter()">
												{{hasAnyFilter() ? total_count : 0}}  {{type == 'lead' ? 'Leads' : 'Members'}}
												<div class="sub header">
													(and users who match these rules in the future)
												</div>
											</div>
										</h2>
									</div>
								</div>

								<div class="ui divider"></div>

								<div class="ui fluid container" ng-if="hasAnyFilter()">

									<table id ="audienceTable"class="ui celled table">

										<thead>
											<tr>
												<th width="15%;">
													Name
												</th>
												<th width="8%;">
													Type
												</th>
												<th width="28%;">
													Email
												</th>
												
												<th width="10%;">
													First Seen
												</th>
												<th width="10%;">
													Signed up
												</th>
												<th  width="10%;">
													Last seen
												</th>
												<th width="10%;">
													Browser
												</th>
											</tr>
										</thead>

										<tbody>
											<!-- <tr>
												<td>
													<a ui-sref="admin.app.member({id:next_item.id})" class="ui small image header">
														<img src="https://secure.gravatar.com/avatar/0?d=mm&s=35" class="ui rounded image">
														<div class="content">
															Sandra Harris
														</div>
													</a>
												</td>
												<td>
													User
												</td>
												<td>
													shh2424@gmail.com
												</td>
												<td>
													Unknown
												</td>
												<td>
													6 days ago
												</td>
												<td>
													12 days ago
												</td>
												<td>
													Just now
												</td>
												<td>
													chrome
												</td>
											</tr> -->
											<tr ng-repeat="next_item in data">
												<td style="word-break:break-all;width:15%;">
													<a ui-sref="admin.app.member({id:next_item._id.$id})" class="ui tiny header">
														<img src="https://secure.gravatar.com/avatar/0?d=mm&s=35" class="ui rounded mini image">
														<div class="content">
															{{next_item.first_name || ((next_item.email || 'Unknown'))}}
														</div>
													</a>
												</td>
												<td width="8%;">
													User
												</td>
												<td width="28%;">
													{{next_item.email || 'Unknown'}}
												</td>
												
												<td width="10%;">
													{{moment.unix(next_item.created_at.sec).format('DD MMM YYYY')}}
												</td>
												<td width="10%;">
													{{moment.unix(next_item.created_at.sec).format('DD MMM YYYY')}}
												</td>
												<td width="10%;">
													{{moment.unix(next_item.last_logged_in.sec).format('DD MMM YYYY')}}
												</td>
												<td width="10%;">
													{{next_item.browser_name || 'Unknown'}}
												</td>
											</tr>
										</tbody>
										<tfoot ng-if="total_count > 25">
											<tr>
												<th colspan="20">
													<div class="ui pointing label">
														And {{hasAnyFilter()? total_count - 25 : 0 }} members like this
													</div>
												</th>
											</tr>
										</tfoot>

									</table>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="ui segments {{segments.active_segment == 'review' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'review' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'review'">
						<div class="ui inverted button right floated done_button">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="plug icon"></i>
							<div class="content">
								Review and set it live
							</div>
						</h2>
					</div>
					<div class="ui secondary segment">

						<div class="ui centered grid">
							<div class="eight wide center aligned column" ng-if="!hasAnyFilter() || !key.name">

								<div class="ui hidden divider"></div>

								<h2 class="ui icon header">
									<i class="tasks icon"></i>
									<div class="content">
										A few more things
									</div>
								</h2>

								<div class="ui clearing segment" ng-if="!hasAnyFilter()">
									<div class="ui grid">
										<div class="twelve wide column">
											<h4 class="ui header m-n">
												<i class="plug icon"></i>
												<div class="content">
													You need to choose an audience for this message
												</div>
											</h4>
										</div>
										<div class="four wide right aligned column">
											<a href="" ng-click="segments.active_segment = 'audience'" >Open step</a>
										</div>
									</div>
								</div>
								<div class="ui clearing segment" ng-if="!key.name">
									<div class="ui grid">
										<div class="twelve wide column">
											<h4 class="ui header m-n">
												<i class="plug icon"></i>
												<div class="content">
													You should name your key
												</div>
											</h4>
										</div>
										<div class="four wide right aligned column" >
											<a href="" ng-click="segments.active_segment = 'name'" >Open step</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ui centered grid" ng-show="hasAnyFilter() && key.name">
							<div class="row">
								<div class="center aligned eight wide column">

									<div class="ui large header">
										Nice, you're almost done!
										<div class="sub header">
											Make sure to double check your key above
										</div>
									</div>
								</div>
							</div>
							<div class="center aligned three wide column">
								<h3 class="ui icon header">
									<i class="red edit icon"></i>
									<div class="content">
										Still needs work?
									</div>
								</h3>
								<p>You can save it as a draft and come back later to set it live</p>
								<button class="ui fluid basic large button" busy ng-click="save(false)">Save and close</button>
							</div>
							<div class="one wide column">

							</div>
							<div class="center aligned three wide column">
								<h3 class="ui icon header">
									<i class="red check icon"></i>
									<div class="content">
										It's good to go!
									</div>
								</h3>
								<p>Remember, you can always turn it off again if you need to</p>
								<button class="ui fluid red large button" busy ng-click="save(true)">Set it live now</button>
							</div>
						</div>

						<div class="ui hidden divider"></div>

					</div>
				</div>

			</div>

		</div>

	</div>

</div>



