<div class="sixteen wide column">

	<div class="ui fluid container contained_fluid">
		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>

		<div class="ui basic segment">
			<div class="ui equal width middle aligned grid" ng-show="!loading">
				<div class="column">
					<h2 class="ui inline header">
						<i class="wizard icon"></i>
						<div class="content">
							{{message.name}}
						</div>
					</h2>
				</div>
				<div class="right aligned column">
					<!-- <button ng-click="" class="ui large right labeled icon button">
						Pause
						<i class="pause icon"></i>
					</button> -->
					<a ng-href="/messages/edit/?auto={{message.auto}}&clone={{message._id}}" class="ui large right labeled icon button">
						Duplicate
						<i class="copy icon"></i>
					</a>
					<button ng-click="deleteMessage()" class="ui large right labeled icon button">
						Delete
						<i class="delete icon"></i>
					</button>
					<a ng-if="!message.activated" ng-href="/messages/edit/{{message._id}}?auto={{message.auto}}" class="ui large right labeled icon button">
						Edit Message
						<i class="edit icon"></i>
					</a>
				</div>
			</div>

			<div class="ui hidden divider"></div>

			<div class="ui fluid container edit_container">

				<div class="ui attached padded clearing segment">
					<div class="ui equal width grid">
						<div class="two wide column">
							<h3 class="ui light_grey header m-n">
								<div class="content">
									Audience
								</div>
							</h3>
						</div>
						<div class="column">
							<h4 class="ui light_grey left floated header m-n m-r-sm">
								<i class="user icon"></i>
								<div class="content">
									Type is {{message.filters_type||'Member'}}
								</div>
							</h4>
							<h4 class="ui light_grey left floated header m-n">
								<i class="pie chart icon"></i>
								<div class="content">
									{{getFilterMessage(filters,operation,message.filters_type)}}
								</div>
							</h4>
						</div>
					</div>
				</div>
				<!-- <div class="ui attached padded clearing segment">
					<div class="ui equal width grid">
						<div class="two wide column">
							<h3 class="ui light_grey header m-n">
								<div class="content">
									Channel
								</div>
							</h3>
						</div>
						<div class="column">
							<h4 class="ui light_grey left floated header m-n m-r-sm">
								<i class="comment icon"></i>
								<div class="content">
									In-app message
								</div>
							</h4>
							<h4 class="ui light_grey left floated header m-n">
								<i class="crosshairs icon"></i>
								<div class="content">
									Show this message on pages with a URL that match the regular expression: \/admin\/wizard\/site_launch_wizard
								</div>
							</h4>
						</div>
					</div>
				</div> -->
				<div class="ui attached padded segment">
					<h3 class="ui light_grey header m-n">
						<div class="content">
							Message
						</div>
					</h3>

					<div class="ui light_grey horizontal list">
						<div class="item">Last sent {{moment.unix(message.last_sent_at.sec).fromNow()}}</div>
						<div class="item">Went live {{moment.unix(message.set_live_at.sec).fromNow()}}</div>
					</div>

					<div class="ui tiny statistics message_stats">
						<div class="grey statistic">
							<div class="label">
								Message
							</div>
							<div class="value">
								<i class="small comment icon"></i>
							</div>
						</div>
						<div class="black statistic">
							<div class="label">

								Sent
							</div>
							<div class="value">
								{{message.delivered||0}}
							</div>
						</div>
						<div class="green statistic">
							<div class="label">
								Seen
							</div>
							<div class="value">
								{{percentage(message.open,message.delivered)}}%
							</div>
						</div>
						<div class="pink statistic">
							<div class="label">
								Clicked
							</div>
							<div class="value">
								{{percentage(message.click,message.delivered)}}%
							</div>
						</div>
						<!-- <div class="orange statistic">
							<div class="label">
								Responded
							</div>
							<div class="value">
								0%
							</div>
						</div>
						<div class="black statistic">
							<div class="label">
								Thumbs Up
							</div>
							<div class="value">
								0%
							</div>
						</div>
						<div class="black statistic">
							<div class="label">
								Thumbs Down
							</div>
							<div class="value">
								0%
							</div>
						</div> -->
					</div>
				</div>

				<div class="ui attached padded segment">

					<div class="ui active inverted dimmer" ng-if="loading">
						<div class="ui text loader">Loading</div>
					</div>

					<div class="ui hidden divider"></div>

					<div class="ui secondary menu">
						<div class="item">
							<h3 class="ui inline header">
								<div class="content">
									Sent to {{message.total_email-message.total_remaining || 0}} {{message.filters_type||'member'}}(s)
								</div>
							</h3>
						</div>
						<!-- <div class="item">
							<div class="ui basic dropdown left labeled icon button" sui-dropdown>
								<i class="edit icon"></i>
								Message
								<div class="menu">
									<a class="item" ng-click="display()">Manual Message</a>
									<a class="item">Auto Message</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="ui basic left labeled icon button">
								<i class="tag icon"></i>
								Tag
							</div>
						</div> -->
					</div>

					<div class="ui hidden divider"></div>

					<div class="ui fluid container" ng-if="message.queues.length > 0">
						<table class="ui single line celled table">
							<thead>
								<tr>
									<th class="collapsing">
										<div class="ui checkbox" ng-model="placeholder" sui-checkbox>
											<input type="checkbox" tabindex="0" class="hidden">
										</div>
									</th>
									<th>
										Member
									</th>
									<th>
										Sent
									</th>
									<th>
										Seen
									</th>
									<!-- <th>
										Responded
									</th>
									<th>
										Responded With
									</th> -->
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									<td>
										<div class="ui checkbox" ng-model="placeholder" sui-checkbox>
											<input type="checkbox" tabindex="0" class="hidden">
										</div>
									</td>
									<td>
										<a ui-sref="admin.app.member({id:74748})" class="ui small image header">
											<img src="https://secure.gravatar.com/avatar/0?d=mm&s=35" class="ui rounded image">
											<div class="content">
												Richard Barker
											</div>
										</a>
									</td>
									<td>
										42 minutes ago
									</td>
									<td>
										42 minutes ago
									</td>
									<td>
										Never
									</td>
									<td>
										—
									</td>
								</tr> -->
								<tr dir-paginate="member in message.queues | itemsPerPage: pagination.per_page" total-items="pagination.total_count" current-page="pagination.current_page" >
									<td>
										<div class="ui checkbox" ng-model="placeholder" sui-checkbox>
											<input type="checkbox" tabindex="0" class="hidden">
										</div>
									</td>
									<td>
										<a ui-sref="admin.app.member({id: member.member_id })" class="ui small image header">
											<img src="https://secure.gravatar.com/avatar/0?d=mm&s=35" class="ui rounded image">
											<div class="content">
												{{(member.first_name+member.last_name) ? member.first_name+' '+member.last_name : member.recipient_email}}
											</div>
										</a>
									</td>
									<td>
										{{moment.unix(member.sent_at.sec).fromNow()}}
									</td>
									<td>
										{{moment.unix(member.seen_at.sec).fromNow()}}
									</td>
									<!-- <td>
										Never
									</td>
									<td>
										—
									</td> -->
								</tr>
							</tbody>
							<tfoot>

								<tr>
									<th colspan="20">
										<div class="ui pointing label">
											{{pagination.total_count}} items
										</div>
										<dir-pagination-controls max-size="5"></dir-pagination-controls>
									</th>
								</tr>
							</tfoot>

						</table>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>



