<div class="row">
    <div class="column">
        <div class="ui segment basic">

            <h2 class="ui header">
                <i class="icon fa {{options.cap_icon ? options.cap_icon : 'fa-graduation-cap'}}"></i>

                <div class="content">
                    {{next_item.title}}
                </div>
            </h2>
        </div>

    </div>
</div>
<div class="row">
    <div class="ui grid">
        <div class="twelve wide column" ng-if="loading">
            <div class="ui segment" style="min-height:200px;">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
        </div>
        <div class="twelve wide column" ng-if="!loading">

            <div class="ui embed" ng-if="next_item.embed_content && page.embed_content.indexOf('<iframe') != -1">
                <div dynamic="next_item.embed_content" ng-if="next_item.embed_content"></div>
            </div>

            <div class="ui segment section_background_color" ng-if="next_item.embed_content && next_item.embed_content.indexOf('<iframe') == -1">
                <div dynamic="next_item.embed_content" ng-if="next_item.embed_content"></div>
            </div>

            <div class="ui piled segment section_background_color">
                <img class="ui fluid image" ng-src="{{next_item.featured_image}}" ng-if="next_item.featured_image && next_item.always_show_featured_image">

                <div class="ui padded basic segment">
                    <a ng-if="is_site_admin || is_team_member" ui-sref="admin.site.content.helpdesk.article({id: next_item.id})" class="">Edit</a>

                    <div class="row" dynamic="next_item.content"></div>

                </div>

            </div>

        </div>
        <div class="four wide column">

            <div ng-include="'templates/public/themes/default/common/sidebar.html'"></div>

        </div>
    </div>

</div>
