<div class="ui header">
	Account
</div>

<div class="ui segment">
	<form class="ui form" ng-submit="saveChanges(currentPassword)">
		<div class="field">
			<label>NAME</label>
			<div class="two fields">
				<div class="field">
					<input type="text" ng-model="user.first_name" placeholder="First Name">
				</div>
				<div class="field">
					<input type="text" ng-model="user.last_name" placeholder="Last Name">
				</div>
			</div>
			<div class="description">When you email your users this appears as <span style="font-weight: bold;">{{user.first_name+" "+user.last_name}} from SmartMember</span></div>
		</div>
		<div class="field">
			<label>EMAIL ADDRESS</label>
			<input type="text" ng-model="user.email" placeholder="Enter your email Address">
		</div>
		<div class="field">
			<label>CURRENT PASSWORD</label>
			<input type="password" ng-model="currentPassword" placeholder="Enter your current password">
		</div>
		<button class="ui primary button" ng-disabled="!currentPassword" >Save Changes</button>
	</form>	

	<div class="ui divider"></div>

	<div class="field">
		<label>PHOTO</label><br/>
		<img ng-src="{{!user.profile_image ? 'https://secure.gravatar.com/avatar/?d=mm&s=35': user.profile_image}}" class="ui tiny image" ><br/>
					
		<button type="button" class="ui primary button" ng-model="user.profile_image" sm-uploader="profile_image" media-item="false">Upload</button>
					
		<button type="button" class="ui basic button" ng-if="user.profile_image" ng-click="user.profile_image=''">Remove</button>

		<button type="button" class="ui secondary button" ng-click="saveProfileImage()">Save</button>
					
		<br/><br/>
		<div class="description">
			Photo will be shown to users when you send them messages or reply to them. Max photo size 1MB.
		</div>
	</div>

	<div class="ui divider"></div>

	<button type="button" class="ui basic button" ng-click="showChangePasswordModal()">Change Password</button>
				<!-- <br/><br/> -->
				<!-- <div class="ui segment" ng-if="togglePassword">
					
				</div> -->
				<!-- <button type="button" class="ui basic button">Setup Two Factor Authentication</button> -->
</div>