html.public {
  height: 100%;
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
}

@import 'global/style.less';

.public {
  @import 'public/style.less';
}
.admin {
  @import 'admin/style.less';
}
