<div class="sixteen wide column"  ng-if="options.sales_page_enabled != '0' && options.sales_page_enabled != 0">
    <div class="row" ng-if="salesPage == 'preview' && options.sales_page_embed">
        <div class="ui segment section_background_color">
            <div ng-class="{'video-container':options.sales_page_embed.indexOf('<iframe') != -1}">
                <div dynamic="options.sales_page_embed"></div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="salesPage == 'preview' && options.sales_page_content"  style="
    margin-top: 20px;">
        <div class="ui segment section_background_color">
            <div dynamic="options.sales_page_content"></div>
        </div>
    </div>
    <div ng-if="options.show_syllabus != '0' && options.show_syllabus != 0">
        <div ng-include="'templates/components/public/themes/default/common/syllabus.html'"></div>
    </div>
    <div class="row" ng-if="salesPage=='preview' && options.sales_page_outro" style="
    margin-top: 20px;">
        <div class="ui segment section_background_color">
            <div dynamic="options.sales_page_outro"></div>
        </div>
    </div>

</div>