<div class="row wrapper wrapper-content animated fadeInRight" style="padding-top:30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2 class="ui header">Create New Site Notice</h2>
                </div>
                <div class="hr-line-dashed" style="background-color:white; margin:0px;"></div>
                <div class="ibox-content">
                    <div class="hpanel">
                        <div class="panel-body">
                            <form  novalidate>
                                <div class="field row">
                                    <label class="col-md-1">Title</label>
                                    <div class="col-md-8">
                                        <input type="text" name="title" class="form-control " ng-model="site_notice.title" >
                                        <span class="help-block m-b-none">
                                            Customers will see this name publicly
                                        </span>
                                    </div>
                                </div>
                                <div class="field row">
                                    <label class="col-md-12">Content</label>
                                </div>
                                <div class="field row">
                                    <div class="col-md-12" >
                                        <textarea froala ng-model="site_notice.content"></textarea>
                                    </div>
                                </div>
                                <div class="field row">
                                    <label class="col-md-2">Start Date</label>
                                    <div class="col-md-8">
                                        <input type="date" class="form-control " ng-model="site_notice.sdate" max-date="2020-06-22" ng-required="true" />
                                    </div>
                                </div>
                                <div class="field row">
                                    <label class="col-md-2">End Date</label>
                                    <div class="col-md-8">
                                        <input type="date" class="form-control " ng-model="site_notice.edate" max-date="2020-06-22" ng-required="true" close-text="Close"/>
                                    </div>
                                </div>
                                <div class="field row">
                                    <label class="col-md-2">Status</label>
                                    <div class="col-md-8">
                                        <input ng-if="site_notice.on==true" type="button" class="btn btn-danger" value="Off" ng-click="site_notice.on=false"/>
                                        <input ng-if="site_notice.on==false" class="btn btn-brand" value="On" ng-click="site_notice.on=true" type="button"/>
                                        <span ng-if="site_notice.on==true"><small style="padding:3px;margin-left:10px;" class="btn btn-warning" ng-disabled="true">Currently it is On</small></span>
                                        <span ng-if="site_notice.on==false"><small style="padding:3px;margin-left:10px;" class="btn btn-warning" ng-disabled="true">Currently it is Off</small></span>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-brand" type="button" ng-click="save()">Save changes</button> <!-- ngIf: !template_data.use_cancel_method -->
                                    <a ui-sref="admin.site.membership.notices" class="btn btn-white ng-scope">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>