<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">

			<div class="ibox-content clear_box page-heading">
				<div class="p-xs">
					<div class="row">
						<div class="col-md-12">
							<div class="pull-left m-r-md">
								<i class="fa fa-envelope-o text-branded mid-icon"></i>
							</div>
							<h2>{{ 'EXPORT_SUBSCRIBERS' | translate }}</h2>
							<span>Get a CSV of your subscribers for backups or importing into 3rd-party services.</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-content">

					<div class="form-group m-t-sm">
						<label class="col-sm-2 control-label">Filters</label>

						<div class="col-sm-10">

							<ul class="criteria-list col-md-12 m-t-xs">
								<li title="" original-title="" style="position: relative;">
									<button type="button" class="criteria-selector drop-arrow" ng-click="toggleDropdown('email_list_selector')" ng-init="email_list_selector=false">
										<div class="criteria-wrap"><span class="fieldLabel">Email Lists:</span> {{queueEmailData.emailLists.indexOf(true) != -1 ? 'Selected':'All'}}</div>
									</button>
									<a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;">
										<span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
									</a>
									<div class="dropdown_checkboxes" aria-hidden="false" ng-if="email_list_selector">
										<div>
											<form>
												<div class="form-body checkboxmultiselect-container">
													<div class="field-group aui-field-issuetype">
														<div class="check-list-select" id="searcher-type-multi-select" data-query="">
															<div class="check-list-field-container">
																<input placeholder="Search..." ng-model="search" class="aui-field check-list-field searcher-type-input">
																<span class="icon-default aui-icon aui-icon-small aui-iconfont-search noloading"></span>
															</div>
															<div class="aui-list" id="searcher-type-suggestions" tabindex="-1" role="listbox" style="display: block;">
																<div class="aui-list-scroll" tabindex="-1" role="presentation">
																	<ul class="aui-list-section" ng-if="queueEmailData.emailLists.indexOf(true) != -1" style="height:30px;">
																		<li class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label" title="Bug" data-descriptor-title="Bug">
																				<a href="#" ng-click="queueEmailData.emailLists=[];listChanged()">Clear Selections</a>
																			</label>
																		</li>
																	</ul>
																	<h5>Email lists:</h5>
																	<ul class="aui-list-section"
																		aria-label="Standard Issue Types">
																		<li ng-repeat="list in emailLists | filter: search" class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label" title="Bug" data-descriptor-title="Bug">
																				<input ng-change="listChanged()" type="checkbox" tabindex="-1" ng-model="queueEmailData.emailLists[list.id]" ng-checked="queueEmailData.emailLists[list.id]">{{list.name}}
																			</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
								<li title="" original-title="">
									<button type="button" class="criteria-selector drop-arrow" ng-click="toggleDropdown('site_members_selector')" ng-init="site_members_selector=false">
										<div class="criteria-wrap"><span class="fieldLabel">Members:</span> {{queueEmailData.siteMembers.indexOf(true) != -1 ? 'Selected':'All'}}</div>
									</button>
									<a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;">
										<span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
									</a>
									<div class="dropdown_checkboxes" aria-hidden="false" ng-if="site_members_selector">
										<div>
											<form>
												<div class="form-body checkboxmultiselect-container">
													<div class="field-group aui-field-issuetype">
														<div class="check-list-select" data-query="">
															<div class="check-list-field-container">
																<input placeholder="Search..." ng-model="site_search" class="aui-field check-list-field searcher-type-input">
																<span class="icon-default aui-icon aui-icon-small aui-iconfont-search noloading"></span>
															</div>
															<div class="aui-list" tabindex="-1" role="listbox" style="display: block;">
																<div class="aui-list-scroll" tabindex="-1" role="presentation">
																	<ul class="aui-list-section" ng-if="queueEmailData.siteMembers.indexOf(true) != -1" style="height:30px;">
																		<li class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label" title="Bug" data-descriptor-title="Bug">
																				<a href="#" ng-click="queueEmailData.siteMembers=[];listChanged()">Clear Selections</a>
																			</label>
																		</li>
																	</ul>
																	<h5>Members of:</h5>
																	<ul  class="aui-list-section"
																		 aria-label="Standard Issue Types">
																		<li ng-repeat="site in sites | filter: site_search" class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label" title="Bug" data-descriptor-title="Bug">
																				<input ng-change="listChanged()" type="checkbox" tabindex="-1" ng-model="queueEmailData.siteMembers[site.id]" ng-checked="queueEmailData.siteMembers[site.id]">{{site.name}}</label></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
								<li title="" original-title="">
									<button type="button" class="criteria-selector drop-arrow" ng-click="toggleDropdown('access_levels_selector')" ng-init="access_levels_selector=false">
										<div class="criteria-wrap"><span class="fieldLabel">Access Levels:</span> {{queueEmailData.accessLevels.indexOf(true) != -1 ? 'Selected':'All'}}</div>
									</button>
									<a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;">
										<span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
									</a>
									<div class="dropdown_checkboxes" aria-hidden="false" ng-if="access_levels_selector">
										<div>
											<form>
												<div class="form-body checkboxmultiselect-container">
													<div class="field-group aui-field-issuetype">
														<div class="check-list-select" data-query="">
															<div class="check-list-field-container">
																<input placeholder="Search..." ng-model="access_level_search" class="aui-field check-list-field searcher-type-input">
																<span class="icon-default aui-icon aui-icon-small aui-iconfont-search noloading"></span>
															</div>
															<div class="aui-list" tabindex="-1" role="listbox" style="display: block;">
																<div class="aui-list-scroll" tabindex="-1" role="presentation">
																	<ul class="aui-list-section" ng-if="queueEmailData.accessLevels.indexOf(true) != -1" style="height:30px;">
																		<li class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label" title="Bug" data-descriptor-title="Bug">
																				<a href="#" ng-click="queueEmailData.accessLevels=[];listChanged()">Clear selections</a>
																			</label>
																		</li>
																	</ul>
																	<h5></h5>
																	<ul  class="aui-list-section">
																		<li ng-repeat="accessLevel in accessLevels | filter: access_level_search" class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label" title="{{_.findWhere(sites,{id: accessLevel.site_id}).name}}">
																				<input ng-change="listChanged()" type="checkbox" tabindex="-1" ng-model="queueEmailData.accessLevels[accessLevel.id]" ng-checked="queueEmailData.accessLevels[accessLevel.id]">{{accessLevel.name}}</label></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
								<li title="" original-title="">
									<button type="button" class="criteria-selector drop-arrow" ng-click="toggleDropdown('ownership_type_selector')" ng-init="ownership_type_selector=false">
										<div class="criteria-wrap"><span class="fieldLabel">Ownership Type:</span> {{queueEmailData.ownershipTypes.owned == true || queueEmailData.ownershipTypes.refunded == true ? 'Selected':'None'}}</div>
									</button>
									<a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;">
										<span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
									</a>
									<div class="dropdown_checkboxes" aria-hidden="false" ng-if="ownership_type_selector" style="height:100px;">
										<div>
											<form>
												<div class="form-body checkboxmultiselect-container">
													<div class="field-group aui-field-issuetype">
														<div class="check-list-select" data-query="">
															<div class="aui-list" tabindex="-1" role="listbox" style="display: block;">
																<div class="aui-list-scroll" tabindex="-1" role="presentation">
																	<ul  class="aui-list-section">
																		<li class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label">
																				<input ng-change="listChanged()" type="checkbox" tabindex="-1" ng-model="queueEmailData.ownershipTypes.owned" ng-checked="queueEmailData.ownershipTypes.owned">Owned
																			</label>
																		</li>
																		<li class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label">
																				<input ng-change="listChanged()" type="checkbox" tabindex="-1" ng-model="queueEmailData.ownershipTypes.refunded" ng-checked="queueEmailData.ownershipTypes.refunded">Refunded
																			</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
								<li title="" original-title="" ng-if="isSuperAdmin">
									<button type="button" class="criteria-selector drop-arrow" ng-click="toggleDropdown('sm_user_selector')" ng-init="$parent.sm_user_selector=false">
										<div class="criteria-wrap"><span class="fieldLabel">SM Users:</span> {{queueEmailData.smUsers.primaryOwners == true || queueEmailData.smUsers.owners == true ? 'Selected':'None'}}</div>
									</button>
									<a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;">
										<span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
									</a>
									<div class="dropdown_checkboxes" aria-hidden="false" ng-if="$parent.sm_user_selector" style="height:100px;">
										<div>
											<form>
												<div class="form-body checkboxmultiselect-container">
													<div class="field-group aui-field-issuetype">
														<div class="check-list-select" data-query="">
															<div class="aui-list" tabindex="-1" role="listbox" style="display: block;">
																<div class="aui-list-scroll" tabindex="-1" role="presentation">
																	<ul  class="aui-list-section">
																		<li class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label">
																				<input ng-change="listChanged()" type="checkbox" tabindex="-1" ng-model="queueEmailData.smUsers.primaryOwners" ng-checked="queueEmailData.smUsers.primaryOwners">Primary Owners
																			</label>
																		</li>
																		<li class="check-list-item  imagebacked 10000" role="option">
																			<label class="item-label">
																				<input ng-change="listChanged()" type="checkbox" tabindex="-1" ng-model="queueEmailData.smUsers.owners" ng-checked="queueEmailData.smUsers.owners">Owners
																			</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
							</ul>

						</div>
					</div>

					<div class="clearfix"></div>
					<div class="hr-line-dashed"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label"></label>

						<div class="col-sm-10">
							<a target="_blank" href="{{apiURL}}/emailSubscriber/getCSV?access_token={{$storage.user.access_token}}&segment_query={{queueEmailData.segmentQuery}}" class="btn btn-brand btn-lg text-center">Export Subscribers</a>
						</div>
					</div>

					<div class="clearfix"></div>


				</div>
			</div>
		</div>
	</div>
</div>