<div class="ui large modal"><i class="close icon"></i>
	<div class="header">
		<i class="life ring icon"></i>
		Support Tickets
	</div>
	<div class="content">
		<div class="description">

			<div class="ui grid">
				<div class="three wide column">
					<div class="ui vertical fluid pointing menu">
						<a class="item active" ng-class="{active: type_to_fetch == 'open'}" ng-click="type_to_fetch = 'open'">
							Open
							<div class="ui label" ng-if="false">51</div>
						</a>
						<a class="item" ng-class="{active: type_to_fetch == 'closed'}" ng-click="type_to_fetch = 'closed'">
							Closed
							<div class="ui label" ng-if="false">1</div>
						</a>
						<div class="item" ng-if="false">
							<div class="ui transparent icon input">
								<input type="text" placeholder="Search tickets...">
								<i class="search icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="thirteen wide stretched column">

					<div ng-if="requesting_data" class="ui active inverted dimmer">
						<div class="ui text loader">Loading</div>
					</div>

					<div ng-if="!requesting_data && tickets.length==0">
						<p class="alert alert-info">No tickets found</p>
					</div>
					<div class="ui form">
                        <div class="ui two column grid container">
                            <div class="column field">
                                <label>Order by</label>
                                <select ng-model="sortTicket.type" ng-change="sortTickets(sortTicket.type)">
                                    <option ng-click="sortTickets('activity')">
                                        Activity
                                    </option>
                                    <!-- <option  value='assignee'>
                                        Assignee
                                    </option> -->
                                    <option  value = 'age'>
                                        Age
                                    </option>
                                    <option  value = 'reporter' >
                                        Reporter
                                    </option>
                                    <option  value = 'agent' >
                                        No assignee
                                    </option>
                                </select>
                            </div>
                            <div class="column field">
                                <label>Search</label>
                                <input ng-model="ticket_query" ng-change="searchTickets()" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }" />
                            </div>
                            <div class="column field" ng-if="available_sites && available_sites.length > 1">
                                <label>Site filter:</label>
                                <select class="ui multiple search selection dropdown" dropdown ng-change="searchTickets()" ng-model="$parent.sites" multiple>
                                    <option ng-repeat="site in available_sites" value="{{site.id}}" ng-selected="$parent.sites.indexOf( site.id ) != -1">{{site.domain ? site.domain : site.subdomain + '.smartmember.' + app.env}}</option>
                                </select>

                                <div class="ui pointing label">Clear selection to show for all sites you have support access on</div>
                            </div>
                            <div class="column field" ng-if="available_agents && available_agents.length > 0">
                                <label>Agent filter:</label>
                                <select class="ui multiple search selection dropdown" dropdown ng-change="searchTickets()" ng-model="$parent.agents" multiple>
                                    <option value="0">Unassigned</option>
                                    <option ng-repeat="agent in available_agents" value="{{agent.user.id}}" ng-selected="$parent.agents.indexOf( agent.id ) != -1">{{agent.user.first_name ? agent.user.first_name + ' ' + agent.user.last_name : agent.user.email}}</option>
                                </select>
                            </div>
                        </div>
					</div>

					<table class="ui selectable table" ng-if="tickets[pagination.current_page].length > 0 && !requesting_data">
						<thead>
							<tr>
								<th>Reporter</th>
								<th>Site</th>
								<th>Activity</th>
								<th>Assignee</th>
								<th>Age</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr ng-class="{open:'warning',pending:'positive', solved:'positive', spam:'disabled'}[next_item.status]" ng-click="smModal.Show('public.app.admin.support.ticket' , {id: next_item.id})" ng-repeat="next_item in tickets[pagination.currentPage] | orderBy : customSort : 'true'"> -->
							<tr style="cursor:pointer;" ng-class="{open:'warning',pending:'positive', solved:'positive', spam:''}[next_item.status]" ng-click="openTicket( $event, next_item )" dir-paginate="next_item in tickets[ pagination.current_page ] | itemsPerPage: pagination.per_page  " total-items="pagination.total_count"  current-page="pagination.current_page">
								<td>
									<h4 class="ui image header">
										<img src="{{next_item.profile_image || '/images/image.png'}}" class="ui mini rounded image">
										<div class="content">
											{{next_item.user_name || next_item.user_email}}
											<div class="sub header">
												{{next_item.subject}}
											</div>
										</div>
									</h4>
								</td>
								<td ng-bind-html="showSite(next_item.site_id);">

								</td>
								<td class="single line">
									<span ng-show="next_item.last_replied_at==null">
										{{moment.utc(next_item.created_at).fromNow(true)}}
									</span>
									<span ng-hide="next_item.last_replied_at==null">
										{{moment.utc(next_item.last_replied_at).fromNow(true)}}
									</span>
								</td>
								<td class="single line">
									<span ng-if="next_item.sm_tech" style="color:rgb(181, 82, 82);">SM Tech</span>
									<span ng-if="next_item.sm_marketing" style="color:rgb(181, 82, 82);">SM Marketing</span>
									<span ng-hide="next_item.sm_tech">{{next_item.agent.first_name}} {{next_item.agent.last_name}}</span>
								</td>
								<td class="single line">
									{{moment.utc(next_item.created_at).fromNow(true)}}
								</td>
							</tr>
						</tbody>
					</table>

					<span ng-if="pagination.total_count > 0">{{pagination.total_count}} tickets found</span>
					<span ng-if="pagination.total_count == 0">No tickets found</span>
					<div class="text-right"  ng-if="!loading && pagination.total_count > 0">
					<dir-pagination-controls max-size="5"></dir-pagination-controls>
				</div>

				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<a ng-click="CloseAdminState()" ng-show="SiteStateExists()" class="ui black button">
			Close
		</a>
		<a ui-sref="public.app.admin.support.creator" class="ui right labeled icon green button">
			Create a new ticket
			<i class="plus icon"></i>
		</a>
	</div>
</div>