<div class="ui modal login" ng-controller="signController" ng-init="PopModal('login');init()">
	<div class="header">
		Login to {{site.name}}
	</div>
	<div class="content">
		<div class="description">

			<div class="ui two column middle aligned very relaxed stackable grid relative_container" style="position: relative;">
				<div class="nine wide column">

					<p ng-if="site_options.login_page_text" dynamic="site_options.login_page_text"></p>

					<div class="ui message" ng-if="account_exist">
						<div class="header">
							Account Exists
						</div>
						<p>An account with that email already exists. If it's your email, login below or click "Forgot password?" to recover it.</p>
					</div>
					<div class="ui message" ng-if="register_exist">
						<div class="header">
							Email Already Taken
						</div>
						<p>That email is already associated with an account! If it's yours, login below.</p>
					</div>
					<div class="ui message" ng-if="reset_sent">
						<div class="header">
							Email Sent
						</div>
						<p>Please check your inbox for a link to click to reset your password.</p>
					</div>

					<form class="ui form" ng-submit="login()">
						<div class="field">
							<label>Email</label>
							<div class="ui left icon input">
								<input type="text" placeholder="Email" ng-model="user.email">
								<i class="fa fa-at icon"></i>
							</div>
						</div>
						<div class="field">
							<label>Password</label>
							<div class="ui left icon input">
								<input type="password" ng-model="user.password">
								<i class="fa fa-lock icon"></i>
							</div>
						</div>
						<button type="submit" class="ui green submit button" ng-disabled="!user.email || !user.password">Login</button>
					</form>
				</div>
				<div class="ui vertical divider">
					Or
				</div>
				<div class="center aligned seven wide column">
					<a ng-if="$state.includes('public.sign')"  ng-href="{{site_options.create_account_url || '/sign/up'}}" class="close ui big blue labeled icon button">
						<i class="fa fa-edit icon"></i>
						Sign Up
					</a>
					<a ng-if="!$state.includes('public.sign')" ng-click="registerModal()" class="close ui big blue labeled icon button">
						<i class="fa fa-edit icon"></i>
						Sign Up
					</a>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<a class="ui close labeled icon button" ui-sref="public.sign.forgot">
			Forgot password?
			<i class="fa fa-wrench icon"></i>
		</a>
		<a ng-href="{{app.subdomain == 'my' ? 'http://help.smartmember.com':'/support-ticket/create?type=normal'}}" class="ui close right labeled icon button">
			Need help?
			<i class="fa fa-life-ring icon"></i>
		</a>
		<div ng-if="!$state.includes('public.sign')" class="close ui black button" ng-click="CloseModal();">
			Close
		</div>
	</div>
</div>












