.admin_ui_view .ui.modal {
  position: relative !important;
  display:block;
  margin-top: 7em;
  top:0px;
}

.admin_ui_view>.ui.dimmer {
  background-color: rgba(0,0,0,.30);
}

.admin_ui_view .ui.modal>.close.icon {
  display:none;
}

.admin_ui_view.ui.grid {
  margin:0px;
}