<h2 class="ui header">
    <i class="list icon"></i>
    {{template_data.title}}
</h2>

<div class="ui active inverted dimmer" ng-if="loading">
    <div class="ui text loader">Loading</div>
</div>

<div class="ui segment">
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal divider header">
                <i class="magic icon"></i>
                Current Integrations
            </h3>
            <div class="ui segment" ng-repeat="integration in integrations" style="cursor:pointer;" ui-sref="{{template_data.edit_route}}({id: integration._id})">
                {{template_data.integration_label}}: {{integration.name ? integration.name : ( integration.username ? integration.username : integration.remote_id )}}
            </div>
            <div class="ui segment" ng-if="!integrations || integrations.length == 0">
                You don't currently have any integrations.
            </div>
            <div class="ui green button" ui-sref="{{template_data.edit_route}}" style="cursor:pointer;">
                Add New
            </div>
        </div>
    </div>
</div>