<div class="ui modal"><i class="close icon"></i>
    <div class="header">
        <i class="setting icon"></i>
        Front Page Settings
    </div>
    <div class="content">
        <div class="description">

			<div class="ui  message">
				<p>This is the main page of your site, located on the front of it (ex. .com/) when no other page is view.</p>
			</div>

            <h3 class="ui horizontal divider header">
                <i class="setting icon"></i>
                Settings
            </h3>

            <div class="ui segment form">
                <div class="field">
                    <label>What content do you want shown on the front page of site?</label>

					<a ng-model="site_options" url-popup position="top center" duration="10000" hide="10000" html="/templates/modals/popover.html">
						{{ site_options.homepage_url || 'Select url' }}
					</a>

                </div>

				<div class="ui compact info message">
					<p>By default the Front Page will show the Syllabus</p>
				</div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div ui-sref="public.app.admin.pages.core.list" class="ui black deny button close" ng-click="cancel()">
            Back
        </div>
        <button ng-click="save()" class="ui right labeled icon green button">
            Save changes
            <i class="check icon"></i>
        </button>
    </div>
</div>