<div class="twelve wide column">

	<h2 class="ui top attached header section_background_color">
		{{leaderboard.contest.title}}
	</h2>
	<div class="ui attached clearing segment section_background_color" ng-init="full_display=false">

		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>

		<img ng-src="{{leaderboard.contest.featured_image}}" ng-if="leaderboard.contest.featured_image" class="ui fluid image">

		<div ng-if="leaderboard.contest.content" class="ui segment basic fr-view" dynamic="leaderboard.contest.content"></div>

		<div ng-if="leaderboard.contest.content" class="ui horizontal divider">
			stats
		</div>

		<table class="ui striped padded celled definition large table">
			<thead>
				<tr>
					<th></th>
					<th>Affiliates & Teams</th>
					<th class="center aligned">Total {{leaderboard.contest.type == 'leads' ? "Leads" : ""}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="{{rank.position <= 10 ? 'positive' : ''}}" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: (full_display ? 100000 : 25)">
					<td>
						<h2 class="ui center aligned header">
							{{rank.position}}
						</h2>
					</td>
					<td>
						<h3>{{rank.affiliate_name}}</h3>
					</td>
					<td class="center aligned">
						<div class="ui large {{rank.position <= 10 ? 'green' : ''}} label">
							{{rank.rank}}
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="ui grid text-center" sm-access="view_affiliate_stats" if-not="hide" ng-if="leaderboard.total_ranks && full_display">
			<div class="one column row">
				<div class="column">
					<div class="ui statistic">
						<div class="value">
							{{leaderboard.total_ranks}}
						</div>
						<div class="label">
							Total {{leaderboard.contest.type == 'leads' ? 'Leads' : 'Sales'}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<a sm-access="view_affiliate_stats" if-not="hide" ng-click="full_display = !full_display" class="ui center labeled green icon button" style="margin-top:10px;">
			{{full_display ? 'View Normal Stats' : 'View Full Stats'}}
			<i class="eye icon"></i>
		</a>

	</div>


</div>