<ng-include src="'templates/components/public/www/common/menu.html'"></ng-include>

<div class="feature alternate ui stripe vertical segment text-center m-t-lg">

	<h1 class="ui header">
		Thanks for your interest in Smart Member!<br>
		We'll notify you via email when new users can join
	</h1>

</div>

<div ng-if="0" class="masthead segment {{background_class}}" id="home_background_container">
	<div class="ui container">
		<div class="introduction">
			<h1 class="ui inverted header">
				<span class="library">
					A fundamentally new way to
					<br>
					manage and grow your members
				</span>

				<div class="ui hidden divider"></div>

				<span class="tagline">
					Smart Member is one place for every internet entrepreneur to manage members,
					easily, at scale - on your website, inside web and mobile apps, and by email.
				</span>
			</h1>
			<div class="ui hidden section divider"></div>

			<form class="ui form ng-pristine ng-valid" method="post" action="https://semantic-ui.clients.ubivox.com/handlers/post/">
				<input type="hidden" name="action" value="subscribe">
				<input type="hidden" name="lists" value="29450">
				<div class="field">
					<div class="ui huge action input">
						<input type="text" name="email_address" data-validate="email" placeholder="Enter your email">
						<button type="submit" value="Subscribe" class="ui red submit button">
							GET STARTED
						</button>
					</div>
				</div>
			</form>

			<div class="ui hidden section divider"></div>
			<div class="ui hidden section divider"></div>

			<div class="ui two column middle aligned very relaxed stackable relative grid">
				<div class="column">
					<img class="ui image" src="http://placehold.it/550">
				</div>
				<div class="ui vertical divider">
					VS
				</div>
				<div class="center aligned column">
					<img class="ui image" src="http://placehold.it/550">
				</div>
			</div>

		</div>
	</div>
</div>
<div ng-if="0" class="feature alternate ui stripe vertical segment text-center">

	<h3 class="ui header">Helping thousands of web AND mobile businesses manage hundreds of thousands of MEMBERS</h3>

	<div class="ui equal width middle aligned relaxed stackable grid container">
		<div class="row">
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/b8fdae97f08d01ac77a13e932b27998c/dark%20post%20profits%202.0%20Logo.png">
			</div>
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/820d9334661e417ed73e915e87a9a9bc/videox_1600_greyV2.png">
			</div>
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/b67f01a5a5e5c607063e399b615421b4/Ecom%20Edge%20Updated%20Logo.png">
			</div>
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/33e7b8397e99997ca82f799ef4366249/ozon_final_smartmember.png">
			</div>
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/9f7f40cd66270d1f725922e0864cc1f8/logo.png">
			</div>
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/3ab95fc19e495efc992f2a5faeb7d175/black.png">
			</div>
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/482c3d375ba72b4fd34099e2c26aa4f3/st-65.png">
			</div>
			<div class="column">
				<img class="ui small image" src="https://s3.amazonaws.com/imbmediab/uploads/2ffe7431f8436b3027eb4e141268ce43/yac_big.png">
			</div>
		</div>
	</div>
</div>

<div ng-if="0" class="ui vertical promo stripe intro segment">
	<div class="ui stackable very relaxed center aligned grid container">
		<div class="row">
			<div class="twelve wide column">
				<p>CHOOSE YOUR PRODUCT</p>
				<h1 class="ui header">We have four products,
					<br>
					integrated on one platform
				</h1>
			</div>
		</div>
	</div>

	<div class="ui hidden section divider"></div>
	<div class="ui two column grid container">
		<div class="column">
			<div class="ui fluid link card product_card">
				<div class="content">
					<h2 class="ui center aligned icon {{all_products.smart_sites.color}} header">
						<i class="circular cubes icon"></i>
						{{all_products.smart_sites.name}}
						<div class="ui sub center aligned header">
							{{all_products.smart_sites.category}}
						</div>
					</h2>

					<div class="ui hidden divider"></div>

					<div class="center aligned description">
						<h3>{{all_products.smart_sites.description_short}}</h3>
					</div>

					<div class="ui hidden divider"></div>

				</div>
				<div class="extra content center aligned">
					<a ui-sref="public.www.product({slug:'smart-sites'})" class="ui red large button">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid link card product_card">
				<div class="content">
					<h2 class="ui center aligned icon {{all_products.smart_mail.color}} header">
						<i class="circular cubes icon"></i>
						{{all_products.smart_mail.name}}
						<div class="ui sub center aligned header">
							{{all_products.smart_mail.category}}
						</div>
					</h2>

					<div class="ui hidden divider"></div>

					<div class="center aligned description">
						<h3>{{all_products.smart_mail.description_short}}</h3>
					</div>

					<div class="ui hidden divider"></div>

				</div>
				<div class="extra content center aligned">
					<a ui-sref="public.www.product({slug:'smart-mail'})" class="ui {{all_products.smart_mail.color}} large button">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="ui hidden section divider"></div>
	<div class="ui hidden section divider"></div>

	<div class="ui two column grid container">
		<div class="column">
			<div class="ui fluid link card product_card">
				<div class="content">
					<h2 class="ui center aligned icon {{all_products.smart_jv.color}} header">
						<i class="circular cubes icon"></i>
						{{all_products.smart_jv.name}}
						<div class="ui sub center aligned header">
							{{all_products.smart_jv.category}}
						</div>
					</h2>

					<div class="ui hidden divider"></div>

					<div class="center aligned description">
						<h3>{{all_products.smart_jv.description_short}}</h3>
					</div>

					<div class="ui hidden divider"></div>

				</div>
				<div class="extra content center aligned">
					<a ui-sref="public.www.product({slug:'smart-jv'})" class="ui {{all_products.smart_jv.color}} large button">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid link card product_card">
				<div class="content">
					<h2 class="ui center aligned icon {{all_products.smart_support.color}} header">
						<i class="circular cubes icon"></i>
						{{all_products.smart_support.name}}
						<div class="ui sub center aligned header">
							{{all_products.smart_support.category}}
						</div>
					</h2>

					<div class="ui hidden divider"></div>

					<div class="center aligned description">
						<h3>{{all_products.smart_support.description_short}}</h3>
					</div>

					<div class="ui hidden divider"></div>

				</div>
				<div class="extra content center aligned">
					<a ui-sref="public.www.product({slug:'smart-support'})" class="ui {{all_products.smart_support.color}} large button">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="column" ng-show="false">
			<div class="ui fluid link card product_card">
				<div class="content">
					<h2 class="ui center aligned icon purple header">
						<i class="circular linkify icon"></i>
						Smart Links
						<div class="ui sub center aligned header">
							Advanced URLs
						</div>
					</h2>

					<div class="ui hidden divider"></div>

					<div class="center aligned description">
						<h3>Rotate, shorten, and brand links with detailed tracking & stats.</h3>
					</div>

					<div class="ui hidden divider"></div>

				</div>
				<div class="extra content center aligned">
					<a ui-sref="public.www.soon" class="ui purple large button">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="ui hidden section divider"></div>

	<div class="ui stackable very relaxed center aligned grid container">
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui very padded segment">
					<h1 class="ui header">All products are built on the
						<br>
						free Smart Member platform
					</h1>

					<div class="ui hidden section divider"></div>

					<div class="ui huge breadcrumb">
						<div class="section">Track live member data</div>
						<i class="right angle icon divider"></i>

						<div class="section">Filter & segment members</div>
						<i class="right angle icon divider"></i>

						<div class="section">View rich member profiles</div>
					</div>

					<div class="ui hidden section divider"></div>

					<a ui-sref="public.www.soon" class="ui red basic button">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="0" class="ui email alternate stripe vertical segment">
	<div class="ui center aligned grid container">
		<div class="column">
			<h1 class="ui header">
				Get started for free
			</h1>
			<h3 class="ui header">
				Simply install a snippet of code or import data from Stripe, Mixpanel, Mailchimp, or CSV.
			</h3>

			<div class="ui hidden divider"></div>

			<form class="ui form ng-pristine ng-valid" method="post" action="https://semantic-ui.clients.ubivox.com/handlers/post/">
				<input type="hidden" name="action" value="subscribe">
				<input type="hidden" name="lists" value="29450">
				<div class="field">
					<div class="ui huge action input">
						<input type="text" name="email_address" data-validate="email" placeholder="Enter your email">
						<button type="submit" value="Subscribe" class="ui red submit button">
							GET STARTED
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>