<div class="ui large modal">
	<div class="header">
		<i class="life ring icon"></i>
		Support Tickets
	</div>
	<div class="content">
		<div class="description">

			<div class="ui grid">
				<div class="three wide column">
					<div class="ui vertical fluid pointing menu">
						<a class="item active" ng-class="{active: type_to_fetch == 'open'}" ng-click="type_to_fetch = 'open'">
							Open
							<div class="ui label" ng-if="false">51</div>
						</a>
						<a class="item" ng-class="{active: type_to_fetch == 'pending'}" ng-click="type_to_fetch = 'pending'">
							Pending
							<div class="ui label" ng-if="false">1</div>
						</a>
						<a class="item" ng-class="{active: type_to_fetch == 'solved'}" ng-click="type_to_fetch = 'solved'">
							Solved
							<div class="ui label" ng-if="false">1</div>
						</a>
						<a class="item" ng-class="{active: type_to_fetch == 'spam'}" ng-click="type_to_fetch = 'spam'">
							Spam
							<div class="ui label" ng-if="false">1</div>
						</a>
						<div class="item" ng-if="false">
							<div class="ui transparent icon input">
								<input type="text" placeholder="Search tickets...">
								<i class="search icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="thirteen wide stretched column">

					<div ng-if="requesting_data" class="ui active inverted dimmer">
						<div class="ui text loader">Loading</div>
					</div>

					<div ng-if="!requesting_data && tickets.length==0">
						<p class="alert alert-info">No tickets found</p>
					</div>

					<table class="ui selectable table" ng-if="tickets[pagination.current_page].length > 0 && !requesting_data">
						<thead>
							<tr>
								<th>Reporter</th>
								<th>Activity</th>
								<th>Assignee</th>
								<th>Age</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr ng-class="{open:'warning',pending:'positive', solved:'positive', spam:'disabled'}[next_item.status]" ng-click="smModal.Show('public.administrate.team.helpdesk.ticket' , {id: next_item.id})" ng-repeat="next_item in tickets[pagination.currentPage] | orderBy : customSort : 'true'"> -->
							<tr  ng-class="{open:'warning',pending:'positive', solved:'positive', spam:'disabled'}[next_item.status]" ng-click="smModal.Show('public.administrate.team.helpdesk.ticket' , {id: next_item.id})" dir-paginate="next_item in tickets[ pagination.current_page ] | itemsPerPage: pagination.per_page  | orderBy : customSort : 'true'" total-items="pagination.total_count"  current-page="pagination.current_page">
								<td>
									<h4 class="ui image header">
										<img src="{{next_item.profile_image || '/images/image.png'}}" class="ui mini rounded image">
										<div class="content">
											{{next_item.user_name || next_item.user_email}}
											<div class="sub header">
												{{next_item.subject}}
											</div>
										</div>
									</h4>
								</td>
								<td class="single line">
									<span ng-show="next_item.last_replied_at==null">
										{{moment.utc(next_item.created_at).fromNow(true)}}
									</span>
									<span ng-hide="next_item.last_replied_at==null">
										{{moment.utc(next_item.last_replied_at).fromNow(true)}}
									</span>
								</td>
								<td class="single line">
									<span ng-if="next_item.sm_tech" style="color:rgb(181, 82, 82);">SM Tech</span>
									<span ng-hide="next_item.sm_tech">{{next_item.agent.first_name}} {{next_item.agent.last_name}}</span>
								</td>
								<td class="single line">
									{{moment.utc(next_item.created_at).fromNow(true)}}
								</td>
							</tr>
						</tbody>
					</table>

					<span ng-if="pagination.total_count > 0">{{pagination.total_count}} tickets found</span>
					<span ng-if="pagination.total_count == 0">No tickets found</span>
					<div class="text-right"  ng-if="!loading && pagination.total_count > 0">
					<dir-pagination-controls max-size="5"></dir-pagination-controls>
				</div>

				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<a class="ui black back deny button">
			Close
		</a>
		<a ng-click="smModal.Show('public.administrate.team.helpdesk.creator')" class="ui right labeled icon green button">
			Create a new ticket
			<i class="plus icon"></i>
		</a>
	</div>
</div>