<div class="row wizard_steps_container" ng-init="init()">
	<div class="col-md-12">

		<div ng-if="node.completed || node.enabled" class="ibox collapsed m-b-sm" ng-repeat="(key,node) in wizard" id="{{ $index }}" data-enabled="{{node.enabled}}" wizardnode>
			<div class="ibox-title forum-item {{node.completed ? 'complete' : ''}} {{$index == current_changed ? 'active' : ''}}" ng-disabled="node.completed" ng-click="ShowBox( node , $index)">
				<div class="row">
					<div class="col-md-1 col-xs-3">
						<span class="fa-stack fa-2x">
							<i class="fa {{node.completed ? 'fa-check-circle-o' : 'fa-circle-thin'}} fa-stack-2x"></i>
							<strong class="fa-stack-1x" ng-hide="node.completed">{{key + 1}}</strong>
						</span>
					</div>
					<div class="col-md-10 col-xs-9">
						<h2 class="forum-item-title">{{ ::node.heading }}</h2>
						<div class="forum-sub-title">
							{{ ::node.description }}
						</div>
					</div>
				</div>
			</div>
			<div class="ibox-content forum-item active" style="display: {{$index == 0 ? 'block' : 'hidden'}}">

				<ng-include ng-init="init($index , node)" src="node.template" dynamic-ctrl="node.controller" class="container-fluid node_include_container animated fadeInRight"></ng-include>

				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>

<div ng-if="wizard_completed" ng-hide="1">
	<p class="alert alert_info">
		<i class="ts_icon ts_icon_info_circle"></i>
		You have successfully completed all steps
		<a ng-click="back()" class="btn btn-primary pull-right">Go Back</a>
	</p>
</div>
