<div class="ui modal">
	<i class="close icon"></i>

	<div class="header">
		<i class="paragraph icon"></i>
		Available {{ 'INTEGRATIONS' | translate }}
	</div>
	<div class="content">
		<div class="description">
			<p>Extend the power of your sites by connecting 3rd-party apps and tools.</p>

			<div class="ui three cards">
				<div class="card" ng-repeat="integration in availableIntegrations | filter: search" ng-click="SetIntegrationViewbox(integration.id)">
					<div class="content">
						<img class="right floated mini ui image" src="{{integration.logo}}">
						<div class="header">
							{{integration.name}}
						</div>
						<div class="description">
							{{integration.description}}
						</div>
					</div>
					<div class="extra content">
						<div class="ui one buttons">
							<div class="ui basic green button" ng-click="smModal.Show('public.admin.team.integration.choose',{integration: integration.id});">add new</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>
