<div class="ui modal"><i class="close icon"></i>
    <div class="content">

        <form method="get" class="ui form" ng-submit="save()">

            <div class="row">
                <div class="col-md-12">
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt">
                            <h1 class="ui header"><i class="ts_icon ts_icon_pencil clear_blue"></i>Invite Team Members</h1>
                        </div>
                        <div class="panel-body">

                            <h4 class="ui header">Emails</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <textarea class="form-control input-lg" ng-model="team_members.emails" type="text" name="import_email_input">
                                    </textarea>
                                    <span class="help-block m-b-none">
                                        Emails can be pasted into the box above separated by spaces, commas, or even 1 per line.
                                    </span>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4 class="ui header">Role</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <br>
                                    <p class="list-group" style="max-height: 450px; overflow-y: auto;">
                                        <span class="list-group-item" ng-if="role==1">
                                            <label>
                                                <input type="radio" ng-model="team_members.role" ng-value="1" name="role"> Primary Owner
                                            </label>
                                        </span>
                                        <span class="list-group-item" ng-if="role<=2">
                                            <label>
                                                <input type="radio" ng-model="team_members.role" ng-value="2" name="role"> Owner
                                            </label>
                                        </span>
                                        <span class="list-group-item" ng-if="role<=3">
                                            <label>
                                                <input type="radio" ng-model="team_members.role" ng-value="3" name="role"> Manager
                                            </label>
                                        </span>
                                        <span class="list-group-item" ng-if="role<=4">
                                            <label>
                                                <input type="radio" ng-model="team_members.role" ng-value="4" name="role"> Admin
                                            </label>
                                        </span>
                                        <span class="list-group-item" ng-if="role<=5">
                                            <label>
                                                <input type="radio" ng-model="team_members.role" ng-value="5" name="role"> Agent
                                            </label>
                                        </span>
                                        <span class="list-group-item" ng-if="role<=5">
                                            <label>
                                                <input type="radio" ng-model="team_members.role" ng-value="6" name="role"> Member
                                            </label>
                                        </span>
                                    </p>
                                    <span class="help-block m-b-none">
                                        Choose which role the member(s) will be given
                                    </span>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <!--
                            Commented out because we aren't using the expiration date for anything on the API side, but I was told it might have a purpose so not to remove it in case we need it back
                            <h4 class="ui header">Expire Date</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                  <input type="date" class="form-control input-lg" ng-model="team_members.expired_at" max-date="'2020-06-22'" />
                                    <span class="help-block m-b-none">
                                        Set an expiration date on these access passes (or leave empty for permanent)
                                    </span>
                                </div>
                            </div>
                            -->
                            <!-- <div class="field">
                                <div class="col-sm-8">
                                    <button class="btn btn-brand" type="submit">Save changes</button>
                                    <a ng-click='smModal.Show("public.administrate.team.members")' class="btn btn-default">Cancel</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
               
            </div>
        </form>
    </div>
    <div class="actions">
        <button ng-click="save()" class="ui right labeled icon button">
            Save changes
            <i class="checkmark icon"></i>
        </button>
        <div class="ui black deny button close" ng-click='smModal.Show("public.administrate.team.members")' >
            Cancel
        </div>
    </div>
</div>
