<div id="page">
    <div id="page_contents">
        <section class="intro" id="top" style="margin-bottom:6rem">
            <div class="col margin_auto float_none align_center bottom_padding no_right_padding">
                <h1 class="large align_center">The Software</h1>

                <h2 class="align_center">Use individually or together to make sites<br>
                    incredibly <strong>powerful</strong> yet <em>elegantly simple</em>.</h2>
            </div>
        </section>
        <section class="plans" style="display: none;;">
            <div class="plan_container clearfix">
                <div id="plan_lite" class="plan" data-plan-name="lite">

                    <div class="plan_card">
                        <h3><i class="brick_icon"></i>Free</h3>

                        <span class="plan_price"><span class="currency">$</span>0</span>
                        <span class="plan_price_details">for small teams or unlimited evaluation</span>

                        <a href="#" class="plan_price_details">Details</a>

                        <button class="btn detail_button">Sign up for free</button>
                    </div>

                    <div class="plan_subhead">
                        <h3>Free includes</h2>
                            <p>All of these great features:</p>
                    </div>
                    <ul>
                        <li><span>Search and browse 10k<br class="hide_on_mobile"/> most recent messages</span></li>
                        <li><span>5 integrations</span></li>
                        <li><span>Free native apps for iOS, Android, Mac Desktop & Windows Desktop</span></li>
                        <li><span>Multi-team Support</span></li>
                    </ul>
                </div>

                <div id="plan_standard" class="plan" data-plan-name="standard">

                    <div class="plan_card">
                        <h3><i class="brick_icon"></i>Standard</h3>

                        <span class="plan_price"><span class="currency">$</span>6<span class="cents">67</span></span>
                        <span class="plan_price_details">per user per month<br/>billed annually</span>

                        <span class="plan_price_details">$8 billed monthly</span>

                        <a href="#" class="plan_price_details">Details</a>

                        <form action="/checkout" method="post" class="no_bottom_margin">
                            <input type="hidden" name="crumb" value="s-1440394539-8bf2e391ed-?"/>
                            <input type="hidden" name="step" value="2"/>
                            <input type="hidden" name="product" value="std_y"/>
                            <button type="submit" class="btn detail_button" data-no-modal="true">Buy Standard</button>
                        </form>

                    </div>

                    <div class="plan_subhead">
                        <h3>Standard includes</h2>
                            <p>Everything in <strong>Free</strong>, and:</p>
                    </div>
                    <ul>
                        <li><span>Searchable archive with unlimited messages</span></li>
                        <li><span>Unlimited external integrations</span></li>
                        <li><span>Custom retention policies</span></li>
                        <li><span>Simple usage statistics</span></li>
                        <li><span>Guest access</span></li>
                        <li><span>Priority support</span></li>
                        <li><span>Google Authentication / Google Apps for Domains sign-on</span></li>
                        <li><span>Configurable email ingestion service</span></li>
                    </ul>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Individual user control over security policies</span></li>
                        <li><span>User groups</span></li>
                    </ul>
                </div>
                <div id="plan_plus" class="plan" data-plan-name="plus">

                    <div class="plan_card">
                        <h3><i class="brick_icon"></i>Plus</h3>

                        <span class="plan_price"><span class="currency">$</span>12<span class="cents tiny_left_margin">50</span></span>
                        <span class="plan_price_details">per user per month<br/>billed annually</span>

                        <span class="plan_price_details">$15 billed monthly</span>

                        <a href="/pricing/plus" class="plan_price_details">Details</a>

                        <form action="/checkout" method="post" class="no_bottom_margin">
                            <input type="hidden" name="crumb" value="s-1440394539-8bf2e391ed-?"/>
                            <input type="hidden" name="step" value="2"/>
                            <input type="hidden" name="product" value="plus_y"/>
                            <button type="submit" class="btn detail_button" data-no-modal="true">Buy Plus</button>
                        </form>

                    </div>

                    <div class="plan_subhead">
                        <h3>Plus includes</h2>
                            <p>Everything in <strong>Standard</strong>, and:</p>
                    </div>
                    <ul>
                        <li><span>SAML-based single sign-on (SSO)</span></li>
                        <li><span>Compliance Exports of all message history</span></li>
                        <li><span>Support for external message and archival solutions</span></li>
                        <li><span>99.99% guaranteed uptime SLA</span></li>
                        <li><span>24/7 support with 4 hour response time</span></li>
                    </ul>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Advanced usage statistics</span></li>
                        <li><span>Administrative control over security policies</span></li>
                        <li><span>User provisioning and deprovisioning</span></li>
                    </ul>
                </div>
                <div id="plan_enterprise" class="plan" data-plan-name="enterprise">

                    <div class="plan_card plan_card_coming_soon">
                        <h3><i class="brick_icon"></i>Enterprise</h3>

                        <span class="plan_price"><span class="currency">$</span>40</span>
                        <span class="plan_price_details">per user per month<br/>billed annually</span>

                        <span class="plan_price_details">$48 billed monthly</span>

                        <a href="/help/contact?accounts_pricing=1" class="btn detail_button" data-no-modal="true">Contact us</a>
                    </div>

                    <div class="plan_subhead">
                        <h3>Enterprise includes</h2>
                            <p>Everything in <strong>Plus</strong>, and:</p>
                    </div>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Federation across multiple teams with a unified team directory</span></li>
                        <li><span>Unified security, data retention and compliance policies across all federated teams</span>
                        </li>
                        <li><span>Organization-wide reporting, metrics & analytics</span></li>
                        <li><span>Consolidated billing & administration across teams</span></li>
                    </ul>
                </div>
            </div>

        </section>
        <section class="fair_billing_policy clearfix top" style="padding: 3rem 0;">
            <div class="section_content" style="padding: 1rem 0;">

                <h2 class="">Gather membership</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_6_of_6 position_relative ">
                        <h3>SM Sites</h3>
                        <h4>Build, create, grow</h4>
                        <p>
                            Enable entrepreneurs to build websites, create membership followings,
                            and grow them into valuable customers. Spend less time developing and
                            more time building a great audience.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>

                <h2 class="">Generate traffic</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Pages</h3>
                        <h4>Bridge market</h4>
                        <p>
                            Modern lead generation through infinitely dynamic visitor-specific experiences.
                        </p>
                    </div>
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Blogging</h3>
                        <h4>Post & share</h4>
                        <p>
                            Give your sites a boost of organic traffic using our proprietary Speed Blogging&trade; technology.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>
                <h2 class="">Sell content</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Courses</h3>
                        <h4>Teach & educate</h4>
                        <p>
                            Craft beautifully composed lessons & modules into an instructive syllabus, then offer it to
                            members for free (or a fee!).
                        </p>
                    </div>
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Email</h3>
                        <h4>Communicate</h4>
                        <p>
                            Speak with members intelligently to market & sell with measurable results.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>

                <h2 class="">Serve and Support</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_6_of_6 position_relative">
                        <h3>SM Service Desk</h3>
                        <h4>Lend a hand</h4>
                        <p>
                            Deliver an effective service experience with intuitive ticket management and knowledge base.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>

            </div>
        </section>
        <section class="new_signup clear_blue_bg clearfix top">
            <div class="section_content">

                <p>What are you waiting for? Get started by clicking this button &rightarrow;</p>
                <a ng-href="pricing" class="btn btn_border btn_large small_top_margin">Sign up for free</a>
            </div>
        </section>
        <section class="ready_to_try bottom">
            <div class="section_content">
                <p>
                    More questions? Let us help.<br/>
                    <a href="mailto:support@smartmember.com">Contact us <i class="ts_icon ts_icon_arrow_large_right"></i></a></a>
                </p>
            </div>
        </section>

    </div>

</div>