<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="life ring icon"></i>
		{{ template_data.title | translate }}
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>{{template_data.description}}</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui icon input">
				<input type="text" placeholder="Search..." ng-model="query" ng-change="paginate()" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }">
				<i class="search icon"></i>
			</div>

			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

			<table class="ui celled striped padded structured table" ng-if="data.length > 0 && !loading" foonice>
				<thead>
					<tr>
						<th data-toggle="true">Title</th>
						<th data-hide="all">Created</th>
						<th class="text-right">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="next_item in data | filter:$parent.query | itemsPerPage: pagination.per_page" total-items="pagination.total_count"  current-page="pagination.current_page">
						<td class="responsive_table_item">
							{{next_item.title}}
						</td>
						<td>
							{{moment.utc(next_item.created_at).fromNow()}}
						</td>
						<td class="text-right">
							<div class="ui buttons">
								<div class="ui button" ng-click="smModal.Show(template_data.edit_route,{id: next_item.id })">
									Edit
								</div>
								<div class="ui floating dropdown icon button" sui-dropdown>
									<i class="dropdown icon"></i>
									<div class="menu">
										<a class="item" sm-delete="{{next_item.id}}">
											<i class="delete icon"></i>
											Delete
										</a>
									</div>
								</div>
							</div>

						</td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">
							<div class="ui pointing label">
								{{pagination.total_count}} items
							</div>
							<dir-pagination-controls max-size="5"></dir-pagination-controls>
						</th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
		<a ng-click="smModal.Show(template_data.edit_route, {modal_options:{closable:false}})" class="ui right labeled icon green button">
			Create new {{template_data.singular}}
			<i class="plus icon"></i>
		</a>
	</div>
</div>