<style >
table{
   table-layout: fixed;
   width: 100%;
    word-wrap: break-word;       
     white-space: normal;
}
</style>
<div class="sixteen wide column">

	<div class="ui fluid container contained_fluid">
		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>
		<div class="ui basic segment">
			<div class="ui equal width middle aligned grid">
				<div class="column">
					<h2 class="ui inline header">
						<i class="wizard icon"></i>
						<div class="content">
							{{messageBodyType}} {{auto ? 'Auto' : 'Manual'}} Message
						</div>
					</h2>
				</div>
				<div class="right aligned column">
					<a busy ng-if="message._id" ng-href="/messages/edit/?auto={{message.auto}}&clone={{message._id}}"  class="ui large right labeled icon button">
						Duplicate
						<i class="copy icon"></i>
					</a>
					<button busy ng-if="message._id" ng-click="deleteMessage()" class="ui large right labeled icon button">
						Delete
						<i class="delete icon"></i>
					</button>
					<button busy ng-click="save()" ng-if="message.subject && hasAnyFilter()" class="ui large right labeled icon button">
						Save and Close
						<i class="check icon"></i>
					</button>
				</div>
			</div>

			<div class="ui hidden divider"></div>
<!-- {{segments}} -->
			<div class="ui fluid container edit_container">
				<div class="ui segments {{segments.active_segment == 'name' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'name' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'name'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('name',$event)">
							Done
						</div>

						<h2 class="ui header m-n">
							<i class="plug icon"></i>
							<div class="content">
								Name your message
							</div>
						</h2>
					</div>
					<div class="ui secondary segment">

						<div class="ui transparent massive fluid input">
							<input type="text" ng-model="message.name" placeholder="Name your auto message">
						</div>

					</div>
				</div>
				<div class="ui segments {{segments.active_segment == 'audience' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'audience' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'audience'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('audience',$event)">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="plug icon"></i>
							<div class="content">
								Audience
							</div>
						</h2>
					</div>
					<div class="ui secondary segment p-none">

						<div class="ui stackable internally celled padded grid">
							<div class="three wide column the_left_sidebar" ng-include="'templates/components/admin/app/common/filters/filters.html'"></div>
							<div class="thirteen wide column">

								<div class="ui active inverted dimmer" ng-if="loading">
									<div class="ui text loader">Loading</div>
								</div>
								

								<div class="ui secondary menu" >
									<div class="item">
										<h2 class="ui inline header">
											<div class="content" ng-if="!hasAnyFilter()">
												Please choose a filter for audience.
											</div>

											<div class="content" ng-if="hasAnyFilter()">
												{{hasAnyFilter() ? total_count : 0}} {{type == 'lead' ? 'Leads' : 'Members'}}
												<div class="sub header">
													(and users who match these rules in the future)
												</div>
											</div>
										</h2>
									</div>
								</div>

								<div class="ui divider"></div>

								<div class="ui fluid container" ng-if="hasAnyFilter()">

									<table  id ="audienceTable"class="ui single line celled table">

										<thead>
											<tr>
												<th width="15%;">
													Name
												</th>
												<th width="8%;">
													Type
												</th>
												<th width="28%;">
													Email
												</th>
												<th width="10%;">
													First Seen
												</th>
												<th width="10%;">
													Signed up
												</th>
												<th ng-hide="type == 'lead'" width="10%;">
													Last seen
												</th>
												<th width="10%;">
													Browser
												</th>
											</tr>
										</thead>

										<tbody>
											<tr ng-repeat="next_item in data">
												<td style="word-break:break-all;width:15%;">
													<a ui-sref="admin.app.member({id:next_item._id.$id})" class="ui tiny header">
														<img ng-src="{{next_item.profile_image || 'https://secure.gravatar.com/avatar/' + next_item.user.email_hash + '?d=mm&s=35'}}" class="ui rounded mini image">
														<div class="content">
															{{next_item.first_name || ((next_item.email || 'Unknown'))}}
														</div>
													</a>
												</td>
												<td width="8%;">
													{{type == 'lead' ? 'Lead' : 'User'}}
												</td>
												<td width="28%;">
													{{next_item.email || 'Unknown'}}
												</td>
												<td width="10%;">
													{{moment.unix(next_item.created_at.sec).format('DD MMM YYYY')}}
												</td>
												<td width="10%;">
													{{moment.unix(next_item.created_at.sec).format('DD MMM YYYY')}}
												</td>
												<td ng-hide="type == 'lead'" width="10%;">
													{{moment.unix(next_item.last_logged_in.sec).format('DD MMM YYYY')}}
												</td>
												<td width="10%;">
													{{next_item.browser_name || 'Unknown'}}
												</td>
											</tr>
										</tbody>
										<tfoot ng-if="total_count > 25">
											<tr>
												<th colspan="20">
													<div class="ui pointing label">
														And {{hasAnyFilter()? total_count - 25 : 0 }} members like this
													</div>
												</th>
											</tr>
										</tfoot>

									</table>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="ui segments {{segments.active_segment == 'channel' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'channel' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'channel'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('channel',$event)">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="check icon"></i>
							<div class="content">
								Channel
							</div>
						</h2>
					</div>
					<div class="ui secondary segment">

						<div class="ui centered grid">
							<div class="eight wide column">
								<div class="ui steps">
									<div class="active step">
										<i class="mail outline icon"></i>
										<div class="content">
											<div class="title">Email</div>
											<div class="description">Delivered to their Email</div>
										</div>
									</div>
									<div class="disabled step">
										<i class="phone icon"></i>
										<div class="content">
											<div class="title">SMS Message</div>
											<div class="description">Delivered to their Phone</div>
											<div class="description">COMING SOON</div>
										</div>
									</div>
								</div>
								<div class="ui form" ng-if="auto">
									<div class="field">
										<label>Unsubscribe option</label>
										<div class="ui checkbox" ng-model="message.unsubscribe_option" sui-checkbox>
											<input type="checkbox" tabindex="0" class="hidden">
											<label>Include an option to unsubscribe in the email</label>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="ui segments {{segments.active_segment == 'message' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'message' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'message'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('message',$event)">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="plug icon"></i>
							<div class="content">
								Message
							</div>
						</h2>
					</div>
					<div class="ui secondary segment p-none">

						<div class="ui stackable internally celled padded grid">
							<div class="four wide column the_left_sidebar">

								<div class="ui form">
									<div class="field">
										<label>FROM</label>
										<select ng-model="message.from_email" ng-options="from_user.email as from_user.name for from_user in from_users"></select>
									</div>
									<div class="field">
										<label>REPLY TO ADDRESS</label>
										<select ng-model="message.assigned_to" ng-options="from_user.email as from_user.email for from_user in from_users"></select>
									</div>
									<div class="ui form" ng-if="!auto">
										<div class="field">
											<label>ADVANCED OPTIONS</label>
											<div class="ui checkbox" ng-model="message.unsubscribe_option" sui-checkbox>
												<input type="checkbox" tabindex="0" class="hidden">
												<label>Include unsubscribe link</label>
											</div>
										</div>
									</div>
									<div class="field" ng-hide="true">
										<label>IN-APP TYPE</label>
										<div class="ui basic fluid vertical buttons">
											<button class="ui active button">
												<i class="comment icon"></i> Chat
											</button>
											<button class="ui button">
												<i class="comment icon"></i>
												Small Announcement
											</button>
											<button class="ui button">
												<i class="comment icon"></i>
												Big Announcement
											</button>
										</div>
									</div>
									<div class="field" ng-hide="true">
										<label>REPLY TYPE</label>
										<div class="ui basic fluid vertical buttons">
											<button class="ui active button">
												<i class="comment icon"></i>
												Text
											</button>
											<button class="ui button">
												<i class="comment icon"></i>
												Thumbs
											</button>
											<button class="ui button">
												<i class="comment icon"></i>
												Emotions
											</button>
										</div>
									</div>

									<div class="ui clearing divider"></div>

									<div class="field" ng-hide="true">
										<label>PREVIEW DEVICE</label>
										<div class="ui basic fluid buttons">
											<button class="ui active button">
												<i class="desktop icon"></i>
												Desktop
											</button>
											<button class="ui button">
												<i class="mobile icon"></i>
												Mobile
											</button>
										</div>
									</div>
									<div class="field" ng-hide="true"> 
										<label>PREVIEW DATA AS</label>
										<div class="ui basic fluid buttons">
											<button class="ui active button">
												<i class="comment icon"></i>
												Placeholders
											</button>
											<button class="ui button">
												<i class="comment icon"></i>
												Sample member
											</button>
										</div>
									</div>
								</div>

								<div class="ui hidden section divider"></div>

							</div>
							<div class="twelve wide column">

								<div class="ui active inverted dimmer" ng-if="loading">
									<div class="ui text loader">Loading</div>
								</div>

								<div class="ui transparent massive fluid input m-b-md">
									<input type="text" ng-model="message.subject" placeholder="Enter a subject for your message">
								</div>

								<textarea ng-model="message.content" froala></textarea>

							</div>
						</div>

					</div>
				</div>
				<div class="ui segments {{segments.active_segment == 'review' ? 'active' : ''}}">
					<div class="ui heading_segment clearing {{segments.active_segment == 'review' ? 'red inverted' : 'disabled'}} segment" ng-click="segments.active_segment = 'review'">
						<div class="ui inverted button right floated done_button" ng-click="progressBar('message',$event)">
							Done
						</div>
						<h2 class="ui header m-n">
							<i class="plug icon"></i>
							<div class="content">
								Review and set it live
							</div>
						</h2>
					</div>
					<div class="ui secondary segment">

						<div ng-if="!message.subject || !hasAnyFilter()" class="ui centered grid">
							<div class="eight wide center aligned column">

								<div class="ui hidden divider"></div>

								<h2 class="ui icon header">
									<i class="tasks icon"></i>
									<div class="content">
										A few more things
									</div>
								</h2>

								<div class="ui clearing segment" ng-if="!hasAnyFilter()">
									<div class="ui grid">
										<div class="twelve wide column">
											<h4 class="ui header m-n">
												<i class="plug icon"></i>
												<div class="content">
													You need to choose an audience for this message
												</div>
											</h4>
										</div>
										<div class="four wide right aligned column">
											<a href="" ng-click="segments.active_segment = 'audience'">Open step</a>
										</div>
									</div>
								</div>
								<div class="ui clearing segment" ng-if="!message.subject">
									<div class="ui grid">
										<div class="twelve wide column">
											<h4 class="ui header m-n">
												<i class="plug icon"></i>
												<div class="content">
													You should review your message content
												</div>
											</h4>
										</div>
										<div class="four wide right aligned column">
											<a href="" ng-click="segments.active_segment = 'message'">Open step</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ui centered grid" ng-show="message.subject && hasAnyFilter()">
							<div class="row">
								<div class="center aligned eight wide column">

									<div class="ui large header">
										Nice, you're almost done!
										<div class="sub header">
											Make sure to double check your message above
										</div>
									</div>
								</div>
							</div>
							<div class="center aligned three wide column">
								<h3 class="ui icon header">
									<i class="red edit icon"></i>
									<div class="content">
										Still needs work?
									</div>
								</h3>
								<p>You can save it as a draft and come back later to set it live</p>
								<button class="ui fluid basic  large button" busy ng-click="save()">Save and close</button>
							</div>
							<div class="one wide column">

							</div>
							<div class="center aligned three wide column" ng-if="company && company.sendgrid.api_key">
								<h3 class="ui icon header">
									<i class="red check icon"></i>
									<div class="content">
										It's good to go!
									</div>
								</h3>
								<p>Remember, you can always turn it off again if you need to</p>
								<button class="ui fluid red large button" busy ng-click="setLiveNow()">{{auto ? 'Set it live' : 'Send it'}} now</button>
							</div>
							<div class="center aligned three wide column" ng-if="!company || !company.sendgrid.api_key">
								<h3 class="ui icon header">
									<i class="red cancel icon"></i>
									<div class="content">
										You need to setup your sendgrid credentials
									</div>
								</h3>
							</div>
						</div>

						<div class="ui hidden divider"></div>

					</div>
				</div>

			</div>

		</div>

	</div>

</div>



