

<div ng-include="'templates/components/public/app/common/dynamic-css.html'"></div>

<wave-spinner ng-if="loading"></wave-spinner>
<div class="ui vertical segment site_top_background_color {{isLoggedIn() ? 'logged_in' : ''}}" ng-init="init();initialize();showNotifications()">

	<div sm-class="'ui equal width ' + (meta_data.logo_position == 'right' || meta_data.logo_position == 'below' ? ' computer reversed tablet reversed mobile reversed' : '' ) + ' grid centered container stackable'">

		<div ng-if="!isLoggedIn() || !is_member" class="row p-b-none">
			<div class="column" style="text-align: right;">
				<div class="ui buttons" ng-show="!isLoggedIn()">
					<a class="ui button" href="#" ng-click="smModal.Show('public.sign.in')">Log-in</a>
					<div class="or"></div>
					<a class="ui positive button" href="#" ng-click="smModal.Show('public.sign.up')">Sign up</a>
				</div>
				<div class="ui buttons" ng-show="isLoggedIn()">
					<button busy class="ui button" ng-click="addMember()" ng-show="isLoggedIn() && !is_member">Join</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="middle aligned column m-b-lg" ng-if="meta_data.logo_position == 'below' && options.menu_items.length > 0" ng-include="'templates/components/public/app/common/top-nav.html'"></div>
			<div sm-class="(meta_data.logo_position == 'left' || meta_data.logo_position == 'right' || !meta_data.logo_position) ? 'middle aligned ' + (meta_data.logo_size | sizetonumberword) + ' wide column' : 'middle aligned sixteen wide column'">

				<a sm-class="'ui ' + meta_data.logo_size + (meta_data.logo_border ? ' bordered' : '' ) +  ' ' + meta_data.logo_style + ' fluid centered image'" ng-href="/{{options.logo_url}}" target="{{options.logo_url && startsWithExternalUrl(options.logo_url) ? '_blank' : ''}}">
					<h1 ng-hide="options.site_logo" class="headline_text_color">{{site.name}}</h1>
					<img ng-show="options.site_logo" sui-popup data-edit="{{site.is_admin ? true : false}}" data-state="public.administrate.site.appearance.settings" ng-src="{{options.site_logo}}" class="m-t-sm m-b-sm">
				</a>
			</div>
			<div class="middle aligned column" ng-if="meta_data.logo_position != 'below' && options.menu_items.length > 0" ng-include="'templates/components/public/app/common/top-nav.html'"></div>
		</div>
	</div>
</div>
<div class="ui vertical segment site_middle_background_color main-content">

	<div sm-class="'ui ' + (meta_data.sidebar_position == 'left' ? ' computer reversed tablet reversed mobile reversed' : '' ) + ' centered grid container stackable'">
		<ui-view class="row"></ui-view>
	</div>
</div>
<div class="ui vertical segment site_bottom_background_color">

	<div class="ui grid container">
		<div class="row">
			<div class="column text-center" ng-include="'templates/components/public/app/common/footer.html'"></div>
		</div>
	</div>
</div>

<div class="ui small delete modal">
    <div class="content">
      <p>Are you sure you want to delete this?</p>
    </div>
    <div class="actions">
      <div class="ui negative button">
        No
      </div>
      <div class="ui positive right labeled icon button">
        Yes
        <i class="checkmark icon"></i>
      </div>
    </div>
</div>
