<div ng-if="!$state.includes('public.app.admin.bridge-page')" ng-include="'templates/components/public/app/site/common/dynamic-css.html'"></div>

<wave-spinner ng-if="loading"></wave-spinner>
<div ng-if="!$state.includes('public.app.admin.bridge-page') && !isSitelessPage()" class="ui vertical segment site_top_background_color {{isLoggedIn() ? 'logged_in' : ''}} {{meta_data.navigation_location == 'top fixed' ? 'more_margin' : ''}}" ng-init="init();initialize();showNotifications()">

	<div sm-class="'ui equal width ' + (meta_data.logo_position == 'right' || meta_data.logo_position == 'below' ? ' computer reversed tablet reversed mobile reversed' : '' ) + ' grid centered container stackable'">		

		<div ng-if="(!isLoggedIn() || !is_member) && app.subdomain != 'sm'" class="row p-b-none member_sign_row">
			<div class="column" style="text-align: right;">
				<div class="pull-left small monitor hidden large monitor hidden">
					<a class="ui icon button" ng-click="smSidebar.Show('.left_app_sidebar_contents', '', {closable:true,dimPage:true});">
						<i class="sidebar icon"></i>
						Menu
					</a>
				</div>
				<div class="ui buttons {{meta_data.navigation_location == 'top fixed' && !isLoggedIn() ? 'more_margin_button1' : ''}}" ng-show="!isLoggedIn()">
					<a class="ui button login_button" ui-sref="public.sign.in">Log-in</a>

					<div class="or" ng-if="!meta_data.hide_sign_up_button || ( meta_data.hide_sign_up_button != 1 && meta_data.hide_sign_up_button != '1' )"></div>
					<a class="ui positive button register_button" ui-sref="public.sign.up" ng-if="!meta_data.hide_sign_up_button || ( meta_data.hide_sign_up_button != 1 && meta_data.hide_sign_up_button != '1' )">Sign up</a>
				</div>
				<div class="ui buttons {{meta_data.navigation_location == 'top fixed' && !isLoggedIn() ? 'more_margin_button2' : ''}}" ng-show="isLoggedIn() && ( !meta_data.hide_sign_up_button || ( meta_data.hide_sign_up_button != 1 && meta_data.hide_sign_up_button != '1' ) )">
					<button busy class="ui button join_button" ng-click="addMember()" ng-show="isLoggedIn() && !is_member">Join</button>
				</div>
	


			</div>
		</div>
		<div class="row">
			<div class="middle aligned column m-b-lg mobile hidden tablet hidden" ng-if="meta_data.logo_position == 'below' && options.menu_items.length > 0" ng-include="'templates/components/public/app/site/common/top-nav.html'"></div>
			<div sm-class="(meta_data.logo_position == 'left' || meta_data.logo_position == 'right' || !meta_data.logo_position) ? 'middle aligned ' + (meta_data.logo_size | sizetonumberword) + ' wide column' : 'middle aligned sixteen wide column'">

				<a sm-class="'ui ' + meta_data.logo_size + (meta_data.logo_border == '1' ? ' bordered' : '' ) +  ' ' + meta_data.logo_style + ' fluid centered image'" ng-href="/{{options.logo_url}}" target="{{options.logo_url && startsWithExternalUrl(options.logo_url) ? '_blank' : ''}}">
					<h1 ng-hide="options.site_logo" class="headline_text_color">{{site.name}}</h1>
					<img ng-show="options.site_logo" sui-popup data-edit="{{site.is_admin ? true : false}}" data-state="public.app.admin.appearance.settings" ng-src="{{options.site_logo}}" class="m-t-sm m-b-sm">
				</a>
			</div>
			<div class="middle aligned column mobile hidden tablet hidden" ng-if="meta_data.logo_position != 'below' && options.menu_items.length > 0" ng-include="'templates/components/public/app/site/common/top-nav.html'"></div>
		</div>
	</div>
</div>
<div class="ui vertical segment site_middle_background_color main-content {{isLoggedIn() && $state.includes('public.app.admin.bridge-page') ? 'logged_in' : ''}}">
	<div ui-view name="site" sm-class="'ui ' + (meta_data.sidebar_position == 'left' ? ' computer reversed tablet reversed mobile reversed' : '' ) + ' centered grid container stackable site_ui_view'">
	</div>
</div>
<div ng-if="!$state.includes('public.app.admin.bridge-page') && !isSitelessPage()" class="ui vertical segment site_bottom_background_color">

	<div class="ui grid container">
		<div class="row">
			<div class="column text-center" ng-include="'templates/components/public/app/site/common/footer.html'"></div>
		</div>
	</div>
</div>

<div ui-view name="admin" sm-class="'ui ' + (meta_data.sidebar_position == 'left' ? ' computer reversed tablet reversed mobile reversed' : '' ) + ' centered grid container stackable admin_ui_view'">
</div>

<div class="ui small delete modal"><i class="close icon"></i>
	<div class="content">
		<p>Are you sure you want to delete this?</p>
	</div>
	<div class="actions">
		<div class="ui negative button">
			No
		</div>
		<div class="ui positive right labeled icon button">
			Yes
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>

<div class="ui wide sidebar vertical menu left left_app_sidebar_contents  navigation_background_color">
	<a class="ui icon button item navigation_text_color" ng-click="smSidebar.Close();">
		close
		<i class="sidebar icon"></i>
	</a>
	<a class="item button navigation_text_color" sui-popup data-stateAttributes='{"id":{{menu_item.id}}}' data-edit="{{site.is_admin ? true : false}}" data-state="public.app.admin.appearance.menu" sm-active-class="menu_item.url" ng-href="{{menu_item.url | parseurl}}" ng-repeat="menu_item in options.menu_items | orderBy:'sort_order'" ng-click="selectedElement($index);smSidebar.Close();">
		<i sm-class="'icon navigation_icon_color fa ' + ( menu_item.icon || 'fa-home' )" ng-if="!menu_item.custom_icon &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)"></i>
		<i sm-class="'icon navigation_icon_color fa ' + menu_item.custom_icon" ng-if="menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') != -1 &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)"></i>
		<img style="width:auto;" sm-class="'icon navigation_icon_color '" ng-if="menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') == -1 &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)" src="{{menu_item.custom_icon}}"/>
		{{ menu_item.label }}
	</a>
</div>
