<div class="row" style="margin-left: auto;margin-right: auto;" ng-init="init()">
    <div class="ui grid">
        <div class="twelve wide column" ng-if="loading">
            <div class="ui segment" style="min-height:200px;min-width:500px;">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column" ng-if="!loading">

            <div class="ui piled segment section_background_color">
                <h1 class="grey lighter smaller">
                    {{jv.title}}
                </h1>

                <div ng-class="{'video-container':jv.embed_content.indexOf('<iframe') != -1}" ng-if="jv.embed_content">
                    <div dynamic="jv.embed_content"></div>
                </div>
                <div class="video-container" style="background-color:gray;" ng-if="!jv.embed_content">
                </div>

                <div>

                    <div class="space"></div>
                    <div dynamic="jv.content"></div>
                </div>

                <hr>
                <div class="space"></div>

                <div class="pb-m">

                    <form>
                        <label>Your Email</label>
                        <div class="ui fluid action input">
                            <input type="text" placeholder="Enter email address" ng-model="jv.email">
                            <div ng-click="subscribe()" class="ui button">Search</div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</div>