
<div class="three wide column the_left_sidebar" ng-init="$parent.search_parameters.auto=true">

	<div class="header">AUTO MESSAGES</div>
	<div class="ui selection relaxed large list">
		<a ui-sref="admin.app.messages.auto({segment: 'all'})" class="link {{$stateParams.segment == 'all' ? 'active' : ''}} item">
			<i class="wizard icon"></i>
			<div class="content">
				<div class="header">
					All
				</div>
			</div>
		</a>
		<a ui-sref="admin.app.messages.auto({segment: 'all-live'})" class="link {{$stateParams.segment == 'all-live' ? 'active' : ''}} item">
			<i class="wizard icon"></i>
			<div class="content">
				<div class="header">
					All live
				</div>
			</div>
		</a>
		<a ui-sref="admin.app.messages.auto({segment: 'all-drafts'})" class="link {{$stateParams.segment == 'all-drafts' ? 'active' : ''}} item">
			<i class="wizard icon"></i>
			<div class="content">
				<div class="header">
					All drafts
				</div>
			</div>
		</a>
		<!-- <a ui-sref="admin.app.messages.auto({segment: 'all-paused'})" class="link {{$stateParams.segment == 'all-paused' ? 'active' : ''}} item">
			<i class="wizard icon"></i>
			<div class="content">
				<div class="header">
					All paused
				</div>
			</div>
		</a>
		<a ui-sref="admin.app.messages.auto({segment: 'all-scheduled'})" class="link {{$stateParams.segment == 'all-scheduled' ? 'active' : ''}} item">
			<i class="wizard icon"></i>
			<div class="content">
				<div class="header">
					All scheduled
				</div>
			</div>
		</a> -->
		<a ui-sref="admin.app.messages.auto({segment: 'all-mine'})" class="link {{$stateParams.segment == 'all-mine' ? 'active' : ''}} item">
			<i class="wizard icon"></i>
			<div class="content">
				<div class="header">
					My messages
				</div>
			</div>
		</a>
	</div>

	<div class="ui vertical sticky secondary menu">
		<button ng-if="show_segement_button" ng-click="createSegment()">
			New Folder
		</button>
	</div>
</div>
<div class="thirteen wide column">

	<div class="ui active inverted dimmer" ng-if="loading">
		<div class="ui text loader">Loading</div>
	</div>

	<div class="ui basic segment">
		<div class="ui equal width middle aligned grid">
			<div class="column">
				<h2 class="ui inline header">
					<i class="wizard icon"></i>
					<div class="content">
						{{auto.current_tab}}
						<div class="sub header">({{$parent.pagination.total_count}})</div>
					</div>
				</h2>
			</div>
			<div class="right aligned column" ng-if="company.sendgrid && company.sendgrid.api_key">
				<a ng-href="/messages/edit/?auto=true" class="ui red large right labeled icon button">
					New Auto Message
					<i class="plus icon"></i>
				</a>
			</div>
			<div class="right aligned column" ng-if="!company || !company.sendgrid.api_key">
				<h3 class="ui icon header">
					<div class="ui red basic label">
						You need to setup your sendgrid credentials
					</div>
				</h3>
			</div>
		</div>
	</div>
	<div class="ui basic segment">
		<div class="ui fluid container">
			<!-- {{$parent.messages|json}} -->

			<table class="ui celled small table">
				<thead>
					<tr>
						<th class="five wide">
							Title
						</th>
						<th>
							From
						</th>
						<th>
							Sent
						</th>
						<th>
							Opened
						</th>
						<th>
							Clicked
						</th>
						<!-- <th>
							Unsubs
						</th> -->
						<th>
							Last Sent
						</th>
						<!-- <th>
							Type
						</th> -->
						<th>
							Created
						</th>
						<th class="single line">
							First Set Live
						</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="message in $parent.messages | itemsPerPage:$parent.pagination.per_page" total-items="$parent.pagination.total_count" current-page="$parent.pagination.current_page">
						<td>
							<h4 class="ui header m-b-xs">
								<a ng-href="/messages/show/{{message._id}}?auto=true">
									{{message.name}}
								</a>
								<span class="ui green mini label" ng-if="message.activated">Live</span>
							</h4>
							<div class="sub header">
								{{getFilterMessage(message.filters,message.filters_operand,message.filters_type)}}
							</div>
						</td>
						<td>
							<a ui-sref="admin.app.member({id:message.member_id})" class="ui small image header">
								<img src="https://secure.gravatar.com/avatar/0?d=mm&s=35" class="ui rounded image">
								<div class="content">
									{{message.from_name}}
								</div>
							</a>
						</td>
						<td class="single line">
							<div class="ui large basic blue borderless label">
								<i class="user icon m-r-xs"></i>{{message.delivered || 0}}
							</div>
						</td>
						<td class="single line">
							<div class="ui large basic green borderless label">
								<i class="eye icon m-r-xs"></i> {{percentage(message.open,message.delivered)}}%
							</div>
						</td>
						<td class="single line">
							<div class="ui large basic pink borderless label">
								<i class="eye icon m-r-xs"></i> {{percentage(message.click,message.delivered)}}%
							</div>
						</td>
						<!-- <td class="single line">
							<div class="ui large basic red borderless label">
								<i class="eye icon m-r-xs"></i> —
							</div>
						</td> -->
						<td class="two wide">
							<div ng-if="message.last_sent_at">
								<i class="calendar icon"></i> {{moment.unix(message.last_sent_at.sec).fromNow()}}
							</div>
						</td>
						<!-- <td class="single line">
							<i class="comment icon"></i> Small Announcement
						</td> -->
						<td class="two wide">
							<div ng-if="message.created_at">
								<i class="calendar icon"></i>{{moment.unix(message.created_at.sec).fromNow()}}
							</div>
						</td>
						<td class="two wide">
							<div ng-if="message.set_live_at">
								<i class="calendar icon"></i> {{moment.unix(message.set_live_at).fromNow()}}
							<div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="20">
							<div class="ui pointing label">
								{{$parent.pagination.total_count}} items
							</div>
							<dir-pagination-controls max-size="5"></dir-pagination-controls>
						</th>
					</tr>
				</tfoot>
			</table>

			
		</div>
	</div>

</div>



