<div class="ui long test modal">

	<div class="header">
		<i class="magic icon"></i>
		{{ static_wizard.name }}
	</div>
	<div class="content">
		<div class="description">
			<p>Now that you've created a site, it's time to fill it with content. Follow the steps below to
				pretty it up and get members waiting out the door to get in!</p>

			<div class="ui three cards" ng-init="init()">
				<a class="ui card" ng-if="node.completed || node.enabled" ng-repeat="(key,node) in wizard" id="{{ $index }}" data-enabled="{{node.enabled}}" ng-click="smModal.Show('',{} , {'templateUrl' : node.template , 'controller' : node.controller});" wizardnode>
					<div class="image">
						<img src="{{ ::node.image }}">
					</div>
					<div class="content">
						<div class="header">
							{{ ::node.heading }}
						</div>
						<div class="description">
							{{ ::node.description }}
						</div>
					</div>
					<div class="extra content">
						<i class="user icon"></i>

					</div>
				</a>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>
