<div class="ui modal">

	<div class="header">
		<i class="globe icon"></i>
		{{ site.id ? 'Update' : 'Create' | translate }} a site
	</div>
	<div class="content">
		<div class="description">

			<div class="ui message">
				<p>Sites are the main component of Smart Member and will be where your content is created, members joined, and
					product(s) purchased.</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui large form">

				<div class="two fields">
					<div class="eight wide field">
						<label>1. Site name</label>

						<input type="text" ng-model="site.name" placeholder="My Awesome Site" ng-blur="setSubdomain($event)" required>

						<div class="ui ignored info message">
							<p>
								This is the primary name for your site; it will show up for your public site visitors,
								members, customers, and be the default title of your site in search engines.
							</p>
						</div>
					</div>

					<div class="eight wide field">
						<label>2. Site URL / Subdomain</label>

						<div class="ui right labeled input">
							<div class="ui label">
								http://
							</div>
							<input type="text" ng-model="site.subdomain" placeholder="mysite" required>
							<div class="ui label">
								smartmember.com
							</div>
						</div>

						<div class="ui ignored info message">
							<p>
								This is the url where visitors can find your site.
							</p>
							<p>You can always get to it from <strong>{{site.subdomain ? site.subdomain : 'mysite'}}.smartmember.com</strong> but can also
								map it to a brand new domain like www.{{site.subdomain ? site.subdomain : 'mysite'}}.com later.
							</p>
						</div>
					</div>
				</div>

				<div class="field">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-8">
						<a class="" ng-click="show_advance_options = !show_advance_options">toggle advanced options</a>
					</div>
				</div>

				<div ng-if="show_advance_options">

					<div class="field">
						<label>Domain Mapping</label>

						<div class="ui right labeled input">
							<div class="ui label">
								http://
							</div>
							<input type="text" ng-model="site.domain" placeholder="www.mysite.com" required>
						</div>

						<div class="ui ignored info message">
							<p>
								For advanced users, if you'd like to map this site to it's own unique domain name instead of the
								subdomain version provided above, enter it's domain here and read
								<a href="http://help.smartmember.com/lesson/domain-mapping" target="_blank">these instructions</a>
								to finish configuring it.
							</p>
						</div>
					</div>

					<div class="field" ng-if="!site.id && clone_sites.length > 1" ng-hide="1">
						<label class="col-sm-4 control-label">Clone an existing site
							<small>(optional)</small>
						</label>

						<div class="col-sm-6">
							<select class="form-control m-b" ng-model="site.clone_id" data-ng-options="clone_site.id as clone_site.name for clone_site in clone_sites" ng-change="changeSite(site.clone_id)"></select>
							<span class="help-block m-b-none">
								If you'd like to make a copy of an existing site on this Team, select it from the dropdown above. All settings and content will be copied over into your new site.
							</span>
						</div>
						<div class="col-sm-2">
							<a ng-if="!current_clone_site.domain && site.clone_id!=0" href="http://{{current_clone_site.subdomain}}.{{app.domain}}" target="_blank" class="btn">Preview</a>
							<a ng-if="current_clone_site.domain && site.clone_id!=0" href="http://{{current_clone_site.domain}}" target="_blank" class="btn">Preview</a>
						</div>
					</div>
				</div>
				<div class="hr-line-dashed" ng-if="!site.id && clone_sites.length > 1"></div>

			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close" ng-click="smModal.Show('public.administrate.team.sites')">
			Back
		</div>
		<a busy ng-click="save()" class="ui right labeled icon green button">
			Save & Continue
			<i class="check icon"></i>
		</a>
	</div>
</div>