<div class="ui modal"><i class="close icon"></i>
    <div class="header">
        <i class="student icon"></i>
        Lesson organizer
    </div>
    <div class="content">
        <div class="description">
            <div class="ui message">
                <p>Add new lessons, modules, and re-order them with this organization tool</p>
            </div>

            <div class="ui attached segment">
                <button class="ui button" ng-click="addModule()">Add new module</button>
            </div>

            <div class="ui section divider"></div>

            <div class="ui active inverted dimmer" ng-if="loading">
                <div class="ui loader"></div>
            </div>

            <div ng-if="!loading" class="connectModulePanels"  ui-sortable="ModuleSortableOptions">
                <div class="ui segments module_item" data-id="{{module.id}}" data-ng-repeat="module in modules">
                    <div class="ui segment">
                        <div class="tiny ui buttons" style="float:right;">
                            <button class="ui green button" ng-click="addLesson(module)">Add Lesson</button>
                            <button class="ui red button" ng-if="module.id || module.new" sm-delete="{{module.id}}" delete-function="deleteModule"><i class="align trash icon"></i></button>
                        </div>
                        <p>
                            <a ng-if="module.id || module.new" href="#" editable-text="module.title" onaftersave="saveModuleTitle(module)">{{module.title || 'Empty'}}</a>
                            <a ng-if="!module.id && !module.new" href="#" editable-text="options['default_module_title']" onaftersave="saveModuleTitle(module)">{{options['default_module_title'] || 'Default'}}</a>
                        </p>
                    </div>
                    <div class="ui segments connectLessons" ui-sortable="LessonSortableOptions">
                        <div class="ui segment lesson_item" data-ng-repeat="next_item in module.lessons" data-id="{{next_item.id}}">
                            <div class="tiny ui buttons" style="float:right;">
                                <button class="ui blue button" ng-click="editLesson(lesson)"><i class="align edit icon"></i></button>
                                <button class="ui red button" sm-delete="{{next_item.id}}" delete-function="deleteLesson"><i class="align trash icon"></i></button>
                            </div>
                            <p>
                                <a href="#" editable-text="next_item.title" onaftersave="saveLessonTitle(next_item)">{{next_item.title || "Empty"}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button close">
            Close
        </div>
        <a ng-click="smModal.Show(template_data.edit_route, {modal_options:{closable:false}})" class="ui right labeled icon green button">
            Create new {{template_data.singular}}
            <i class="plus icon"></i>
        </a>
    </div>
</div>