<div class='course'>
	<h1>{{course.title}}</h1>
	<h4>{{course.subtitle}}</h4>
	
	<div class='row m-b'>
		<div class='col-md-3'>Instructed by 
			<a ng-if="course.site.company" href="/team/{{course.site.company.permalink}}">{{course.site.company.display_name}}</a> 
			<a ng-if="!course.site.company">{{course.site.user.first_name}} {{course.site.user.last_name}}</a></div>
		<div class='col-md-4'>Category: <a>{{course.category}}</a></div>
	</div>
		
	<div class='row'>
		<div class='col-md-8'>
			<div class='featured_image'>
				<img src='{{course.image}}'>
			</div>
		</div>
		<div class='col-md-4'>
			<h2>{{course.is_free ? 'Free' : course.pricing}}</h2>
			<a class='btn btn-large' href='http://{{course.site.domain ? course.site.domain : course.site.subdomain + ".smartmember.com/"}}' target="_blank">Take this course</a>
			<hr>
			<div class='row m-b'>
				<div class='col-md-4'>Lessons</div>
				<div class='col-md-8'><b>{{course.site.total_lessons}}</b></div>
			</div>
			<div class='row m-b' ng-if='!course.hide_members'>
				<div class='col-md-4'>Members</div>
				<div class='col-md-8'><b>{{course.site.total_members}}</b></div>
			</div>
			<div class='row m-b' ng-if='!course.hide_revenue'>
				<div class='col-md-4'>Revenue</div>
				<div class='col-md-8'><b>${{course.site.total_revenue}}</b></div>
			</div>
		</div>	
	</div>

	<div class='row details'>
		<div class='col-md-8'>
			<h3>Site Description</h3>
			<div dynamic="course.description"></div>
		</div>
		<div class='col-md-4 hide'>
			<h3>Other sites owned by the instructor</h3>

		</div>
	</div>	
</div>
