<div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="true"
     data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="true" data-animation="pop"
     data-timer="null" style="display: block; margin-top: 171px;">
    <div class="sa-icon sa-error" style="display: none;">
      <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
    </div>
    
    <div class="sa-icon sa-info" style="display: none;"></div>
    <div class="sa-icon sa-success" style="display: none;">
        <span class="sa-line sa-tip"></span>
        <span class="sa-line sa-long"></span>

        <div class="sa-placeholder"></div>
        <div class="sa-fix"></div>
    </div>
    <div class="sa-icon sa-custom" style="display: none;"></div>
    <h2>Alllmost there!</h2>

    <p style="display: block;" ng-show="message">
        {{ message }}
    </p>
    
    <fieldset>
        <input type="text" tabindex="3" placeholder="">

        <div class="sa-input-error"></div>
    </fieldset>
    <div class="sa-error-container">
        <div class="icon">!</div>
        <p>Not valid!</p>
    </div>
    <div class="sa-button-container">
        <button tabindex="2" class="light-blue" style="display: inline-block;" ng-click="cancel()">Got it! Ya'll are amazing.</button>
    </div>
</div>