<style>
img {
	max-width: 100%;
	max-height: 100%;
	overflow:hidden;
}
.modal-content
{
    margin-top:80px;
}
</style>
<div class="modal-header">
    <h3 class="modal-title" dynamic="$parent.title"></h3>
</div>
<div class="modal-body">
    <div dynamic="$parent.content">
    </div>
    <div class="sa-icon sa-warning pulseWarning" style="display: block;">
        <span class="sa-body pulseWarningIns"></span>
        <span class="sa-dot pulseWarningIns"></span>
    </div>
</div>
<div class="modal-footer">
    <button tabindex="2" class="cancel btn btn-primary" style="display: inline-block;" ng-click="ok()">ok</button>
</div>