<div class="modal-content">
    <div class="modal-header">
        <a class="pull-right" data-bypass="true" ng-click="cancel()"
           style="cursor:pointer;font-size:2.33em;position:absolute; top:5px; right:15px; text-decoration:none;color:#333;"
           data-dismiss="modal">&times;
        </a>
        <h4 class="modal-title">Upload File(s)</h4>
    </div>
    <div class="modal-body">
        <style>
            #dropzone-upload {
                box-sizing: border-box;
                min-height: 150px;
                border: 2px solid rgba(0, 0, 0, 0.3);
                background: white;
                border: 2px dashed #0087F7;
                border-radius: 5px;
                background: white;
                cursor: pointer;
                margin: 5px 5px 15px;
                text-align: center;
                font-weight: 400;
                font-size: 1.5em;
            }

            #dropzone-upload .hovering {
                border-width: 4px;
                font-weight: 700;
                background: #cfcfcf;
            }
            .drop-box {
                background: #F8F8F8;
                border: 5px dashed #DDD;
                text-align: center;
                padding: 150px 10px 0 10px;
                margin-left: 10px;
            }
            .drop-box.dragover {
                border: 5px dashed blue;
            }

            .drop-box.dragover-err {
                border: 5px dashed red;
            }
        </style>

        <div class="loader-holder-50" ng-show="loading">
            <div class="loader">Loading...</div>
        </div>
        <div class="col-md-12 height40" ng-hide="loading">
            <form  method="post">
                <div ngf-select="" ngf-drop="" ng-model="files" ngf-multiple="multiple" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="dropzone drop-box upload-image-container" ngf-drop-available="dropAvailable">Select or Drop File
                </div>
             </form>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>