<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="life ring icon"></i>
		Create New Helpdesk Ticket
	</div>
	<div class="content">
		<div class="description">

			<div class="ui form">

				<div class="field">
					<label>Subject</label>
					<input type="text" ng-model="ticket.subject">
				</div>
				<div class="field">
					<label>Reporter's Name</label>
					<input type="text" ng-model="ticket.user_name">
				</div>
				<div class="field">
					<label>Reporter's Email</label>
					<input type="text" ng-model="ticket.user_email">
				</div>
				<div class="eight wide field">
					<label>Assignee</label>
					<select class="ui dropdown" ng-model="ticket.agent_id" sui-dropdown>
						<option value="">Agent</option>
						<option ng-repeat="agent in agents" value="{{agent.user.id}}">{{agent.user.first_name}}</option>
					</select>
				</div>
				<div class="field">
					<label>Message</label>
					<textarea froala ng-model="ticket.message"></textarea>
				</div>

				<div class="inline field">
					<label>Add attachment</label>
					<button type="button" class="ui button" sm-uploader="reply" ng-model="ticket.attachment">
						<i class="upload icon"></i>
						Choose File
					</button>
				</div>
				<div class="field">
					{{getFileName(ticket.attachment)}}
				</div>
				<a href="" ng-if="ticket.attachment" ng-click="ticket.attachment='';">
					<i class="fa fa-remove"></i> Remove
				</a>
			</div>

		</div>
	</div>
	<div class="actions">
		<a ui-sref="public.app.admin.support.tickets" class="ui black button">
			Cancel
		</a>
		<a busy ng-click="save()" class="ui right labeled green icon button">
			Save changes
			<i class="check icon"></i>
		</a>
	</div>
</div>