
<div class="ui modal"><i class="close icon"></i>

	<div class="content">
		<div class="row">
			<div class="col-lg-12">

				<div class="ibox-content clear_box page-heading">
					<div class="p-xs">
						<div class="row">
							<div class="col-md-9">
								<div class="pull-left m-r-md">
									<i class="fa fa-edit text-branded mid-icon"></i>
								</div>
								<h2 class="ui header">{{ emailList.id ? 'Update your' : 'Create an' }} Email List</h2>
								<span>Update / create using the form below.</span>
							</div>
							<div class="col-md-3 text-right">
								<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
									<i class="fa fa-question"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<form method="get" class="ui form" ng-submit="save()">
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox ">
						<div class="ibox-content">

							<div class="field m-t-sm">
								<label class="col-sm-2 control-label">Name</label>

								<div class="col-sm-10">
									<input type="text" class="form-control" ng-model="emailList.name">
									<span class="help-block m-b-none">Give your list a name so you & subscribers can recognize it</span>
								</div>
							</div>
							<div class="hr-line-dashed"></div>

							<!-- <div class="field m-t-sm">
								<label class="col-sm-2 control-label"></label>

								<div class="col-sm-10">
									<button class="btn btn-brand" type="button" ng-click="save()">Save</button>
									<a class="btn btn-brand" type="button" ng-click="saveAndImport()">Save and Add Subscribers</a>
									<a ng-click="smModal('public.administrate.team.email.lists')" class="btn btn-default">Cancel</a>
								</div>
							</div> -->
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="actions">
		<button ng-click="save()" class="ui right labeled icon button">
		    Save changes
		    <i class="checkmark icon"></i>
		</button>
		<button ng-click="saveAndImport()" class="ui right labeled icon button">
		    Save and Add Subscribers
		    <i class="fa fa-plus"></i>
		</button>
		<div class="ui black deny button close" ui-sref="public.app.admin.email.lists">
		    Cancel
		</div>
	</div>
</div>