<div class="ui modal"><i class="close icon"></i>
    <i class="close icon"></i>

    <div class="header">
        <i class="add user icon"></i>
        Registration Page Settings
    </div>
    <div class="content">
        <div class="description">
            <div class="ui message">
                <p>These settings are for your site's log in page.</p>
            </div>

            <h3 class="ui horizontal divider header">
                <i class="setting icon"></i>
                Localization
            </h3>

            <div class="ui form">
                <div class="field">
                    <label class="ui header">
                        'Sign up for' Text
                    </label>
                    <input type="text"  class="form-control input-lg"
                           ng-model="site_options.signup_for_site_text" placeholder="Login to">
                </div>
                <div class="field">
                    <label class="ui header">
                        'Name' Text
                    </label>
                    <input type="text"  class="form-control input-lg"
                           ng-model="site_options.signup_name_text" placeholder="Name">
                </div>
                <div class="field">
                    <label class="ui header">
                        'Email' Text
                    </label>
                    <input type="text"  class="form-control input-lg"
                           ng-model="site_options.login_email_text" placeholder="Email">
                    <div class="ui info message">This setting is shared with the login page, both pages use the same setting.</div>
                </div>
                <div class="field">
                    <label class="ui header">
                        'Password' Text
                    </label>
                    <input type="text"  class="form-control input-lg"
                           ng-model="site_options.login_password_text" placeholder="Password">
                    <div class="ui info message">This setting is shared with the login page, both pages use the same setting.</div>
                </div>
                <div class="field">
                    <label class="ui header">
                        'Sign up' Button Text
                    </label>
                    <input type="text"  class="form-control input-lg"
                           ng-model="site_options.signup_button_text" placeholder="Sign Up">
                    <div class="ui info message">This setting will be used for all sign up buttons throughout your site.</div>
                </div>
                <div class="field">
                    <label class="ui header">
                        'Close' Text
                    </label>
                    <input type="text"  class="form-control input-lg"
                           ng-model="site_options.login_close_button_text" placeholder="Close">
                    <div class="ui info message">This setting will be used for the close button on all of the log in/sign up/reset/forgot password forms..</div>
                </div>
                <div class="field">
                    <label class="ui header">
                        'Need help?' Text
                    </label>
                    <input type="text"  class="form-control input-lg"
                           ng-model="site_options.need_help_text" placeholder="Need help?">
                    <div class="ui info message">This setting will be used for the 'Need help?' button on all of the log in/sign up/reset/forgot password forms..</div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div ng-click="save()" class="ui right labeled icon button">
           Save changes
            <i class="checkmark icon"></i>
        </div>
        <div ui-sref="public.app.admin.pages.core.list" class="ui black deny button close">
            Close
        </div>
    </div>
</div>
