
<div class="ui modal">

	<div class="row">
		<div class="col-lg-12">

			<div class="ibox-content clear_box page-heading">
				<div class="p-xs">
					<div class="row">
						<div class="col-md-9">
							<div class="pull-left m-r-md">
								<i class="fa fa-edit text-branded mid-icon"></i>
							</div>
							<h2 class="ui header">{{ emailList.id ? 'Update your' : 'Create an' }} Email List</h2>
							<span>Update / create using the form below.</span>
						</div>
						<div class="col-md-3 text-right">
							<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
								<i class="fa fa-question"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<form method="get" class="ui form" ng-submit="save()">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-content">

						<div class="field m-t-sm">
							<label class="col-sm-2 control-label">Name</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="emailList.name">
								<span class="help-block m-b-none">Give your list a name so you & subscribers can recognize it</span>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="field m-t-sm">
							<label class="col-sm-2 control-label"></label>

							<div class="col-sm-10">
								<button class="btn btn-brand" type="button" ng-click="save()">Save</button>
								<a class="btn btn-brand" type="button" ng-click="saveAndImport()">Save and Add Subscribers</a>
								<a ui-sref='public.admin.team.email.lists' class="btn btn-default">Cancel</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</form>
</div>