<div class="ui long modal"><i class="close icon"></i>
	<div class="header">
		<i class="users icon"></i>
		{{ template_data.title | translate }}
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>{{template_data.description}}</p>
			</div>

			<div class="ui menu">
				<div class="item">
					<div class="ui icon input">
						<input type="text" placeholder="Search..." ng-model="query" ng-change="paginate(true)" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu">
					<div class="item">
						<div class="ui input access_level_dropdown">
							<select ng-model="access_level_query" ng-change="paginate(true)" sui-dropdown>
								<option value="">Access Levels</option>
								<option ng-repeat="access_level in access_levels" value="{{access_level.id}}">{{access_level.name}}</option>
							</select>
							<a class="ui black deny button" ng-hide="access_level_query == '' || access_level_query == undefined" ng-click="clearFilter();">Clear</a>
						</div>
					</div>
				</div>
			</div>

			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

			<table class="ui celled striped padded structured table" ng-if="data.length > 0 && !loading" foonice>
				<thead>
					<tr>
						<th data-hide="title">User</th>
						<th data-hide="title">Access Levels</th>
						<th data-hide="title">Role</th>
						<th data-hide="all">Date</th>
						<th class="text-right">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="next_item in data | filter:$parent.query | itemsPerPage: pagination.per_page" total-items="pagination.total_count"  current-page="pagination.current_page">
						<td>
							{{next_item.user.first_name ? next_item.user.first_name + ' ' + next_item.user.last_name : next_item.user.email}}
							<br ng-hide="next_item.user.first_name" />
							<div ng-hide="!next_item.user.first_name">
								{{next_item.user.email}}
							</div>
						</td>
						<td>
							{{next_item.access_level}}
						</td>
						<td>
							{{next_item.type}}
						</td>
						<td>
							{{moment.utc(next_item.created_at).fromNow()}}
						</td>
						<td class="text-right">
							<div class="ui buttons">
								<div class="ui button">
									Edit
								</div>
								<div class="ui floating dropdown icon button" sui-dropdown>
									<i class="dropdown icon"></i>
									<div class="menu">
										<a class="item" ng-if="!isAdmin(next_item) && !isAgent(next_item) && !member.access_level_selection" ng-init="next_item.access_level_selection=false" ng-click="stopPropagation($event); next_item.access_level_selection=true">
											Grant Access Pass
										</a>
										<a class="item" ng-if="!isAdmin(next_item) && !isOwner(next_item)" ng-click="toggleAccess(next_item);next_item.access_level_selection=false">
											Make Admin
										</a>
										<a class="item" ng-if="isAdmin(next_item) && !isOwner(next_item)" ng-click="toggleAccess(next_item)">
											Revoke Admin Status
										</a>
										<a class="item" ng-if="!isAgent(next_item)" ng-click="toggleAgent(next_item);next_item.access_level_selection=false">
											Make Agent
										</a>
										<a class="item" ng-if="isAgent(next_item) && !isAdmin(next_item) && !isOwner(next_item)" ng-click="toggleAgent(next_item);next_item.access_level_selection=false">
											Revoke Agent Status
										</a>
										<a ng-if="!isOwner(next_item)" class="item" sm-delete="{{next_item.id}}">
											<i class="delete icon"></i>
											Delete
										</a>
									</div>
								</div>
							</div>


							<select ng-if="next_item.access_level_selection" ng-init="next_item.new_access_level=0" ng-model="next_item.new_access_level" class="btn btn_outline btn_small" ng-click="stopPropagation($event);">
								<option value="0">Choose Access Level</option>
								<option ng-repeat="access_level in access_levels" value="{{access_level.id}}">{{access_level.name}}</option>
							</select>
							<button class="mini ui button" ng-if="next_item.access_level_selection" ng-click="stopPropagation($event); addAccessPass(next_item);next_item.access_level_selection=false">
								{{next_item.new_access_pass_saving ? 'Saving...': 'Save'}}
							</button>
							<button class="mini ui button" ng-if="next_item.access_level_selection" ng-click="stopPropagation($event); next_item.access_level_selection=false">
								Cancel
							</button>

						</td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">
							<div class="ui pointing label">
								{{pagination.total_count}} items
							</div>
							<dir-pagination-controls max-size="5"></dir-pagination-controls>
						</th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
	<div class="actions">
		<a ui-sref="public.app.admin.members.queue" class="ui left floated left labeled icon button">
			Import History <span ng-if="active_count && active_count > 0">({{active_count}} job processing)</span>
			<i class="eye icon"></i>
		</a>
		<div class="ui black deny button" ng-click="CloseAdminState()">
			Close
		</div>
		<a href="{{apiURL}}/siteRole/getCSV?access_token={{$storage.user.access_token}}" target="_blank" class="ui right labeled icon button">
			Export
			<i class="download icon"></i>
		</a>
		<a ui-sref="public.app.admin.members.import" class="ui right labeled icon green button">
			Add / Import
			<i class="plus icon"></i>
		</a>
	</div>
</div>