<div class="ui modal"><i class="close icon"></i>
    <div class="header">
        <i class="paragraph icon"></i>
        {{page_title | translate}}
    </div>
    <div class="content">
        <div class="row wrapper wrapper-content animated fadeInRight" style="padding-top:30px;">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">

                    <div class="hr-line-dashed" style="background-color:white; margin:0px;"></div>
                    <div class="ibox-content">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="ui form ng-scope">
                                <form  novalidate>
                                    <div class="field row">
                                        <label class="col-sm-2 control-label">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="title" class="form-control ng-pristine ng-valid ng-touched" ng-model="site_notice.title" >
                                            <span class="help-block m-b-none"> Customers will see this name publicly</span>
                                        </div>
                                    </div>
                                    <div class="field row">
                                        <label class="col-md-12">Content</label>
                                    </div>
                                    <div class="field row">
                                        <div class="col-md-12" >
                                            <textarea froala ng-model="site_notice.content"></textarea>
                                        </div>
                                    </div>
                                    <div class="field row">
                                        <label class="col-md-2">Start Date</label>
                                        <div class="col-md-8">
                                            <input type="date" class="form-control " ng-model="site_notice.sdate" max-date="2020-06-22" ng-required="true" />
                                        </div>
                                    </div>
                                    <div class="field row">
                                        <label class="col-md-2">End Date</label>
                                        <div class="col-md-8">
                                            <input type="date" class="form-control " ng-model="site_notice.edate" max-date="2020-06-22" ng-required="true" close-text="Close"/>
                                        </div>
                                    </div>
                                    <div class="field row">
                                        <label class="col-md-2">Status</label>
                                        <div class="col-md-8">
                                            <input ng-if="site_notice.on==true" type="button" class="ui button btn btn-danger" value="Off" ng-click="site_notice.on=false"/>
                                            <input ng-if="site_notice.on==false" class="ui button btn btn-brand" value="On" ng-click="site_notice.on=true" type="button"/>
                                            <span ng-if="site_notice.on==true"><small style="padding:3px;margin-left:10px;" class="btn btn-warning" ng-disabled="true">Currently it is On</small></span>
                                            <span ng-if="site_notice.on==false"><small style="padding:3px;margin-left:10px;" class="btn btn-warning" ng-disabled="true">Currently it is Off</small></span>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
	<div class="actions">
		<a ui-sref="public.app.admin.members.notices" class="ui black button">
			Cancel
		</a>
		<a ng-click="save()" class="ui right labeled green icon button" ng-disabled="!next_item.title">
			Save Changes
			<i class="check icon"></i>
		</a>
	</div>
</div>