<div class="ui modal">
    <i class="close icon"></i>
    
    <div class="header">
        <i class="file outline icon"></i>
		Core Pages
    </div>
    <div class="content">
        <div class="description">

            <div class="ui divided items">
                <div class="item" ng-repeat="next_item in data">
                    <div class="image text-center">
						<i class="huge icons">
							<i class="{{next_item.icon_secondary}} icon" ng-if="next_item.icon_secondary"></i>
							<i class="{{next_item.icon}} icon"></i>
						</i>
					</div>
                    <div class="content">
                        <a class="header">{{next_item.title}}</a>
						<div class="meta">
							<span class="cinema">{{next_item.url}}</span>
						</div>
                        <div class="description">
                            <p>{{next_item.description}}</p>
                        </div>
                        <div class="extra">
							<a class="ui red small button" ng-if="next_item.template" ng-click="smModal.Show('public.administrate.site.pages.core.' + next_item.template)">
								<i class="left setting icon"></i>
								edit settings
							</a>
							<a class="ui right floated primary small button" href="{{next_item.url}}" target="_blank">
								View
								<i class="right external icon"></i>
							</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button close">
            Close
        </div>
    </div>
</div>
