<div class="ui modal">
    <div class="content">

        <form method="get" class="ui form" ng-submit="save()">

            <div class="row">
                <div class="col-md-12">
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt">
                            <h1 class="ui header"><i class="ts_icon ts_icon_pencil clear_blue"></i>{{page_title}}</h1>
                        </div>
                        <div class="panel-body">

                            <h4 class="ui header">User</h4>
                            <div class="field">
                                <style type="text/css">
                                    .select2-container {
                                        display: block !important;
                                    }
                                </style>
                                <div class="col-md-12">
                                    <select name="user_id" data-ng-options="role.user.id as role.user.first_name + ' ' + role.user.last_name + '-' + role.user.email for role in roles" ng-model="access_pass.user_id" class="no_bottom_margin" ng-open="select2()">
										
									</select>
                                    <br>
									<span class="help-block m-b-none">
											Choose which member this is for
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4 class="ui header">Access Level</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <select data-ng-options="access_level.id as access_level.name for access_level in access_levels" name="access_level_id" ng-model="access_pass.access_level_id" ng-change="accessLevelChange(access_level)" class="no_bottom_margin">
									</select>
                                    <br>
									<span class="help-block m-b-none">
										Choose which Product the member will be given
									</span>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <h4 class="ui header">Expire Date</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                  <input type="date" class="form-control input-lg" ng-model="access_pass.expired_at" max-date="'2020-06-22'" />
									<span class="help-block m-b-none">
										Set an expiration date on this Pass (or leave empty for permanent)
									</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="col-sm-8">
                                    <button class="btn btn-brand" type="submit">Save changes</button>
                                    <a ui-sref='public.admin.site.membership.passes' class="btn btn-default">Cancel</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </form>
    </div>
</div>
