<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" id="menu_toggle">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-left pull-left">
            <li class="bigger_icon_nav_container" ng-if="current_company" id="header_team_name">
                <a ui-sref="public.administrate.account.teams">
                    <i class="fa fa-building-o"></i>
                    {{current_company.name}}
                </a>
            </li>
            <li>
                <span class="m-r-sm text-muted welcome-message">

                </span>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <span class="m-r-sm text-muted welcome-message"></span>
            </li>
            <li class="dropdown" dropdown ng-hide="1">
                <a class="dropdown-toggle count-info" href dropdown-toggle>
                    Language
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs" ng-controller="translateCtrl">
                    <li><a ng-click="changeLanguage('en')">English</a></li>
                    <li><a ng-click="changeLanguage('es')">Spanish</a></li>
                </ul>
            </li>
            <li class="dropdown hide_for_mobile" ng-if="current_company" dropdown>
                <a class="dropdown-toggle count-info" href dropdown-toggle>

                    <i class="fa fa-envelope"></i> <span class="label label-warning">{{site.unread_support_ticket && site.unread_support_ticket > 0 ?  site.unread_support_ticket : ''}}</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li ng-if="site.last_responses.length == 0">
                        There is no new responses. But you have {{site.unread_support_ticket}} ticket(s) unread
                    </li>
                    <div ng-if="site.last_responses.length > 0" ng-repeat="response in site.last_responses">
                        <li>
                            <div class="dropdown-messages-box">
                                <a ui-sref="profile" class="pull-left">
                                    <img alt="image" class="img-circle" src="{{response.user.profile_image ? response.user.profile_image : 'http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y'}}">
                                </a>

                                <div>
                                    <small class="pull-right">{{moment.utc(response.created_at).fromNow()}}</small>
                                    <strong>{{response.user.first_name}}</strong> has replied <strong>{{response.parent.subject}}</strong>. <br>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <br>
                    </div>
                    <li ng-if="site.last_responses.length > 0">
                        And {{site.unread_support_ticket}} ticket(s) unread
                    </li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="public.app.admin.support.tickets">
                                <i class="fa fa-envelope"></i> <strong>View all tickets</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li ng-if="onCustomDomain() || app.subdomain != 'my'" class="bigger_icon_nav_container">
                <a ui-sref="public.app.site.home">
                    <span class="hide_for_mobile">{{site.name}}</span>
                    <i class="fa fa-globe m-l-sm"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>