<div class="modal-header">
    <h3 class="modal-title">Create a new ticket</h3>
</div>
<div class="modal-body">
    <form name="ticketForm" novalidate>
        <div class="form-group">
            <label class="col-md-3">Subject</label>
            <div class="col-md-9">
                <input type="text" ng-model="ticket.subject" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">Requester's Name</label>
            <div class="col-md-9">
                <input type="text" ng-model="ticket.user_name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">Requester's Email</label>
            <div class="col-md-9">
            <ui-select ng-model="ticket.user_email" theme="select2" ng-disabled="disabled" style="width: 300px;">
                <ui-select-match placeholder="Select or search a user...">{{$select.selected.email}}</ui-select-match>
                <ui-select-choices refresh="search_users($select.search)" repeat="user in searched_users | filter: $select.search">
                  <span ng-bind-html="user.first_name + ' ' + user.last_name | highlight: $select.search"></span>
                  <small ng-bind-html="user.email | highlight: $select.search"></small>
                </ui-select-choices>
              </ui-select>
              </div>
              <hr>
        </div>
        <div class="form-group">
            <label class="col-md-3">Assignee</label>
            <div class="col-md-9">
                <select ng-model="ticket.agent_id">
                    <option ng-repeat="agent in agents" value="{{agent.user.id}}">{{agent.user.first_name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-init="ticket.site_id = ticket.sites[0].id">
            <label class="col-md-3">Site</label>
            <div class="col-md-9">
                <select data-ng-options = "site.id as site.subdomain for site in ticket.sites" ng-model="ticket.site_id"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">Message</label>
            <div class="col-md-9">
                <textarea ng-model="ticket.message" required></textarea>
            </div>
        </div>
        <a sm-uploader="reply" ng-model="ticket.attachment"><i class="fa fa-paperclip"></i> Add attachment</a>
    </form>
</div>
<div class="modal-footer">
    <a tabindex="2" class="cancel" style="display: inline-block;" ng-click="cancel()">No, cancel!</a>
    <button ng-disabled="ticketForm.$invalid" tabindex="1" class="confirm btn btn-success" ng-click="ok(id)"
            style="display: inline-block; ">
        Create
    </button>
</div>