<div class="ui modal">
    <a ui-sref="admin.site.appearance.banner" class="btn btn-primary pull-right">
        <i class="ts_icon ts_icon_cloud_download small_right_margin"></i>
        Create New Banner
    </a>
    <p>
        Banners you can choose to display in your site sidebar
    </p>
    <div id="wrapper" style="padding-top:20px;">
        <div class="ui modal">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 tour2 animated-panel zoomIn"
                         style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;" infinite-scroll="loadMore()" infinite-scroll-distance='1' infinite-scroll-disabled="disable">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4">Banner Image</div>
                                    <div class="col-md-4">Banner URL</div>
                                    <div class="col-md-4">Created Date</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group" style="margin-left:0px;" data-as-sortable="dragControlListeners" data-ng-model="ads" >
                                    <li style="margin-top:5px;border:none;padding-left:2px;padding-right:2px; display:block;" class="list-group-item ad_items" ng-repeat="ad in ads" data-as-sortable-item data-component="{{ad}}" data-id="{{ad.id}}">
                                        <div class="row" data-as-sortable-item-handle >
                                            <div class="col-md-4">
                                                <div class="hpanel">
                                                    <div class="panel-body" style="padding:15px;">
                                                        <style>
                                                            img{
                                                                max-width :100%;
                                                            }
                                                        </style>
                                                        <a href="/admin/site/appearance/banner/{{ad.id}}">
                                                            <img ng-if="ad.banner_image_url" class="featured_image_preview img-responsive img-thumbnail" ng-src="{{ad.banner_image_url}}" style="width:auto;" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div dynamic="ad.banner_url"></div>
                                            </div>
                                            <div class="col-md-3">
                                                {{ moment.utc(ad.created_at).fromNow() }}
                                            </div>
                                            <div class="col-md-1">
                                                <a href="/admin/site/appearance/banner/{{ad.id}}">
                                                    <i class="fa fa-pencil"  style="cursor:pointer;"></i>
                                                </a>
                                                <i class="fa fa-trash delete_item"  style="cursor:pointer;" ng-click="delete(ad)">
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>