<a data-action="admin_invites_modal" class="btn float_right hide_on_mobile small_top_margin" style="display:none;">
    <i class="ts_icon ts_icon_key"></i> Invite New Members
</a>

<h1><i class="ts_icon ts_icon_key"></i> Affiliates</h1>

<section>
    <div id="admin_list">
        <p class="show_on_mobile" style="display:none;"><a href="/admin/invites" class="bold">Invite new members to your team</a>.</p>

        <div class="admin_tabs tab_set on_neutral_grey">

            <a ui-sref="admin.team.jv.stats" ui-sref-active="selected" class="tab_trigger tab">
                Dashboard
            </a>

            <a ui-sref="admin.team.jv.affiliates" ui-sref-active="selected" class="tab_trigger tab">
                Affiliates
            </a>

            <a ui-sref="admin.team.jv.teams" ui-sref-active="selected" class="tab_trigger tab">
                Teams
            </a>

            <a id=""  ui-sref="admin.team.jv.fetcher" ui-sref-active="selected" class="tab_trigger tab" data-target="jvzoo">
                JVZoo Fetcher
            </a>

            <a id="" ui-sref="admin.team.jv.leaderboards" ui-sref-active="selected"  class="tab_trigger tab" data-target="contests">
                Leaderboard
            </a>

            <i class="tab_caret ts_icon ts_icon_caret_down"></i>
            <i class="tab_caret ts_icon ts_icon_caret_up"></i>

        </div>

         <div class="tab-content bottom_margin clear_both">

            <div class="tab_pane large_bottom_padding selected">
                <ui-view></ui-view>
            </div>

        </div>
</section>
