
<h1><i class="ts_icon ts_icon_credit_card"></i> Finance </h1>

<section>

    <div id="admin_list">

        <p class="show_on_mobile" style="display:none;"><a href="/admin/invites" class="bold">Invite new members to your team</a>.</p>

        <div class="admin_tabs tab_set on_neutral_grey">
            <a ui-sref="admin.finance.summary" ui-sref-active="selected" class="tab_trigger tab">
                Revenue Summary
            </a>
            <a id="" class="tab_trigger tab" ui-sref="admin.finance.transactions" ui-sref-active="selected">
                Transactions
            </a>
            <a id="" class="tab_trigger tab" ui-sref="admin.finance.settings" ui-sref-active="selected">
                Settings
            </a>

            <a id="" class="tab_trigger secondary tab" target="_blank" ui-sref="wallboard" ui-sref-active="selected">
                Wallboard
            </a>

            <i class="tab_caret ts_icon ts_icon_caret_down"></i>
            <i class="tab_caret ts_icon ts_icon_caret_up"></i>
        </div>
        <div class="tab-content bottom_margin clear_both">
            <div class="tab_pane large_bottom_padding selected">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</section>












