    <div id="page_contents">
        <div id="message_container" class="span_4_of_6 float_none margin_auto no_right_padding"></div>
        <div class="real_content card align_center span_4_of_6 col float_none margin_auto large_bottom_margin right_padding large_bottom_padding">
            <h1> Notification preferences updated</h1>

            <div class="col span_4_of_6 float_none margin_auto large_bottom_margin">
                <p>You will no longer be sent notification emails</p>
            </div>

            <p class="subtle_silver small">
            </p>
        </div>
        
    </div>


