<div class="ui fullscreen modal">
    <i class="close icon"></i>

    <div class="header">
        <i class="sidebar icon"></i>
        Widgets
    </div>
    <div class="content">
        <div class="description">
            <div class="ui two column stackable grid container">
                <div class="column">
                    <h2 class="ui header">Available</h2>
                    <p>Drag to "In Display" to add widget to sidebar</p>

                    <div class="ui middle aligned divided animated relaxed list">
                        <div style="cursor:move;" class="ui segment" ng-repeat="widget in available_widgets" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="available_widgets" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
                            <div ng-include="'/templates/components/widgets/' + widget.type + '/available.html'" class="admin"></div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h2 class="ui header">In Display</h2>
                    <p>These are the widgets that will be displayed</p>

                    <div class="ui middle aligned divided animated relaxed list">
                        <div style="cursor:move;" class="ui segment" ng-repeat="widget in widgets track by $index" data-drop="true" ng-model="widgets" data-drag="!widget.show_settings ? true : false" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-droppable="{multiple:true, onDrop:'dropCallback(widget, $index)' }" jqyoui-draggable="{index: {{$index}},animate:true}" data-direction="{{widget.jqyouiDirection}}">
                            <div ng-if="widget.type" ng-include="'/templates/components/widgets/' + widget.type + '/chosen.html'" ng-init="chosen_widget = widget" class="admin"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>