<div class="ui large inverted fluid vertical menu" sm-access="manage_members" if-not="hide">
	<div class="item">
		<div class="header">Members</div>
		<div class="menu">
			<a class="item" ui-sref="public.app.site.home">Site Home</a>
			<a class="item" ng-click="smModal.Show('public.administrate.site.membership.members')">{{ 'MEMBERS' | translate }}</a>
			<a class="item" sm-access="manage_access_levels" if-not="hide" ng-click="smModal.Show('public.administrate.site.membership.products')">Access Levels</a>
			<a class="item" sm-access="manage_access_levels" if-not="hide" ng-click="smModal.Show('public.administrate.site.membership.passes')">{{ 'PASSES' | translate }}</a>
			<a class="item" sm-access="manage_transactions" if-not="hide" ng-click="smModal.Show('public.administrate.site.membership.transactions')">{{ 'TRANSACTIONS' | translate }}</a>
			<a ui-sref="public.app.admin.wallboard" target="_blank" class="item" sm-access="view_financial_stats" if-not="hide">{{ 'SALES_WALLBOARD' | translate }}</a>
			<a class="item" ng-if="false" ng-click="smModal.Show('public.administrate.site.membership.finance_settings')">{{ 'FINANCE_SETTINGS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.site.content.syllabus.notes')">User notes</a>
		</div>
	</div>

</div>
