<div class="twelve wide column">
	
	<div class="ui top attached header huge breadcrumb">
		<a class="section" ui-sref="public.app.forum">Forum</a>
		<i class="right arrow icon divider"></i>
		<div class="active section">{{category.title}}</div>
	</div>
	
	<div class="ui attached segment">
		<p>{{category.description}}</p>
	</div>
	<div class="ui attached segment">
		<div class="ui right labeled left icon fluid input">
			<i class="comment icon"></i>
			<input type="text" ng-model='title' placeholder="Start a new topic">
			<a class="ui tag label" ng-click='addTopic(title)'>
				<i class="plus icon"></i>
				Add New Topic
			</a>
		</div>
	</div>
	<div class="ui attached segment">

		<div class="ui link items">
			<a class="item" ui-sref="public.app.forum-topic({permalink: 'some-topic'})" ng-repeat="topic in category.topics">
				<div class="ui tiny image">
					<img src="http://semantic-ui.com/images/avatar/large/stevie.jpg">
				</div>
				<div class="middle aligned content">
					<div class="header">{{topic.title}}</div>
					<div class="description">
						<div class="ui small labels">
							<div class="ui left pointing basic label">
								{{moment.utc(topic.created_at).fromNow()}}
							</div>
							<div class="ui label" title="replies">
								<i class="comment icon"></i> 11
							</div>
							<div class="ui label" title="views">
								<i class="eye icon"></i> 337
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<pre>{{category | json}}</pre>
	</div>
	
</div>