<div class="twelve wide column">
	
	<div class="ui top attached header huge breadcrumb">
		<a class="section" ui-sref="public.app.forum">Forum</a>
		<i class="right arrow icon divider"></i>
		<div class="active section">{{category.title}}</div>
	</div>
	<div class="ui attached segment">
		<p dynamic=category.description></p>
	</div>
	<div class="ui attached segment">
		<form class="ui form" ng-submit='addTopic()'>
			<div class="field">
				<label>Title</label>
				<input ng-model='topic.title' placeholder="Title">
			</div>
			<div class="field">
				<label>Description</label>
				<textarea froala rows="2" ng-model='topic.description'></textarea>
			</div>
			<button class="ui button" type="submit">Add New Topic</button>
		</form>
	</div>
	<div class="ui attached segment">

		<div class="ui link items">
			<a class="item" ui-sref="public.app.forum-topic({permalink: topic.permalink})" ng-repeat="topic in category.topics | orderBy:'-updated_at'">
				<div class="ui tiny image">
					<img src="{{topic.user.profile_image}}">
				</div>
				<div class="middle aligned content">
					<div class="header">{{topic.title}}</div>
					<div class="description">
						<p dynamic=topic.description></p>
						<div class="ui small labels">
							<div class="ui left pointing basic label">
								{{moment.utc(topic.updated_at).fromNow()}}
							</div>
							<div class="ui label" title="replies">
								<i class="comment icon"></i> {{topic.total_replies}}
							</div>
							<div class="ui label" title="views">
								<i class="eye icon"></i> {{topic.total_views}}
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>