<!-- Wrapper-->
<div id="wrapper">

	<!-- Navigation -->
	<div ng-include="'templates/components/admin/common/navigation.html'"></div>

	<!-- Page wrapper -->
	<div ng-include="'templates/components/admin/common/topnavbar.html'"></div>

	<div id="page">
		<div id="page-wrapper">

			<!-- Main view  -->
			<div ui-view></div>

			<!-- Footer -->
			<div ng-include="'templates/components/admin/common/footer.html'" style="padding-top:50px;"></div>

		</div>
		<div id="overlay" ng-click="HideAdminMenu()"></div>
	</div>

</div>
<!-- End wrapper-->
