<h1 class="ui header"><i class="ts_icon ts_icon_pencil clear_blue"></i> Autoresponders</h1>
<div class="card clearfix content_post">
    <div id="post_col" class="col span_1_of_1">
        <form method="post" class="ui form" ng-submit="save()">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="hpanel">
                            <div class="panel-body">
                                <h3 class="ui header">Autoresponder Name</h3>
                                <div class="field">
                                    <div class="col-sm-12">
                                        <input type="text" name="name" class="form-control input-lg" ng-model="autoResponder.name">
                                        <span class="help-block m-b-none">
                                        </span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <h3 class="ui header"> Email Sequence</h3>
                                <span class="help-block m-b-none">
                                    Once you add some emails, you may drag them around to change the order they are sent out
                                </span>
                                <h4 class="ui header">Email</h4>
                                <div class="field">
                                    <div class="col-sm-9">
                                        <select class="form-control email_select" id="" placeholder="Add Email(s)" ng-init="emailId=0" ng-model="emailId">
                                            <option value="0" disabled selected>--select email--</option>
                                            <option ng-repeat="email in emails" value="{{email.id}}">{{email.subject}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href ng-click="addEmail()" data-bypass="true" class="btn btn-success btn-block email_add" style="height:52px;font-size:24px;line-height:36px;">add</a>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-7">Email</div>
                                        <div class="col-md-5">Delay to send after previous email</div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                <ul class="list-group" style="margin-left:0px;" data-as-sortable="dragControlListeners" data-ng-model="autoResponder.emails" >
                                    
                                    <li style="margin-top:5px;border:none;" class="list-group-item email_item" data-as-sortable-item data-component="{{email}}" data-id="{{email.id}}" ng-repeat="email in autoResponder.emails">
                                        <div class="row" data-as-sortable-item-handle>
                                            <div class="col-md-7">
                                                {{email.subject}}
                                            </div>
                                            <div class="col-md-4">
                                                <select ng-model="email.delay"
                                                        class="form-control pull-left" style="width:75px;">
                                                        <option ng-repeat="n in range(0,30)" ng-selected="n==email.delay" value="{{n}}">{{n}}</option>
                                                </select>

                                                <select ng-model="email.unit"
                                                        class="form-control pull-left" style="margin-left:5px;width: 120px;">
                                                    <option value="1" selected>Hours</option>
                                                    <option value="2">Days</option>
                                                    <option value="3">Months</option>
                                                </select>

                                            </div>
                                            <div class="col-md-1">
                                                <span class="pull-right glyphicon glyphicon-trash" style="cursor:pointer;" ng-click="removeEmail(email.email_id)"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                                </div>

                                <h3 class="ui header">Email lists</h3>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div class="row">
                                        <label class="col-md-12 ">
                                            <div class="col-md-1"></div>
                                            <span class="col-md-2" style="text-align:center" >Name</span> 
                                            <span style="font-weight:bold;text-align:center;" class="col-md-4">Total subscribers</span>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                    <ul class="list-group col-md-12" style=" margin-left:0px; max-height: 450px;overflow-y: auto;" ng-repeat="list in emailLists">
                                        <li class="list-group-item row" style="margin-left:2px;">
                                            <label class="col-md-12">
                                                <input class="col-md-1" type="checkbox" ng-model="autoResponder.lists[list.id]"/><span class="col-md-3" >{{list.name}}</span> 
                                                <small style="font-weight:bold;" class="col-md-7">{{list.total_subscribers}} subscribers</small>
                                            </label>
                                        </li>
                                    </ul>
                                    </div>
                                </div>

                   
                                <div class="field">
                                    <div class="col-sm-8">
                                    <button class="btn btn-brand" type="submit">Save changes</button>
                                    <a ui-sref="public.admin.team.email.autoresponders" class="btn btn-default">Cancel</a>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="hpanel">

                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
