<a ui-sref="admin.app.access.doors" class="link {{$state.includes('admin.app.access.doors') || $state.includes('admin.app.access.door') ? 'active' : ''}} item">
	<i class="protect icon"></i>
	Doors
</a>
<a ui-sref="admin.app.access.keys" class="link {{$state.includes('admin.app.access.keys') || $state.includes('admin.app.access.edit-key') ? 'active' : ''}} item">
	<i class="privacy icon"></i>
	Keys
</a>

<div class="right ui inverted app_shortcuts_container menu {{show_admin_mobile_top_nav || 'mobile hidden'}}">
	<div ng-if="$state.includes('admin.app.access.doors') || $state.includes('admin.app.access.door')" class="ui search item {{searchLoading? 'loading': ''}}" sui-search url="http://api-3.{{app.domain}}/door" name="Doors" route="door" redirect="access/edit-door/" api="3" >
		<!-- <div class="ui icon input">
			<input class="prompt" type="text" placeholder="Search by name">
			<i class="search icon"></i>
		</div>
		<div class="results"></div> -->
	</div>

	<div ng-if="$state.includes('admin.app.access.keys') || $state.includes('admin.app.access.keys')" class="ui search item {{searchLoading? 'loading': ''}}" sui-search url="http://api-3.{{app.domain}}/key" name="Keys" route="key" redirect="access/edit-key/" api="3" >
		<!-- <div class="ui icon input">
			<input class="prompt" type="text" placeholder="Search by name">
			<i class="search icon"></i>
		</div>
		<div class="results"></div> -->
	</div>


</div>