<div id="page">
    <div id="page_contents">
        <section class="intro" id="top" style="margin-bottom:0rem">
            <div class="col margin_auto float_none align_center bottom_padding no_right_padding">
                <h1 class="large align_center">The Blog</h1>

                <h2 class="align_center">Tips, tricks, & random bits of "oh, that's cool"<br>
                    straight from the folks at <em>smart member</em>.</h2>
            </div>
        </section>
        <div class="" infinite-scroll="loadMore()" infinite-scroll-distance='1' infinite-scroll-disabled="disable">
            <section class=" blog_container clearfix top" style="padding: 3rem 0 0 0;" ng-repeat="blogPost in blogPosts">
                <div class="section_content" style="padding: 1rem 0;">
                    <div class="col span_4_of_6">
                        <h1 class=" break_word black no_bottom_margin">
                            <span class="emoji_replace_on_load">{{blogPost.title}}</span>
                        </h1>

                        <p class="small subtle_silver no_bottom_margin">
                            Published on <span class="date">{{formatDate(blogPost.created_at)}}</span>.
                            <span class="file_share_list"></span>
                        </p>
                    </div>
                    <div class="col span_2_of_6">
                        <div class="authorbox top_margin">

                            <a href="http://facebook.com/JohnRazmus" target="_blank" ng-if="blogPost.author.profile_image" class="lazy member_preview_link member_image thumb_36" style="background-image: url('{{blogPost.author.profile_image}}')"></a>
                            <a href="http://facebook.com/JohnRazmus" target="_blank" ng-if="!blogPost.author.profile_image" class="lazy member_preview_link member_image thumb_36" style="background-image: url('https://secure.gravatar.com/avatar/{{blogPost.author.email_hash}}.jpg?s=48')"></a>

                            <span class="real_name">{{blogPost.author.first_name}} {{blogPost.author.last_name}}</span>
                            <br>
                            <span class="other_info">
                                <a href="http://twitter.com/JohnRazmus" target="_blank" class="indifferent_grey">@twitter</a>
                                <span class="bullet">&bullet;</span>
                                <a href="http://fb.com/JohnRazmus" target="_blank" class="indifferent_grey">fb</a>
                            </span>

                        </div>

                    </div>
                    <div class="clearfix"></div>


                    <div id="file_page" class="card">
                        <div class="col span_6_of_6 ">
                            <img src="{{blogPost.featured_image}}" alt="" />
                            <div class="post_body" dynamic="blogPost.summary">

                            </div>
                        </div>
                        <a class=" btn btn_outline float_right small_right_margin" href="/blog/{{blogPost.permalink}}">full post</a>

                        <div class="clear_both"></div>
                    </div>

                </div>
            </section>
        </div>

    </div>
</div>