<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} ClickBank App
	</div>
	<div class="content">
		<div class="description">
			<h3 class="ui horizontal divider header">
				<i class="magic icon"></i>
				Setup Instructions
			</h3>

			<div class="ui ignored positive message">
				<p>Follow these steps to install the {{integration.name}} app.</p>
			</div>

			<div class="ui styled fluid accordion" sui-accordion>
				<h3 class="ui top attached header title active">
					<i class="dropdown icon"></i>
					Step 1
				</h3>
				<div class="ui attached segment content active">
					<p>Go to Clickbank and set up your product. You can use your own thank you page or paste SM thank you page URL here</p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/00e30c93-de7b-40a3-8103-0c6924755e63/02.11.2016-12.20.png">
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 2
				</h3>
				<div class="ui attached segment content">
					<p>Click on Settings -> My Site</p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/928f63e6-f7c1-48d7-850d-a4d0b8d750fe/02.11.2016-13.04.png">
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 3
				</h3>
				<div class="ui attached segment content">
					<p>Click on Edit in the Advanced Tools section</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/6da1433f-a126-439f-b8cd-767fd9f43d10/02.11.2016-13.05.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 4
				</h3>
				<div class="ui attached segment content">
					<p>Copy the ClickBank IPN URL and paste it here. Set your secret key to "IMBINC". Press Save Changes after you are done</p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/1374dac0-b3c2-42ee-83ef-3b9992e53fad/02.11.2016-13.09.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 5
				</h3>
				<div class="ui attached segment content">
					<p>Go back My Products and copy the product ID</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/0497d514-54b9-4c77-8594-275536263b23/02.11.2016-13.11.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 6
				</h3>
				<div class="ui attached segment content">
					<p>Go to your SmartMember admin area, click on Build -> Access levels. Add new access level or edit existing one</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/3d34f74f-57d7-49e2-a8f9-5c1f6923b702/02.11.2016-13.12.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 8
				</h3>
				<div class="ui attached segment content">
					<p>Go to the ClickBank Settings and paste your ClickBank Product ID into the textbox. Save your changes after you are done</p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/5ee98978-8565-4f2f-b8ba-f35dc4386daa/02.11.2016-13.16.png">
				</div>
			</div>

			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>
			<div class="ui segment form">
				<div class="field">
					<label>Use this as your ClickBank IPN url</label>

					<div class="ui action input" ng-init="init()">
						<input type="text" class="endpoint-api" id="copy_me" value="{{app.apiUrl + '/transaction?type=clickbank&subdomain=' + current_site.subdomain}}">
						<button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="app.apiUrl + '/transaction?type=clickbank&subdomain=' + current_site.subdomain" ng-click="copied()">
							<i class="copy icon"></i>
							Copy
						</button>
					</div>
				</div>
				<div class="field">
					<label>Use this as your Thank You Page url (optional)</label>

					<div class="ui action input">
						<input type="text" class="endpoint-api" id="copy_me2" value="{{'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'}}">
						<button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me2" data-clipboard-action="copy" clip-copy="'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'" ng-click="copied()">
							<i class="copy icon"></i>
							Copy
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<button ng-click="saveIntegration()" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>
