<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} Facebook Groups App
	</div>
	<div class="content">
		<div class="description">
			<h3 class="ui horizontal divider header">
				<i class="magic icon"></i>
				Setup Instructions
			</h3>

			<div class="ui ignored positive message">
				<p>Follow these steps to install the {{integration.name}} app.</p>
			</div>

			<div class="ui styled fluid accordion" sui-accordion>
				<h3 class="ui top attached header title active">
					<i class="dropdown icon"></i>
					Step 1
				</h3>
				<div class="ui attached segment content active">
					<p>Go to <a href="https://developers.facebook.com/" target="_blank">developers.facebook.com</a> and Log In. Then Click "Add a New App"</p>
					<img class="ui medium bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/965f1f88-599e-462e-9532-4e0c7f8ab13e/2015-12-31_0158.png">
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 2
				</h3>
				<div class="ui attached segment content">
					<p>Choose the "Website" (WWW) option.</p>

					<img class="ui medium bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/4d6b0e1d-7010-4624-8f15-27b10fdf89e5/2015-12-31_0201.png">
				</div>
				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 3
				</h3>
				<div class="ui attached segment content">
					<p>Type a Name for Your Facebook Group, then click "Create New Facebook App ID"</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/c5ed09ce-321c-4905-86e2-51cff8557941/2015-12-31_0205.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 4
				</h3>
				<div class="ui attached segment content">
					<p>Click "Skip Quick Start" button</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/f1220d37-9f31-4f22-86e7-bb704d62bb71/2015-12-31_0212.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 5
				</h3>
				<div class="ui attached segment content">
					<p>Click "Skip Quick Start" button</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/f1220d37-9f31-4f22-86e7-bb704d62bb71/2015-12-31_0212.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 6
				</h3>
				<div class="ui attached segment content">
					<p>Click "Show" on App Secret, Then COPY over App ID and App Secret to Smart Member</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/1886d5ea-324b-49fd-ab0b-095b1e7d66ec/2015-12-31_0218.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 7
				</h3>
				<div class="ui attached segment content">
					<p>Click "Choose a Platform" and select "website"</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/1b3b54ab-e098-462e-b300-c63643269213/2015-12-31_0221.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 8
				</h3>
				<div class="ui attached segment content">
					<p>Go to Settings. Click "add Platform." Type in your specific Smart Member site (or mapped domain), and click "Save Changes"</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/856739c3-344c-4308-83a5-eb4409838a04/2015-12-31_0229.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 9
				</h3>
				<div class="ui attached segment content">
					<p>Put a link to your site's privacy policy inside of the FB app settings to avoid the group being shut down</p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/shinobikni/folders/Snagit/media/e9bc228e-5cae-48ac-a7c2-f0cffb2b4ba7/02.09.2016-21.14.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 10
				</h3>
				<div class="ui attached segment content">
					<p>Fill in your contact email in order to publish your app </p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/shinobikni/folders/Snagit/media/076cd8c4-5417-46d8-ae51-d3d23c82da4f/02.09.2016-21.05.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 11
				</h3>
				<div class="ui attached segment content">
					<p>Publish your app </p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/shinobikni/folders/Snagit/media/9a4c16c9-65f5-43e1-8894-5b9f6aa4e2d7/02.09.2016-21.09.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 12
				</h3>
				<div class="ui attached segment content">
					<p>Create a new group </p>
					<img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/1a5d5b6a-9d4e-4c41-a1ba-b47d70d1d12e/02.11.2016-17.35.png">
				</div>

				<h3 class="ui attached header title">
					<i class="dropdown icon"></i>
					Step 13
				</h3>
				<div class="ui attached segment content">
					<p>Go to your Product Access Level and select your Group in the Drop down</p>

					<img class="ui fluid bordered image" src="http://content.screencast.com/users/Cainb2011/folders/Jing/media/8ec0edea-a91d-4004-94cf-ead9fdd2d6b6/2015-12-31_0238.png">
				</div>

			</div>
			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>

			<div class="ui segment form" ng-submit="saveIntegration()">

				<div class="field">
					<label>Facebook App ID</label>
					<input type="text" ng-model="current_integration.username">
				</div>

				<div class="field">
					<label>Facebook App Secret Key</label>
					<input type="password" ng-model="current_integration.password">
				</div>

				<div class="field">
					<label ng-show="(current_integration.username && current_integration.password) || (current_integration.name && current_integration.remote_id)">
						Facebook Group
					</label>
				</div>
				<div class="field" ng-if="current_integration.name && current_integration.remote_id">
					{{current_integration.name}}
					<a class="ui button" ng-click="addGroup()" ng-show="current_integration.username && current_integration.password">
						re-create group
					</a>
				</div>
				<div class="field" ng-show="current_integration.username && current_integration.password && !current_integration.name && !current_integration.remote_id">
					<a class="ui button" ng-click="addGroup()">
						create new group
					</a>
				</div>

			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<button ng-click="saveIntegration()" ng-disabled="(!current_integration.username || !current_integration.password)" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>
