<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} Stripe App
	</div>
	<div class="content">
		<div class="description">

			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>

			<div class="ui segment form">
				<div class="field">
					<label>Choose Stripe Account</label>
					<select class="ui dropdown" ng-model="current_integration.connected_account_id" sui-dropdown>
						<option value="">Accounts</option>
						<optgroup label="Accounts">
							<option ng-repeat="account in account_choices" ng-selected="current_integration.connected_account_id == account.id" value="{{account.id}}">
								{{account.name ? account.name : (account.username ? account.username : account.remote_id)}}
							</option>
						</optgroup>
					</select>
				</div>
				<div class="field">
					<label></label>
					<button class="ui linkedin button" ng-click="connectStripeAccount()">
						<i class="stripe icon"></i>
						connect new account
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<button ng-click="saveIntegration()" ng-disabled="!current_integration.connected_account_id || current_integration.connected_account_id == 0" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>