<ng-include src="'templates/components/public/www/common/menu.html'" ></ng-include>

<div class="masthead segment {{background_class}}" id="home_background_container">
	<div class="ui container">
		<div class="ui very padded inverted segment">
			<h1 class="ui inverted header">
				<span class="library">
					How would you like to grow?
				</span>

				<span class="tagline">
					Join like-minded people in communities across the globe.
				</span>
			</h1>
			<div class="ui hidden divider"></div>

			<div class="ui form">
				<div class="ui fluid huge action input">
					<input type="text" name="search" ng-model="searchQueryMembershipSites" placeholder="Find a membership on virtually anything" required>
					<a class="ui huge red icon button" ui-sref="public.www.memberships({'searchQuery': searchQueryMembershipSites})">
						<i class="search icon"></i>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="feature alternate ui stripe vertical segment text-center">

	<div class="ui container">
		<div class="ui four small statistics">
			<div class="red statistic">
				<div class="above label">
					Over
				</div>
				<div class="value">
					{{stats.members_count | number}}
				</div>
				<div class="label">
					Members
				</div>
			</div>
			<div class="blue statistic">
				<div class="above label">
					More than
				</div>
				<div class="value">
					{{stats.sites_count | number}}
				</div>
				<div class="label">
					Sites to join
				</div>
			</div>
			<div class="purple statistic">
				<div class="above label">
					More than
				</div>
				<div class="value">
					{{stats.content_count | number}}
				</div>
				<div class="label">
					Pages to experience
				</div>
			</div>
			<div class="green statistic">
				<div class="above label">
					Over
				</div>
				<div class="value">
					${{stats.revenue_count | number}}
				</div>
				<div class="label">
					In memberships purchased
				</div>
			</div>
		</div>
	</div>

</div>

<div class="ui vertical promo stripe intro segment">
	<div class="ui container">

		<div class="ui four doubling stackable link site cards">
			<a ui-sref="public.www.membership({permalink: next_item.site.subdomain})" class="card" ng-repeat="next_item in sites">
				<div class="image flex_center">
					<img class="ui centered middle aligned image" src="{{next_item.image ? next_item.image : (next_item.logo ? next_item.logo : '/images/image.png')}}">
				</div>
				<div class="content">
					<div class="header">{{next_item.title}}</div>
					<div class="meta">
						<span class="date">{{next_item.site.user.first_name+" "+next_item.site.user.last_name}}</span>
					</div>
				</div>
				<div class="extra">
					Rating:
					<div class="ui star rating" ng-model="rating" initial-rating="{{next_item.avg_rating | number:0}}" sui-rating></div>
				</div>
				<div class="extra content">
					<span class="right floated">
						<strong>{{next_item.pricing}}</strong>
					</span>
					<span>
						<i class="users icon"></i>
						{{next_item.total_members | number}}
					</span>
				</div>
			</a>
		</div>

		<div class="ui hidden clearing section divider"></div>
		<a ui-sref="public.www.memberships" class="fluid ui red massive button">Browse memberships</a>

		<div class="ui hidden clearing section divider"></div>
		<div class="ui hidden clearing section divider"></div>

		<div class="text-center">
			<h1 class="ui header">
				Ready to join a membership?
				<div class="sub header">
					Take your business to the next level!
				</div>
			</h1>

			<a href="http://my.smartmember.com/sign/up/" class="ui green massive button">Sign Up</a>
		</div>
	</div>
</div>