@-webkit-keyframes progress_bar {
	from {
		background-position: 0 0
	}
	to {
		background-position: -56px 0
	}
}

@-moz-keyframes progress_bar {
	from {
		background-position: 0 0
	}
	to {
		background-position: -56px 0
	}
}

@keyframes progress_bar {
	from {
		background-position: 0 0
	}
	to {
		background-position: -56px 0
	}
}

html {
	height: 100%
}

body {
	position: relative;
	min-height: 100%;
	padding: 0px
}

@media only screen and (max-width: 767px) {
	body {
		padding-bottom: 200px
	}
}

@media only screen and (max-width: 320px) {
	body {
		padding-bottom: 800px
	}
}

footer {
	border-top: 1px solid #e8e8e8;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: #ffffff;
	padding: 60px 0;
	color: #9e9ea6
}

footer section {
	clear: both;
	box-sizing: border-box;
	max-width: 1014px;
	padding: 0 1.5rem !important;
	margin: 0 auto
}

footer section h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	margin: 0
}

footer section p {
	line-height: 26px
}

footer section .grid {
	width: 100%
}

footer section .grid:after, footer section .grid:before {
	content: " ";
	font-size: 0;
	display: table
}

footer section .grid:after {
	clear: both
}

footer .ts_icon_slack_pillow {
	display: inline-block;
	width: 40px;
	height: 40px;
	color: #babbbf
}

footer .ts_icon_slack_pillow:before {
	font-size: 40px;
	line-height: 40px
}

footer small {
	display: block;
	font-size: 12px;
	line-height: 16px;
	margin: 5px 0 0
}

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

footer ul a, footer ul a:link, footer ul a:visited {
	font-size: 16px;
	color: #9e9ea6;
	text-decoration: none
}



footer.footer_dark {
	padding: 40px 0 20px;
	background: transparent;
	border-top: 1px solid rgba(255, 255, 255, .1);
	position: relative;
}

.optin footer.footer_dark {
	position: absolute;
}

@media only screen and (max-width: 767px) {
	footer {
		padding: 30px 0 40px
	}

	footer .nav_col:not(.mobile_col) {
		width: 50% !important;
		margin: 0
	}

	footer li {
		display: block;
		margin-top: 1rem
	}

	footer.footer_dark {
		padding: 15px 0 20px;
	}
}

@media only screen and (max-width: 320px) {
	footer .nav_col:not(.mobile_col) {
		width: 100% !important
	}
}


footer.footer_dark ul a {
	color: #a0a0a2
}