<div class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        <i class="paragraph icon"></i>
        {{ template_data.title | translate }}
    </div>
    <div class="content">

        <div class="row">
            <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                <div class="hpanel">
                    <div class="panel-body">
                        <form method="get" class="ui form save_form">
                            <div class="field row">
                                <label class="col-sm-2 control-label">Create Account URL</label>

                                <div class="col-sm-10">
                                    <a class="select_Homepage" popover-template="1" popover-is-open="site_options.isOpen"
                                       popover-title="Enter item url" ng-click="site_options.isOpen=true"
                                       data-html="true">{{ site_options.create_account_url || 'Select url' }}
                                    </a>

                                    <div url-selector ng-model="site_options"></div>
                                        <span class="help-block m-b-none">
                                            By default this will use the sales page for your site
                                        </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="field row">
                                <label class="col-sm-2 control-label">Set text to display on login page</label>

                                <div class="col-sm-10">
                                    <textarea froala ng-model="site_options.login_page_text"></textarea>
                                    <span class="help-block m-b-none">
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div ng-click="save()" class="ui right labeled icon button">
           Save changes
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button close">
            Close
        </div>
    </div>
</div>
