<div ng-if="loading" class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
</div>
<div ng-if="!loading" class="card clearfix large_top_margin">
    <h4 style="margin-bottom:20px;">Configure JVZoo Payments for <strong>{{current_site.name}}</strong></h4>
    <div class="clear_both"></div>
    <div class="col span_2_of_6 small">
        Set this Url as your JVZIPN Url.
    </div>
    <div class="col span_4_of_6 ">
        <label class="small">
            <div class="input-group" ng-init="init()">
                <input class="form-control input-lg endpoint-api" id="copy_me" disabled value="{{app.apiUrl + '/transaction?type=jvzoo&subdomain=' + current_site.subdomain}}" />
                    <span class="input-group-btn">
                        <a class="btn btn-brand copy-button" style="height:45px;"  data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="app.apiUrl + '/transaction?type=jvzoo&subdomain=' + current_site.subdomain" ng-click="copied()" >Copy</a>
                    </span>
            </div>
        </label>
    </div>
    <div class="clear_both"></div>
    <div class="col span_2_of_6 small">
        Set this Url as the thank you page in your JVZoo product if you wish to use the built in thank you page.
    </div>
    <div class="col span_4_of_6 ">
        <label class="small">
            <div class="input-group">
                <input class="form-control input-lg endpoint-api" id="copy_me2" disabled value="{{'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'}}" />
                    <span class="input-group-btn">
                        <a class="btn btn-brand copy-button" style="height:45px;" data-clipboard-target="#copy_me2" data-clipboard-action="copy" clip-copy="'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'" ng-click="copied()" >Copy</a>
                    </span>
            </div>
        </label>
    </div>
    <div class="clear_both"></div>
    <h4 style="margin-bottom:20px;">To enable automatic login for your customers, set up the JVZIPN Secret Key on your </h4>
</div>