<div class="twelve wide column">

	<h2 class="ui top attached header section_background_color">
		{{leaderboard.contest.title}}
	</h2>
	<div class="ui attached clearing segment section_background_color" ng-init="full_display=false">

		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>

		<img ng-src="{{leaderboard.contest.featured_image}}" ng-if="leaderboard.contest.featured_image" class="ui fluid image">

		<div ng-if="leaderboard.contest.content" class="ui segment basic" dynamic="leaderboard.contest.content"></div>

		<div ng-if="leaderboard.contest.content" class="ui horizontal divider">
			stats
		</div>

		<div class="ui grid text-center">
			<div class="one column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 1">

					<div class="ui huge statistic green segment">
						<div class="value">
							#{{rank.position}}
						</div>
						<div class="label">
							{{rank.affiliate_name}}
							<span ng-if="limit_qty > 20" sm-access="view_affiliate_stats" if-not="hide"></span>
						</div>
						<div class="ui red floating label">{{rank.rank}}</div>
					</div>
				</div>
			</div>
			<div class="two column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 3" ng-if="key >= 1">

					<div class="ui large statistic basic segment">
						<div class="value">
							#{{rank.position}}
							<div class="ui top right attached tiny label">{{rank.rank}}</div>
						</div>
						<div class="label">
							{{rank.affiliate_name}}
						</div>
					</div>
				</div>
			</div>
			<div class="three column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 6" ng-if="key >= 3">

					<div class="ui statistic basic segment">
						<div class="value">
							#{{rank.position}}
							<div class="ui top right attached tiny label">{{rank.rank}}</div>
						</div>
						<div class="label">
							{{rank.affiliate_name}}
						</div>
					</div>
				</div>
			</div>
			<div class="four column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 10" ng-if="key >= 6">

					<div class="ui small statistic basic segment">
						<div class="value">
							#{{rank.position}}
							<div class="ui top right attached tiny label">{{rank.rank}}</div>
						</div>
						<div class="label">
							{{rank.affiliate_name}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<table class="ui celled padded table m-t-lg">
			<thead>
				<tr>
					<th>Individual Affiliates</th>
					<th class="text-center">Rank</th>
					<th class="text-center">
						Total {{leaderboard.contest.type == 'leads' ? "Leads" : ""}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key,rank) in leaderboard.ranking | limitTo: (full_display ? 100000 : 25)" ng-if="key >= 10">
					<td class="single line">
						{{rank.affiliate_name}}
					</td>
					<td>
						<h2 class="ui center aligned header">{{rank.position}}</h2>
					</td>
					<td class="center aligned">
						<div class="ui label">{{rank.rank}}</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="ui grid text-center" sm-access="view_affiliate_stats" if-not="hide" ng-if="leaderboard.total_ranks && full_display">
			<div class="one column row">
				<div class="column">
					<div class="ui statistic">
						<div class="value">
							{{leaderboard.total_ranks}}
						</div>
						<div class="label">
							{{leaderboard.contest.type == 'leads' ? 'Leads' : 'Sales'}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<a sm-access="view_affiliate_stats" if-not="hide" ng-click="full_display = !full_display" class="ui center labeled green icon button" style="margin-top:10px;">
			{{full_display ? 'View Normal Stats' : 'View Full Stats'}}
			<i class="eye icon"></i>
		</a>

	</div>


</div>