<div class="twelve wide column">

	<h2 class="ui top attached header section_background_color">
		{{leaderboard.contest.title}}
	</h2>
	<div class="ui attached clearing segment section_background_color">

		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>


		<div class="ui grid text-center">
			<div class="one column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 1">

					<div class="ui huge statistic segment">
						<div class="value">
							{{rank.position}}
						</div>
						<div class="label">
							{{rank.affiliate_name}}
						</div>
					</div>
				</div>
			</div>
			<div class="two column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 3" ng-if="key >= 1">

					<div class="ui large statistic segment">
						<div class="value">
							{{rank.position}}
						</div>
						<div class="label">
							{{rank.affiliate_name}}
						</div>
					</div>
				</div>
			</div>
			<div class="three column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 6" ng-if="key >= 3">

					<div class="ui statistic segment">
						<div class="value">
							{{rank.position}}
						</div>
						<div class="label">
							{{rank.affiliate_name}}
						</div>
					</div>
				</div>
			</div>
			<div class="four column row">
				<div class="column" ng-repeat="(key,rank) in leaderboard.ranking | limitTo: 10" ng-if="key >= 6">

					<div class="ui small statistic segment">
						<div class="value">
							{{rank.position}}
						</div>
						<div class="label">
							{{rank.affiliate_name}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<table class="ui celled padded table" ng-init="limit_qty = 20;">
			<thead>
				<tr>
					<th>Individual Affiliates</th>
					<th class="text-center">Rank</th>
					<th class="text-center" sm-access="view_affiliate_stats" if-not="hide">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key,rank) in leaderboard.ranking | limitTo: limit_qty" ng-if="key >= 10">
					<td class="single line">
						{{rank.affiliate_name}}
					</td>
					<td>
						<h2 class="ui center aligned header">{{rank.position}}</h2>
					</td>
					<td class="center aligned" sm-access="view_affiliate_stats" if-not="hide">
						{{rank.rank}}
					</td>
				</tr>
			</tbody>
		</table>

		<div class="ui grid text-center" sm-access="view_affiliate_stats" if-not="hide" ng-if="leaderboard.total_ranks && limit_qty > 20">
			<div class="one column row">
				<div class="column">
					<div class="ui statistic">
						<div class="value">
							{{leaderboard.total_ranks}}
						</div>
						<div class="label">
							Sign-ups
						</div>
					</div>
				</div>
			</div>
		</div>

		<a sm-access="view_affiliate_stats" if-not="hide" ng-click="limit_qty > 20 ? limit_qty = 10 : limit_qty = 1000000;" class="ui center labeled green icon button" style="margin-top:10px;">
			{{limit_qty > 20 ? 'View Less' : 'View All'}}
			<i class="eye icon"></i>
		</a>
		<img ng-src="{{leaderboard.contest.featured_image}}" class="featured_image_preview img-responsive img-thumbnail" ng-show="leaderboard.contest.featured_image"/>


	</div>


</div>