<div class="row" style="margin-left: auto;margin-right: auto;" ng-init="init()">
    <div class="ui grid">
        <div class="twelve wide column" ng-if="loading">
            <div class="ui segment" style="min-height:200px;min-width:500px;">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column" ng-if="!loading">

            <div class="ui piled segment section_background_color">
                <h1 class="grey lighter smaller">
                    {{leaderboard.contest.title}}
                </h1>
                <div sm-access="view_affiliate_stats" if-not="hide" class="ui statistic" ng-if='leaderboard.total_ranks'>
                  <div class="value">
                    {{leaderboard.total_ranks}}
                  </div>
                  <div class="label">
                    Sign-ups
                  </div>
                </div>
                <div class="table-responsive">
                    <table class="ui celled padded table" ng-init="limit_qty = 10;">
                        <thead>
                        <tr>
                            <th>Affiliate / Team</th>
                            <th>Rank</th>
                            <th>Total</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="rank in leaderboard.ranking | limitTo: limit_qty">
                            <td class="single line">
                                {{rank.affiliate_name}}
                            </td>
                            <td>
                                <h2 class="ui center aligned header">{{rank.position}}</h2>
                            </td>
                            <td class="right aligned">
                                {{rank.rank}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a sm-access="view_affiliate_stats" if-not="hide" ng-click="limit_qty > 10 ? limit_qty = 10 : limit_qty = 1000000;" class="ui center labeled green icon button" style="margin-top:10px;">
                    {{limit_qty > 10 ? 'View Less' : 'View All'}}
                    <i class="eye icon"></i>
                </a>
                <img ng-src="{{leaderboard.contest.featured_image}}" class="featured_image_preview img-responsive img-thumbnail" ng-show="leaderboard.contest.featured_image" />
            </div>

        </div>
    </div>

</div>