<script type="text/ng-template" id="2">
    <div class="row">
        <div class="col-sm-1 pull-right">
            <a href class="pull-right" ng-click="saveAccessLevel(model , $parent.module , type);$parent.isOpen=false"><i class="fa fa-check btn"></i></a>
        </div>
        <div class="col-sm-1 col-sm-offset-9">
            <a href class="pull-right" ng-click="$parent.isOpen = false"><i class="fa fa-ban btn"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a ng-click="model.access_level_type=4" style="color:#439fe0"><p class="{{model.access_level_type==4 ?'text-danger' : ''}}">Draft (private)</p></a>
        </div>
        <div class="col-lg-3">
            <a ng-click="model.access_level_type=3" style="color:#439fe0"><p class="{{model.access_level_type==3 ?'text-danger' : ''}}">Free Members</p></a>
        </div>
        <div class="col-lg-3">
            <a ng-click="model.access_level_type=2" style="color:#439fe0"><p class="{{model.access_level_type==2 ?'text-danger' : ''}}">Paid Members</p></a>
        </div>
        <div class="col-lg-3">
            <a ng-click="model.access_level_type=1" style="color:#439fe0"><p class="{{model.access_level_type==1 ?'text-danger' : ''}}">Public</p></a>
        </div>
    </div>
    <select class="form-control" ng-model="model.access_level_id" ng-if="model.access_level_type==2">
        <option ng-repeat="access_level in $parent.access" ng-selected="access_level.value==model.access_level_id" value="{{access_level.value}}">{{access_level.text}}
    </select>
</script>