<div class="ui modal">
    <div class="ui content">
        <form class="form-horizontal save_form">
            <div class="form-group">
                <label >Category title</label>
                <div>
                    <input type="text" name="title" ng-model="title">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="actions">
                <a class="ui black deny button close" >Cancel</a>
                <button class="ui right labeled icon button" ng-click="ok();"><i class="fa fa-plus"></i>Save changes</button>
            </div>
        </form>
    </div>
</div>