<!-- <div class="modal-header">
    <h3 class="modal-title" dynamic="$parent.title"></h3>
</div>
<div class="modal-body">
    <div>
        <strong>{{lessonsNotification.length}} new lessons added in course</strong>
    </div>
    <div style='border: 1px solid #eee;padding:3px;'>
        <div  dynamic="$parent.content">

        </div>
    </div>
    <div class="sa-icon sa-warning pulseWarning" style="display: block;">
        <span class="sa-body pulseWarningIns"></span>
        <span class="sa-dot pulseWarningIns"></span>
    </div>
</div>
<div class="modal-footer">
    <button tabindex="2" class="cancel btn btn-primary" style="display: inline-block;" ng-click="ok()">ok</button>
</div>
 -->
<div class="inmodal">
    <div class="modal-header" style='padding-bottom: 10px; border-bottom: 1px solid #eee; text-align: center' >
        <i class="fa fa-laptop fa-3x modal-icon" style='display: block; clear: both'></i>
        <strong>{{lessonsNotification.length}} new lessons added in course</strong>
    </div>
    <div class="modal-body">
        <p><div dynamic="$parent.content"></div></p>
    </div>
    <div class="modal-footer" style='margin-top: 20px;'>
        <button type="button" style='padding: 10px; float: right; border-radius: 4px' class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</div>

