<div class="ui small modal upload" ><i class="close icon"></i>
	<div class="header no-border asd">
		<div class="ui top attached tabular menu" sui-tabs>
			<a class="item active" data-tab="upload">{{mediaTab}}</a>
			<a class="item" ng-if="!hide_media" ng-click="mediaTab.status='true';" data-tab="media_files">Media Files</a>
			<a class="item" data-tab="youzign" ng-click="mediaTab.status='false';">Youzign Files</a>
		</div>
	</div>
	<div class='content'>
		<div class="ui bottom attached tab segment no-border active" data-tab="upload">
			<style>
				.drop-box.dragover {
					border: 2px solid #21ba45 !important;
				}

				.drop-box.dragover-err {
					border: 2px solid #db2828 !important;
				}
			</style>

			<div class="ui center aligned segment dropzone drop-box" ngf-select="" ngf-drop="" ng-model="files" ngf-multiple="multiple" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-drop-available="dropAvailable">
				<div class="ui active dimmer" ng-if="loading">
					<div class="ui text loader">Uploading...</div>
				</div>
				<i class="massive circular download grey icon"></i>

				<h3 class="ui center aligned icon header">
					<button class="ui primary large button">
						Select
					</button>
					or drag a file here...
				</h3>
			</div>
		</div>

		<div ng-if="mediaTab.status=='true'" class="ui bottom attached tab segment no-border" data-tab="media_files">
			<h4>Click on the media to select</h4>
			<div class='ui grid'>
				<div class='four wide column media-select' style="text-align: center;" dir-paginate="media in media_files | itemsPerPage: pagination_file.per_page" total-items="pagination_file.total_count"  current-page="pagination_file.current_page" >
					<img  ng-if="getFileType(media.source) != 'pdf'" ng-click='select(media)' class='ui fluid rounded image'  ng-src='{{media.source}}'>
					<div ng-if="getFileType(media.source) == 'pdf'">
					<i style="text-align: center;"  class='ui fluid rounded image fa-3x fa fa-file-pdf-o'></i>
					{{getFileName(media.source)}}
				</div>
					<!-- <i ng-if="getFileType(media.source) == 'rar' || getFileType(media.source) == 'zip'" class='ui fluid rounded image fa-5x fa fa-file-pdf-o'></i> -->
					
				</div>
			</div>
			<div ng-if="!loading && pagination_file.total_count > 25">
				<dir-pagination-controls max-size="5"></dir-pagination-controls>
			</div>
		</div>

		<div ng-if="mediaTab.status=='false'" class="ui bottom attached tab segment no-border" data-tab="youzign">
			<h4>Click on the media to select</h4>
			<div class='ui grid'>
				<div class='four wide column media-select' dir-paginate="media in youzign_files | itemsPerPage: pagination.per_page" total-items="pagination.total_count"  current-page="pagination.current_page" >
					<img ng-click='select(media)' class='ui fluid rounded image'  ng-src='{{media.source}}'>
				</div>
			</div>
			<div ng-if="!loading && pagination.total_count > 25">
				<dir-pagination-controls max-size="5"></dir-pagination-controls>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-hide="loading">
			Cancel
		</div>
	</div>
</div>