<div class="ui small modal">
	<div class="header">
		<i class="upload icon"></i>
		Upload
	</div>
	<div class="content">
		<div class="modal-body">

			<style>
				.drop-box.dragover {
					border: 2px solid #21ba45 !important;
				}

				.drop-box.dragover-err {
					border: 2px solid #db2828 !important;
				}
			</style>

			<div class="ui center aligned segment dropzone drop-box" ngf-select="" ngf-drop="" ng-model="files" ngf-multiple="multiple" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-drop-available="dropAvailable">
				<div class="ui active dimmer" ng-if="loading">
					<div class="ui text loader">Uploading...</div>
				</div>
				<i class="massive circular download grey icon"></i>

				<h3 class="ui center aligned icon header">
					<button class="ui primary large button">
						Select
					</button>
					or drag a file here...
				</h3>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close" ng-hide="loading">
			Cancel
		</div>
	</div>
</div>