<div class="ui small modal" ><i class="close icon"></i>
	<div class="header no-border">
		<div class="ui top attached tabular menu" sui-tabs>
			<a class="item active" data-tab="upload">Upload</a>
			<a class="item" data-tab="media_files">Media Files</a>
		</div>
	</div>
	
	<div class='content' style="min-height : 450px !important">
		<div class="ui bottom attached tab segment no-border active" data-tab="upload">
			<style>
				.drop-box.dragover {
					border: 2px solid #21ba45 !important;
				}

				.drop-box.dragover-err {
					border: 2px solid #db2828 !important;
				}
			</style>

			<div class="ui center aligned segment dropzone drop-box" ngf-select="" ngf-drop="" ng-model="files" ngf-multiple="multiple" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-drop-available="dropAvailable">
				<div class="ui active dimmer" ng-if="loading">
					<div class="ui text loader">Uploading...</div>
				</div>
				<i class="massive circular download grey icon"></i>

				<h3 class="ui center aligned icon header">
					<button class="ui primary large button">
						Select
					</button>
					or drag a file here...
				</h3>
			</div>
		</div>

		<div class="ui bottom attached tab segment no-border" data-tab="media_files">
			<h4>Click on the media to select</h4>
			<div class='ui grid'>
				<div class='four wide column media-select' ng-repeat="media in media_files" >
					<img ng-click='select(media)' class='ui fluid rounded image'  ng-src='{{media.source}}'>
				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-hide="loading">
			Cancel
		</div>
	</div>
</div>