<div class="ui modal">
    <div class="header">
        <i class="mail icon"></i>
        Preview Email
    </div>
    <div class="content">
        <div class="ui form">
            <div class="ui segment">
                <div class="field">
                    <label>Admin Email</label>
                    <input type="text" ng-model="email.admin">
                </div>
                <div class="ui info message">
                    <p>The email you want to send preview of email to</p>
                </div>
            </div>
            <div class="ui message" ng-if="success_count">
                <div class="header">
                    Success!
                </div>
                <p>Successfully sent {{success_count}} test email{{success_count > 1 ? 's' : ''}} sent! <a href="#" ng-click="cancel()">Click here</a> to close.</a></p>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button close" ng-click="cancel()">
            Cancel
        </div>
        <button ng-click="sendPreview()" class="ui green right labeled icon button">
            Send Now
            <i class="send icon"></i>
        </button>
    </div>
</div>