<div class="modal-header">
    Set up your account
</div>
<div class="modal-body" style="padding:20px;">
    <div class="row" style="margin:0;">
        <div class="col-md-12" ng-if="!account.last_logged_in">
            <form class="form-horizontal save_form" ng-submit="saveAccount()">
                <div class="form-group">
                    <h3>Please set the username and password for your account</h3>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="e-mail" ng-model="account.email">
                            <span class="help-block m-b-none">
                                The e-mail you want associated with your account.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" name="admin_email" placeholder="password" class="form-control" ng-model="account.password">
                            <span class="help-block m-b-none">
                                    Choose a password for your account.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group" ng-if="email_taken && !verification_sent && !verification_failed">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" role="alert"><strong>Error: </strong> That e-mail is already taken.  If this e-mail belongs to you, please <a href="#" class="alert-link" ng-click="sendVerificationCode()">click here to be sent a verification code</a>.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="email_taken && !verification_sent && verification_failed">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" role="alert"><strong>Error: </strong> Verification code was invalid, <a href="#" class="alert-link" ng-click="sendVerificationCode()">click here to be sent a new verification code</a>.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="email_taken && verification_sent">
                        <div class="col-sm-12">
                            <input type="text" placeholder="verification code" class="form-control" ng-model="account.verification_code">
                            <span class="help-block m-b-none">
                                Please check your e-mail for the verification code and paste in here.
                                Code is only valid for fifteen minutes. <a href="#" ng-click="sendVerificationCode()">Click here</a> to be sent a new code.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" ng-disabled="!account.password" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12" ng-if="account.last_logged_in && !account.create_new_account">
            <form class="form-horizontal save_form" ng-submit="associateAccount()">
                <div class="form-group">
                    <h3>Please log in</h3>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="e-mail" ng-model="account.email">
                            <span class="help-block m-b-none">
                                Enter the e-mail address for your account.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" name="admin_email" placeholder="password" class="form-control" ng-model="account.password">
                            <span class="help-block m-b-none">
                                    Enter your password.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" ng-disabled="!account.password" type="submit">Log in</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-default" ng-click="account.create_new_account = true" type="button">Don't have an account? Create one!</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12" ng-if="account.last_logged_in && account.create_new_account">
            <form class="form-horizontal save_form" ng-submit="associateNewAccount()">
                <div class="form-group">
                    <h3>Please register</h3>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="name" ng-model="account.first_name">
                            <span class="help-block m-b-none">
                                Enter your name.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="e-mail" ng-model="account.email">
                            <span class="help-block m-b-none">
                                Enter the e-mail address for your account.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" name="admin_email" placeholder="password" class="form-control" ng-model="account.password">
                            <span class="help-block m-b-none">
                                    Enter a password.
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" ng-disabled="!account.password" type="submit">Register</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-default" ng-click="account.create_new_account = false" type="button">Already have an account? Log in!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>