<div class="ui modal" ng-init="init()">

    <div class="content">
        <div class="row">
            <div class="col-md-12 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                <div class="hpanel">

                    <div class="panel-body">

                        <form method="get" class="ui form save_form" ng-submit="save()">
                            <div class="field">
                                <label class="col-sm-2 control-label">Page Title</label>

                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control input-lg"
                                           ng-model="bridgepage.title" ng-blur="onBlurTitle($event)">
                                    <span class="help-block m-b-none">
                                        This is the name for your page - it's what you and customers will see
                                        to distinguish one page from another.
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Permalink</label>

                                <div class="col-sm-10">
                                    <input type="text" name="permalink" class="form-control input-lg"
                                           ng-model="bridgepage.permalink" ng-blur="onBlurSlug($event)">
                                    <span class="help-block m-b-none">
                                        This is the unique Url for your page.
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Template</label>

                                <div class="col-sm-10">
                                    <select class='form-control input-lg' ng-model="template"
                                            ng-options="t.name for t in templates">

                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <h3 class="text-center">Template Preview</h3>

                            <div class="mock-browser" style="width:100%;">
                                <div class="mock-browser-header" >
                                    <div class="mock-browser-btn mock-browser-btn-back"><span class="caret-left"></span>
                                    </div>
                                    <div class="mock-browser-btn mock-browser-btn-forward"><span
                                            class="caret-right"></span></div>
                                    <div class="mock-browser-url-bar">{{current_url}}/{{bridgepage.permalink}}
                                    </div>
                                </div>
                                <div class="mock-browser-body" >
                                    <div class="container-fluid bp_content smart_only_area"
                                         style="padding:0px;margin:0px;" ng-include src="'bpage/' + template.preview_url">
                                    </div>
                                </div>
                            </div>

                            <h3 class="text-center" style="margin-top: 50px;">Template Editing</h3>

                            <div ng-include="'bpage/' + template.control_url"></div>

                            <div class="hr-line-dashed"></div>
                            <div class="accordion_section" style="border-bottom: none;">
                                <a class="accordion_trigger accordion_expand btn btn_outline"
                                   ng-click="facebook=!facebook">expand</a>
                                <h4 class="ui header">Facebook Sharing Settings</h4>

                                <div ng-show="facebook">
                                    <div class="field">
                                        <label class="col-sm-2 control-label">Featured Image</label>

                                        <div class="col-sm-10">
                                            <button type="button"
                                                    sm-uploader="featured_image" ng-model="bridgepage.featured_image">
                                                Choose Featured Image
                                            </button>
                                            <div class="width-100 set_featured_image">
                                                <img class="featured_image_preview img-responsive img-thumbnail"
                                                     ng-src="{{bridgepage.featured_image}}"
                                                     ng-show="bridgepage.featured_image" style="width:auto;"/>
                                            </div>
                                            <div class="col-md-12" ng-if="bridgepage.featured_image">
                                                <i class="ace-icon fa fa-remove"
                                                   ng-click="bridgepage.featured_image=''">Remove</i>
                                            </div>
                                            <input type="hidden" name="featured_image" class="form-control input-lg"
                                                   ng-model="bridgepage.featured_image">
                                    <span class="help-block m-b-none">
                                        This is the featured image for your page, it is used as the image when sharing on social sites such as Facebook.
                                    </span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="field">
                                        <label class="col-sm-2 control-label">Share Title</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="fb_share_title" class="form-control input-lg"
                                                   ng-model="bridgepage.seo_settings.fb_share_title">
                                    <span class="help-block m-b-none">
                                        This is the title that will be used when this lesson is shared on Facebook.
                                    </span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="field">
                                        <label class="col-sm-2 control-label">Share Description</label>

                                        <div class="col-sm-10">
                                            <textarea name="fb_share_description" class="form-control input-lg"
                                                      ng-model="bridgepage.seo_settings.fb_share_description"></textarea>
                                    <span class="help-block m-b-none">
                                    </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="col-sm-2 control-label">Facebook Retargeting Pixel ID</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="fb_retargeting_pixel_id"
                                                   class="form-control input-lg"
                                                   ng-model="bridgepage.seo_settings.fb_retargeting_pixel_id">
                                    <span class="help-block m-b-none">
                                    </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="col-sm-2 control-label">Facebook Conversion Tracking Pixel
                                            ID</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="fb_conversion_tracking_pixel_id"
                                                   class="form-control input-lg"
                                                   ng-model="bridgepage.seo_settings.fb_conversion_tracking_pixel_id">
                                    <span class="help-block m-b-none">
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-brand" type="submit">Save changes</button>
                                    <button ng-disabled="!bridgepage.id" type="button" class="btn btn-success"
                                            ng-click="cloneBridgePage()">Save & Clone
                                    </button>
                                    <a ng-click="smModal.Show('public.admin.site.pages.bridge-pages')" class="btn btn-default"
                                       onclick="return confirm('Are you sure you want to discard your draft? This cannot be undone.');">Cancel</a>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>

    </div>


</div>

