<div style="background:white;color:#373737;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:17px;line-height:24px;max-width:100%;width:100%!important;margin:0 auto;padding:0">
	<table width="80%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:17px;color:#373737;background:white">
		<tbody>
		   <tr><td valign="top" style="border-collapse:collapse">
				<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
					<tbody>
						<tr><td valign="bottom" style="border-collapse:collapse;padding:20px 16px 12px">
							<div style="text-align:center">
								<a href="/" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">
									<img src="{{options['site_logo']}}" style="outline:none;text-decoration:none;border:none;width:320px;" ng-hide="!options['site_logo']">
								</a>
							</div>
						</td></tr>
					</tbody>
				</table>
			</td></tr>
			<tr><td valign="top" style="border-collapse:collapse">
				<table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
					<tbody>
						<tr><td width="100%" valign="top" style="border-collapse:collapse">
							<div style="margin:0 auto">
								<p style="font-size:17px;line-height:24px;margin:0 0 16px;text-align:center">
								<h1 style="color:#3a3b3c;line-height:30px;margin-bottom:12px;margin:0 auto 0.75rem;font-size:2.8rem;text-align:center">
									Thank you and Welcome to {{site.name}}
								</h1>
								<p style="color:gray;line-height:26px;margin-bottom:2rem;font-size:1.8rem;text-align:center;margin:1.5rem auto 1rem">
									Your products (with login info) have been sent to your email address...
								</p>
								<p style="font-size:17px;line-height:24px;margin:0 16px 16px 16px"></p>

								<hr style="border:none;border-bottom:1px solid #ececec;margin:10rem 15px 0;width:100%">

								<p style="text-align:center;font-size:17px;line-height:24px;margin:20px 20px 16px">
									<b>Need Support?</b> Go to <a style="color:#009900;" href="/support">our support page here</a> or <a style="color:#009900;" href="/support-ticket">file a ticket</a> if you can't find what you need.
								<p style="font-size:17px;line-height:24px;margin:0 0 16px">

								</p>
								</p>
							</div>
						</td></tr>
					</tbody>
				</table>
			</td></tr>
		</tbody>
	</table>
</div>
				