<div class="ui modal">
	<i class="close icon"></i>

	<div class="header">
		<i class="configure icon"></i>
		Profile settings
	</div>
	<div class="content">
		<div class="description">
			<p>Here you can update your password, change your email, and merge accounts</p>

			<div class="ibox">
				<div class="ibox-title">
					<h3 class="ui header">Update username</h3>
				</div>
				<div class="ibox-content">

					<form accept-encoding="UTF-8" class="ui form m-t-md">

						<div class="field">
							<label class="col-sm-3 control-label">Username</label>

							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="user.username">
								<span class="help-block m-b-none">
									Usernames must be lowercase and cannot contain spaces. Most people choose to
									use their first name, last name, nickname, or some combination of those with initials.
								</span>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="field">
							<div class="col-sm-4 col-sm-offset-3">
								<button class="btn btn-primary" ng-click="saveUsername()">Update username</button>
							</div>
						</div>

					</form>

				</div>

			</div>
			<div class="ibox">
				<div class="ibox-title">
					<h3 class="ui header">Change password</h3>
				</div>
				<div class="ibox-content">

					<form method="post" accept-encoding="UTF-8" class="ui form m-t-md">

						<div class="field">
							<label class="col-sm-3 control-label">Current Password</label>

							<div class="col-sm-9">
								<input type="password" class="form-control" ng-model="current_password">
								<span class="help-block m-b-none">
									Can't remember your current password?
									<a ui-sref="public.sign.forgot">reset it via email</a>
								</span>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="field">
							<label class="col-sm-3 control-label">New Password</label>

							<div class="col-sm-9">
								<input type="password" class="form-control" ng-model="newpassword">
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="field">
							<div class="col-sm-4 col-sm-offset-3">
								<button class="btn btn-primary" ng-click="savePassword(current_password , newpassword)">Save password</button>
							</div>
						</div>

					</form>

				</div>
			</div>

			<div class="ibox">
				<div class="ibox-title">
					<h3 class="ui header">Profile Photo</h3>
				</div>
				<div class="ibox-content">

					<form method="post" accept-encoding="UTF-8" class="ui form m-t-md">

						<div class="field">
							<label class="col-sm-3 control-label">Profile Photo</label>

							<div class="col-sm-9">
								<button class="admin btn btn-brand" ng-model="user.profile_image" sm-uploader="profile_image">Upload</button>
								<button class="btn btn-danger btn-outline" ng-if="user.profile_image" ng-click="user.profile_image = ''"><i class="fa fa-times"></i> remove</button>
							</div>
						</div>
						<div class="field">
							<label class="col-sm-3 control-label"></label>

							<div class="col-sm-9">
								<img ng-if="user.profile_image" class="featured_image_preview img-responsive img-thumbnail" ng-src="{{user.profile_image}}" style="width:300px;"/>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="field">
							<div class="col-sm-4 col-sm-offset-3">
								<button class="btn btn-primary" ng-click="saveProfileImage()">Save Image</button>
							</div>
						</div>

					</form>

				</div>
			</div>

			<div class="ibox">
				<div class="ibox-title">
					<h3 class="ui header">Email Addresses</h3>
				</div>
				<div class="ibox-content">

					<p class="">
						These are the emails associated with your account. Add more below if you'd like (can also
						merge accounts).
					</p>

					<table class="ui fixed single line celled stackable table" data-page-size="15" foonice>
						<thead>
							<tr>
								<th data-toggle="true">My Emails</th>
								<th data-hide="phone">Status</th>
								<th data-hide="phone">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{user.email}}
								</td>
								<td>
									<span class="text-success">primary</span>
								</td>
								<td>

								</td>
							</tr>
							<tr ng-repeat="account in user.linked_accounts">
								<td>
									{{account.linked_email}}
								</td>
								<td>
									<span class="text-success" ng-if="account.verified==1">verified</span>
											<span ng-if="account.verified != 1 && account.claimed">
												<a href="#" ng-click="resendVerification(account.linked_email)">Resend Verification Email</a>
											</span>
									<span class="text-danger" ng-if="account.verified !=1 && !account.claimed">Already Taken</span>
								</td>
								<td>
									<span class="btn btn-sm btn-danger" ng-click="removeLinkedAccount(account)">Remove</span>
									<span class="btn btn-sm btn-primary" ng-if="account.verified == 1" ng-click="togglePrimary(account)">Make Primary</span>
									<span class="btn btn-sm btn-primary" ng-if="!account.claimed" ng-click="merge(account)">Claim & Merge</span>
								</td>
							</tr>

						</tbody>
					</table>

					<form accept-encoding="UTF-8" class="ui form m-t-md">

						<div class="field">
							<label class="col-sm-3 control-label">Add email address</label>

							<div class="col-sm-6">

								<div ng-if="emailAdding" class="sk-spinner sk-spinner-three-bounce">
									<div class="sk-bounce1"></div>
									<div class="sk-bounce2"></div>
									<div class="sk-bounce3"></div>
								</div>

								<input type="text" class="form-control" ng-model="user.newemail">
								<span class="help-block m-b-none">
									Add extra emails you'd like associated with this account. You can merge accounts
									by supplying their email addresses here and following the instructions presented.
									You can log in with any email registered to this account.
								</span>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-primary btn-block" ng-click="linkAccount()" ng-disabled="!user.newemail">Add</button>
							</div>
						</div>

					</form>

				</div>

			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui positive right labeled icon button">
			Yep, that's me
			<i class="checkmark icon"></i>
		</div>
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>