<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="write icon"></i>
		Add a new lesson
	</div>
	<div class="content">
		<div class="description">

			<div class="ui message">
				<p>Lessons are the most common type of content found on membership sites. Create one below!</p>
			</div>

			<div class="ui section divider"></div>

			<table class="ui celled striped table" ng-if="lessons.length > 0">
				<thead>
					<tr>
						<th colspan="2">
							Your Lessons
						</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="next_item in lessons | itemsPerPage: pagination.per_page" total-items="pagination.total_count"  current-page="pagination.current_page">
						<td>
							{{next_item.title}}
						</td>
						<td class="right aligned">
							<button busy ng-click="delete(next_item.id)" class="ui right labeled icon button">
								Delete
								<i class="trash icon"></i>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">
							<div class="ui pointing label">
								{{pagination.total_count}} items
							</div>
							<dir-pagination-controls max-size="5"></dir-pagination-controls>
						</th>
					</tr>
				</tfoot>
			</table>

			<!-- <div class="ui form">

				<div class="field">
					<label>Lesson title</label>
					<input type="text" ng-model="next_item.title" ng-blur="setPermalink($event)">

				</div>
				<div class="eight wide field">
					<label>Module</label>
					<select class="ui dropdown" ng-model="selectedModule" ng-change="changeModule(selectedModule)" ng-if="modules" sui-dropdown>
						<option value="">Module</option>
						<option ng-repeat="module in modules" ng-selected="next_item.module_id == module.id || !next_item.module_id">{{module.title}}</option>
					</select>
				</div>
				<div class="field">
					<label>Lesson text / content</label>
					<textarea froala ng-model="next_item.content"></textarea>
				</div>

			</div> -->
			<div class="ui section divider"></div>
			
			<div class="ui top attached tabular menu" sui-tabs>
				<a class="item active" data-tab="one">Main Content</a>
				<a class="item" data-tab="extra">Lesson Fields</a>
				<a class="item" data-tab="two">Media</a>
				<a class="item" data-tab="three">Scheduling</a>
				<a class="item" data-tab="four">Commenting</a>
				<a class="item" data-tab="five">Social Sharing</a>
			</div>
			<div class="ui bottom attached tab segment active" data-tab="one">
				<div ng-include="'templates/components/public/administrate/site/content/common/content-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="extra">
				<div ng-include="'templates/components/public/app/admin/lesson/edit-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="two">
				<div ng-include="'templates/components/public/administrate/site/content/common/media-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="three">
				<div ng-include="'templates/components/public/administrate/site/content/common/scheduling-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="four">
				<div ng-include="'templates/components/public/administrate/site/content/common/commenting-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="five">
				<div ng-include="'templates/components/public/administrate/site/content/common/social-sharing-options.html'"></div>
			</div>

		</div>
	</div>
	<div class="actions">
		<a busy ng-click="add()" class="ui left floated left labeled icon button add_more_lesson">
			Save & add more
			<i class="plus icon"></i>
		</a>
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<a busy ng-click="save()" class="ui right labeled icon green button finish_lesson_step">
			Save & continue
			<i class="checkmark icon"></i>
		</a>
	</div>
</div>