<h2 class="ui header">
    <i class="configure icon"></i>
    {{current_integration ? 'Configure' : 'Install'}} Zaxaa App
</h2>

<div class="ui active inverted dimmer" ng-if="loading">
    <div class="ui text loader">Loading</div>
</div>

<div class="ui segment">
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal divider header">
                <i class="magic icon"></i>
                Setup Instructions
            </h3>

            <div class="ui ignored positive message">
                <p>Follow these steps to install the {{integration.name}} app.</p>
            </div>

            <div class="ui styled fluid accordion" sui-accordion>
                <h3 class="ui top attached header title active">
                    <i class="dropdown icon"></i>
                    Step 1
                </h3>
                <div class="ui attached segment content active">
                    <p>Go to Zaxxa and create your product</p>
                    <img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/48b918c9-4605-4056-8c64-854c2805d256/02.11.2016-11.58.png">
                </div>
                <h3 class="ui attached header title">
                    <i class="dropdown icon"></i>
                    Step 2
                </h3>
                <div class="ui attached segment content">
                    <p>Fill in the details about your products (please consult with Zaxaa) and click on Advanced mode</p>
                    <img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/de91fdba-9aee-45a7-93fb-798dbd702d99/02.11.2016-11.54.png">
                </div>
                <h3 class="ui attached header title">
                    <i class="dropdown icon"></i>
                    Step 3
                </h3>
                <div class="ui attached segment content">
                    <p>Copy the Zaxaa IPN Url below and paste into the field</p>

                    <img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/e23817db-04a6-4245-9f1b-3c155fa9b496/02.11.2016-11.59.png">
                </div>

                <h3 class="ui attached header title">
                    <i class="dropdown icon"></i>
                    Step 4
                </h3>
                <div class="ui attached segment content">
                    <p>Go back to SmartMember site admin, click on Build -> Access Levels. Add new or edit your existing access level</p>

                    <img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/d7825410-dc29-4caf-8595-2de6b06ff28a/02.11.2016-12.04.png">
                </div>

                <h3 class="ui attached header title">
                    <i class="dropdown icon"></i>
                    Step 5
                </h3>
                <div class="ui attached segment content">
                    <p>Go back to Zaxaa, copy your product number</p>

                    <img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/29069c5b-1810-43a4-8454-f3603dc55847/02.11.2016-12.05.png">
                </div>

                <h3 class="ui attached header title">
                    <i class="dropdown icon"></i>
                    Step 6
                </h3>
                <div class="ui attached segment content">
                    <p>And paste into Zaxaa settings of your current access level</p>

                    <img class="ui fluid bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/70d5b7b8-cbf3-492b-9ced-bb63cca1296d/02.11.2016-12.06.png">
                </div>

                <h3 class="ui attached header title">
                    <i class="dropdown icon"></i>
                    Step 7
                </h3>
                <div class="ui attached segment content">
                    <p>Save changes to both SmartMember and Zaxaa and now your setup is completed</p>
                </div>
            </div>

            <h3 class="ui horizontal divider header">
                <i class="setting icon"></i>
                Settings
            </h3>
            <div class="ui segment form">

                <div class="field">
                    <label>Use this as your Zaxaa ZPN url</label>

                    <div class="ui action input" ng-init="init()">
                        <input type="text" class="endpoint-api" id="copy_me" value="{{app.api3URL + '/transaction?type=zaxaa&company_id=' + current_company._id}}">
                        <button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="app.api3URL + '/transaction?type=zaxaa&company_id=' + current_company._id" ng-click="copied()">
                            <i class="copy icon"></i>
                            Copy
                        </button>
                    </div>
                </div>
                <div class="field">
                    <label>Use this as your Thank You Page url (optional)</label>

                    <div class="ui action input">
                        <input type="text" class="endpoint-api" id="copy_me2" value="{{'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'}}">
                        <button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me2" data-clipboard-action="copy" clip-copy="'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'" ng-click="copied()">
                            <i class="copy icon"></i>
                            Copy
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>