<div class="ui top sidebar top_bp_sidebar_contents">
	<div class="ui menu" ng-init="toggleSidebar()" ng-controller="bridgepageEngineController">

		<div class="header item">
			BridgePage Editor
		</div>

		<div class="item {{show_options ? 'active' :''}}">
			<button class="ui default button" ng-click="toggleSidebar()">Options</button>
		</div>
		<div class="pointing icon menu">
			<a class="item {{viewport == '' ? 'active' :''}}" ng-click="toggleViewPort('')" title="View as desktop" sui-popup>
				<i class="desktop icon"></i>
			</a>
			<a class="item {{viewport == 'viewport-tablet' ? 'active' :''}}" ng-click="toggleViewPort('viewport-tablet')" title="View as tablet" sui-popup>
				<i class="tablet icon"></i>
			</a>
			<a class="item {{viewport == 'viewport-mobile' ? 'active' :''}}" ng-click="toggleViewPort('viewport-mobile')" title="View as mobile" sui-popup>
				<i class="mobile icon"></i>
			</a>
		</div>
		<div class="menu">
			<div class="item">
				<div class="ui buttons">
					<div busy class="ui red button" ng-click="save();">Save</div>
					<div class="ui secondary button" ng-click="close();">cancel</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui wide sidebar vertical menu left left_bp_sidebar_contents">

	<div class="ui form" ng-include="'templates/components/public/admin-bar/bridgepage-engine/layout.html'"></div>

</div>

<div class="bp_content" ng-if="template" ng-include src="'bpage/' + template.preview_url"></div>

<div class="ui active inverted dimmer" ng-if="loading">
	<div class="ui loader"></div>
</div>