<div class="ui small modal top center"> <i class="close icon"></i>
	<div class="header">
		Change Password
	</div>
	<div class="content">
		<form class="ui form" ng-submit="changePassword(current_password, new_password, new_password2)">
			<div class="field">
				<label> Current Password </label>
				<input type="password" ng-model="current_password">
			</div>
			<div class="field">
				<label> New Password </label>
				<input type="password" ng-model="new_password" >
			</div>
			<div class="field" data-content="">
				<label> Re-Enter New Password </label>
				<input type="password" ng-model="new_password2">
			</div>
			<button type="submit" class="ui primary button" ng-disabled="!current_password || !new_password || !new_password2">Save Password</button>
			<!-- <button type="button" class="ui black deny button">Cancel</button> -->
		</form>
	</div>
</div>