<div class="ui large modal"><i class="close icon"></i>
	<div class="header">
		<i class="bar chart icon"></i>
		Content Stats
	</div>
	<div class="content">
		<div class="description">

			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

			<div class="ui grid">
				<div class="three wide column text-center">

					<div class="ui statistic">
						<div class="value">
							<i class="download icon"></i>
							{{summary.total_downloads ? summary.total_downloads : 0}}
						</div>
						<div class="label">
							Downloads
						</div>
					</div>

				</div>
				<div class="thirteen wide column">

					<div class="flot-chart dashboard-chart">
						<div flot width="580" height="180" class="flot-chart-content" dataset="charts[1].data" options="charts[1].options"></div>
					</div>

					<div class="ui segment">
						<div class="ui blue labels">
							<a class="ui label">
								Downloads all time
								<div class="detail">{{summary.total_downloads ? summary.total_downloads : 0}}</div>
							</a>
							<a class="ui label">
								Downloads per day
								<div class="detail">{{summary.avg_daily_downloads ? summary.avg_daily_downloads : 0 | number:2}}</div>
							</a>
							<a class="ui label">
								Downloads today
								<div class="detail">{{stats.downloads_today ? stats.downloads_today : 0}}</div>
							</a>
						</div>

						<div ng-if="summary.downloads_top_list" class="ui relaxed divided list">
							<div class="item" ng-repeat="(key, next_item) in summary.downloads_top">
								<i class="large download middle aligned icon"></i>
								<div class="content">
									<a class="header">{{next_item.title}}</a>
									<div class="description">{{next_item.views}} downloads</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="three wide column text-center">

					<div class="ui statistic">
						<div class="value">
							<i class="student icon"></i>
							{{summary.lessons_total_views ? summary.lessons_total_views : 0}}
						</div>
						<div class="label">
							Lesson views
						</div>
					</div>

				</div>
				<div class="thirteen wide column">

					<div class="flot-chart dashboard-chart">
						<div flot width="580" height="180" class="flot-chart-content" dataset="charts[0].data" options="charts[0].options"></div>
					</div>

					<div class="ui segment">
						<div class="ui blue labels">
							<a class="ui label">
								Viewed all time
								<div class="detail">{{summary.lessons_total_views ? summary.lessons_total_views : 0}}</div>
							</a>
							<a class="ui label">
								Viewed per day
								<div class="detail">{{summary.lessons_avg_daily_visits ? summary.lessons_avg_daily_visits : 0 | number:2}}</div>
							</a>
							<a class="ui label">
								Viewed today
								<div class="detail">{{stats.lesson_views_today ? stats.lesson_views_today : 0}}</div>
							</a>
						</div>

						<div ng-if="summary.lessons_top_list" class="ui relaxed divided list">
							<div class="item" ng-repeat="(key, next_item) in summary.lessons_top_list">
								<i class="large student middle aligned icon"></i>
								<div class="content">
									<a class="header">{{next_item.title}}</a>
									<div class="description">{{next_item.views}} views</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>