<div class="ui attached clearing segment">
	<h3 class="ui header huge breadcrumb m-t-sm">
		<a class="section" ui-sref="public.app.site.forum.categories">Forum</a>
		<div class="divider"> / </div>
		<div class="active section">{{category.title}}</div>
	</h3>

	<a class="ui right floated right labeled icon button" ng-if="isLoggedIn()" ng-click="smModal.Show('public.app.site.forum.topic.add')">
		Add New Topic
		<i class="plus icon"></i>
	</a>
</div>
<div class="ui attached segment">


	<div class="ui active inverted dimmer" ng-if="loading">
		<div class="ui loader"></div>
	</div>

	<div class="ui link items" ng-if="category.access">
		<div class="item" ng-repeat="topic in category.topics | orderBy:'-updated_at'">
			<div class="ui tiny image" ui-sref="public.app.site.forum.topic({permalink: topic.permalink})" style="cursor:pointer;">
				<img src="{{topic.user.profile_image || '/images/image.png'}}">
			</div>
			<div class="middle aligned content" ui-sref="public.app.site.forum.topic({permalink: topic.permalink})" style="cursor:pointer;">
				<div class="header">{{topic.title}}</div>
				<div class="description">
					<div class="ui small labels">
						<div class="ui left pointing basic label">
							{{moment.utc(topic.replies[0].updated_at).fromNow()}}
						</div>
						<div class="ui label" title="replies">
							<i class="comment icon"></i> {{topic.total_replies}}
						</div>
						<div class="ui label" title="views">
							<i class="eye icon"></i> {{topic.total_views}}
						</div>
					</div>
				</div>
			</div>
            <div class="content text-right">
                <div class="ui label" sm-access="manage_content" if-not="hide" sm-delete="{{topic.id}}">
                    <i class="delete icon"></i> delete
                </div>
            </div>
		</div>
		<div class="item" ng-if="category.topics.length === 0">
			<p>No topics yet!</p>
		</div>
	</div>
	<div ng-if="!category.access && !loading">
		<a class="ui fluid image" ng-if="category.access_level.information_url" ng-href="{{category.access_level.information_url}}">
			<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
		</a>
		<a href="#" class="ui fluid image" ng-click="showNoAccessLogin()" ng-if="!category.access_level.information_url">
			<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
		</a>
	</div>
</div>