<header class="first">
	<!--<h1>Creating powerful websites for<br>modern online business.</h1>-->
	<h1>Smart Member is a website
		<br>
		app suite for entrepreneurs.
	</h1>
	<h2>Generate traffic, capture leads, sell content, grow a brand, and more in just a few clicks.</h2>
</header>

<div id="page">

	<div class="container" style="padding: 3rem 0;" ng-init="initListings()">
		<div class="section_content main_memberships_list" style="padding: 1rem 0;" infinite-scroll="loadMore()" infinite-scroll-distance='1' infinite-scroll-disabled="disable">

			<h2>Featured Courses</h2>

			<ul class="discover-courses-list multi-line " style="margin-left: 0px;">
				<li data-courseid="310944" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=310944" data-course-id="310944">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/entrepreneurs-survival-guide/?dtcode=GThXMlg3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">23 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">3 hours video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://udemy-images.udemy.com/course/240x135/310944_0409_2.jpg" alt="Entrepreneur's Survival Guide to Trademarks, Patents, &amp; More">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://udemy-images.udemy.com/user/50x50/8094138_c209_2.jpg" alt="Prof. Tom W. Bell">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Entrepreneur's Survival Guide to Trademarks, Patents, &amp; More
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Prof. Tom W. Bell, Law Professor and Attorney


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 94.546%"></span>
                    </span>
                    <span>
                        (11)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    Free
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="399332" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=399332" data-course-id="399332">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/pricing-your-online-course/?dtcode=nKf2aU73TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">14 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">38 mins video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/399332_b955_2.jpg" alt="Pricing your Online Course">
                <span class="avatars-list">


                        <span class="avatar">
                            <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/7631468_3681.jpg" alt="Michael Poage">
                        </span>
                        <span class="avatar">
                            <img src="https://udemy-images.udemy.com/user/50x50/10577640_b56c.jpg" alt="Ankur Nagpal">
                        </span>
                        <span class="avatar">
                            <img src="https://udemy-images.udemy.com/user/50x50/12461240_2491.jpg" alt="Noah Pryor">
                        </span>
                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Pricing your Online Course
            </span>
            <span class="dib inst-name ellipsis-2lines">


                    Michael Poage,
                    Ankur Nagpal,
                    Noah Pryor
            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 91.538%"></span>
                    </span>
                    <span>
                        (26)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    $9
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="296646" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=296646" data-course-id="296646">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/how-to-run-a-sweepstakes-or-contest-to-grow-your-business/?dtcode=iNlVIJB3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">8 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">33 mins video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/296646_9d05_3.jpg" alt="How To Run A Sweepstakes or Contest To Grow Your Business ">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://udemy-images.udemy.com/user/50x50/87185_abd9_3.jpg" alt="Giancarlo Massaro">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            How To Run A Sweepstakes or Contest To Grow Your Business
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Giancarlo Massaro, Co-Founder of ViralSweep


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 92%"></span>
                    </span>
                    <span>
                        (10)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    Free
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="363190" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=363190" data-course-id="363190">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/six-figure-marketer-shows-15-email-marketing-tips/?dtcode=w52zfgs3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">6 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">12 mins video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/363190_f6dd_3.jpg" alt="Six Figure Marketer Shows 15 Email Marketing Tips">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/3313526_2b40_2.jpg" alt="Scrembo Scrembo">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Six Figure Marketer Shows 15 Email Marketing Tips
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Scrembo Scrembo, Internet Marketing Coach and Email Marketer


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 36.47%"></span>
                    </span>
                    <span>
                        (17)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    Free
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="278192" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=278192" data-course-id="278192">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/differentiate-your-business-w-customer-experience-marketing/?dtcode=YEr596Y3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">10 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">2 hours video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/278192_ea91_5.jpg" alt="Differentiate Your Business w/ Customer Experience Marketing">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/7043674_f15b_3.jpg" alt="John Weisenberger">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Differentiate Your Business w/ Customer Experience Marketing
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        John Weisenberger, Customer Experience Expert, Trainer, Speaker, Author


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 86.666%"></span>
                    </span>
                    <span>
                        (12)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    $20
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="45018" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=45018" data-course-id="45018">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/modern-marketing-mistakes/?dtcode=jFFImiz3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">19 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">1 hour video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/45018_1960_7.jpg" alt="Are You Making These 10 Modern Marketing Mistakes in 2015?">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/431104_cc42_9.jpg" alt="James Burchill">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Are You Making These 10 Modern Marketing Mistakes in 2015?
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        James Burchill, Bestselling Author, Trainer &amp; Speaker


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 85.834%"></span>
                    </span>
                    <span>
                        (24)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    $9
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="367078" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=367078" data-course-id="367078">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/zapierguide/?dtcode=ybQiHQL3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">29 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">1 hour video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://udemy-images.udemy.com/course/240x135/367078_e641_3.jpg" alt="How I Automate Everything with Zapier">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/1422250_c9da_3.jpg" alt="Brian Keith">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            How I Automate Everything with Zapier
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Brian Keith, Infusionsoft Certified Consultant at Red Beard Consulting


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 95%"></span>
                    </span>
                    <span>
                        (8)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    $50
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="184840" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=184840" data-course-id="184840">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/trademark-law-for-entrepreneurs/?dtcode=0MZY9ug3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">8 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">45 mins video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/184840_e070_3.jpg" alt="Trademark Law for Entrepreneurs">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/4359924_2230.jpg" alt="Dana Robinson">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Trademark Law for Entrepreneurs
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Dana Robinson, Professor, Attorney, Entrepreneur


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 96%"></span>
                    </span>
                    <span>
                        (30)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    Free
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="498416" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=498416" data-course-id="498416">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/hustling-for-freelancers-crash-course/?dtcode=lX77lBq3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">9 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">31 mins video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/498416_3205_3.jpg" alt="Hustling For Freelancers - Secret Sauce For Extra Cash Daily">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/5740812_71ec.jpg" alt="Tom Granot-Scalosub">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Hustling For Freelancers - Secret Sauce For Extra Cash Daily
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Tom Granot-Scalosub, Process Hacker &amp; Freelance Aficionado


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 92.924%"></span>
                    </span>
                    <span>
                        (65)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    $35
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="324856" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=324856" data-course-id="324856">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/how-to-write-a-great-press-release/?dtcode=XhyhE6q3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">5 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">54 mins video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/324856_57b8_3.jpg" alt="How to Write a Great Press Release">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://udemy-images.udemy.com/user/50x50/7786960_cbc4.jpg" alt="Hugh  Taylor">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            How to Write a Great Press Release
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Hugh  Taylor, Writing and Public Relations


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 92.766%"></span>
                    </span>
                    <span>
                        (47)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    Free
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="314886" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=314886" data-course-id="314886">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/email-handyman-empty-inbox-training/?dtcode=d66lj1B3TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">16 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">1 hour video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://udemy-images.udemy.com/course/240x135/314886_977b_7.jpg" alt="Email Handyman empty inbox training ">
                <span class="avatars-list">

                            <span class="avatar">
                                <img src="https://udemy-images.udemy.com/user/50x50/8102792_f8ab.jpg" alt="Erwin Nelissen">
                            </span>
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/8497740_d7d6.jpg" alt="Richard Wolfe">
                            </span>

                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            Email Handyman empty inbox training
            </span>
            <span class="dib inst-name ellipsis-2lines">

                        Erwin Nelissen,
                        Richard Wolfe

            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 91.428%"></span>
                    </span>
                    <span>
                        (14)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    $29
                 </span>
            </span>
        </span>
					</a>
				</li>
				<li data-courseid="391054" class="course-box small ">
					<div class="add-to-wishlist btn btn-sm ud-wishlist ud-popup" data-requirelogin="true" data-signuppopupidentifier="button-wishlist" href="/wishlist/add?courseId=391054" data-course-id="391054">
						<span class="ajax-loader-stick wishlist-loader none"></span>
						<i class="icon-heart wish-icon"></i>
						<div class="tooltip left">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">Wishlist</div>
						</div>
					</div>
					<a href="https://www.udemy.com/how-to-earn-money-from-youtube/?dtcode=Oq09Rf73TwWZ" class="mask">
        <span>
            <span class="lec-info fxdc">
                <span class="row-one">94 lectures <!--e.g. 5 lectures--></span>
                <span class="row-two">5 hours video <!--e.g. 3.5 hours video--></span>
            </span>
            <span class="course-thumb pos-r dib">
                <img src="https://dujk9xa5fr1wz.cloudfront.net/course/240x135/391054_569e.jpg" alt="YouTube Info-Business 2.0 - Turn Hobby Into An Info-Business">
                <span class="avatars-list">
                            <span class="avatar">
                                <img src="https://dujk9xa5fr1wz.cloudfront.net/user/50x50/210091_04fa_3.jpg" alt="Brian Yang">
                            </span>


                </span>
            </span>
        </span>

        <span class="fx ml10-xs">
            <span class="title ellipsis-2lines">
            YouTube Info-Business 2.0 - Turn Hobby Into An Info-Business
            </span>
            <span class="dib inst-name ellipsis-2lines">
                        Brian Yang, Copywriting strategist, YouTube instructor


            </span>

            <span class="reviews-row db p5-10 fxw">
                <span class="review-count">
                    <span class="s-rating smaller static maroon ">
                        <span style="width: 95.79%"></span>
                    </span>
                    <span>
                        (19)                    </span>
                </span>
            </span>
            <span class="fxac mh36 mh0-xs mt5-xs">
                <span class="price skin-color no-promotion-price">
                    $187
                 </span>
            </span>
        </span>
					</a>
				</li>
			</ul>


			<div class="row" ng-repeat="rows in listing">
				<div class="col-md-2" ng-repeat="item in rows">
					<div class="card compact clearfix no_bottom_padding">
						<div>
							<img class="img-responsive" src="{{item.image}}">
							<a ng-href='/course/{{item.permalink}}'>
								<h5 class="no_bottom_margin small_top_margin">{{item.title}}</h5>
							</a>
							<p class="small">
								<span class="subtle_silver">{{item.subtitle}}</span>
							</p>

							<p class="">
								<a href="http://{{item.site.subdomain}}.smartmember.com/sign/up" target="new" class="btn btn_outline btn_small"><i class="ts_icon ts_icon_comment_o"></i> Join</a>
								<a href="http://{{item.site.subdomain}}.smartmember.com/" target="new" class="btn btn_outline btn_small small_left_margin"><i class="ts_icon ts_icon_align_left"></i> Visit</a>
							</p>
						</div>

						<div class="clear_both"></div>
						<hr class="small_bottom_margin small_top_margin">
						<div class="col span_6_of_6 no_right_padding no_bottom_margin">
							<div ng-if='!item.hide_members' class="col span_2_of_6 bold ">{{item.site.total_members}} members</div>
							<div class="col span_4_of_6 align_right_desktop">
								<a href="#">{{item.is_free ? "Free" : item.pricing}}</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="everywhere" class="detail">
		<section class="everywhere" data-screen="desktop">
			<h1>The perfect team.</h1>

			<p>Speed Blog to get traffic that become members by opting into your dynamic pages whom you then Email
				market into buying your course(s) while answering their support questions in your knowledgebase. WEW.
			</p>
			<a ng-href="software" class="btn">See all software</a>
		</section>
	</div>
	<section class="signup bottom">
		<div>
			<h1>What are you waiting for? Get started by clicking this button &rightarrow;</h1>
			<a ng-href="pricing" class="btn ga_track_signup mxpnl_signup_module">Sign up for free</a>
		</div>
	</section>

</div>

