<div class="ui large modal">
	<div class="header">
		<i class="video icon"></i>
		Import Vimeo Videos
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>Connect a Vimeo account and import it's videos to turn into lessons</p>
			</div>

			<div class="ui section divider" ng-if="!vimeo.access_token"></div>

			<div class="ui basic segment text-center" ng-if="!vimeo.access_token">
				<a class="massive ui blue button" ng-click="setBackUrl();smModal.Show('public.administrate.team.integration.configure',{integration: 'vimeo'});">
					<i class="vimeo icon"></i>
					Connect a Vimeo Account
				</a>
			</div>

			<div class="ui menu" ng-if="vimeo.access_token">
				<div class="item">
					<div class="ui icon input">
						<input type="text" placeholder="Search videos..." ng-model="$parent.searchText" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu">
					<div class="item">
						<div class="ui input">
							<select class="form-control" ng-model="selected_account" ng-change="changeAccount()" sui-dropdown>
								<option value="">Account</option>
								<option ng-repeat="vimeo_integration in vimeo_app_configurations"
										ng-selected="vimeo_integration.id == selected_account"
										value="{{vimeo_integration.id}}">{{vimeo_integration.account.name ?
									vimeo_integration.account.name : vimeo_integration.account.remote_id}}
								</option>
							</select>
						</div>
					</div>
					<div class="item">
						<div busy class="ui button" ng-click="addAll()">
							<i class="plus icon"></i>
							Add all as lessons
						</div>
					</div>
					<div class="item">
						<div class="ui input">
							<select data-ng-options="tag.tag for tag in tags" ng-model="tag.tag" ng-change="filter(tag.tag)" sui-dropdown>
								<option value="">Tags</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="ui four doubling stackable link cards" ng-if="vimeo.access_token && videos_to_show.length > 0 && !wait">
				<!-- <div class="card" ng-repeat="next_item in videos_to_show | filter:$parent.searchText" ng-if="!next_item.hide" ng-hide="next_item.added" ng-controller="VimeoVideoController"> -->
				<div  class="card" ng-if="!next_item.hide" dir-paginate="next_item in videos_to_show | filter:$parent.searchText | itemsPerPage: pagination.per_page" ng-hide="next_item.added" ng-controller="VimeoVideoController" total-items="pagination.total_count"  current-page="pagination.current_page">

					<div class="image flex_center" style="background:#000000;">
						<img class="ui centered middle aligned image" src="{{next_item.pictures.sizes[1].link || '/images/white-image.png'}}">
					</div>
					<div class="content">
						<div class="header">
							{{next_item.name}}
						</div>
						<div class="description">
							{{next_item.description}}

							<div class="text-center">
								<div class="ui icon buttons">
									<button busy class="ui button" ng-click="addLesson(next_item)" ng-disabled="next_item.added">
										<i class="plus icon"></i>
										{{next_item.added ? 'Added' : 'Add as lesson'}}
									</button>
									<a ng-href="{{next_item.link}}" class="ui button" target="_blank">
										<i class="external icon"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-right"  ng-if="!wait">
					<dir-pagination-controls max-size="5"></dir-pagination-controls>
				</div>

			<!-- <div class="text-right" ng-if="!wait">
				<pagination ng-if="videos.data.length > 0" total-items="videos.data.length"
							items-per-page="itemsPerPage" ng-model="pagination.currentPage" max-size="5" class="pagination-sm pull-right" boundary-links="false" ng-change="paginateIt()"></pagination>
			</div> -->


			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>