<div class="ui short modal">
	<div class="header">
		<i class="video icon"></i>
		Import Vimeo Videos
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>Connect a Vimeo account and import it's videos to turn into lessons</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui basic segment text-center" ng-if="!vimeo.access_token">
				<a class="massive ui blue button" ng-click="setBackUrl();smModal.Show('public.administrate.team.integration.configure',{integration: 'vimeo'});">
					<i class="vimeo icon"></i>
					Connect a Vimeo Account
				</a>
			</div>

			<div class="ui icon input" ng-if="vimeo.access_token">
				<input type="text" placeholder="Search..." ng-model="$parent.searchText" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }">
				<i class="search icon"></i>
			</div>


			Tag Filter &nbsp; &nbsp;
			<select data-ng-options="tag.tag for tag in tags" ng-model="tag.tag"
					ng-change="filter(tag.tag)"></select>

			<a class="btn btn-brand btn-large m-t-md" ng-click="addAll()">
				<i class="fa fa-plus"></i>
				Add {{selectedTag ? 'visible videos' : 'all'}} as lessons
			</a>


			<div class="row" ng-show="wait" ng-if="vimeo.access_token">
				<div class="col-md-offset-3 col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5 class="ui header">Importing Videos</h5>
						</div>
						<div class="ibox-content">
							<div class="spiner-example" style="text-align: center;padding: 20px;height: 100px;">
								<i class="fa fa-refresh fa-spin"></i>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="ibox-content page-heading clear_box" ng-if="vimeo.access_token">
				<div class="p-xs">
					<div class="row">
						<div class="col-md-9">
							<div class="pull-left m-r-md">
								<i class="fa fa-video text-branded mid-icon"></i>
							</div>
							<h2 class="ui header">Import Vimeo Videos</h2>
							<div class="row" ng-if="vimeo_app_configurations.length >= 1">
								<div class="col-md-6">
									<span>Choose a different account</span>
								</div>
								<div class="col-md-6">
									<select class="form-control" ng-model="selected_account" ng-change="changeAccount(selected_account)">
										<option ng-repeat="vimeo_integration in vimeo_app_configurations"
												ng-selected="vimeo_integration.id == selected_account"
												value="{{vimeo_integration.id}}">{{vimeo_integration.account.name ?
											vimeo_integration.account.name : vimeo_integration.account.remote_id}}
										</option>
									</select>
									<span class="help-block m-b-none">
										You can add nicknames to your accounts
										<a
										 href="/admin/team/app_configurations/connections">here
										</a>
										for easier identification.
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 text-right">
							<a class="btn btn-brand btn-large m-t-md" ng-click="addAll()">
								<i class="fa fa-plus"></i>
								Add {{selectedTag ? 'visible videos' : 'all'}} as lessons
							</a>
							<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
								<i class="fa fa-question"></i>
							</button>
						</div>
					</div>
				</div>
			</div>


			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>