<div class="ui modal">
    <div class="col-sm-8">
        <h2 class="ui header">{{ page_title | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a ng-href="/">{{ 'HOME' | translate }}</a>
            </li>
            <li>
                <a ui-sref="public.admin.content.syllabus.lessons">{{ template_data.title | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ page_title | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">

            <div class="tabs-container">

                <tabset>
                    <tab>
                        <tab-heading>
                            Main Content
                        </tab-heading>
                        <div class="panel-body">
                            <div ng-include="'templates/components/public/admin/site/content/common/content-options.html'"></div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Media
                        </tab-heading>
                        <div class="panel-body">
                            <div ng-include="'templates/components/public/admin/site/content/common/media-options.html'"></div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Scheduling
                        </tab-heading>
                        <div class="panel-body">
                            <div ng-include="'templates/components/public/admin/site/content/common/scheduling-options.html'"></div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Commenting
                        </tab-heading>
                        <div class="panel-body">
                            <div ng-include="'templates/components/public/admin/site/content/common/commenting-options.html'"></div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Social Sharing
                        </tab-heading>
                        <div class="panel-body">
                            <div ng-include="'templates/components/public/admin/site/content/common/social-sharing-options.html'"></div>
                        </div>
                    </tab>
                </tabset>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-brand" type="button" ng-click="publish()">Publish</button>
                            <button class="btn btn-brand" ng-if="next_item.access_level_type!=1" type="button" ng-click="saveAsDraft()">Save as Draft</button>
                            <a href="{{$state.href( template_data.cancel_route)}}" ng-if="!template_data.use_cancel_method" class="btn btn-white" onclick="return confirm('Are you sure you want to discard your unsaved changes? This cannot be undone.');">Cancel</a>
                            <a ng-if="template_data.use_cancel_method" ng-click="cancel()" class="btn btn-white">Cancel</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
