<div class="ui modal">
	<div class="header">
		<i class="paragraph icon"></i>
		{{ page_title | translate }}
	</div>
	<div class="content">
		<div class="description">

			<div class="ui top attached tabular menu" sui-tabs>
				<a class="item active" data-tab="1">Main Content</a>
				<a class="item" data-tab="2">Media</a>
				<a class="item" data-tab="3">Scheduling</a>
				<a class="item" data-tab="4">Commenting</a>
				<a class="item" data-tab="5">Social Sharing</a>
			</div>
			<div class="ui bottom attached tab segment active" data-tab="1">
				<div ng-include="'templates/components/public/admin/site/content/common/content-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="2">
				<div ng-include="'templates/components/public/admin/site/content/common/media-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="3">
				<div ng-include="'templates/components/public/admin/site/content/common/scheduling-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="4">
				<div ng-include="'templates/components/public/admin/site/content/common/commenting-options.html'"></div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="5">
				<div ng-include="'templates/components/public/admin/site/content/common/social-sharing-options.html'"></div>
			</div>

		</div>
	</div>
	<div class="actions">
		<a ng-click="publish()" class="ui right labeled icon button">
			Publish
		</a>
		<a ng-click="saveAsDraft()" class="ui right labeled icon button" ng-if="next_item.access_level_type!=1">
			Save as Draft
		</a>
		<a ng-click="cancel(); smModal.Show(template_data.cancel_route)" class="ui right labeled icon button">
			Cancel
		</a>
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>