<div class="twelve wide column" ng-if="(salesPage!='preview')">

	<div ng-include="'templates/components/public/themes/default/common/syllabus.html'"></div>

</div>
<div class="four wide column" ng-if="isLoggedIn() && (salesPage!='preview')">

	<div class="ui segment basic">
		<div class="ui one statistics">
			<div class="primary statistic">
				<div class="value header headline_text_color">
					<i class="icon fa {{meta_data.cap_icon ? meta_data.cap_icon : 'fa-graduation-cap'}}"></i>
					{{lesson_count}}
				</div>
				<div class="primary label header headline_text_color">
					{{meta_data.lesson_text ? meta_data.lesson_text : 'Lessons'}}
				</div>
			</div>
		</div>
	</div>
	<div class="ui segment section_background_color">
		<a ng-if="lesson_count > 0" href="/{{modules[0].lessons[0].permalink}}" class="large fluid ui animated main_button_background_color main_button_text_color button" tabindex="0" ng-click="assignCounter(modules[0].lessons[0].showCounter)">
			<div class="visible content">
				{{meta_data.begin_course_text ? meta_data.begin_course_text : 'Begin / Continue This Course'}}
			</div>
			<div class="hidden content">
				<i class="fa-long-arrow-right icon fa"></i>
			</div>
		</a>
	</div>

	<div ng-include="'templates/components/public/themes/default/common/sidebar.html'"></div>

</div>