<div class="ui modal">
	<i class="close icon"></i>

	<div class="header">
		<i class="paragraph icon"></i>
		My Sites
	</div>
	<div class="content {{loading ? 'loading' : ''}}">
		<div class="description">
			<p>These are all the sites you've created, joined, and managing.</p>

			<div class="field" ng-if="adminPagination.total_count > 10 || query || adminPagination.current_page > 1">
				<label class="control-label" for="">Search:</label>
				<input type="text" id="" name="" value="" class="form-control" ng-model="$parent.query" ng-change="search()" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }">
			</div>

			<div class="ui three cards">
				<div class="card" ng-repeat="site in adminSites[adminPagination.current_page] | orderBy:['-total_revenue','-total_members','-total_lessons']">
					<div class="image">
						<img src="{{site.data.site_logo}}">
					</div>
					<div class="content">
						<div class="header">
							{{site.name}}
						</div>
						<div class="meta">
							{{site.domain ? site.domain : site.subdomain + '.' + 'smartmember.com' }}
						</div>
						<div class="description">

							<div class="ui blue labels list">
								<div class="ui label">
									<i class="graduation icon"></i>
									Lessons
									<div class="detail">{{site.total_lessons}}</div>
								</div>
								<div class="ui label">
									<i class="users icon"></i>
									Members
									<div class="detail">{{site.total_members}}</div>
								</div>
								<div class="ui label">
									<i class="dollar icon"></i>
									Revenue
									<div class="detail">{{site.total_revenue | currency:"$":0}}</div>
								</div>
							</div>

						</div>
					</div>
					<div class="ui red bottom attached buttons">
						<a class="ui button" ng-href="//{{site.domain ? site.domain :  site.subdomain + '.' + app.rootDomain }}">
							Visit
						</a>
						<div class="ui floating dropdown icon button" sui-dropdown>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" ng-click="smModal.Show('public.admin.team.site',{id: site.id})" ng-if="is_team_member">
									<i class="edit icon"></i> Edit site
								</div>
								<a class="item" ng-click="deleteSite(site)" ng-if="is_team_member">
									<i class="delete icon"></i> Remove site
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-right" ng-if='!loading'>
				<pagination total-items="adminPagination.total_count" max-size="5" items-per-page="25" ng-model="adminPagination.current_page" class="pagination-sm" boundary-links="true" ng-change="loadMore()" previous-text="&lt;" next-text="&gt;" first-text="&laquo;" last-text="&raquo;"></pagination>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>
