<div class="ui menu" ng-show="isLoggedIn()" ng-include="'templates/components/public/admin-bar/admin-bar.html'">
</div>


<div ui-view ng-class="(isLoggedIn() ? 'logged_in' : '') + (meta_data.page_background_style == 'boxed' ? ' ui container' : '') + ' sticky-full-height'"></div>

<!-- Right Sidebar -->
<div ng-include="sidebar_template" class="admin"></div>
<div ng-if="modal_popup_template" ng-include="modal_popup_template" class="admin"></div>

<div ng-if="primary_modal" ng-include="primary_modal" class="ui modal primary_modal" id="primary_modal"></div>
<div ng-if="secondary_modal" ng-include="secondary_modal" class="ui modal secondary_modal" id="secondary_modal"></div>