.public .ui.menu.theme_options {
  padding-top: 40px;
}

.public .ui.container.the_main_container {
  margin-left:auto !important;
  margin-right:auto !important;
}

.viewport-tablet {
  width: 756px !important;
  margin-left: 20% !important;
  margin-right: auto
}

.viewport-mobile {
  width: 500px !important;
  margin-left: 30% !important;
  margin-right: auto
}

.videoWrapper, .video_container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper object,
.videoWrapper embed,
.videoWrapper iframe,
.video_container object,
.video_container embed,
.video_container iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui.site.cards {
  div.image {
    height: 150px;
  }
  div.image img {
    max-height: 100%;
    width: auto !important;
    max-width: 100%;
  }
}

.fr-just {
  display: block;
}

.extra_ui_view .ui.modal {
  position: relative !important;
  display:block;
  margin-top: 7em;
  top:0px;
}
.extra_ui_view .ui.modal>.close.icon {
  display:none;
}

.extra_ui_view>.ui.dimmer {
  background-color: rgba(0,0,0,.30);
}

javascript {
  display: none !important;
}

.fr-box.fr-fullscreen,
.fr-popup.fr-active {
  z-index: 99999 !important;
}

.fb_reset .fb_dialog {
  z-index: 999999 !important;
}

_:-ms-fullscreen, :root .ui.basic.segment.site_top_background_color.m-n { height: auto; }
_:-ms-fullscreen, :root .pusher,
_:-ms-fullscreen, :root .ui.fluid.container.pusher {
  display: block;
}

_:-ms-fullscreen, :root .ui.menu:not(.vertical) .item {
  display: block;
}

.ui.category.search .results {
  left: -197px;
}