.public .ui.menu.theme_options {
  padding-top:40px;
}

.viewport-tablet{
	width: 756px !important; margin-left: 20% !important; margin-right: auto
}

.viewport-mobile{
	width: 500px !important; margin-left: 30% !important; margin-right: auto
}