<div class="ui modal">
	<div class="header">
		<i class="linkify icon"></i>
		Create a Smart Link
	</div>
	<div class="content">
		<div class="description">

			<div class="ui segment form">
				<div class="inline field">
					<label>Link Name</label>
					<input type="text" value="" data-content="This name helps locate it among your list of Smart Links" data-on="focus" sui-popup>
				</div>

			</div>
			<div class="ui segment form">
				<div class="inline field">
					<label>Rotation Logic</label>

					<div class="ui buttons">
						<div class="ui button" ng-class="{single:'active'}[recipient_type]" ng-click="SetRecipientType('single')">
							<i class="random icon"></i>
							Random
						</div>
						<div class="ui button" ng-class="{members:'active'}[recipient_type]" ng-click="SetRecipientType('members')">
							<i class="ordered list icon"></i>
							Sequential
						</div>
						<div class="ui button" ng-class="{segment:'active'}[recipient_type]" ng-click="SetRecipientType('segment')">
							<i class="crosshairs icon"></i>
							Least Hit
						</div>
						<div class="ui button" ng-class="{segment:'active'}[recipient_type]" ng-click="SetRecipientType('segment')">
							<i class="calculator icon"></i>
							Weighted
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<a ng-click="smModal.Show('public.administrate.smart-links.list')" class="ui black button">
			Cancel
		</a>
		<a ng-click="save()" class="ui right labeled green icon button">
			Save changes
			<i class="check icon"></i>
		</a>
	</div>
</div>