<div class="ui modal">

	<div class="header">
		<i class="paragraph icon"></i>
		{{ site.id ? 'UPDATE_SITE' : 'CREATE_SITE' | translate }}
	</div>
	<div class="content">
		<div class="description">
			<p>Sites are where your members can sign up & access content.</p>

			<div class="ui form">

				<div class="field m-t-md">
					<label class="col-sm-4 control-label">Name</label>

					<div class="col-sm-8">
						<input type="text" class="form-control" name="name" ng-model="site.name" placeholder="My Awesome Site" required>
								<span class="help-block m-b-none">
									This is the primary name for your site; it will show up for your public site visitors,
									members, customers, and be the default title of your site in search engines.
								</span>
					</div>
				</div>
				<div class="hr-line-dashed"></div>

				<div class="field">
					<label class="col-sm-4 control-label">Site URL / Subdomain</label>

					<div class="col-sm-8">
						<div class="input-group m-b">
							<span class="input-group-addon">http://</span>
							<input type="text" class="form-control" name="url_slug" ng-model="site.subdomain" placeholder="" required>
							<span class="input-group-addon">.smartmember.com</span>
						</div>
								<span class="help-block m-b-none">
									This is the url where visitors can find your site. You can always access it from
									<strong>{{site.subdomain ? site.subdomain : 'yoursite'}}.smartmember.com</strong> but can also
									map it to a brand new domain like www.widgets.com using the domain mapping options below.
								</span>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div class="actions">
		<button type="button" busy ng-click="save()" class="ui right labeled icon green button">
			Create new Site
			<i class="checkmark icon"></i>
		</button>
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
	</div>
</div>
