<div class="ui modal">
	<div class="header">
		<i class="lock icon"></i>
		Lock down your site's content
	</div>
	<div class="content">
		<div class="description">

			<p>Choose how you'd like to restrict your site's existing content below - if at all</p>

			<div class="ui form">

				<div class="field">
					<label>Who should see your content?</label>
					<select class="ui dropdown" ng-model="access_type">
						<option value="{{access_level.id}}" ng-repeat="access_level in access_levels">{{access_level.title}}</option>
					</select>
					<p>
						Everybody else will see a "restricted access" graphic (which you can customize later!)
					</p>
				</div>
				<div class="field" ng-if="access_type==3">
					<label>What would you like to call this "Access Level"?</label>
					<input type="text" ng-model="access.access_level_name">
					<p>
						This can be a "level" name like Bronze, Silver, gold, etc. or even a product name like "Widget 2000"
					</p>
				</div>

			</div>

		</div>
	</div>
	<div class="actions">
		<a busy ng-click="lock()" class="ui right labeled icon green button">
			Save & continue
			<i class="checkmark icon"></i>
		</a>

		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
	</div>
</div>