<div class="animate-panel">
	<div class="content">
		<div>
			<div class="row">
				<div>
					<div class="hpanel hbgblue">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12 border-right animated-panel zoomIn" style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
									<i class="pe-7s-display1 fa-5x" style="font-size:11em;"></i>
								</div>
								<div class="col-md-12 animated-panel zoomIn" style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">
									<div>
										<h3>Free Bonus Page Builder</h3>
										<p style="margin-left:0px;">Build the page where users go to get their free item instead of refunding!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div >
					<div class="col-sm-11">
						<h3>
							<a href="/free-bonus" target="_blank" data-bypass="true">Click here to preview your free bonus page</a>
						</h3>
						<span class="help-block m-b-none">
						</span>
					</div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Video / Embed Content</label>
					<div class="col-sm-12">
						<textarea name="embed_content" class="form-control input-lg" ng-model="bonus.embed_content"></textarea>
					<span class="help-block m-b-none">
					</span>
					</div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Title</label>
					<div class="col-sm-12">
						<input type="text" name="title" class="form-control input-lg" ng-model="bonus.title" />
						<span class="help-block m-b-none">
						</span>
					</div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Content</label>
					<div class="col-sm-12">
                        <textarea froala ng-model="bonus.content"></textarea>
					<span class="help-block m-b-none">
					</span>
					</div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Free Giveaway</label>
					<div class="col-sm-12">
						<div class="col-md-12" >
                        <button type="button" class="btn btn-danger set_site_logo " sm-uploader="file_url" ng-model="bonus.file_url">Upload File</button>
                    	</div>
                    	<span class="help-block m-b-none col-md-12">
							You can upload a file here to that users download when they click the free item button.
						</span>
                        <label class="col-md-6" ng-if="bonus.file_url">{{getFileName(bonus.file_url)}}</label>
                        <div class="col-md-3" >
                        	<a  ng-if="bonus.file_url" target="_blank" class="btn btn-brand file_download" href="{{bonus.file_url}}">Download file</a>
                    	</div>
                    	<div class="col-md-3" >
                        	<i ng-if="bonus.file_url" class="ace-icon fa fa-remove" ng-show="bonus.file_url" ng-click="bonus.file_url=''">Remove</i>
                    	</div>

						
                       
                        <input type="hidden" name="file_url" class="form-control input-lg" ng-model="bonus.file_url">
                    </div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Free Item Button Text</label>
					<div class="col-sm-12">
						<input type="text" name="download_button_text" class="form-control input-lg" ng-model="bonus.free_item_text" />
						<span class="help-block m-b-none">
						</span>
					</div>
				</div>
				<div>
					<label class="col-sm-12 control-label">Free Item Button Color</label>
					<div class="col-sm-12">
						<spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
						 ng-model="bonus.free_item_color"></spectrum-colorpicker>
					</div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Free Item Url</label>
					<div class="col-sm-12">
	
						<a popover-template="1" popover-is-open='bonus.isOpen' popover-title="Enter item url" type="button" ng-click="bonus.isOpen=true" data-html="true" >{{ bonus.free_item_url || 'Select url' }}</a>
						<div url-selector ng-model="bonus"></div>
						<div class="checkbox">
							<label>
								<input  type="checkbox" name="use_custom_url" ng-model="bonus.use_free_item_url" > Check here to use this custom url instead of the file download.
							</label>
						</div>
						<span class="help-block m-b-none">
							Optionally you can choose to have this "free item" go to any url instead of downloading a file.
						</span>
						<button type="button" class="btn btn-lg btn-info" id="save_sales_page_btn" ng-click="save()">Save Changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
