<div class="ui modal">
	<i class="close icon"></i>

	<div class="header">
		<i class="paragraph icon"></i>
		Site Menu
	</div>
	<div class="content">
		<div class="description">
			<p>Edit your site's menu / navigation buttons.</p>

			<h2 class="ui header">Header Navigation Menu</h2>
			<p>Add navigation items to the top of your site</p>

			<div class="ui right labeled left icon input">
				<i class="list layout icon"></i>
				<input type="text" placeholder="Enter label text" ng-model="newItem.label">
				<a class="ui tag label" ng-click="addMenuItem()">
					Add Menu Item
				</a>
			</div>
			<div class="ui middle aligned divided animated relaxed list" ui-sortable="sortableOptions" class="sortable-list agile-list" ng-model="menu_items">
				<div class="item" ng-repeat="next_item in menu_items" data-component="{{next_item}}" ng-include="'templates/components/public/admin/site/appearance/menus/common.html'"></div>
			</div>


			<h2 class="ui header">Footer Navigation Menu</h2>
			<p>Add navigation items to the bottom of your site</p>

			<div class="ui right labeled left icon input">
				<i class="list layout icon"></i>
				<input type="text" placeholder="Enter label text" ng-model="newFooterItem.label">
				<a class="ui tag label" ng-click="addFooterMenuItem()">
					Add Menu Item
				</a>
			</div>
			<div class="ui middle aligned divided animated relaxed list" ui-sortable="sortableOptions" class="sortable-list agile-list" ng-model="footer_menu_items">
				<div class="item" ng-repeat="next_item in footer_menu_items" data-component="{{next_item}}" ng-include="'templates/components/public/admin/site/appearance/menus/common.html'"></div>
			</div>

		</div>
	</div>
	<div class="actions">
		<a ng-if="wizard_mode" ng-click="save()" class="ui right labeled icon button">
			Save changes
			<i class="checkmark icon"></i>
		</a>
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>