<div class="ui modal">
	<i class="close icon"></i>

	<div class="header">
		<i class="paragraph icon"></i>
		Site Menu
	</div>
	<div class="content">
		<div class="description">
			<p>Edit your site's menu / navigation buttons.</p>

			<h2 class="ui header">Header Navigation Menu</h2>
			<p>Add navigation items to the top of your site</p>

			<div class="ui right labeled left icon input">
				<i class="list layout icon"></i>
				<input type="text" placeholder="Enter label text" ng-model="newItem.label">
				<a class="ui tag label" ng-click="addMenuItem()">
					Add Menu Item
				</a>
			</div>
			<div class="ui middle aligned divided animated relaxed list" ui-sortable="sortableOptions" class="sortable-list agile-list" ng-model="menu_items">
				<div class="item" ng-repeat="next_item in menu_items" data-component="{{next_item}}">
				<div class="right floated content">
					<div class="ui small button" ng-click="open1(next_item, 'main')">edit</div>
					<div class="ui small button" sm-delete={{next_item}}>delete</div>
				</div>

				<i ng-if="!next_item.custom_icon && next_item.icon" class="{{next_item.icon}} icon"></i>
				<i ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') != -1" class="{{next_item.custom_icon}} icon"></i>
				<img ng-show="next_item.featured_image" ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') == -1" class="ui avatar image" src="{{next_item.custom_icon}}">

				<div class="content">
					<div class="header">{{next_item.label}}</div>
					<span class="font-bold" ng-if="next_item.url.indexOf('http://') == -1 && next_item.url.indexOf('https://') == -1">http://{{(app.domain ? app.domain : app.subdomain + '.' + app.rootDomain) + '/' + next_item.url}}</span>
					<span class="font-bold" ng-if="next_item.url.indexOf('http://') != -1 || next_item.url.indexOf('https://') != -1">{{next_item.url}}</span>
				</div>
				</div>
			</div>


			<h2 class="ui header">Footer Navigation Menu</h2>
			<p>Add navigation items to the bottom of your site</p>

			<div class="ui right labeled left icon input">
				<i class="list layout icon"></i>
				<input type="text" placeholder="Enter label text" ng-model="newFooterItem.label">
				<a class="ui tag label" ng-click="addFooterMenuItem()">
					Add Menu Item
				</a>
			</div>
			<div class="ui middle aligned divided animated relaxed list" ui-sortable="sortableOptions" class="sortable-list agile-list" ng-model="footer_menu_items">
				<div class="item" ng-repeat="next_item in footer_menu_items" data-component="{{next_item}}" >
					<div class="right floated content">
						<div class="ui small button" ng-click="open1(next_item, 'main')">edit</div>
						<div class="ui small button" sm-delete={{next_item}}>delete</div>
					</div>

					<i ng-if="!next_item.custom_icon && next_item.icon" class="{{next_item.icon}} icon"></i>
					<i ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') != -1" class="{{next_item.custom_icon}} icon"></i>
					<img ng-show="next_item.featured_image" ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') == -1" class="ui avatar image" src="{{next_item.custom_icon}}">

					<div class="content">
						<div class="header">{{next_item.label}}</div>
						<span class="font-bold" ng-if="next_item.url.indexOf('http://') == -1 && next_item.url.indexOf('https://') == -1">http://{{(app.domain ? app.domain : app.subdomain + '.' + app.rootDomain) + '/' + next_item.url}}</span>
						<span class="font-bold" ng-if="next_item.url.indexOf('http://') != -1 || next_item.url.indexOf('https://') != -1">{{next_item.url}}</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<a ng-if="wizard_mode" ng-click="save()" class="ui right labeled icon button">
			Save changes
			<i class="checkmark icon"></i>
		</a>
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>