<div class="sixteen wide column" ng-if="!loading">
    <div class="column">
        <div class="ui compact segment basic">
            <h2 class="ui header headline_text_color">
                {{lesson.title}}
            </h2>
        </div>

    </div>
</div>

<div class="twelve wide column">

    <div class="ui piled segment section_background_color">

        <div class="ui active inverted dimmer" ng-if="loading">
            <div class="ui text loader">Loading</div>
        </div>

        <div class="ui embed" data-source="vimeo" data-url="{{lesson.embed_content | extractsrc}}" data-placeholder="{{lesson.featured_image}}" data-icon="right circle arrow" ng-if="lesson.embed_content && lesson.embed_content.indexOf('<iframe') != -1">
            <div dynamic="lesson.embed_content" ng-if="lesson.embed_content"></div>
        </div>

        <div class="ui segment section_background_color" ng-if="lesson.embed_content && lesson.embed_content.indexOf('<iframe') == -1">
            <div dynamic="lesson.embed_content" ng-if="lesson.embed_content"></div>
        </div>

        <img class="ui fluid image" ng-src="{{lesson.featured_image}}" ng-if="lesson.featured_image && lesson.always_show_featured_image">

        <div ng-if="!lesson.access">
            <a class="ui fluid image" ng-href="{{lesson.access_level.information_url || '/sign/in/'}}">
                <img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
            </a>
        </div>

        <div class="ui padded basic segment">
            <a ng-if="is_site_admin || is_team_member" ui-sref="admin.site.content.syllabus.lesson({id: lesson.id})" class="">Edit</a>

            <h3 class="text-center" style="font-weight: bold;" ng-if="lesson.timeLeft > 0">
                You can access to this content in:
            </h3>
            <h3 class="text-center" ng-if="lesson.timeLeft > 0">
                <timer countdown="lesson.timeLeft" interval="1000">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
            </h3>

            <div class="lesson_meta" style="min-height: 40px;">
                        <span class="pull-right" style="padding-left: 20px; padding-top: 5px;">
                            <a ng-if="lesson.audio_file" ng-href="{{app.apiUrl}}/utility/download?file={{lesson.audio_file}}" data-bypass="true" target="_blank" class="ui button fluid main_button_background_color main_button_text_color" title="Download Audio File"
                               alt="Download Audio File">
                                <span class="glyphicon glyphicon-download-alt" style="margin-right: 5px;"></span>
                                Audio
                            </a>
                        </span>
                        <span class="pull-right" ng-if="(lesson.transcript_content_public || lesson.access) && lesson.transcript_content" style="padding-right: 20px; padding-top:5px;">
                            <button type="button" class="btn btn-sm btn-primary toggle-transcript" title="View Transcript" ng-click="lesson.showTranscript = !lesson.showTranscript" alt="View Transcript">
                                <span class="glyphicon glyphicon-download" style="margin-right: 5px;" ng-click="lesson.showTranscript = !lesson.showTranscript"></span>
                                {{lesson.transcript_button_text}}
                            </button>
                        </span>
            </div>
            <div ng-show="lesson.showTranscript" class="transcript_stuff" style="padding: 15px; border: 1px solid rgb(204, 204, 204); margin-bottom: 20px; border-radius: 4px; display: block;">
                <h4 class="text-left">Transcript:</h4>
                <p style="line-height: 24px;">
                <div style='white-space: pre-wrap' dynamic='lesson.transcript_content'></div>
                </p>
            </div>

            <div class="row" dynamic="lesson.content" ng-if="lesson.content && (lesson.show_content_publicly || lesson.access)"></div>

            <div>
                <p style="line-height: 24px;">
                    {{lesson.description}}
                </p>
            </div>


            <div class="panel-footer comments_go_here" ng-show="lesson.discussion_settings.show_comments" style="margin-bottom:20px;">
                <div ng-include="'templates/components/public/themes/default/common/comments.html'"></div>
            </div>

        </div>

    </div>
</div>
<div class="four wide column">

    <div class="ui grid">
        <div class="row">
            <h2 class="ui center aligned icon header headline_text_color">
                <i class="circular icon fa {{options.cap_icon ? options.cap_icon : 'fa-graduation-cap'}}"></i>

                <div class="content">
                    {{lesson.module.id ? lesson.module.title : ( options.default_module_title || 'Other' )}}
                </div>
            </h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached fluid three item menu">
                    <a class="item" ng-if="lesson.prev_lesson" ng-href="/{{lesson.prev_lesson.permalink}}" ng-click="assignCounter(showCounter-1)">
                        <i class="fa fa-chevron-left icon"></i>
                    </a>
                    <a class="item">
                        {{showCounter}} of {{lesson.total_lessons}}
                    </a>
                    <a class="item" ng-href="/{{lesson.next_lesson.permalink}}" ng-if="lesson.next_lesson" ng-click="assignCounter(showCounter+1)">
                        <i class="fa fa-chevron-right icon"></i>
                    </a>
                </div>
                <div class="ui clearing attached raised segment section_background_color" ng-hide="!lesson.access || !isLoggedIn()">
                    <a class="ui blue right ribbon label">Notes</a>
                    <div class="ui form">
                        <div class="field">
                            <textarea ng-model="userNote.note"></textarea>
                        </div>
                    </div>
                    <div class="ui fluid buttons">
                        <button class="ui left floated button" ng-click="saveNote()">
                            Save
                        </button>
                        <button class="ui right floated button" ng-click="saveNoteAndToggleComplete()">
                            Save &amp; Complete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'templates/components/public/themes/default/common/sidebar.html'"></div>
    </div>

</div>