<div class="ui modal">
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} Facebook Groups App
	</div>
	<div class="content">
		<div class="description">

			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>

			<div class="ui segment form" ng-submit="saveIntegration()">

				<div class="field">
					<label>Facebook App ID</label>
					<input type="text" ng-model="current_integration.username">
				</div>

				<div class="field">
					<label>Facebook App Secret Key</label>
					<input type="password" ng-model="current_integration.password">
				</div>

				<div class="field">
					<label ng-show="(current_integration.username && current_integration.password) || (current_integration.name && current_integration.remote_id)">
						Facebook Group
					</label>
				</div>
				<div class="field" ng-if="current_integration.name && current_integration.remote_id">
					{{current_integration.name}}
					<a class="ui button" ng-click="addGroup()" ng-show="current_integration.username && current_integration.password">
						re-create group
					</a>
				</div>
				<div class="field" ng-show="current_integration.username && current_integration.password && !current_integration.name && !current_integration.remote_id">
					<a class="ui button" ng-click="addGroup()">
						create new group
					</a>
				</div>

			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<button ng-click="saveIntegration()" ng-disabled="(!current_integration.username || !current_integration.password)" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>
