<div class="ui modal">
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} Paypal App
	</div>
	<div class="content">
		<div class="description">

			<h3 class="ui horizontal divider header">
				<i class="magic icon"></i>
				Setup Instructions
			</h3>

			<div class="ui ignored positive message">
				<p>Follow these steps to install the {{integration.name}} app.</p>
			</div>

			<div class="ui styled fluid accordion" sui-accordion>
				<h3 class="ui top attached header title active">
					Step 1
				</h3>
				<div class="ui attached segment content active">
					<p>Visit
						<a href="http://paypal.com" target="_blank">www.paypal.com <i class="fa fa-external-linkfa-sm"></i></a>
						to login or register an account.
					</p>
					<img class="ui medium bordered image" src="https://s3.amazonaws.com/smpub/media/paypal-step-1.png">
				</div>
				<h3 class="ui attached header title">
					Step 2
				</h3>
				<div class="ui attached segment content">
					<p>Click the <strong>Profile</strong> menu button in the top navigation, then select <strong>Profile and settings</strong>.</p>

					<img class="ui medium bordered image" src="https://s3.amazonaws.com/smpub/media/paypal-step-2.png">
				</div>
				<h3 class="ui attached header title">
					Step 3
				</h3>
				<div class="ui attached segment content">
					<p>Copy the <strong>Primary</strong> email listed in your account.</p>

					<img class="ui fluid bordered image" src="https://s3.amazonaws.com/smpub/media/paypal-step-3.png">
				</div>
			</div>


			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>

			<div class="ui segment form" ng-submit="saveIntegration()">
				<div class="field">
					<label>Paypal E-mail Address</label>
					<input type="text" ng-model="current_integration.remote_id">

					<div class="ui ignored info message">
						<p>This is the email of the Paypal account that should receive payments.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<button ng-click="saveIntegration()" ng-disabled="!current_integration.remote_id" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>

