<div class="ui modal">
	<div class="content">
		<div ng-include="'templates/components/public/admin/team/app_configurations/common/single-heading.html'"></div>
		<div ng-include="'templates/components/public/admin/team/app_configuration/configure/sendgrid-setup.html'"></div>

		<div class="ibox">
			<div class="ibox-content">

				<form method="get" class="ui form">

					<h2 class="ui header">Integration Settings</h2>

					<div class="field m-t-md">
						<label class="col-sm-3 control-label">Sendgrid Username</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="current_integration.username">
							<span class="help-block m-b-none"></span>
						</div>
					</div>

					<div class="hr-line-dashed"></div>

					<div class="field m-t-sm">
						<label class="col-sm-3 control-label">Sendgrid Password</label>

						<div class="col-sm-9">
							<input type="password" class="form-control" ng-model="current_integration.password">
							<span class="help-block m-b-none"></span>
						</div>
					</div>

					<div class="hr-line-dashed"></div>

				</form>
			</div>
		</div>

	</div>
	<div class="actions">
		<button ng-click="saveIntegration()" ng-disabled="(!current_integration.username || !current_integration.password)" class="ui right labeled icon button">
	        Save changes
	        <i class="checkmark icon"></i>
	    </button>
	    <div class="ui black deny button close" ng-click="smModal.Show(\"public.admin.team.app_configurations.{{integration_id ? 'list' : 'available'}}\")">
	        Cancel
	    </div>
	</div>
</div>
