<div class="ui modal">
    <div class="header">
        <i class="configure icon"></i>
        {{current_integration ? 'Configure' : 'Install'}} WSO Payments App
    </div>
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal divider header">
                <i class="magic icon"></i>
                Setup Instructions
            </h3>

            <div class="ui ignored positive message">
                <p>Follow these steps to install the {{integration.name}} app.</p>
            </div>

            <div class="ui styled fluid accordion" sui-accordion>
                <h3 class="ui top attached header title active">
                    <i class="dropdown icon"></i>
                    Step 1
                </h3>
                <div class="ui attached segment content active">
                    <p>Copy and Paste the IPN into the Product edit Page for WSO.</p>
                    <img class="ui bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/014bf4de-5dd0-4dc1-88f6-a5d3b2f5cc1e/12.31.2015-22.34.png">
                </div>

                <h3 class="ui top attached header title">
                    <i class="dropdown icon"></i>
                    Step 2
                </h3>
                <div class="ui attached segment content">
                    <p>Go to Access Levels > Add New / or an existing level > WSO Integration. Then Add Product ID which should also be seen in the edit WSO page (or on your main products page in the WSO Product ID column).</p>
                    <img class="ui bordered image" src="http://content.screencast.com/users/mike4905/folders/Snagit/media/f4a7b7cb-47fd-4244-ac30-85a4e6c26098/12.31.2015-22.30.png">
                </div>

            </div>
            <h3 class="ui horizontal divider header">
                <i class="setting icon"></i>
                Settings
            </h3>

            <div class="ui segment form">

                <div class="field">
                    <label>Use this as your IPN url</label>

                    <div class="ui action input" ng-init="init()">
                        <input type="text" class="endpoint-api" id="copy_me" value="{{app.apiUrl + '/transaction?type=wso&subdomain=' + current_site.subdomain}}">
                        <button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="app.apiUrl + '/transaction?type=wso&subdomain=' + current_site.subdomain" ng-click="copied()">
                            <i class="copy icon"></i>
                            Copy
                        </button>
                    </div>
                </div>
                <div class="field">
                    <label>Use this as your Thank You Page url (optional)</label>

                    <div class="ui action input">
                        <input type="text" class="endpoint-api" id="copy_me2" value="{{'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'}}">
                        <button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me2" data-clipboard-action="copy" clip-copy="'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'" ng-click="copied()">
                            <i class="copy icon"></i>
                            Copy
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button close" ng-click="cancel()">
            Back
        </div>
    </div>
</div>