<link rel="stylesheet" href="styles/froala_editor.min.css">
<link rel="stylesheet" href="styles/froala_style.min.css">
<link rel="stylesheet" href="styles/sweetalert.css">

<div ng-include="'templates/components/public/themes/default/dynamic-css.html'"></div>

<wave-spinner ng-if="loading"></wave-spinner>
<div class="row site_top_background_color sticky-header" ng-init="init();initialize();showNotifications()">

	<div sm-class="'ui equal width ' + (meta_data.logo_position == 'right' || meta_data.logo_position == 'below' ? ' computer reversed tablet reversed mobile reversed' : '' ) + ' grid container stackable'">

		<div class="row">
			<div class="middle aligned sixteen wide column">

				<a sm-class="'ui ' + meta_data.logo_size + (meta_data.logo_border == '1' ? ' bordered' : '' ) +  ' ' + meta_data.logo_style + ' fluid centered image'" ng-href="/{{options.logo_url}}" target="{{options.logo_url && startsWithExternalUrl(options.logo_url) ? '_blank' : ''">
					<h1 ng-hide="options.site_logo" class="headline_text_color">{{site.name}}</h1>
					<img ng-show="options.site_logo" ng-src="{{options.site_logo}}" class="m-t-sm m-b-sm">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row m-t-lg site_middle_background_color sticky-content">

	<div class="ui grid container stackable">
		<div class="row">

			<ui-view></ui-view>

		</div>
	</div>
</div>

<div class="row site_bottom_background_color sticky-footer">
	<div class="ui grid container">
		<div class="row">
			<div class="column text-center" ng-include="'templates/components/public/themes/default/common/footer.html'"></div>
		</div>
	</div>
</div>
