<div class="ui modal">
    <i class="close icon"></i>
    <style>
        .item-wrapper a{
            /* make the link always show up */
            display: inline !important;
        }

        .item-wrapper{
            /* make absolutely positioned children constrained to this box*/
            position: relative;
        }

        .item-wrapper form {
            background: #FFF;
            border: 1px solid #AAA;
            border-radius: 5px;
            display: inline-block;
            left: 50%;

            /* half the width */
            margin-left: -110px;
            padding: 7px;
            position: absolute;
            top: -55px;
            z-index: 101;
        }

        .item-wrapper form:before{
            content:"";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #AAA;
            position:absolute;
            bottom:-10px;
            left:100px;
        }

        .item-wrapper form:after{
            content:"";
            width:0;
            height:0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 9px solid #FFF;
            position:absolute;
            bottom:-9px;
            left:101px;
        }
    </style>
    <div class="header">
        <i class="student icon"></i>
        Lesson organizer
    </div>
    <div class="content">
        <div class="description">
            <div class="ui message">
                <p>Add new lessons, modules, and re-order them with this organization tool</p>
            </div>

            <div class="ui attached segment">
                <button class="ui button" ng-click="addModule()">Add new module</button>
                <div class="ui segment" ng-if="anythingChecked()">
                    <strong>Bulk Actions</strong>
                    <button class="ui red button" sm-delete="selected" delete-function="bulkDelete">Delete</button>
                    <button class="ui {{$parent.bulk_edit_access ? 'orange' : 'green'}} button" ng-if="anythingChecked('lessons')" ng-click="toggleBulkAccessEdit()">{{$parent.bulk_edit_access ? 'Close' : 'Change Access'}}</button>
                    <div class="ui form segment" ng-if="bulk_edit_access">
                        <h4>Update access for selected lessons</h4>
                        <strong>Access</strong>
                        <select ng-model="bulk_edit.access_level_type" ng-options="a.id as a.name for a in access_level_choices">
                        </select>
                        <br />
                        <strong ng-if="bulk_edit.access_level_type == 2">Access Level</strong>
                        <select ng-if="bulk_edit.access_level_type == 2" ng-model="bulk_edit.access_level_id" ng-options="a.id as a.name for a in access_levels" style="margin-bottom:10px;">
                        </select>
                        <button class="ui green button" ng-click="bulkUpdateAccess()">Save</button>
                    </div>
                </div>
            </div>

            <div class="ui section divider"></div>

            <div class="ui active inverted dimmer" ng-if="loading">
                <div class="ui loader"></div>
            </div>

            <div ng-if="!loading" class="ui checkbox" ng-model="all_modules_selected" ng-click="toggleModuleSelection( all_modules_selected )" style="margin-bottom: 20px;" sui-checkbox>
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Modules</label>
            </div>

            <div ng-if="!loading" class="ui checkbox" ng-model="all_lessons_selected" ng-click="toggleLessonSelection( all_lessons_selected )" style="margin-bottom: 20px;margin-left:15px;" sui-checkbox>
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Lessons</label>
            </div>

            <div ng-if="!loading" class="connectModulePanels"  ui-sortable="ModuleSortableOptions" ng-model="modules">
                <div class="ui segments module_item" data-id="{{module.id}}" data-ng-repeat="module in modules">
                    <div class="ui segment">
                        <div class="tiny ui buttons" style="float:right;">
                            <button ng-if="!module.new" class="ui green button" ng-click="addLesson(module)">Add Lesson</button>
                            <button class="ui red button" ng-if="module.id" sm-delete="{{module.id}}" delete-function="deleteModule"><i class="align trash icon"></i></button>
                            <button class="ui red button" ng-if="module.new && ! moduleSaveTitle" ng-click="removeNewModule( module )"><i class="align trash icon"></i></button>
                        </div>
                        <p>
                            <div ng-if="module.id || module.new" class="ui checkbox" ng-model="module.checked" sui-checkbox>
                                <input type="checkbox" tabindex="0" class="hidden">
                            </div>
                            <a ng-if="module.id || module.new" href="#" editable-text="module.title" onaftersave="saveModuleTitle(module)">{{module.title || 'Empty'}}</a>
                            <a ng-if="!module.id && !module.new" href="#" editable-text="options['default_module_title']" onaftersave="saveModuleTitle({title:options['default_module_title']})">{{options['default_module_title'] || 'Default'}}</a>
                        </p>
                    </div>
                    <div class="ui checkbox" ng-model="lessons_selected" ng-click="toggleLessonsSelected( lessons_selected, module )" style="margin-bottom: -10px;margin-left:30px;" sui-checkbox>
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Select All</label>
                    </div>
                    <div class="ui segments connectLessons" ui-sortable="LessonSortableOptions" ng-model="module.lessons">
                        <div class="ui segment lesson_item" data-ng-repeat="next_item in module.lessons" data-id="{{next_item.id}}">
                            <div class="ui stackable grid">
                                <div class="four wide column">
                                    <div class="ui checkbox" ng-model="next_item.checked" sui-checkbox>
                                        <input type="checkbox" tabindex="0" class="hidden">
                                    </div>
                                    <a href="#" editable-text="next_item.title" onaftersave="saveLessonTitle(next_item)">{{next_item.title || "Empty"}}</a>
                                </div>
                                <div class="four wide column">
                                    <label>Access: </label>
                                    <span class='item-wrapper'>
                                        <a href="#" editable-select="next_item.access_level_type" e-ng-options="a.id as a.name for a in access_level_choices" onaftersave="saveLessonAccessLevel(next_item)">
                                            {{ showAccessLevelType( next_item ) }}
                                        </a>
                                    </span>
                                    <br />
                                    <label ng-if="next_item.access_level_type == 2">Access Level: </label>
                                    <span class='item-wrapper' ng-if="next_item.access_level_type == 2">
                                        <a href="#" editable-select="next_item.access_level_id" e-ng-options="a.id as a.name for a in access_levels" onaftersave="saveLessonAccessLevel(next_item)">
                                            {{ showAccessLevel( next_item ) }}
                                        </a>
                                    </span>
                                </div>
                                <div class="four wide column">

                                </div>
                                <div class="four wide column">
                                    <div class="tiny ui buttons" style="float:right;">
                                        <a class="ui blue button" ng-href="/admin/lesson/{{next_item.id}}?organizer"><i class="align edit icon"></i></a>
                                        <button ng-if="next_item.id" class="ui red button" sm-delete="{{next_item.id}}" delete-function="deleteLesson"><i class="align trash icon"></i></button>
                                        <button ng-if="!next_item.id && !lessonSaveTitle" class="ui red button" ng-click="removeNewLesson( next_item, module )"><i class="align trash icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div ng-click="CloseAdminState()" ng-show="SiteStateExists()" class="ui black deny button close">
            Close
        </div>
        <a ng-if="false" ng-click="smModal.Show(template_data.edit_route, {modal_options:{closable:false}})" class="ui right labeled icon green button">
            Create new {{template_data.singular}}
            <i class="plus icon"></i>
        </a>
    </div>
</div>