<div class="ui modal" ng-init="init()">
	<i class="close icon"></i>

	<div class="header">
	    <i class="paragraph icon"></i>
	    {{ template_data.title | translate }}
	</div>
	<div class="content">
		<div>
			<div class="row">
				<div class="col-md-12 border-right animated-panel zoomIn" style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
					<i class="pe-7s-display1 fa-5x" style="font-size:11em;"></i>
				</div>
				<div class="pull-left col-md-12 animated-panel zoomIn" style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">
					<div>
						<h3 class="ui header">JV Page Builder</h3>
						<!-- <span ng-if="emailLists.length == 0" class="label-warning"> You do not have an email list stored. The JV page can not be saved without specifying a mailing list.  </span>
						<p>Build a custom JV page to announce your launch to affiliates!</p> -->
					</div>
				</div>
			</div>
		   <div class="field row">
                <label>
                    
                </label>
            </div>
	        <form name="jvform">
			<div class="field row">
				<div class="col-sm-12">
					<input type="text" name="title" class="form-control input-lg" placeholder="Title" ng-model="jv.title" />
					<span class="help-block m-b-none">
					</span>
				</div>
			</div>

			<div class="field row">
				<div class="col-sm-12">
                    <textarea froala ng-model="jv.content"></textarea>
					<span class="help-block m-b-none">
					</span>
				</div>
			</div>

			<div class="field row">
				<label class="col-sm-12 control-label">Video / Embed Content</label>
				<div class="col-sm-12">
					<textarea name="embed_content" class="form-control input-lg" ng-model="jv.embed_content"></textarea>
					<span class="help-block m-b-none">
					</span>
				</div>
			</div>

			<div class="field row">
				<label class="col-sm-12 control-label">Email List (*required)</label>
				<div class="col-sm-12">
					<select ng-model="jv.email_list_id" required>
						<option name="email_list" ng-repeat="list  in emailLists" value="{{list.id}}">{{list.name}}</option>
					</select>
					<span class="help-block m-b-none">
						Specify an email list where users can subscribe.
					</span>
				</div>
			</div>

			<div class="field row">
				<label class="col-sm-12 control-label">Subscribe Button Text</label>
				<div class="col-sm-12">
					<input type="text" name="download_button_text" class="form-control input-lg" ng-model="jv.subscribe_button_text" placeholder="Subscribe" />
					<span class="help-block m-b-none">
					</span>
				</div>
			</div>
			<div class="field row">
				<label class="col-sm-12 control-label">Subscribe Button Color</label>
				<div class="col-sm-12">
					<spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
					 ng-model="jv.subscribe_button_color"></spectrum-colorpicker>
				</div>
			</div>
			<div class="field row">
	            <div class="col-sm-12 ">
	                <h3 class="text-center pull-left">
	                    <a href="/jvpage" target="_blank" data-bypass="true">
	                        Click here to preview your JV page
	                    </a>
	                </h3>
	                <span class="help-block m-b-none">
	                </span>
	            </div>
	        </div>

			<div class="field row">
				<label class="col-sm-12 control-label">Redirect Link</label>
				


				<div class="col-sm-12">
				<a ng-class="{'notActive':isChecked==true}" ng-model="jv" url-popup position="top center" duration="10000" hide="10000" html="/templates/modals/popover.html">{{ jv.redirect_url || 'Select URL' }}</a>
					<a href ng-if="jv.redirect_url" ng-click="jv.redirect_url = ''"><i class="glyphicon glyphicon-remove"></i></a>
					<span class="help-block m-b-none">
						This URL is where users are redirected to if they press the button to subscribe.
					</span>
					<div class="checkbox col-md-12">
						<label>
							<input type="checkbox" ng-model="isChecked" name="use_freebie_page" ng-click="setUrl(); jv.redirect_url=''" > Use "Thank you" page (you can set the text display to users upon subscription below).
						</label>
					</div>
				</div>

			</div>

			<div class="field row">
				<label class="col-sm-12 control-label">Thank you note</label>
				<div class="col-sm-12">
                    <textarea froala ng-model="jv.thankyou_note"></textarea>
					<span class="help-block m-b-none">
					</span>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="actions">
	    <div ng-click="save()" class="ui right labeled icon button">
	       Save changes
	        <i class="checkmark icon"></i>
	    </div>
	    <div class="ui black deny button close">
	        Close
	    </div>
	</div>
</div>
