<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="picture icon"></i>
		{{ contest.id ? 'Edit existing' : 'Add a new' }} contest
	</div>
	<div class="content">
		<div class="description">

			<div class="ui form">

				<div class="field">
					<label>Contest Title</label>
					<input type="text" ng-model="contest.title" ng-blur="setPermalink(contest.title)">
				</div>
				<div class="field">
					<label>Permalink</label>
					<input type="text" ng-model="contest.permalink">
				</div>
				<div class="inline fields">
					<label>Contest Type</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" checked="" tabindex="0"  value="sales" ng-model="contest.type">
							<label>Sales</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" tabindex="0"  value="leads" ng-model="contest.type">
							<label>Leads</label>
						</div>
					</div>
				</div>
				<div class="inline field">
					<label>Upload image / logo</label>
					<button type="button" class="ui button" sm-uploader="featured_image" ng-model="contest.featured_image">
						<i class="upload icon"></i>
						Choose File
					</button>
					<button ng-if="contest.featured_image" class="ui left labeled icon button" ng-click="contest.featured_image = ''">
						Clear
						<i class="remove icon"></i>
					</button>
				</div>
				<div ng-if="contest.featured_image" class="field">
					<img class="ui large image" ng-src="{{contest.featured_image}}" style="max-width:100%;">
				</div>
				<div class="field">
					<label>Start Date</label>
					<input type="date" ng-model="contest.start_date" max-date="'2020-06-22'" ng-required="true"/>
					<div class="col-md-8">
					</div>
				</div>
				<div class="field">
					<label>End Date</label>
					<input type="date" ng-model="contest.end_date" max-date="'2020-06-22'" ng-required="true" close-text="Close"/>
				</div>
				<div class="field">
					<label>Page Content</label>
					<textarea ng-model='contest.content' froala></textarea>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button " ui-sref="public.app.admin.jv.contests">
			Cancel
		</div>
		<a  ng-click="save()" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</a>
	</div>
</div>