<section>
    <a ng-href="admin/resource/livecast/" class="btn btn_outline float_right">
        <i class="ts_icon ts_icon_cloud_download small_right_margin"></i>
        Create New Livecast
    </a>
    <p class="">
        Easily embed live recording / hangout code into pages!
    </p>

    <hr>

    <div class="smart_only_area">
        <div class="" infinite-scroll="loadMore()" infinite-scroll-distance='1' infinite-scroll-disabled="disable">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Permalink</th>
                    <th>Views</th>
                    <th>Created Date</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody class="js-list">
                    <tr ng-repeat="livecast in livecasts">
						<td>
							<a href="/admin/resource/livecast/{{livecast.id}}">{{livecast.title}}
							</a>
						</td>
                        <td>
                            <a href="/{{livecast.permalink}}" target="_blank">/{{livecast.permalink}}</a>
                        </td>
						<td>
							NA
						</td>
						<td>{{moment.utc(livecast.created_at).fromNow()}}</td>
                        <td>
                            <span class="pull-right fa fa-trash" ng-click="delete(livecast.id)" style="cursor:pointer;" ></span>
                            <a href="/admin/resource/livecast/?clone={{livecast.id}}"><i class="fa fa-copy pull-right"></i></a>
                            <a href="/{{livecast.permalink}}" target="_blank"><i class="fa fa-eye pull-right"></i></a>
                        </td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
</section>