<div class="ui {{static_menu ? '' : 'fixed'}} inverted menu">
	<div class="ui container">
		<a ui-sref="public.www.home" class="header item">
			<img class="logo" src="/images/smart-member-logo.png">
		</a>
		<div class="ui simple dropdown item" ng-if="0">
			Products <i class="dropdown icon"></i>

			<div class="menu">
				<a ui-sref="public.www.soon" class="item">
					Smart Sites
				</a>
				<a ui-sref="public.www.soon" class="item">
					Smart Mail
				</a>
				<a ui-sref="public.www.soon" class="item">
					Smart JV
				</a>
				<a ui-sref="public.www.soon" class="item">
					Smart Links
				</a>
				<div class="divider"></div>
				<a ui-sref="public.www.soon" class="item">
					Smart Member
				</a>
			</div>
		</div>

		<a ui-sref="public.www.pricing" class="item" ng-if="0">
			Pricing
		</a>
		<div class="ui simple dropdown item" ng-if="0">
			Resources
			<i class="dropdown icon"></i>

			<div class="menu">
				<a ui-sref="public.www.soon" class="item">
					Customers
				</a>
				<a ui-sref="public.www.soon" class="item">
					Docs
				</a>
				<a ui-sref="public.www.soon" class="item">
					Get a Demo
				</a>
				<a ui-sref="public.www.soon" class="item">
					Site Directory
				</a>
				<a ui-sref="public.www.soon" class="item">
					Developers
				</a>
			</div>
		</div>
		<a ui-sref="public.www.blog" class="item">
			Blog
		</a>
		<a class="item" ng-href="{{login_url}}">
			Log in
		</a>
		<div class="item">
			<div class="ui small action input">
				<input type="email" ng-model="email" placeholder="Enter your email">
				<div class="ui red button" ng-click="createUser(email)">GET STARTED</div>
			</div>
		</div>
	</div>
</div>