<div  ng-controller="FiltersController">
	<div class="ui sticky secondary menu">
		<div class="item zero-padding">
			<div class="ui dropdown" sui-dropdown>
				<div class="text">{{type == 'lead' ? 'Leads' : 'Members'}}</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<a ng-click="toggleMembers()" class="item {{type == 'member' ? 'active selected' : ''}}">Members</a>
					<a ng-click="toggleLeads()" ng-if="$state.current.name != 'admin.app.access.edit-key'" class="item {{type == 'lead' ? 'active selected' : ''}}">Leads</a>
				</div>
			</div>
		</div>
		<div class="right item zero-padding">
			<div class="ui dropdown" sui-dropdown>
				<div class="text">{{$parent.$parent.operation == '$or' ? 'Match any filter' : 'Match all filters'}}</div>
				<i class="dropdown icon"></i>

				<div class="menu">
					<div class="item {{operation == '$or' ? 'active selected' : ''}}" ng-click="$parent.$parent.operation = '$or';hasAnyFilter()? paginate(): '' ">Match any filters</div>
					<div class="item {{operation == '$and' ? 'active selected' : ''}}" ng-click="$parent.$parent.operation = '$and';hasAnyFilter()? paginate(): ''">Match all filters</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui hidden clearing divider"></div>
	<div class="ui vertical sticky secondary menu">
		<!-- <pre>{{attributes|json}}</pre> -->
		<div class="item">
			<div class="header">{{filters['User ID'].action == 'is_unknown' ? 'Lead' : 'Member'}} Data</div>
			<div class="menu list">
				<div class="item" ng-repeat="next_item in attributes">

					<div class="ui small toggle checkbox" ng-click="toggleFilter(next_item)" ng-model="filters[next_item.name].show_filterbox" sui-checkbox>
						<input type="checkbox" tabindex="0" class="hidden">
						<label class="uppercase">
							<i class="user icon"></i> {{next_item.name}}
						</label>
					</div>
					<sm-filterbox ng-model="filters[next_item.name]" data-name='{{next_item.name}}' data-type="{{next_item.type}}"></sm-filterbox>
				</div>
				<div class="item" ng-repeat="next_item in member_custom_attributes">
					<div class="ui checkbox" ng-click="toggleFilter(next_item)" ng-model="filters[next_item.name].show_filterbox">
						<input type="checkbox" ng-model="filters[next_item.name].show_filterbox">
						<label>{{next_item.name}}</label>
					</div>
					<sm-filterbox ng-model="filters[next_item.name]" data-name='{{next_item.name}}' data-type="{{next_item.type}}"></sm-filterbox>
				</div>
			</div>
		</div>
		<div class="item" ng-if="events.length">
			<div class="header">Events</div>
			<div class="menu list">
				<div class="item" ng-repeat="next_item in events">
					<div class="ui checkbox" ng-click="toggleFilter(next_item)" ng-model="filters[next_item.name].show_filterbox">
						<input type="checkbox" ng-model="filters[next_item.name].show_filterbox">
						<label>{{next_item.name}}</label>
					</div>
					<sm-filterbox ng-model="filters[next_item.name]" data-name='{{next_item.name}}' data-type="{{next_item.type}}"></sm-filterbox>
				</div>
			</div>
		</div>
	</div>

	<!-- <button class="ui basic fluid button">Add a Rule</button> -- >
</div>