<section>

	<div id="wrapper">

				<div class="animate-panel">

					<div class="content">

						<div>
							<div class="row">
								<div class="col-md-12 animated-panel fadeInDown" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
									<div class="hpanel hbgblue">
										<div class="panel-body">

											<div class="row">
												<div class="col-md-2 border-right animated-panel zoomIn" style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
													<i class="pe-7s-display1 fa-5x" style="font-size:11em;"></i>
												</div>
												<div class="col-md-8 col-md-offset-1 animated-panel zoomIn" style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">
													<div class=" m-b-md">
														Here are the tickets your members have submitted, asking for help.

													</div>
												</div>
											</div>
											<div class="row">
												<a class="pull-right btn btn-success" ng-click="openModal()">Create a new ticket</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row js-list" style="overflow-x: scroll;">
								<div class="col-md-12 animaged-panel fadeInUp" infinite-scroll="loadMore()" infinite-scroll-distance='1' infinite-scroll-disabled="disable">
									<div class="hpanel">
										<div class="panel-body">
											<div>
												<style>
													tr, td {
														cursor: pointer;
													}
												</style>
												<table id="example1" class="display table table-bordered" >
													<thead>
													<tr >
														<th>ID</th>
														<th>Status</th>
														<th>Type</th>
														<th>User</th>
														<th>Subject</th>
														<th>Message</th>
														<th>Attachment</th>
														<th>Read</th>
														<th>Created Date</th>
													</tr>
													</thead>
													<tbody style="overflow:auto;" ng-repeat="ticket in tickets">
													<tr>
														<td><a href="/service/resource/ticket/{{ticket.id}}">{{ticket.id}}</a></td>
														<td>{{ticket.status}}</td>
														<td>{{ticket.type}}</td>
														<td>{{ticket.user_name}}</td>
														<td>{{ticket.subject}}</td>
														<td>{{ticket.message}}</td>
														<td>
															<a ng-if="ticket.attachment" class="btn btn-success" href="{{ticket.attachment}}">Download</a>
															<p ng-if="!ticket.attachment">No attachment</p>
														</td>
														<td>{{ticket.read}}</td>
														<td>{{moment.utc(ticket.created_at).fromNow()}}</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				
			</div>
		</div>
	</div>
</section>








