
<div class="ui basic segment">

	<div class="ui active inverted dimmer" ng-if="loading">
		<div class="ui text loader">Loading</div>
	</div>
	<h1 class="ui center aligned header headline_text_color" ng-if="!searching">
		{{next_item.title}}
	</h1>
	<h1 class="ui center aligned header headline_text_color" ng-if="searching">
		Search results for "{{query}}"
	</h1>
	<div class="ui form text-center">
		<div class="ui large icon input">
			<input type="text" placeholder="Search..." ng-model="query" ng-change="search( query )" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }">
			<i class="search icon"></i>
		</div>
	</div>
</div>

<div class="ui attached clearing segment section_background_color" data-position="top left" data-edit="{{site.is_admin ? true : false}}" data-state="public.app.admin.{{next_item.content_type}}" data-stateAttributes='{"id":{{next_item.id}}, "closeOnCancel":true}' sui-popup ng-if="!searching && ( loading || next_item.featured_image || next_item.embed_content )">

	<div ng-if="next_item.embed_content && ShouldSuiHandleEmbed( next_item.embed_content ) && next_item.featured_image &&next_item.always_show_featured_image" class="ui embed" data-url="{{next_item.embed_content | extractsrc}}" data-original-embed="{{next_item.embed_content}}" data-placeholder="{{next_item.featured_image}}" sui-embed></div>

	<div ng-if="next_item.embed_content && ShouldSuiHandleEmbed( next_item.embed_content ) && !(next_item.featured_image &&next_item.always_show_featured_image)" class="ui embed" data-url="{{next_item.embed_content | extractsrc}}" data-original-embed="{{next_item.embed_content}}" sui-embed></div>

	<div ng-if="next_item.embed_content && !ShouldSuiHandleEmbed( next_item.embed_content )" dynamic="next_item.embed_content" class="fr-view">

	</div>

	<img class="ui fluid image" ng-src="{{next_item.featured_image}}" ng-if="next_item.featured_image && (!next_item.embed_content && next_item.always_show_featured_image == 1)">

	<div ng-if="!next_item.access && !loading">
		<a class="ui fluid image" ng-if="next_item.access_level.information_url" ng-href="{{next_item.access_level.information_url}}">
			<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
		</a>
		<a href="#" class="ui fluid image" ng-click="showNoAccessLogin()" ng-if="!next_item.access_level.information_url">
			<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
		</a>
	</div>
</div>

<div class="ui attached clearing padded segment section_background_color text-left" ng-if="next_item.content && !searching">
	<div dynamic="next_item.content" ng-if="next_item.content" class="fr-view"></div>
</div>

<div class="ui padded segment section_background_color support-articles" ng-if="!searching">

	<div class="ui basic segment center aligned p-none" ng-if="next_item.breadcrumb">
		<div class="ui breadcrumb" dynamic="breadCrumbParent( next_item )"></div>
	</div>

	<div class="ui two column grid">
		<div class="column" ng-repeat="article in next_item.articles">
			<a class="" href="/{{article.permalink}}">
				<div class="content">
					<div class="header">{{article.title}}</div>
				</div>
				<div class="description" style="">
					{{article.content | cut:true:200:' ...'}}
				</div>
			</a>

			<div class="ui divider"></div>
		</div>
	</div>
</div>

<div class="ui padded segment section_background_color support-articles" ng-if="searching">
	<div class="ui two column grid">

		<div class="column" ng-repeat="article in search_results">
			<a class="" href="/{{article.permalink}}">
				<div class="content">
					<div class="header">{{article.title}}</div>
				</div>
				<div class="description">
					{{article.content | cut:true:200:' ...'}}
				</div>
			</a>

			<div class="ui divider"></div>
		</div>
		<div class="ui info message twelve wide column no-results" ng-if="!search_results || search_results.length == 0">
			No articles matched your query.
		</div>
	</div>
</div>