<div class="ui top attached section_background_color" ng-if="next_item.breadcrumb" style="margin-bottom:0;">
    <span dynamic="breadCrumbParent( next_item )"></span>
</div>
<div class="ui top attached section_background_color">
    <div class="ui form">
        <div class="form">
            <input type="text" placeholder="Search..." ng-model="query" ng-change="search( query )" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }" style="color:#000;rgba(0, 0, 0, 0.4);" />
        </div>
    </div>
</div>
<h2 class="ui top attached header section_background_color" style="{{next_item.breadcrumb ? 'margin-top: 5px;' : ''}}" ng-if="!searching">
    {{next_item.title}}
</h2>
<h2 class="ui top attached header section_background_color" style="{{next_item.breadcrumb ? 'margin-top: 5px;' : ''}}" ng-if="searching">
    Search results for "{{query}}"
</h2>
<div class="ui attached clearing segment section_background_color" data-position="top left" data-edit="{{site.is_admin ? true : false}}" data-state="public.app.admin.{{next_item.content_type}}" data-stateAttributes='{"id":{{next_item.id}}, "closeOnCancel":true}' sui-popup ng-if="!searching && ( loading || next_item.featured_image || next_item.embed_content )">

    <div class="ui active inverted dimmer" ng-if="loading">
        <div class="ui text loader">Loading</div>
    </div>

    <div ng-if="next_item.embed_content && ShouldSuiHandleEmbed( next_item.embed_content ) && next_item.featured_image &&next_item.always_show_featured_image" class="ui embed" data-url="{{next_item.embed_content | extractsrc}}" data-original-embed="{{next_item.embed_content}}" data-placeholder="{{next_item.featured_image}}" sui-embed></div>

    <div ng-if="next_item.embed_content && ShouldSuiHandleEmbed( next_item.embed_content ) && !(next_item.featured_image &&next_item.always_show_featured_image)" class="ui embed" data-url="{{next_item.embed_content | extractsrc}}" data-original-embed="{{next_item.embed_content}}"  sui-embed></div>

    <div ng-if="next_item.embed_content && !ShouldSuiHandleEmbed( next_item.embed_content )" dynamic="next_item.embed_content" class="fr-view">

    </div>

    <img class="ui fluid image" ng-src="{{next_item.featured_image}}" ng-if="next_item.featured_image && (!next_item.embed_content && next_item.always_show_featured_image == 1)">

    <div ng-if="!next_item.access && !loading">
        <a class="ui fluid image" ng-if="next_item.access_level.information_url" ng-href="{{next_item.access_level.information_url}}">
            <img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
        </a>
        <a href="#" class="ui fluid image" ng-click="showNoAccessLogin()" ng-if="!next_item.access_level.information_url">
            <img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
        </a>
    </div>
</div>

<div class="ui attached clearing padded segment section_background_color text-left" ng-if="next_item.content && !searching">
    <div dynamic="next_item.content" ng-if="next_item.content" class="fr-view"></div>
</div>

<div class="ui grid" style="margin-top:15px;" ng-if="!searching">
    <div class="eight wide column" ng-repeat="article in next_item.articles">
        <a class="" href="/{{article.permalink}}" style="padding-bottom: 25px;margin-bottom: 30px;border-bottom: 1px #b7bbc4 dotted; display:block;">
            <div class="content">
                <div class="header" style=" color: #328ece; font-size: 14px;font-weight: bold;text-transform: uppercase; font-family: Helvetica, Arial, sans-serif;padding-bottom: 8px; min-height:52px;">{{article.title}}</div>
            </div>
            <div class="description" style="margin: 0;color: #86939c;line-height: 26px;font-family: Helvetica, Arial, sans-serif;font-size: 16px; min-height: 52px;">
                {{article.content | cut:true:200:' ...'}}
            </div>
        </a>
    </div>
</div>

<div class="ui grid" style="margin-top:15px;" ng-if="searching">
    <div class="ui active inverted dimmer" ng-if="loading">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="twelve wide column" ng-repeat="article in search_results" style="margin-left: auto; margin-right: auto;">
        <a class="" href="/{{article.permalink}}" style="padding-bottom: 25px;margin-bottom: 30px;border-bottom: 1px #b7bbc4 dotted; display:block;">
            <div class="content">
                <div class="header" style=" color: #328ece; font-size: 14px;font-weight: bold;text-transform: uppercase; font-family: Helvetica, Arial, sans-serif;padding-bottom: 8px;">{{article.title}}</div>
            </div>
            <div class="description" style="margin: 0;color: #86939c;line-height: 26px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;">
                {{article.content | cut:true:200:' ...'}}
            </div>
        </a>
    </div>
    <div class="ui info message twelve wide column" ng-if="!search_results || search_results.length == 0" style="margin-left: auto; margin-right: auto;">
        No articles matched your query.
    </div>
</div>