<h3 class="ui attached header" ng-if="next_item.discussion_settings.show_comments">
	Comments
</h3>
<div class="ui attached clearing padded segment section_background_color" ng-if="next_item.discussion_settings.show_comments" ng-init="loadComments()">


	<div ng-if="next_item.comments.length == 0">
		<div class="ui message">
			<p>No comments yet</p>
		</div>
	</div>

	<div class="ui threaded comments">
		<div class="comment comment_parent" ng-repeat="comment in next_item.comments | orderBy:'created_at':next_item.discussion_settings.newest_comments_first">
			<a class="avatar">
				<img title="{{comment.user.first_name}} {{comment.user.last_name}}" src="{{comment.user.profile_image || 'http://www.gravatar.com/avatar/90b9efad502faa07e2f045c8ce1919eb?d=mm&s=48'}}">
			</a>
			<div class="content">
				<a class="author">{{comment.user.first_name}} {{comment.user.last_name}}</a>
				<div class="metadata">
					<span class="date">{{moment.utc( comment.created_at ).fromNow()}}</span>
				</div>
				<div ng-if="!comment.edit" class="text">
					{{comment.body}}
				</div>
				<div ng-if="comment.edit" class="text">
					<p editable-text="comment.body" onaftersave="editComment(comment)" >{{comment.body}}</p>
				</div>
				<div class="actions">

					<a class="reply" ng-show="next_item.discussion_settings.allow_replies && user.access_token" ng-init="show_reply_div = false" ng-click="show_reply_div = !show_reply_div">Reply</a>
					<a class="reply" ng-if="site.is_admin|| comment.user_id == user.id" ng-init="comment.edit = false" ng-click="comment.edit = !comment.edit">Edit</a>

					<a class="reply" ng-if="site.is_admin || comment.user_id == user.id" ng-click="deleteComment(comment)">Delete</a>
				</div>
			</div>
			<div class="comments" ng-if="comment.reply">
				<div class="comment comment_item" ng-repeat="reply in comment.reply | orderBy:'created_at'">
					<a class="avatar">
						<img title="{{reply.user.first_name}} {{reply.user.last_name}}" src="{{reply.user.profile_image || 'http://www.gravatar.com/avatar/90b9efad502faa07e2f045c8ce1919eb?d=mm&s=48'}}">
					</a>
					<div class="content">
						<a class="author">{{reply.user.first_name}} {{reply.user.last_name}}</a>
						<div class="metadata">
							<span class="date">{{moment.utc( reply.created_at ).fromNow()}}</span>
						</div>
						<div ng-if="!reply.edit && reply.user.id" class="text">
							{{reply.body}}
						</div>
						<div ng-if="reply.edit" class="text">
							<p editable-text="reply.body" onaftersave="editReply(reply)" >{{reply.body}}</p>
						</div>
						<div class="actions">
							<a class="reply" ng-if="site.is_admin || reply.user_id == user.id" ng-init="reply.edit = false" ng-click="reply.edit = !reply.edit">Edit</a>
							<a class="reply" ng-if="site.is_admin || reply.user_id == user.id" ng-click="deleteReply(reply , comment)">Delete</a>
						</div>
					</div>
				</div>
			</div>
			<div class="reply_comment_area" ng-if="show_reply_div && user.id">
				<div class="ui reply form" ng-if="!next_item.discussion_settings.close_to_new_comments || next_item.discussion_settings.close_to_new_comments == '0'">
					<div class="field">
						<textarea ng-model="new_reply"></textarea>
					</div>
					<div class="ui blue labeled submit icon button" ng-click="saveReply(comment , new_reply)">
						<i class="check icon"></i> Add Reply
					</div>
				</div>
			</div>
		</div>
		<div ng-if="user.id">
			<h4 class="ui horizontal divider header" ng-if="(!next_item.discussion_settings.close_to_new_comments || next_item.discussion_settings.close_to_new_comments == '0')">
				<i class="plus icon"></i>
				Add Comment
			</h4>

			<div class="ui reply form" ng-if="!next_item.discussion_settings.close_to_new_comments || next_item.discussion_settings.close_to_new_comments == '0'">
				<div class="field">
					<textarea ng-model="new_comment"></textarea>
				</div>
				<div class="ui blue labeled submit icon button" ng-click="saveComment(new_comment);new_comment=''">
					<i class="check icon"></i> Submit
				</div>
			</div>
		</div>
	</div>
</div>
