
<div class="sixteen wide column" ng-if="!loading">
	<div class="column">
		<div class="ui compact segment basic">
			<h2 class="ui header headline_text_color">
				{{post.title}}
			</h2>
		</div>

	</div>
</div>
<div class="row">
	<div class="ui grid">
		<div class="twelve wide column">

			<div class="ui piled segment section_background_color" ng-class="{'loader':loading}">

				<div class="ui embed" data-url="{{post.embed_content | extractsrc}}" data-placeholder="{{post.featured_image}}" data-icon="right circle arrow" ng-if="post.embed_content && post.embed_content.indexOf('<iframe') != -1">
					<div dynamic="post.embed_content" ng-if="post.embed_content"></div>
				</div>

				<div class="ui segment section_background_color" ng-if="post.embed_content && post.embed_content.indexOf('<iframe') == -1">
					<div dynamic="post.embed_content" ng-if="post.embed_content"></div>
				</div>

				<img class="ui fluid image" ng-src="{{post.featured_image}}" ng-if="post.featured_image && post.always_show_featured_image">

				<div ng-if="!post.access">
					<a class="ui fluid image" ng-href="{{post.access_level.information_url || '/sign/in/'}}">
						<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
					</a>
				</div>

				<div class="ui padded basic segment">
					<a ng-if="is_site_admin || is_team_member" ng-href="admin/site/content/blog/post/{{post.id}}" class="">Edit</a>

					<h3 class="text-center" style="font-weight: bold;" ng-if="post.timeLeft > 0">
						You can access to this content in:
					</h3>
					<h3 class="text-center" ng-if="post.timeLeft > 0">
						<timer countdown="post.timeLeft" interval="1000">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
					</h3>

					<div class="lesson_meta" style="min-height: 40px;">
                        <span class="pull-left" style="padding-left: 20px; padding-top: 5px;">
                            <a ng-if="post.audio_file" ng-href="{{public.app.apiUrl}}/utility/download?file={{post.audio_file}}" data-bypass="true" target="_blank" class="btn btn-sm btn-primary" title="Download Audio File" alt="Download Audio File"><span class="glyphicon glyphicon-download-alt" style="margin-right: 5px;"></span> Audio</a>
                        </span>
					</div>

					<div class="row" dynamic="post.content" ng-if="post.content && (post.show_content_publicly || post.access)"></div>

					<div>
						<p style="line-height: 24px;">
							{{post.description}}
						</p>
					</div>


					<div class="panel-footer comments_go_here" ng-show="post.discussion_settings.show_comments" style="margin-bottom:20px;">
						<div ng-include="'templates/components/public/app/common/comments.html'"></div>
					</div>

				</div>

			</div>
		</div>
		<div class="four wide column">

			<div class="ui grid">

				<div ng-include="'templates/components/public/app/common/sidebar.html'"></div>
			</div>

		</div>
	</div>
</div>
