<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="users icon"></i>
		Import Members
	</div>
	<div class="content">
		<div class="description">

			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

			<div class="ui message">
				<p>Invite people to become members of your site. Accounts will be created for them and credentials emailed.</p>
			</div>

			<div class="ui form">

				<div class="ui segment field">
					<label>Email Addresses</label>
					<textarea class="ui textarea" ng-model="members.emails"></textarea>
					<div class="ui compact info message">
						<p>Emails can be pasted into the box above separated by spaces, commas, or even 1 per line.</p>
					</div>
				</div>

				<div class="ui segment grouped fields" style="max-height: 450px; overflow-y: auto;">
					<label>Access Level(s)</label>
					<div class="field" ng-repeat="access_level in access_levels">
						<div class="ui checkbox" ng-model="members.access_levels[access_level.id]" sui-checkbox>
							<input type="checkbox" tabindex="0" class="hidden">
							<label>{{access_level.name}}</label>
						</div>
					</div>

					<div ng-show="access_levels.length>0" class="ui compact info message">
						<p>Choose which access levels the member will be given</p>
					</div>
					<div ng-show="access_levels.length==0" class="ui compact info message">
						<p>No access level created</p>
					</div>
				</div>

				<div class="ui segment inline field">
					<label>Expire Date</label>
					<input type="date" ng-model="members.expired_at" max-date="'2020-06-22'">
					<div class="ui compact info message">
						<p>Set an expiration date on these access passes (or leave empty for permanent)</p>
					</div>
				</div>

				<div class="ui segment inline field">
					<label></label>
					<input type="date" ng-model="members.expired_at" max-date="'2020-06-22'">
					<div class="ui compact info message">
						<p>Set an expiration date on these access passes (or leave empty for permanent)</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<a ng-click="CloseAdminState()" ng-show="SiteStateExists()" class="ui black button">
			Close
		</a>
        <div class="ui deny button" ui-sref="public.app.admin.members.list">
            Back
        </div>
		<a busy ng-click="save()" class="ui right labeled icon green button">
			Save changes
			<i class="check icon"></i>
		</a>
	</div>
</div>