<div class="ui modal"><i class="close icon"></i>
	<div class="content">
		<div class="row" >
			<div class="col-lg-12">

				<div class="ibox-content clear_box page-heading">
					<div class="p-xs">
						<div class="row">
							<div class="col-md-9">
								<div class="pull-left m-r-md">
									<i class="fa fa-envelope-o text-branded mid-icon"></i>
								</div>
								<h2 class="ui header">{{ 'EMAIL_SETTINGS' | translate }}</h2>
								<span>Update your preferences & settings for sending email.</span>
							</div>
							<div class="col-md-3 text-right">
								<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
									<i class="fa fa-question"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<form method="get" class="ui form" ng-submit="save()">
			<div class="row">
				<div class="col-lg-9">
					<div class="ibox ">
						<div class="ibox-content">

							<div class="field m-t-sm">
								<label class="col-sm-3 control-label">"From" Name</label>

								<div class="col-sm-9">
									<input type="text" class="form-control" ng-model="emailSettings.full_name">
									<span class="help-block m-b-none">This name will show as the sender of your emails</span>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="field">
								<label class="col-sm-3 control-label">"From" Email Address</label>

								<div class="col-sm-9">
									<input type="text" class="form-control" ng-model="emailSettings.sending_address">
									<span class="help-block m-b-none">This email will show as the sender of your emails</span>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="field">
								<label class="col-sm-3 control-label">"Reply-to" Email Address</label>

								<div class="col-sm-9">
									<input type="text" class="form-control" ng-model="emailSettings.replyto_address">
									<span class="help-block m-b-none">When recipients hit "reply", responses will be sent to this email address</span>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="field">
								<label class="col-sm-3 control-label">"Test" Email Address</label>

								<div class="col-sm-9">
									<input type="text" class="form-control" ng-model="emailSettings.test_email_address">
									<span class="help-block m-b-none">Default your email tests & previews to send to this email</span>
								</div>
							</div>

						</div>
					</div>
					<div class="ibox ">
						<div class="ibox-title">
							<h2 class="m-b-none">Email Signature</h2>
						</div>
						<div class="ibox-content">
							<textarea froala ng-model="emailSettings.email_signature"></textarea>
							<span class="help-block m-b-none">This signature is appended to the bottom of your emails; you can change it manually when sending email</span>
						</div>
					</div>
				</div>
				<!-- <div class="col-lg-3">
					<div class="ibox ">
						<div class="ibox-content">
							<button class="btn btn-brand btn-block" type="submit">Save changes</button>
						</div>
					</div>
				</div> -->
			</div>
		</form>
	</div>
	<div class="actions">
        <button ng-click="save()" class="ui right labeled icon button">
            Save changes
            <i class="checkmark icon"></i>
        </button>
        <div class="ui black deny button close" >
            Close
        </div>
    </div>
</div>