
<div class="ui modal">

	<div class="row">
		<div class="col-lg-12">

			<div class="ibox-content clear_box page-heading">
				<div class="p-xs">
					<div class="row">
						<div class="col-md-9">
							<div class="pull-left m-r-md">
								<i class="fa fa-edit text-branded mid-icon"></i>
							</div>
							<h2 class="ui header">{{ affiliate_team.id ? 'Update your' : 'Create an' }} Affiliate Team</h2>
							<span>Update / create using the form below.</span>
						</div>
						<div class="col-md-3 text-right">
							<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
								<i class="fa fa-question"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<form method="get" class="ui form" ng-submit="save()">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-content">

						<div class="field m-t-sm">
							<label class="col-sm-2 control-label">Name</label>

							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="affiliate_team.name">
								<span class="help-block m-b-none">This is the name of the team; it will be shown publicly</span>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="field m-t-sm">
							<label class="col-sm-2 control-label">Affiliates</label>

							<div class="col-sm-10">
								<select class="chosen-select"
										chosen
										multiple
										data-placeholder="Choose some affiliates"
										no-results-text="'No affiliates found'"
										ng-model="affiliate_team.members"
										ng-options="affiliate.user_name for affiliate in affiliates track by affiliate.affiliate_id">
								</select>
								<span class="help-block m-b-none">Choose which affiliates are on this team</span>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="field m-t-sm">
							<label class="col-sm-2 control-label"></label>

							<div class="col-sm-10">
								<button class="btn btn-brand" type="submit">Save</button>
								<a ng-click="smModal.Show('public.admin.team.jv.teams')" class="btn btn-default">Cancel</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</form>

</div>
