<div ng-if="integration.long_description" class="m-b-lg" ng-bind-html="integration.long_description"></div>

<div class="ibox">
	<div class="ibox-content p-sm">
		<ol class="breadcrumb text-center">
			<li>
				<a ui-sref="public.administrate.team.dashboard">{{ 'HOME' | translate }}</a>
			</li>
			<li ng-if="!integration_id">
				<a ui-sref="public.administrate.team.app_configurations.available">Available app_configurations</a>
			</li>
			<li ng-if="integration_id">
				<a ui-sref="public.administrate.team.app_configurations.list">My app_configurations</a>
			</li>
			<li ng-if="current_integration.site">
				site: {{current_integration.site.name}}
			</li>
			<li ng-if="current_integration.company">
				team: {{current_integration.company.name}}
			</li>
			<li ng-if="!current_integration.company && !current_integration.site">
				Add New
			</li>
			<li class="active">
				<strong>{{integration.name}}</strong>
			</li>
		</ol>
	</div>
</div>