<div class="sixteen wide column">

	<div class="ui active inverted dimmer" ng-if="loading">
		<div class="ui loader"></div>
	</div>

	<div class="ui fluid container contained_fluid" ng-if="!loading">
		<div class="ui centered grid">
			<div class="one wide column">

				<div class="ui vertical divider"></div>

			</div>
			<div class="seven wide column">

				<div class="ui basic segment" ng-repeat="next_item in tutorials">

					<a class="ui icon message">
						<i class="info icon"></i>
						<div class="content">
							<div class="header">
								{{next_item.title}}
							</div>
							<p>{{next_item.subtitle}}</p>
							<p>{{next_item.description}}</p>

							<div class="ui button" ng-click="smTutorial.Start( next_item.slug );">
								Start Tutorial
							</div>
						</div>
					</a>
				</div>
				<div class="ui hidden section divider"></div>

			</div>
		</div>
	</div>

</div>