<div class="ui modal" ng-init="initSalesPage()">
    <i class="close icon"></i>

    <div class="header">
        <i class="paragraph icon"></i>
        {{ template_data.title | translate }}
    </div>
    <div class="content">
        <div>
            <h3 class="ui header">Sales Page Builder</h3>
            <p>Build a custom sales page to present to unregistered users to promote your product!</p>
            <div class="hpanel">
                <div class="field row">
                    <label>
                        <div class="col-md-2">
                            <input type="checkbox" name="show_sales_page" class=" input-lg pull-left" ng-model="sales_options.sales_page_enabled" ng-true-value="1" ng-false-value="0" />
                        </div>
                        <div class="col-md-10">
                            <h4 class="text-left" style="line-height:50px; margin:0;">
                                Enable Sales Page
                            </h4>
                        </div>
                    </label>
                </div>
                <div class="field row">
                    <label>
                        <div class="col-md-2">
                            <input type="checkbox" name="show_sales_page" class=" input-lg pull-left" ng-model="sales_options.narrow_style" ng-true-value="1" ng-false-value="0" />
                        </div>
                        <div class="col-md-10">
                            <h4 class="text-left" style="line-height:50px; margin:0;">
                                Enable Narrow style
                            </h4>
                        </div>
                    </label>
                </div>
                <div class="field row">
                    <div class="col-sm-12 ">
                        <h3 class="text-center pull-left">
                            <a href="/info#preview" target="_blank" data-bypass="true">
                                Click here to preview your sales page
                            </a>
                        </h3>
                        <span class="help-block m-b-none">
                        </span>
                    </div>
                </div>
                <div class="field row">
                    <label>
                        <div class="col-md-2">
                            <input type="checkbox" name="show_syllabus" class=" input-lg pull-left" ng-model="sales_options.show_syllabus" ng-true-value="1" ng-false-value="0" />
                        </div>
                        <div class="col-md-10">
                            <h4 class="text-left" style="line-height:50px; margin:0;">
                                Show Syllabus in sales page
                            </h4>
                        </div>
                    </label>
                </div>
                <div class="field row">
                    <label class="col-sm-12 control-label">Video / Embed Content</label>
                    <div class="col-sm-12">
                        <textarea name="embed_content" class="form-control input-lg" ng-model="sales_options.sales_page_embed"></textarea>
                        <span class="help-block m-b-none">
                        </span>
                    </div>
                </div>
                <div class="field row">
                    <label class="col-sm-12 control-label">Sales Page Intro</label>
                    <div class="col-sm-12">
                        <textarea froala ng-model="sales_options.sales_page_content"></textarea>
                        <span class="help-block m-b-none">
                        </span>
                    </div>
                </div>
                <div class="field row">
                    <div class="col-sm-12 pull-left">
                        <h3 class="text-center pull-left" style="padding:30px;">Syllabus automatically gets inserted in here</h3>
                        <span class="help-block m-b-none"></span>
                    </div>
                </div>
                <div class="field row">
                    <label class="col-sm-12 control-label">Sales Page Outro</label>
                    <div class="col-sm-12">
                        <textarea froala ng-model="sales_options.sales_page_outro"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="actions">
        <div ng-click="saveSalesPage()" class="ui right labeled icon button">
           Save changes
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button close">
            Close
        </div>
    </div>
</div>