<div class="sixteen wide column ">

	<h2 class="ui center aligned icon header headline_text_color">
		<i class="circular fa fa-download icon"></i>
		<div class="content">
			{{options.download_center_text || 'Download Center'}}
			<div class="sub header headline_text_color">
				{{options.download_center_sub_text || 'Below you\'ll find all the downloadable content you have access to.'}}
			</div>
		</div>
	</h2>

</div>
<div class="sixteen wide column ">

	<div class="ui one column grid">
		<div class="column">
			<div ng-if="loading" style="margin-bottom:40px;">
                <div class="ui segment" style="min-height:200px;">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">Loading</div>
                    </div>
                </div>
			</div>
			<div ng-if="!loading"  class="ui four cards">
				<a ng-href="#" ng-click="updateStats(download)" class="card" ng-repeat="download in downloads">
					<div class="blurring dimmable image">
						<div class="ui dimmer">
							<div class="content">
								<div class="center">
									<div class="ui inverted button">View</div>
								</div>
							</div>
						</div>
						<img ng-if="download.featured_image" src="{{download.featured_image}}">
					</div>
					<div class="content">
						<div class="header">{{download.title}}</div>
						<div class="meta">
							{{lesson.note}}
						</div>
						<div class="description">
							<p dynamic='download.description' class="fr-view"></p>
						</div>

						<div class="ui segment section_background_color">
							<div class="ui fluid primary button">
								{{download.download_button_text || 'Download'}}
							</div>
						</div>

					</div>
					<div class="extra content">
						<span>
							<i class="icon fa fa-lock"></i>
							{{download.access}}
						</span>
						<span class="right floated" ng-if="download.history_count[0].count && options.hide_download_count == '0'" title="This has been downloaded {{download.history_count[0].count}} times. You have downloaded it {{download.user_count}} times." alt="This has been downloaded {{download.history_count[0].count}} times. You have downloaded it {{download.user_count}} times.">
							{{download.history_count[0].count}} {{options.downloads_text ? options.downloads_text : 'downloads'}}
						</span>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
