<div class="ui modal">

    <div class="content">
        <div class="row">
            <input class="isAgentOrGreaterCheck" value="{{isAgentOrGreaterCheck}}" type="hidden" />
            <div class="col-md-12 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                <div class="hpanel">

                    <div class="panel-body">

                        <form class="ui form save_form" ng-submit="save()">
                            <div class="field">
                                <label class="col-sm-2 control-label">Download Title</label>

                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control input-lg" ng-blur="onBlurTitle($event)"
                                           ng-model="download.title">
									<span class="help-block m-b-none">
										This is the name for your download - it's what you and customers will see
										to distinguish one download from another.
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Permalink</label>

                                <div class="col-sm-10">
                                    <input type="text" name="permalink" class="form-control input-lg" ng-blur="onBlurSlug($event)"
                                           ng-model="download.permalink">
									<span class="help-block m-b-none">
										This is the unique Url for your download page.
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Download File</label>

                                <div class="col-sm-10">
                                    <button type="button" class="set_audio_file"
                                            hidelink="true" sm-uploader="media_item.url" privacy="true" ng-awskey="download.media_item.aws_key" ng-model="download.media_item.url">Upload File
                                    </button>
                                    <a ng-show="download.media_item.url" data-bypass="true" target="_blank"
                                       class="btn btn-brand file_download" ng-click="downloadFile(download.media_item)">Download
                                        file</a>
                                    <a ng-show="download.media_item.url" data-bypass="true"
                                       class="btn btn-danger" ng-click="download.media_item.url = ''; download.media_item.aws_key=''">Remove
                                        file</a>
                                    <input type="hidden" name="media_item_id" class="form-control input-lg"
                                           ng-model="download.media_item_id">
									<span class="help-block m-b-none">
										This is your actual download file, the file you want users to download.  Note that if you provide a url instead of uploading a file
										we have no way to protect the file and it will be able to be downloaded publicly to anyone with access to the url.
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">3rd-party Download Link</label>
                                <div class="col-sm-10">
                                    <input type="text" name="download_link" class="form-control input-lg"
                                           ng-model="download.download_link">
									<span class="help-block m-b-none">
										If you want to specify a link to the download instead of a file, please enter it here
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Download Button Text</label>

                                <div class="col-sm-10">
                                <input type="text" name="permalink" class="form-control input-lg" 
                                           ng-model="download.download_button_text">
									<span class="help-block m-b-none">
										Modify the text that shows up on the download button for this download.  If left blank it will default to "Download"
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Description</label>

                                <div class="col-sm-10">
                                    <textarea id="content"  name="content" class="no_bottom_margin" ng-model="download.description">
                                    </textarea>
									<span class="help-block m-b-none">
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Who should have access to this?</label>
                                <div class="col-sm-10">
                                    <select data-ng-options="al_type.id as al_type.name for al_type in access_level_types" class='form-control input-lg' ng-model="download.access_level_type"
                                            placeholder='Select Access Permission'>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="field" ng-if="download.access_level_type == 2">
                                <label class="col-sm-2 control-label"> </label>

                                <div class="col-sm-10">
                                    <select style="margin-bottom:15px;" class='form-control input-lg' ng-model="download.access_level_id">
                                        <optgroup label="Default">
                                            <option value="0">Any member</option>
                                        </optgroup>
                                        <optgroup label="Members who own">
                                            <option ng-repeat="access_level in access_levels" ng-selected="download.access_level_id == access_level.id" value="{{access_level.id}}">{{access_level.name}}</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Video / Embed Content</label>

                                <div class="col-sm-10">
                                    <textarea name="embed_content" class="form-control input-lg"
                                              ng-model="download.embed_content"></textarea>
									<span class="help-block m-b-none">
										If filled in, this embed will show up at the top of the individual page for this download.
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h3 class="text-center">Scheduling Settings</h3>

                            <div class="field">
                                <label class="col-sm-2 control-label">Published on</label>

                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">Date</span>
                                        <input class="form-control" type="date" ng-model="download.published_date" />
                                    </div>
                                        <span class="input_note" style="margin-bottom:15px;">Choose when do you want to
                                            publish your download</span>
                                </div>

                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">Time</span>
                                        <input class="form-control" type="time" ng-model="download.published_date" />
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="col-sm-2 control-label">till</label>

                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">Date</span>
                                        <input class="form-control" type="date" ng-model="download.end_published_date" />
                                    </div>
                                    <span class="input_note" style="margin-bottom:15px;">leave empty for ever green content</span>
                                </div>

                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">Time</span>
                                        <input class="form-control" type="time" ng-model="download.end_published_date" />
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="col-md-12">
                                    <div class="col-md-1 col-md-offset-2">
                                        <input type="checkbox" ng-true-value="1" ng-false-value="0" name="show_comments"
                                               ng-model="download.preview_schedule"/>
                                    </div>
                                    <div class="col-md-9">
                                        Display preview?
                                    </div>
                                </label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h3 class="text-center">Drip-feed Settings <small>Only for free and paid members access level type</small></h3>

                            <div class="field">
                                <label class="col-sm-2 control-label">Drip Feed Start After</label>

                                <div class="col-sm-10">
                                    <select ng-model="download.dripfeed_settings.duration"
                                            class="form-control pull-left" style="width:75px;" ng-disabled="download.access_level_type != 2 && download.access_level_type != 3">
                                        <option ng-repeat="n in range(1,30)" ng-selected="n==download.dripfeed_settings.duration" value="{{n}}">{{n}}</option>
                                    </select>

                                    <select ng-model="download.dripfeed_settings.interval"
                                            class="form-control pull-left" style="margin-left:5px;width: 120px;" ng-disabled="download.access_level_type != 2 && download.access_level_type != 3">
                                        <option value="hours" selected>Hours</option>
                                        <option value="days">Days</option>
                                        <option value="months">Months</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field small_bottom_margin">
                                <label class="col-md-12">
                                    <div class="col-md-1 col-md-offset-2">
                                        <input type="checkbox" ng-true-value="1" ng-false-value="0" name="show_comments"
                                               ng-model="download.preview_dripfeed" ng-disabled="download.access_level_type != 2 && download.access_level_type != 3"/>
                                    </div>
                                    <div class="col-md-9">
                                        Display preview?
                                    </div>
                                </label>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <h3 class="text-center">Facebook Sharing Settings</h3>

                            <div class="field">
                                <label class="col-sm-2 control-label">Featured Image</label>

                                <div class="col-sm-10">
                                    <button type="button" class="set_audio_file"
                                            hidelink="true" sm-uploader="featured_image" ng-model="download.featured_image">Choose Featured Image
                                    </button>
                                    <div class="width-100">
                                        <img ng-show="download.featured_image"
                                             class="featured_image_preview img-responsive img-thumbnail"
                                             ng-src="{{download.featured_image}}"/>
                                    </div>
                                    <div class="col-md-12" ng-if="download.featured_image">
                                        <i class="ace-icon fa fa-remove" ng-click="download.featured_image=''">Remove</i>
                                    </div>
                                    <input type="hidden" name="featured_image" class="form-control input-lg"
                                           ng-model="download.featured_image">
									<span class="help-block m-b-none">
										This is the featured image for your download, it gets displayed when downloads are displayed in a list. It is also used if the download page is shared on Facebook.
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-md-12">
                                    <div class="col-md-1 col-md-offset-2">
                                        <input type="checkbox" ng-true-value="1" ng-false-value="0" name="show_comments"
                                           ng-model="download.always_show_featured_image"
                                           ng-checked="download.always_show_featured_image"/>
                                    </div>
                                    <div class="col-md-9">
                                        Show featured image on individual download
                                    </div>
                                </label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Share Title</label>

                                <div class="col-sm-10">

                                    <input type="text" name="fb_share_title" class="form-control input-lg"
                                           ng-model="download.seo_settings.fb_share_title">
									<span class="help-block m-b-none">
										This is the title that will be used when this page is shared on Facebook.
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label class="col-sm-2 control-label">Share Description</label>

                                <div class="col-sm-10">
                                    <textarea name="fb_share_description" class="form-control input-lg"
                                              ng-model="download.seo_settings.fb_share_description"></textarea>
									<span class="help-block m-b-none">
									</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button id="download_submit" class="btn btn-brand" type="submit">Save changes</button>
                                    <a ng-click="smModal.Show('public.admin.site.content.downloads')" class="btn btn-default">Cancel</a>
                                  
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>

    </div>


</div>

