<div id="not_availabe_landing">
    <div id="story" class="marsandbeyond signup signup_a top top_story_header">
        <div class="cta_ad">

            <h1 class="cta_story_header">

                <span class="cta_story_header_first">
                    Smart Member is reopening on
                    <span class="typed-cursor typed_remove hidden hide">|</span>
                </span>
                <span class="cta_story_header_second">
                    <span class="callout_copy">
                        <span class="underline_robots">October 27th, 2015</span>
                    </span>
                </span>

            </h1>

            <div class="cta_container">
                <div class="cta">
                    <h1 class="cta_header">
                        Enter your <strong>best</strong> email to stay up-to-date with launch
                        news, changes, and updates!
                    </h1>

                    <form action="https://api.smartmember.com/optin" method="get" class="cta_form align_middle" id="cta_form_bottom">
                        <input type="hidden" name="list" value="SM September Early Bird">
                        <input type="hidden" name="subdomain" value="training">
                        <input type="hidden" name="redirect_url" value="{{current_domain}}/thanks">

                        <input name="email" type="email" id="inline_input" placeholder="Email address" class="input_email input_inline small_right_margin">
                        <button type="submit" class="btn align_top ga_track_signup">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="story_location">
            <strong><a href="http://my.smartmember.site">Current Members</a></strong>
        </div>
    </div>
    <div class="marsandbeyond signup signup_a top top_story_header_mobile">
        <div class="cta">
            <h1 class="cta_header">
                Enter your <strong>best</strong> email to stay up-to-date with launch
                news, changes, and updates!
            </h1>

            <form action="https://api.smartmember.com/optin" method="post" class="cta_form align_middle" id="cta_form_bottom">
                <input type="hidden" name="list" value="SM September Early Bird">
                <input type="hidden" name="subdomain" value="training">
                <input type="hidden" name="redirect_url" value="{{current_domain}}/thanks">
                <input name="email" type="email" id="inline_input" placeholder="Email address"
                       class="input_email input_inline small_right_margin">
                <button type="submit" class="btn align_top ga_track_signup">Subscribe</button>
            </form>
        </div>

    </div>
</div>

