<div id="page">

    <div id="page_contents" class="">

        <section class="intro" id="top">
            <div class="col margin_auto float_none align_center bottom_padding no_right_padding">
                <h1 class="large align_center">Pricing Guide</h1>
                <h2 class="align_center">Your first Smart Member site is free to use <br class="hide_on_mobile">for as long
                    as you want, upgrades optional.</h2>
            </div>
        </section>
        <section class="plans">
            <div class="plan_container clearfix">
                <div id="plan_lite" class="plan" data-plan-name="lite">

                    <div class="plan_card cursor_pointer">
                        <h3><i class="brick_icon"></i>Free</h3>

                        <span class="plan_price"><span class="currency">$</span>0</span>
                        <span class="plan_price_details">for small teams or unlimited evaluation</span>

                        <a href="#" class="plan_price_details">Details</a>

                        <button class="btn detail_button">Sign up for free</button>
                    </div>

                    <div class="plan_subhead">
                        <h3>Free includes</h3>
                        <p>All of these great features:</p>
                    </div>
                    <ul>
                        <li><span>Search and browse 10k<br class="hide_on_mobile"> most recent messages</span></li>
                        <li><span>10 integrations</span></li>
                        <li><span>Free native apps for iOS, Android, Mac Desktop &amp; Windows Desktop</span></li>
                        <li><span>Multi-team Support</span></li>
                    </ul>
                </div>

                <div id="plan_standard" class="plan" data-plan-name="standard">

                    <div class="plan_card cursor_pointer">
                        <h3><i class="brick_icon"></i>Standard</h3>

                        <span class="plan_price"><span class="currency">$</span>6<span class="cents">67</span></span>
                        <span class="plan_price_details">per user per month<br>billed annually</span>

                        <span class="plan_price_details">$8 billed monthly</span>

                        <a href="#" class="plan_price_details">Details</a>

                        <form action="/checkout" method="post" class="no_bottom_margin">
                            <input type="hidden" name="crumb" value="s-1440571993-184558ae52-?">
                            <input type="hidden" name="step" value="2">
                            <input type="hidden" name="product" value="std_y">
                            <button type="submit" class="btn detail_button" data-no-modal="true">Buy Standard</button>
                        </form>

                    </div>

                    <div class="plan_subhead">
                        <h3>Standard includes</h3>
                        <p>Everything in <strong>Free</strong>, and:</p>
                    </div>
                    <ul>
                        <li><span>Searchable archive with unlimited messages</span></li>
                        <li><span>Unlimited external integrations</span></li>
                        <li><span>Custom retention policies</span></li>
                        <li><span>Simple usage statistics</span></li>
                        <li><span>Guest access</span></li>
                        <li><span>Priority support</span></li>
                        <li><span>Google Authentication / Google Apps for Domains sign-on</span></li>
                        <li><span>Forward email into Slack</span></li>			</ul>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Individual user control over security policies</span></li>
                        <li><span>User groups</span></li>
                    </ul>
                </div>
                <div id="plan_plus" class="plan" data-plan-name="plus">

                    <div class="plan_card cursor_pointer">
                        <h3><i class="brick_icon"></i>Plus</h3>

                        <span class="plan_price"><span class="currency">$</span>12<span class="cents tiny_left_margin">50</span></span>
                        <span class="plan_price_details">per user per month<br>billed annually</span>

                        <span class="plan_price_details">$15 billed monthly</span>

                        <a href="/pricing/plus" class="plan_price_details">Details</a>

                        <form action="/checkout" method="post" class="no_bottom_margin">
                            <input type="hidden" name="crumb" value="s-1440571993-184558ae52-?">
                            <input type="hidden" name="step" value="2">
                            <input type="hidden" name="product" value="plus_y">
                            <button type="submit" class="btn detail_button" data-no-modal="true">Buy Plus</button>
                        </form>

                    </div>

                    <div class="plan_subhead">
                        <h3>Plus includes</h3>
                        <p>Everything in <strong>Standard</strong>, and:</p>
                    </div>
                    <ul>
                        <li><span>SAML-based single sign-on (SSO)</span></li>
                        <li><span>Compliance Exports of all message history</span></li>
                        <li><span>Support for external message and archival solutions</span></li>
                        <li><span>99.99% guaranteed uptime SLA</span></li>
                        <li><span>24/7 support with 4 hour response time</span></li>
                    </ul>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Advanced usage statistics</span></li>
                        <li><span>Administrative control over security policies</span></li>
                        <li><span>User provisioning and deprovisioning</span></li>
                    </ul>
                </div>
                <div id="plan_enterprise" class="plan" data-plan-name="enterprise">

                    <div class="plan_card plan_card_coming_soon">
                        <h3><i class="brick_icon"></i>Enterprise</h3>

                        <span class="plan_price"><span class="currency">$</span>40</span>
                        <span class="plan_price_details">per user per month<br>billed annually</span>

                        <span class="plan_price_details">$48 billed monthly</span>

                        <a href="/help/contact?accounts_pricing=1" class="btn detail_button" data-no-modal="true">Contact us</a>
                    </div>

                    <div class="plan_subhead">
                        <h3>Enterprise includes</h3>
                        <p>Everything in <strong>Plus</strong>, and:</p>
                    </div>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Federation across multiple teams with a unified team directory</span></li>
                        <li><span>Unified security, data retention and compliance policies across all federated teams</span></li>
                        <li><span>Organization-wide reporting, metrics &amp; analytics</span></li>
                        <li><span>Consolidated billing &amp; administration across teams</span></li>
                    </ul>
                </div>
            </div>

        </section>
        <section class="new_signup clear_blue_bg clearfix top">
            <div class="section_content">
                <p>Slack is <strong>free</strong> to use for as long as you want and with an unlimited number of people.</p>
                <a href="/create" class="btn btn_border btn_large small_top_margin">Sign up for free</a>
            </div>
        </section>
        <section class="from_the_wall_of_love">
            <div class="section_content">
                <h3><i class="ts_icon ts_icon_heart_o"></i> From our Wall of Love</h3>
                <div class="tweet_carousel_container">
                    <ul class="tweet_carousel">
                        <li data-position="1">
                            <iframe id="twitter-widget-i144057199559055546" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 181.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="631674105595498496" title="Twitter Tweet"></iframe>
                        </li>
                        <li data-position="2">
                            <iframe id="twitter-widget-i1440571995592674367" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 203.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="628596429909590016" title="Twitter Tweet"></iframe>
                        </li>
                        <li data-position="3">
                            <iframe id="twitter-widget-i1440571995592765428" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 203.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="625741558625611776" title="Twitter Tweet"></iframe>
                        </li>
                        <li data-position="4">
                            <iframe id="twitter-widget-i1440571995593827779" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 203.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="625781235915321344" title="Twitter Tweet"></iframe>
                        </li>
                        <li data-position="5">
                            <iframe id="twitter-widget-i14405719955937015410" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 181.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="626076899773710336" title="Twitter Tweet"></iframe>
                        </li>
                        <li data-position="6">
                            <iframe id="twitter-widget-i14405719955939594211" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 203.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="626433663710859264" title="Twitter Tweet"></iframe>
                        </li>
                        <li data-position="7">
                            <iframe id="twitter-widget-i14405719955943845312" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 203.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="626574459567144960" title="Twitter Tweet"></iframe>
                        </li>
                        <li data-position="0">
                            <iframe id="twitter-widget-i14405719955941863213" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-tweet twitter-tweet-rendered" allowfullscreen="true" style="position: static; visibility: visible; display: block; width: 100%; height: 203.765625px; padding: 0px; border: none; max-width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="626517208592592896" title="Twitter Tweet"></iframe>
                        </li>
                    </ul>
                </div>			<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="tweet_carousel_controls">
                    <a href="#" data-action="left" class="left_arrow"><i class="ts_icon ts_icon_chevron_large_left"></i></a>
                    <a href="#" data-action="right" class="right_arrow"><i class="ts_icon ts_icon_chevron_large_right"></i></a>
                </div>
                <p>More at our <a href="https://twitter.com/SlackLoveTweets">Wall of Love <i class="ts_icon ts_icon_arrow_large_right"></i></a></p>
            </div>
        </section>
        <section class="happy_customers">
            <div class="section_content">
                <h3>Thousands of happy customers, including:</h3>
                <div class="customer_logos"></div>
            </div>
        </section>
        <section class="our_pricing_perspective" id="pricing_perspective">
            <div class="section_content">
                <h3>Our Pricing Perspective</h3>
                <p>
                    Team communication is at the heart of every business. It's the thing that connects your entire organization and has the biggest impact on your culture and productivity.
                </p>
                <p>
                    For decades, team communication software has been a race to the bottom with clunky and cheap solutions that offer far more frustration than value. We want to change that by offering you a product that just works. And we want it to be a great value for your entire organization - with a growing lineup of new features, helpful on-boarding, and responsive support.
                </p>
                <p>
                    We believe Slack is an investment in your team and culture. So we set our pricing at a level that allows us to invest in building a solid product, and more importantly, a great experience for you as our customers.
                </p>
            </div>
        </section>
        <section class="fair_billing_policy" id="fair_billing">
            <div class="section_content">
                <h3>Fair Billing Policy</h3>
                <p>
                    Most enterprise software pricing is designed to charge you per user regardless of how many people on your team are actively using the software. If you buy 1,000 seats but only use 100, you still get charged for 1,000. We don't think that's fair. And it's also hard to predict how many seats you'll need in advance.
                </p>
                <p>
                    At Slack, you only get billed for what you use. So you don't pay for the users that aren't using Slack. And if someone you've already paid for becomes inactive, we'll even add a pro-rated credit to your account for the unused time. Fair's fair.
                </p>
            </div>
        </section>
        <section class="nonprofit_pricing" id="slack_for_good">
            <div class="section_content">
                <h3>Slack for Good</h3>
                <p>
                    Slack wants to support people in the world who are doing good things. For qualified nonprofit organizations and educational institutions, there is special pricing available.
                </p>
                <p>
                    Slack for Nonprofits offers qualified organizations an annual Standard plan subscription for free while the Slack for Education program offers an 85% discount off of any of the Slack annual plans. Eligibility requirements are explained in more detail in the <a href="https://slack.zendesk.com/hc/en-us/articles/204368833">Slack for Nonprofits FAQ</a> and the <a href="https://slack.zendesk.com/hc/en-us/articles/206646877-Slack-for-Education">Slack for Education FAQ</a>.
                </p>
                <p>
                    To be considered for the special pricing options based on your team and company qualifications, please fill out the <a href="https://my.slack.com/nonprofit">Slack for Nonprofits application</a> or the <a href="https://my.slack.com/education">Slack for Education application</a>.
                </p>
                <div class="slack_for_good_logos"></div>
            </div>
        </section>

        <section class="need_a_hand">
            <div class="section_content">
                <h3>Talk to a Human</h3>
                <p>
                    Have a question? We’re always here to help. Two things you should know whenever you reach out to us:
                </p>
                <ol>
                    <li>No one at Slack works on commission, so you don’t have to worry about anyone selling you on a pricing plan you don’t need. We’re simply here to help you have the best experience possible.</li>
                    <li>Customer Experience is the largest team at Slack and located around the world so that we can help you around the clock. </li>
                </ol>
                <p>
                    So, let us know how we can help anytime. You can even use the /feedback command right within Slack!
                </p>
                <a href="/help/contact?accounts_pricing=1" class="btn btn_info">Contact us</a>
            </div>
        </section>

        <section class="common_questions_and_resources">
            <div class="section_content">
                <h2>
                    Common
			<span class="no_wrap">Questions
				<img class="common_questions position_relative hide_on_mobile" src="https://slack.global.ssl.fastly.net/47a3/img/plus_plan/common_questions@2x.png" srcset="https://slack.global.ssl.fastly.net/66f9/img/plus_plan/common_questions.png 1x, https://slack.global.ssl.fastly.net/47a3/img/plus_plan/common_questions@2x.png 2x" alt="">
			</span>
                    <br>
                    &amp; Resources
                </h2>

                <div class="common_questions_nav">
                    <h3 aria-hidden="true">FAQ</h3>
                    <ul>
                        <li><a href="#product" class="active" data-associated-section-id="product">Product</a></li>
                        <li><a href="#getting_started" data-associated-section-id="getting_started">Getting Started</a></li>
                        <li><a href="#security_and_privacy" data-associated-section-id="security_and_privacy">Security &amp; Privacy</a></li>
                        <li><a href="#legal" data-associated-section-id="legal">Legal</a></li>
                        <li><a href="#billing_and_invoicing" data-associated-section-id="billing_and_invoicing">Billing &amp; Invoicing</a></li>
                    </ul>
                </div>

                <div class="question_category" id="product">
                    <h3>Product</h3>
                    <ul class="question_list">
                        <li>
                            <h4><a href="#">Where can I find a demo of Slack?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>The best way to find out whether Slack is right for you is to try it - for free! Our Free plan has all the features that you and your team would need and use on a regular basis. So go ahead and <a href="/">try it</a>!</p>
                        </li>
                        <li>
                            <h4><a href="#">How does your pricing compare to other similar software?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>There are several tools out there that focus on a single workplace challenge — like task management, 1:1 messaging, group chat, knowledge management, and others. We don't consider any of these competitors.</p>
                            <p>We built Slack for the modern team that needs to address several of these challenges in one place, together, in a way that just works. Just like companies have invested in departmental software (e.g. sales, marketing, customer services, etc.) over the years, we believe that this kind of software is worthy of a greater investment because great team communication is the foundation for success at every company, big or small.</p>
                            <p>Doing the math, Slack is 22 cents a day (for a user on our Standard Plan). For the money you spend on buying just one employee a chair, a desk, and a laptop, you could have Slack for 30 years!</p>
                        </li>
                    </ul>
                </div>

                <div class="question_category" id="getting_started">
                    <h3>Getting Started</h3>
                    <p>We want you to have the best Slack experience possible. So here are some resources to get you started.</p>
                    <ul class="getting_started_list">
                        <li class="overview"><span>Here's a quick <a href="https://slack.com/getting-started">overview</a> of how to get started and a set of detailed guides for <a href="https://slack.com/getting-started/admins">Admins</a> and <a href="https://slack.com/getting-started/users">Users</a> to help you get the most out of Slack.</span></li>
                        <li class="tips"><span>Check out our <a href="http://slackhq.com/">blog</a>, where we offer plenty of tips and tricks or go straight to <a href="https://medium.com/@slackhq/11-useful-tips-for-getting-the-most-of-slack-5dfb3d1af77">11 Tips to Get the Most Out of Slack</a></span></li>
                        <li class="other_teams"><span>See how <a href="http://j.mp/SlackHQ">other teams</a> are using Slack and read what <a href="https://twitter.com/SlackLoveTweets">they think</a> about us</span></li>
                        <li class="help_center"><span>We've built a <a href="http://slack.zendesk.com">Help Center</a> where you can browse a wide range of questions from Basics to Administration</span></li>
                        <li class="follow_us"><span>Follow us on <a href="https://twitter.com/slackhq">Twitter</a> to stay in the loop about new features, service updates, and more</span></li>
                        <li class="contact_us"><span>Last but not least, we're always here to help. Our account managers don't work on commission. Their sole purpose is to help you succeed using Slack. So if you have questions, contact us at <a href="mailto:accounts@slack.com">accounts@slack.com</a></span></li>
                    </ul>
                </div>

                <div class="question_category" id="security_and_privacy">
                    <h3>Security &amp; Privacy</h3>
                    <ul class="question_list">
                        <li>
                            <h4><a href="#">Where can I get more details about your security practices?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>You can find an overview here - <a href="https://slack.com/security">https://slack.com/security</a>.</p>
                        </li>
                        <li>
                            <h4><a href="#">Can you describe your storage architecture?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>All Slack customer data is hosted on multi-master sharded databases so that there are no interruptions to service in the event of a single server outage. Hot spares of all our infrastructure components are running and available to be brought into rotation at all times. Our real-time messaging infrastructure is designed to move customers across servers without interruption for maintenance.</p>
                        </li>
                        <li>
                            <h4><a href="#">How is data protected within Slack?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>All data transfer is encrypted – whether users are at their computer or on their phone, absolutely nothing goes over the network without encryption. Slack uses 256-bit AES, supports TLS 1.2 for all of your messages, and uses the ECDHE_RSA Key Exchange Algorithm. We monitor the security community's output closely and work promptly to upgrade the service to respond to new vulnerabilities as they are discovered.</p>
                        </li>
                        <li>
                            <h4><a href="#">What type of security testing have you conducted within the last 12 months?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>We perform security testing every quarter, which encompasses both - external network penetration and web application penetration testing. All medium to high-risk findings were reported to senior management and resolved.</p>
                            <ul>
                                <li>The application penetration testing is conducted by iSEC Partners (a leading IT security firm) and reports are prepared quarterly.</li>
                                <li>Additionally, we have weekly scans performed by an external firm and an ongoing Bug Bounty program with the whitehat community through <a href="https://slack.com/whitehat">HackerOne</a>.</li>
                            </ul>
                        </li>
                        <li>
                            <h4><a href="#">Where are your data centers hosted?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Our servers are located in Amazon's AWS data centers. Slack uses four availability zones within AWS' us-east-1 region, all located in Northern Virginia (U.S.A.). AWS has devoted an entire portion of their site to explaining their security measures, which you can find here: <a href="https://aws.amazon.com/compliance/">https://aws.amazon.com/compliance/</a></p>
                        </li>
                        <li>
                            <h4><a href="#">What is Slack's approach to data privacy?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Everything you post to Slack is private to your team. We are custodians of data on the behalf of teams that use Slack; each team owns its communication data. Teams can set their own policies for message retention and administrators can adjust these settings to suit their specific  needs. You can find our privacy policy <a href="https://slack.com/privacy-policy">here</a> along with a set of <a href="https://slack.zendesk.com/hc/en-us/articles/203950296-FAQs-about-Slack-s-policy-update">frequently asked questions</a>.</p>
                        </li>
                    </ul>
                </div>

                <div class="question_category" id="legal">
                    <h3>Legal</h3>
                    <ul class="question_list">
                        <li>
                            <h4><a href="#">Where can I find your Terms of Service (TOS)?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>You can find them at <a href="https://slack.com/terms-of-service">https://slack.com/terms-of-service</a>.</p>
                        </li>
                        <li>
                            <h4><a href="#">Will you modify certain parts of your TOS (e.g. Limitation of Liability, Indemnification) to meet our internal legal standards?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>We designed our TOS to be industry-standard so that it meets the needs of all types of companies. Our TOS are happily being used by a wide range of our customers, both big and small. So we prefer to keep it standardized to be fair to all types of customers who use Slack. If our TOS don't meet your needs, please contact us and we'd be happy to help.</p>
                        </li>
                        <li>
                            <h4><a href="#">What type of Service Level Agreements (SLA) do you offer?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>We offer teams using our Plus Plan an SLA that guarantees 99.99% monthly uptime. If we don't meet this guarantee, we'll refund you 100x whatever you paid Slack for that period of downtime. You can get more details <a href="https://slack.zendesk.com/hc/en-us/articles/204113126-Plus-Plan-Service-Level-Agreement-SLA-">here</a> and also check on Slack's <a href="https://status.slack.com/">uptime status</a>.</p>
                        </li>
                    </ul>
                </div>

                <div class="question_category" id="billing_and_invoicing">
                    <h3>Billing &amp; Invoicing</h3>
                    <p>You can find the full list of Billing related questions <a href="https://slack.zendesk.com/hc/en-us/articles/201723133-Billing-FAQ">here</a>. Below, are some of the most common questions we get about billing and invoicing.</p>
                    <ul class="question_list">
                        <li>
                            <h4><a href="#">Can I use Slack for free?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Yes, you can use Slack for free. Your search archive will be limited to your team's 10,000 most recent messages and you'll be limited to 10 integrations.</p>
                        </li>
                        <li>
                            <h4><a href="#">Our team has several accounts which are not being actively used, but which we don't want to disable. Do we still have to pay for them?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Every day we check to see if everyone on your team is active. If they have been inactive for a period of time, we stop charging you for that person and add a pro-rated credit to your account for the time you've already paid. You'll always and only be billed for what you use — fair and square!</p>
                        </li>
                        <li>
                            <h4><a href="#">My team has credits. How do we use them?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Once your team signs up for a subscription plan, we'll draw against your credit balance until it runs out. Only then will we start charging your subscription to your credit card. As long as you sign up for a subscription plan before the expiration date, those credits are yours to use until they're all gone.</p>
                        </li>
                        <li>
                            <h4><a href="#">We need to add new users to our team. How will that be billed?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>We'll make a one-time, prorated charge to your credit card to cover your new team member's account for the remainder of the current billing period.</p>
                            <p>As an example, suppose your team is on the "Standard Plan," which costs $8 per user per month when billed monthly. You add a new team member 10 days into your billing period and there are 20 remaining days in the month. The per-day cost for each user is $8 / 30, so we will make a one-time charge of $5.33 ($8 / 30 days * 20 days) to your team's credit card on file.</p>
                        </li>
                        <li>
                            <h4><a href="#">My team wants to cancel its subscription. How do we do that? Can we get a refund?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Team Owners can change the team's subscription level. There are two options when downgrading from a paid plan to the Free plan:
                            </p><ul>
                            <li>You can downgrade to the Free plan immediately. If there is more than one day until your renewal date, we will pro-rate the remaining balance on your account and hold it for your team as a credit. You can use that credit towards a reactivation of your paid subscription in the future.</li>
                            <li>We can automatically downgrade you to the Free plan at your next renewal date. Your subscription will remain active at its current level through the end of the billing period that you've already paid for.</li>
                        </ul>
                            <p>We do not offer refunds.</p>
                        </li>
                        <li>
                            <h4><a href="#">What are my payment options - credit card and/or invoicing?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>You can use your credit card to pay for any plan. If you sign up for an Annual subscription and plan to spend at least $10K, we can invoice you annually. <a href="/help/contact?accounts_pricing=1">Contact us</a> to start the process.</p>
                        </li>

                        <li>
                            <h4><a href="#">My team is a nonprofit organization. Is there special Slack pricing available for nonprofits or charitable organizations?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Yes, we offer special pricing for qualified nonprofit organizations through our <a href="https://slack.zendesk.com/hc/en-us/articles/204368833-Slack-for-Nonprofits-program">Slack for Nonprofits</a> program.</p>
                        </li>

                        <li>
                            <h4><a href="#">My team is an educational institution/student group. Is there special Slack pricing available?<i class="ts_icon ts_icon_plus_square_o"></i></a></h4>
                            <p>Yes, we offer special pricing for qualified educational institutions and student groups through our <a href="https://slack.zendesk.com/hc/en-us/articles/206646877">Slack for Education</a> program.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="back_to_the_top">
            <a href="#top" class="btn btn_large"><i class="ts_icon ts_icon_arrow_large_up"></i> Back to the top</a>
        </section>
        <section class="new_signup neutral_white_bg clearfix bottom">
            <div class="section_content">
                <p>Slack is <strong>free</strong> to use for as long as you want and with an unlimited number of people.</p>
                <a href="/create" class="btn btn_large small_top_margin">Sign up for free</a>
            </div>
        </section>
        <section class="ready_to_try bottom">
            <div class="section_content">
                <p>
                    More questions? Let us help.<br>
                    <a href="/help/contact">Contact us <i class="ts_icon ts_icon_arrow_large_right"></i></a>
                </p>
            </div>
        </section>

        <div id="plan_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Pricing Guide" aria-hidden="true">

            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                <div id="plan_standard_preview" class="plan_preview">
                    <div class="plan">
                        <h3 class="plan_name"><i class="brick_icon"></i>Standard</h3>
                        <span class="plan_price"><span class="currency">$</span>6<span class="cents">67</span></span>
				<span class="plan_price_details">
					per user per month
					<br>billed annually
				</span>
                    </div>
                    <div class="preview_details" data-plan="standard">
                        <p><strong>Unlimited</strong> message searchable archive</p>
                        <p><strong>Unlimited</strong> service integrations (like Twitter, Google Docs, Dropbox, GitHub and many more)</p>
                        <p>Usage stats and reporting</p>
                    </div>
                </div>

                <div id="plan_standard_description" class="plan_description">
                    <p class="plan_sentence">Our Standard plan offers unlimited search archives and integrations, with the flexibility of single sign-on.</p>
                    <p class="cost_explanation">Search everything in Slack, beyond the 10,000 message limit. It's like the entire history of your team is now at your fingertips, in one place, and one simple search away. Integrate with your other software tools to pull relevant information into Slack - at the right time, in one place.</p>
                    <p class="cost_explanation">Simplify your sign-on if you use Google Apps at work and set up your team to sign in to Slack using their Google Apps account. One less password to remember!</p>
                </div>

                <div id="plan_lite_preview" class="plan_preview">
                    <div class="plan">
                        <h3 class="plan_name"><i class="brick_icon"></i>Free</h3>
                        <span class="plan_price"><span class="currency">$</span>0</span>
                        <span class="plan_lite_price_details">for small teams or unlimited evaluation</span>
                    </div>
                    <div class="preview_details" data-plan="lite">
                        <p>Search and browse <strong>10k</strong> most recent messages</p>
                        <p><strong>5GB</strong> total storage</p>
                        <p><strong>5</strong> service integrations (like Twitter, Google Docs, Dropbox, GitHub and many more)</p>
                    </div>
                </div>

                <div id="plan_lite_description" class="plan_description">
                    <p class="plan_sentence">We offer a free plan for small teams, casual users, and anyone who wants to evaluate Slack.</p>
                    <p class="cost_explanation">Since we've never liked time-limited product trials, you can use our Free plan to take as long as you want to try Slack and see if it works for your team. There's also no limit on how many people you can add to your team on Slack.</p>
                    <p class="cost_explanation">If you're happy with our Free plan, please carry on. When your team needs more, you can easily upgrade to one of our premium tiers.</p>
                    <div class="ready_to_try">
                        <form action="/go/launch#signup" method="post" class="signup_form" novalidate="">
                            <input type="hidden" name="ref" value="https://slack.com/">
                            <input type="hidden" name="crumb" value="s-1440571993-2762c2a85b-?">

                            <input type="hidden" name="done1" value="1">
                            <input class="email" type="email" name="email" placeholder="Email Address">
                            <input class="company" type="text" name="company" placeholder="Company Name">
                            <input type="submit" class="btn" value="Sign up">
                        </form>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div id="overlay"></div>
</div>


















<div id="page">
    <div id="page_contents">
        <section class="intro" id="top" style="margin-bottom:6rem">
            <div class="col margin_auto float_none align_center bottom_padding no_right_padding">
                <h1 class="large align_center">The Software</h1>

                <h2 class="align_center">Use individually or together to make sites<br>
                    incredibly <strong>powerful</strong> yet <em>elegantly simple</em>.</h2>
            </div>
        </section>
        <section class="plans" style="display: none;;">
            <div class="plan_container clearfix">
                <div id="plan_lite" class="plan" data-plan-name="lite">

                    <div class="plan_card">
                        <h3><i class="brick_icon"></i>Free</h3>

                        <span class="plan_price"><span class="currency">$</span>0</span>
                        <span class="plan_price_details">for small teams or unlimited evaluation</span>

                        <a href="#" class="plan_price_details">Details</a>

                        <button class="btn detail_button">Sign up for free</button>
                    </div>

                    <div class="plan_subhead">
                        <h3>Free includes</h2>
                            <p>All of these great features:</p>
                    </div>
                    <ul>
                        <li><span>Search and browse 10k<br class="hide_on_mobile"/> most recent messages</span></li>
                        <li><span>5 integrations</span></li>
                        <li><span>Free native apps for iOS, Android, Mac Desktop & Windows Desktop</span></li>
                        <li><span>Multi-team Support</span></li>
                    </ul>
                </div>

                <div id="plan_standard" class="plan" data-plan-name="standard">

                    <div class="plan_card">
                        <h3><i class="brick_icon"></i>Standard</h3>

                        <span class="plan_price"><span class="currency">$</span>6<span class="cents">67</span></span>
                        <span class="plan_price_details">per user per month<br/>billed annually</span>

                        <span class="plan_price_details">$8 billed monthly</span>

                        <a href="#" class="plan_price_details">Details</a>

                        <form action="/checkout" method="post" class="no_bottom_margin">
                            <input type="hidden" name="crumb" value="s-1440394539-8bf2e391ed-?"/>
                            <input type="hidden" name="step" value="2"/>
                            <input type="hidden" name="product" value="std_y"/>
                            <button type="submit" class="btn detail_button" data-no-modal="true">Buy Standard</button>
                        </form>

                    </div>

                    <div class="plan_subhead">
                        <h3>Standard includes</h2>
                            <p>Everything in <strong>Free</strong>, and:</p>
                    </div>
                    <ul>
                        <li><span>Searchable archive with unlimited messages</span></li>
                        <li><span>Unlimited external integrations</span></li>
                        <li><span>Custom retention policies</span></li>
                        <li><span>Simple usage statistics</span></li>
                        <li><span>Guest access</span></li>
                        <li><span>Priority support</span></li>
                        <li><span>Google Authentication / Google Apps for Domains sign-on</span></li>
                        <li><span>Configurable email ingestion service</span></li>
                    </ul>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Individual user control over security policies</span></li>
                        <li><span>User groups</span></li>
                    </ul>
                </div>
                <div id="plan_plus" class="plan" data-plan-name="plus">

                    <div class="plan_card">
                        <h3><i class="brick_icon"></i>Plus</h3>

                        <span class="plan_price"><span class="currency">$</span>12<span class="cents tiny_left_margin">50</span></span>
                        <span class="plan_price_details">per user per month<br/>billed annually</span>

                        <span class="plan_price_details">$15 billed monthly</span>

                        <a href="/pricing/plus" class="plan_price_details">Details</a>

                        <form action="/checkout" method="post" class="no_bottom_margin">
                            <input type="hidden" name="crumb" value="s-1440394539-8bf2e391ed-?"/>
                            <input type="hidden" name="step" value="2"/>
                            <input type="hidden" name="product" value="plus_y"/>
                            <button type="submit" class="btn detail_button" data-no-modal="true">Buy Plus</button>
                        </form>

                    </div>

                    <div class="plan_subhead">
                        <h3>Plus includes</h2>
                            <p>Everything in <strong>Standard</strong>, and:</p>
                    </div>
                    <ul>
                        <li><span>SAML-based single sign-on (SSO)</span></li>
                        <li><span>Compliance Exports of all message history</span></li>
                        <li><span>Support for external message and archival solutions</span></li>
                        <li><span>99.99% guaranteed uptime SLA</span></li>
                        <li><span>24/7 support with 4 hour response time</span></li>
                    </ul>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Advanced usage statistics</span></li>
                        <li><span>Administrative control over security policies</span></li>
                        <li><span>User provisioning and deprovisioning</span></li>
                    </ul>
                </div>
                <div id="plan_enterprise" class="plan" data-plan-name="enterprise">

                    <div class="plan_card plan_card_coming_soon">
                        <h3><i class="brick_icon"></i>Enterprise</h3>

                        <span class="plan_price"><span class="currency">$</span>40</span>
                        <span class="plan_price_details">per user per month<br/>billed annually</span>

                        <span class="plan_price_details">$48 billed monthly</span>

                        <a href="/help/contact?accounts_pricing=1" class="btn detail_button" data-no-modal="true">Contact us</a>
                    </div>

                    <div class="plan_subhead">
                        <h3>Enterprise includes</h2>
                            <p>Everything in <strong>Plus</strong>, and:</p>
                    </div>
                    <h4>Coming soon<i class="arrow-down"></i></h4>
                    <ul class="coming_soon_list">
                        <li><span>Federation across multiple teams with a unified team directory</span></li>
                        <li><span>Unified security, data retention and compliance policies across all federated teams</span>
                        </li>
                        <li><span>Organization-wide reporting, metrics & analytics</span></li>
                        <li><span>Consolidated billing & administration across teams</span></li>
                    </ul>
                </div>
            </div>

        </section>
        <section class="fair_billing_policy clearfix top" style="padding: 3rem 0;">
            <div class="section_content" style="padding: 1rem 0;">

                <h2 class="">Gather membership</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_6_of_6 position_relative ">
                        <h3>SM Sites</h3>
                        <h4>Build, create, grow</h4>
                        <p>
                            Enable entrepreneurs to build websites, create membership followings,
                            and grow them into valuable customers. Spend less time developing and
                            more time building a great audience.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>

                <h2 class="">Generate traffic</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Pages</h3>
                        <h4>Bridge market</h4>
                        <p>
                            Modern lead generation through infinitely dynamic visitor-specific experiences.
                        </p>
                    </div>
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Blogging</h3>
                        <h4>Post & share</h4>
                        <p>
                            Give your sites a boost of organic traffic using our proprietary Speed Blogging&trade; technology.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>
                <h2 class="">Sell content</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Courses</h3>
                        <h4>Teach & educate</h4>
                        <p>
                            Craft beautifully composed lessons & modules into an instructive syllabus, then offer it to
                            members for free (or a fee!).
                        </p>
                    </div>
                    <div id="" class="col span_3_of_6 position_relative">
                        <h3>SM Email</h3>
                        <h4>Communicate</h4>
                        <p>
                            Speak with members intelligently to market & sell with measurable results.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>

                <h2 class="">Serve and Support</h2>

                <div id="" class="position_relative card">
                    <div id="" class="col span_6_of_6 position_relative">
                        <h3>SM Service Desk</h3>
                        <h4>Lend a hand</h4>
                        <p>
                            Deliver an effective service experience with intuitive ticket management and knowledge base.
                        </p>
                    </div>

                    <div class="clear_both"></div>
                </div>

            </div>
        </section>
        <section class="new_signup clear_blue_bg clearfix top">
            <div class="section_content">

                <p>Create your first site for <strong>free</strong>, to use as long as you want; no risk, no hassle.</p>
                <a href="/create" class="btn btn_border btn_large small_top_margin">Sign up for free</a>
            </div>
        </section>
        <section class="ready_to_try bottom">
            <div class="section_content">
                <p>
                    More questions? Let us help.<br/>
                    <a href="/help/contact">Contact us <i class="ts_icon ts_icon_arrow_large_right"></i></a></a>
                </p>
            </div>
        </section>

        <div id="plan_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Pricing Guide"
             aria-hidden="true">

            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <div id="plan_standard_preview" class="plan_preview">
                    <div class="plan">
                        <h3 class="plan_name"><i class="brick_icon"></i>Standard</h3>
                        <span class="plan_price"><span class="currency">$</span>6<span class="cents">67</span></span>
                    <span class="plan_price_details">
                        per user per month
                        <br/>billed annually
                    </span>
                    </div>
                    <div class="preview_details" data-plan="standard">
                        <p><strong>Unlimited</strong> message searchable archive</p>

                        <p><strong>Unlimited</strong> service integrations (like Twitter, Google Docs, Dropbox, GitHub and many
                            more)</p>

                        <p>Usage stats and reporting</p>
                    </div>
                </div>

                <div id="plan_standard_description" class="plan_description">
                    <p class="plan_sentence">Our Standard plan offers unlimited search archives and integrations, with the
                        flexibility of single sign-on.</p>

                    <p class="cost_explanation">Search everything in Slack, beyond the 10,000 message limit. It's like the
                        entire history of your team is now at your fingertips, in one place, and one simple search away.
                        Integrate with your other software tools to pull relevant information into Slack - at the right time, in
                        one place.</p>

                    <p class="cost_explanation">Simplify your sign-on if you use Google Apps at work and set up your team to
                        sign in to Slack using their Google Apps account. One less password to remember!</p>
                </div>

                <div id="plan_lite_preview" class="plan_preview">
                    <div class="plan">
                        <h3 class="plan_name"><i class="brick_icon"></i>Free</h3>
                        <span class="plan_price"><span class="currency">$</span>0</span>
                        <span class="plan_lite_price_details">for small teams or unlimited evaluation</span>
                    </div>
                    <div class="preview_details" data-plan="lite">
                        <p>Search and browse <strong>10k</strong> most recent messages</p>

                        <p><strong>5GB</strong> total storage</p>

                        <p><strong>5</strong> service integrations (like Twitter, Google Docs, Dropbox, GitHub and many more)
                        </p>
                    </div>
                </div>

                <div id="plan_lite_description" class="plan_description">
                    <p class="plan_sentence">We offer a free plan for small teams, casual users, and anyone who wants to
                        evaluate Slack.</p>

                    <p class="cost_explanation">Since we've never liked time-limited product trials, you can use our Free plan
                        to take as long as you want to try Slack and see if it works for your team. There's also no limit on how
                        many people you can add to your team on Slack.</p>

                    <p class="cost_explanation">If you're happy with our Free plan, please carry on. When your team needs more,
                        you can easily upgrade to one of our premium tiers.</p>

                    <div class="ready_to_try">
                        <form action="/go/launch#signup" method="post" class="signup_form" novalidate>
                            <input type="hidden" name="ref" value="https://slack.com/is"/>
                            <input type="hidden" name="crumb" value="s-1440394539-3f781a63dd-?"/>

                            <input type="hidden" name="done1" value="1"/>
                            <input class="email" type="email" name="email" placeholder="Email Address"/>
                            <input class="company" type="text" name="company" placeholder="Company Name"/>
                            <input type="submit" class="btn" value="Sign up"/>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>