<div id="not_availabe_landing">
    <div id="story" class="marsandbeyond signup signup_a top top_story_header">
        <div class="cta_ad">

            <h1 class="cta_story_header">

                <span class="cta_story_header_first">
                    Thanks! We'll keep you posted.
                </span>

            </h1>

            <div class="cta_container">
                <div class="cta">
                    <h1 class="cta_header">
                        In the mean time, check out the <a ng-href="blog">blog</a>!
                    </h1>
                </div>
            </div>
        </div>
        <div id="story_location">
            <strong><a href="http://my.smartmember.com">Current Members</a></strong>
        </div>
    </div>
    <div class="marsandbeyond signup signup_a top top_story_header_mobile">
        <div class="cta">
            <h1 class="cta_header">
                In the mean time, check out the <a ng-href="blog">blog</a>!
            </h1>
        </div>

    </div>
</div>

