<div class="animate-panel" ng-init="facebookInit()">


    <div class="content">

        <div>
            <div class="row">
                <div class="col-md-12 animated-panel fadeInDown"
                     style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                    <div class="hpanel hbgblue">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-2 border-right animated-panel zoomIn"
                                     style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
                                    <i class="pe-7s-display1 fa-5x" style="font-size:11em;"></i>
                                </div>
                                <div class="col-md-8 col-md-offset-1 animated-panel zoomIn"
                                     style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">
                                    <div class=" m-b-md">
                                        <h3>Facebook Sharing Settings</h3>

                                        <p>Choose how your site looks when you share it on Facebook.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animated-panel zoomIn"
                     style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                    <div class="hpanel">
                        <div class="list-group" style="margin:0px;">
                        </div>
                        <div class="panel-body">

                            <form method="get" class="form-horizontal save_form" ng-submit="saveFacebook()">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Site Title</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="fb_share_title" class="form-control input-lg"
                                               ng-model="settings.fb_share_title">
									<span class="help-block m-b-none">
										This is the title that will show up for your site when it is shared on Facebook.
									</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Site Description</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" name="fb_share_description" class="form-control"
                                                  ng-model="settings.fb_share_description"></textarea>
									<span class="help-block m-b-none">
										This is the description that will be used for your site when it is shared on Facebook.
									</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Share Image</label>

                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger"
                                                sm-uploader="fb_share_image" ng-model="settings.fb_share_image">Choose
                                            Image
                                        </button>
										<span class="help-block m-b-none">
											This is the image that will be used by default when you share Urls to your site on Facebook.  If set, individual lesson and page sharing settings will be used for those lessons and pages that have them.
										</span>

                                        <div class="width-100 text-center">
                                            <img ng-show="settings.fb_share_image" sm-uploader="fb_share_image" ng-model="settings.fb_share_image"
                                                 class="fb_share_image_preview img-responsive img-thumbnail"
                                                 ng-src="{{settings.fb_share_image}}"
                                                 style="width:auto; cursor: pointer;"/>
                                        </div>
                                        <input type="hidden" name="fb_share_image" class="form-control input-lg"
                                               ng-model="settings.fb_share_image">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button class="btn btn-brand save_changes" type="submit">Save changes</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
