<div class="ui modal">
<!-- <h1 class="ui header"><i class="ts_icon ts_icon_pencil clear_blue"></i>{{page_title}}</h1> -->
    <div class="content row">

        <form method="get" name="access_level_form" class="ui form save_form" >

            <div class="row">
                <div class="col-md-12">
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-body">
                            <h4 class="ui header">Product Level Name</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <input type="text" ng-model="access_level.name" name="name" class="form-control input-lg">
                                    <span class="help-block m-b-none">
                                        Customers will see this name publicly
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--
                            <div class="field" style="">
                                <label class="col-sm-2 control-label">Payment Gateways</label>

                                <div class="col-sm-10">
                                    <input type="text" name="name" class="form-control input-lg" value="{{this.name}}">
                                    <span class="help-block m-b-none">
                                        Select which payment gateways this product can be purchased through
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed" style=""></div>
                            -->
                            <h4 class="ui header">Sales Page Url</h4>
                            <div class="field">

                                <div class="col-sm-12">
                        
                                    <a ng-model="access_level" url-popup position="top center" duration="10000" hide="10000" html="/templates/modals/popover.html">{{
                                        access_level.information_url|| 'Select url' }}</a>
                                    <span class="help-block m-b-none">
                                        This is the url to the sales page, or wherever you want users to go when they try to access something they don't have access too.
                                        They will be told they don't have accessed and asked to click a link to this Url to get access.
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4 class="ui header">Redirect Url</h4>
                            <div class="field">

                                <div class="col-sm-12">
                                    <input type="text" name="redirect_url"
                                           class="form-control input-lg editable editable-click"
                                           ng-model="access_level.redirect_url"/>
                                    <span class="help-block m-b-none">
                                        This is the url users will be redirected to after they purchase the product and are granted the access they need for the product.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt section-heading">
                            Advanced Settings
                        </div>
                        <div class="panel-body">
                            <h4 class="ui header">Granted Product Levels</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <select multiple ng-model="access_level.grants" class="form-control granted_access_levels">
                                        <option ng-selected="exists(al.id)" ng-repeat="al in access_levels" value={{al.id}}>{{al.name}}</option>
                                    </select>
                                    <span class="help-block m-b-none">
                                        Select any other Product Levels you want owners of this Product Level to get access to.<br>
                                        aka. if this is your "Gold" level, select Bronze and Silver.
                                    </span>
                                </div>
                            </div>
                            <h4 class="ui header">Facebook Group</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <select data-ng-options="group.remote_id as group.name for group in facebook_groups" class='form-control input-lg' ng-model="access_level.facebook_group_id" placeholder='Select Access Permission'>
                                    </select>
                                    <button ng-hide="!access_level.facebook_group_id || access_level.facebook_group_id == '' || access_level.facebook_group_id == '0'" type="button" class="btn" ng-click="access_level.facebook_group_id=''">Remove Group</button>
                                    <span class="help-block m-b-none">
                                        Select a facebook group that own and new members to this product level will automatically get invitation to join the group.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt section-heading">
                            Webinar Integration
                        </div>
                        <div class="panel-body">
                            <div class="hr-line-dashed"></div>
                            <h4>GoToWebinar Webinar URL</h4>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control input-lg" ng-model="access_level.webinar_url">
                                </div>
                                <span class="help-block m-b-none">
                                        Optionally enter in the url of a Go To Webinar registration page. Anytime a member is granted this Access Level, they'll be signed up for your webinar! Make sure to setup your webinar to ONLY require first name, last name and email OR registration will fail.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt section-heading">
                            JVZoo Settings
                        </div>
                        <div class="panel-body">
                            <h4 class="ui header">Product ID</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <input type="text" name="jvzoo_product_id" class="form-control input-lg"
                                           ng-model="access_level.product_id">
                                    <span class="help-block m-b-none">
                                        This is the product ID in JVZoo. If you want this product level given to customers
                                        who purchase a particular product through JVZoo, find it via your JVZoo dashboard
                                        and set it here.
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4 class="ui header">Buy Button</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <textarea name="jvzoo_button" class="form-control" ng-model="access_level.jvzoo_button"></textarea>
                                    <span class="help-block m-b-none">
                                        This is a buy button from JVZoo.  You can have this show up on the checkout page.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt section-heading">
                            ClickBank Settings
                        </div>
                        <div class="panel-body">
                            <h4 class="ui header">Product ID</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <input type="text" name="cb_product_id" class="form-control input-lg"
                                           ng-model="access_level.cb_product_id">
                                    <span class="help-block m-b-none">
                                        This is the product ID in ClickBank. If you want this product level given to customers
                                        who purchase a particular product through ClickBank, find it via your ClickBank dashboard
                                        and set it here.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt section-heading">
                            WSO Settings
                        </div>
                        <div class="panel-body">
                            <h4 class="ui header">Product ID</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <input type="text" name="wso_product_id" class="form-control input-lg"
                                           ng-model="access_level.wso_product_id">
                                    <span class="help-block m-b-none">
                                        This is the product ID in WarriorPlus. If you want this product level given to customers
                                        who purchase a particular product through WarriorPlus, find it via your WarriorPlus dashboard
                                        and set it here.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt section-heading">
                            Zaxaa Settings
                        </div>
                        <div class="panel-body">
                            <h4 class="ui header">Product ID</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <input type="text" name="zaxaa_product_id" class="form-control input-lg"
                                           ng-model="access_level.zaxaa_product_id">
                                    <span class="help-block m-b-none">
                                        This is the product ID in Zaxaa. If you want this product level given to customers
                                        who purchase a particular product through Zaxaa, find it via your Zaxaa dashboard
                                        and set it here.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hpanel animated-panel zoomIn"
                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                        <div class="panel-heading hbuilt section-heading">
                            Payment Settings
                        </div>
                        <div class="panel-body">
                            <div class="hr-line-dashed"></div>
                            <h4 class="ui header">Payment Type</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <select name="payment_type" class="form-control input-lg" ng-model="access_level.payment_interval">
                                        <option value="one_time">One Time</option>
                                        <option value="bi_weekly">Bi-Weekly</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                        <option value="annually">Annual</option>
                                    </select>
                                </div>
                            </div>
                            <h4 ng-if="access_level.payment_interval == 'one_time'">Expiration Period</h4>
                            <div ng-if="access_level.payment_interval == 'one_time'" class="field">

                                <div class="col-sm-12">
                                    <input type="number" min="0" name="redirect_url"
                                           class="form-control input-lg editable editable-click"
                                           ng-model="access_level.expiration_period"/>
                                    <span class="help-block m-b-none">
                                        This is the  default expiration period (in months) for each access pass granted, leave blank or set to 0 to not have a default expiration period.
                                    </span>
                                </div>
                            </div>
                            <h4 class="ui header">Price</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <div class="input-group m-b">
                                        <div class="input-group-btn" uib-dropdown>
                                            <style>button.dropdown-toggle:hover{border-}</style>
                                            <button type="button" class="btn btn-lg btn-default" uib-dropdown-toggle style="font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc; color: #555 !important;height: 50px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px 0 0 6px !important;"><span dynamic="_.findWhere( currencies, {id: (access_level.currency ? access_level.currency : default_currency )} ).label"></span> <span class="caret" style="margin-left:5px;border-top-color: #333 !important;"></span></button>
                                            <ul class="uib-dropdown-menu">
                                                <li ng-repeat="currency in currencies"><a ng-click="access_level.currency = currency.id"><span dynamic="currency.label"></span></a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                        <input type="text" style="margin-bottom:0;" name="stripe_price" class="form-control input-lg" ng-model="access_level.price">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <label>

                                    <h4 class="help-block m-b-none">
                                        <input type="checkbox" ng-model="access_level.enable_trial"
                                          ng-checked="access_level.trial_amount && access_level.trial_amount != ''"
                                                ng-disabled="access_level.payment_interval == 'one_time'">
                                        Enable Product Trial (only available for
                                        recurring payment)</h4>
                                </label>
                            </div>
                            <div ng-hide="access_level.payment_interval == 'one_time'"
                                 ng-if="access_level.enable_trial || access_level.trial_amount != null">
                                <h4 class="ui header">Trial Duration</h4>
                                <div class="field">
                                    <div class="col-sm-6">
                                        <input type="text" name="redirect_url" placeholder="Duration"
                                               class="form-control input-lg"
                                               ng-model="access_level.trial_duration"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control input-lg" ng-model="access_level.trial_interval">
                                            <option value=""></option>
                                            <option value="day">Day(s)</option>
                                            <option value="week">Week(s)</option>
                                            <option value="month">Month(s)</option>
                                        </select>
                                    </div>
                                </div>
                                <h4 class="ui header">Trial Price</h4>

                                <div class="field">
                                    <div class="col-sm-12">
                                        <div class="input-group m-b">
                                            <div class="input-group-btn" uib-dropdown>
                                                <style>button.dropdown-toggle:hover{border-}</style>
                                                <button type="button" class="btn btn-lg btn-default" uib-dropdown-toggle style="font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc; color: #555 !important;height: 50px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px 0 0 6px !important;"><span dynamic="_.findWhere( currencies, {id: (access_level.currency ? access_level.currency : default_currency )} ).label"></span> <span class="caret" style="margin-left:5px;border-top-color: #333 !important;"></span></button>
                                                <ul class="uib-dropdown-menu">
                                                    <li ng-repeat="currency in currencies"><a ng-click="access_level.currency = currency.id"><span dynamic="currency.label"></span></a></li>
                                                </ul>
                                            </div><!-- /btn-group -->
                                            <input type="text" style="margin-bottom:0;" name="stripe_price" class="form-control input-lg" ng-model="access_level.trial_amount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4 ng-if="access_level.payment_interval!='one_time'">Stripe Plan ID</h4>
                            <div class="field" ng-if="access_level.payment_interval!='one_time'">
                                <div class="col-sm-11">
                                    <input type="text" name="stripe_plan_id" class="form-control input-lg"
                                           ng-model="access_level.stripe_plan_id">
                                    <span class="help-block m-b-none">
                                        If you provide a Stripe Plan ID, this purchase will be considered a recurring purchase.
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4 class="ui header">Payment Methods</h4>
                            <div class="field">
                                <div class="col-sm-12">
                                    <select multiple ng-model="access_level.payment_methods" class="form-control used_payment_methods">
                                        <option ng-selected="paymentMethodExists(p.id) || !access_level.id" ng-repeat="p in payment_method_types | filter:validPaymentMethod" value={{p.id}}>{{p.name}}</option>
                                    </select>
                                    <span class="help-block m-b-none">
                                        Select the payment methods you want users to be able to use on the checkout page.
                                        <br>
                                        Note that you can only select methods you have already set up, go to <a href="/admin/integrations/all">integrations</a> to set up these methods.
                                        <br>
                                        The JVZoo checkout button will only show up if you have a JVZoo buy button set above.
                                    </span>
                                </div>
                            </div>
                            <span ng-if="payment_integrations.stripe.length > 1">
                                <div class="hr-line-dashed"></div>
                                <h4 class="ui header">Which Stripe Integration should be used?</h4>
                                <div class="field">
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-model="access_level.stripe_integration" ng-change="changeAccount()">
                                            <option value="0" ng-selected="!access_level.stripe_integration">Use default integration</option>
                                            <optgroup label="Stripe Integrations">
                                                <option ng-repeat="stripe_integration in payment_integrations.stripe" ng-selected="stripe_integration.id == access_level.stripe_integration" value="{{stripe_integration.id}}">{{stripe_integration.account.name ? stripe_integration.account.name : stripe_integration.account.username}}</option>
                                            </optgroup>
                                        </select>
                                        <span class="help-block m-b-none" ng-hide="access_level.payment_interval == 'one_time'">
                                            Note that the Stripe Plan ID you choose must be set up on the Stripe account you are choosing to use for this checkout page.
                                        </span>
                                    </div>
                                </div>
                            </span>
                            <span ng-if="payment_integrations.paypal.length > 1">
                                <div class="hr-line-dashed"></div>
                                <h4 class="ui header">Which Paypal Integration should be used?</h4>
                                <div class="field">
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-model="access_level.paypal_integration">
                                            <option value="0" ng-selected="!access_level.paypal_integration">Use default integration</option>
                                            <optgroup label="Paypal Integrations">
                                                <option ng-repeat="paypal_integration in payment_integrations.paypal" ng-selected="paypal_integration.id == access_level.paypal_integration" value="{{paypal_integration.id}}">{{paypal_integration.remote_id}}</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </span>
                            <div class="hr-line-dashed"></div>
                            <div class="field">
                                <div class="col-sm-12">
                                    <h4 class="help-block m-b-none" >
                                        <input type="checkbox" ng-model="access_level.hide_unowned_content" ng-checked="access_level.hide_unowned_content==1" ng-true-value="1" ng-false-value="0" name="name">
                                        Hide content from users who don't have this product level
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <!-- <div class="field">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button class="btn btn-brand" type="submit">Save changes</button>
                        <a ng-click="smModal.Show('public.admin.site.membership.products')">Cancel</a>
                        <!-- <a ng-if="template_data.use_cancel_method" ng-click="cancel()" class="btn btn-white">Cancel</a> -->
                    <!-- </div>
                </div> -->
        
            </div>

        </form>
    </div>
    <div class="actions">
        <button ng-click="save()" class="ui right labeled icon button">
            Save changes
            <i class="checkmark icon"></i>
        </button>
        <div class="ui black deny button close" ng-click="smModal.Show('public.admin.site.membership.products')">
            Cancel
        </div>
    </div>
    
</div>
