<div class="ui modal">
	<i class="close icon"></i>

	<div class="header">
		<i class="paragraph icon"></i>
		Your connected integrations
	</div>
	<div class="content">
		<div class="description">
			<p>These are the integrations current configured on your team & it's sites.</p>

			<div class="ui three cards">
				<div class="card" ng-repeat="integration in grouped_integrations | filter: search" ng-if="integration.integrations.length > 0 && !loading">
					<div class="content">
						<img class="right floated mini ui image" src="{{_.findWhere( availableIntegrations, { id: integration.type }).logo }}">
						<div class="header">
							{{_.findWhere( availableIntegrations, { id: integration.type }).name}}
						</div>
						<div class="meta">
							{{integration.integrations.length}} Configured
						</div>
						<div class="description">
							{{_.findWhere( availableIntegrations, { id: integration.type }).description}}
						</div>
					</div>
					<div class="extra content">
						<div class="ui one buttons">
							<div class="ui basic green button" ng-click="integration.expanded=!integration.expanded">view</div>
						</div>
					</div>
					<div class="content" ng-if="integration.expanded" ng-repeat="integration_instance in integration.integrations">
						<div class="description">

							<div class="row">
								<div class="col-md-12">
									<div class="well m-t-sm">

										<a ng-href="admin/team/integration/{{integration.type}}/configure/{{integration_instance.id}}">
											Integration added for
											<span ng-if="integration_instance.site">
												site <strong>{{integration_instance.site.name}}</strong>
											</span>
											<span ng-hide="integration_instance.site">
												<strong>{{company.name}}</strong>
											</span>
											<span ng-if="integration_instance.default == 1" class="moscow_red_dark">(default)</span>
											<span ng-if="integration_instance.account">
												using account <strong>{{integration_instance.account.name ? integration_instance.account.name : (integration_instance.account.username ? integration_instance.account.username : integration_instance.account.remote_id)}}</strong>
											</span>
											<span ng-if="integration_instance.disabled == 1" class="mustard_yellow">(disabled)</span>
											<br />
											<span ng-if="integration.type == 'facebook_group'">
												Group: <strong>{{integration_instance.name}}</strong>
											</span>
											<span ng-if="integration.type == 'paypal'">
												Paypal Account: <strong>{{integration_instance.remote_id}}</strong>
											</span>
											<span ng-if="integration.type == 'sendgrid'">
												Sendgrid Username: <strong>{{integration_instance.username}}</strong>
											</span>
											<span class="description">
												Added {{moment.utc(integration_instance.created_at).fromNow()}}
											</span>
										</a>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>
