<h2 class="ui header">
    <i class="configure icon"></i>
    {{current_integration ? 'Configure' : 'Install'}} JVZoo Payments App
</h2>

<div class="ui active inverted dimmer" ng-if="loading">
    <div class="ui text loader">Loading</div>
</div>

<div class="ui segment">
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal divider header">
                <i class="magic icon"></i>
                Setup Instructions
            </h3>

            <div class="ui ignored positive message">
                <p>Follow these steps to install the {{integration.name}} app.</p>
            </div>

            <div class="ui styled fluid accordion" sui-accordion>
                <h3 class="ui top attached header title active">
                    <i class="dropdown icon"></i>
                    Step 1
                </h3>
                <div class="ui attached segment content active">
                    <p>Copy and Paste the JVZIPN into the Product edit Page for Jvzoo.</p>
                    <img class="ui bordered image" src="http://content.screencast.com/users/BrianCain/folders/Jing/media/3e3eecc7-4f63-4a32-a019-b27bbd5f0929/2015-12-31_1153.png">
                </div>

                <h3 class="ui top attached header title">
                    <i class="dropdown icon"></i>
                    Step 2
                </h3>
                <div class="ui attached segment content">
                    <p>Copy and Paste the Thank You into the Product edit Page for Jvzoo. (optional)</p>
                    <img class="ui bordered image" src="http://content.screencast.com/users/BrianCain/folders/Jing/media/0def336a-44ec-4bf4-8e9d-6d438004da9a/2015-12-31_1158.png">
                </div>

                <h3 class="ui top attached header title">
                    <i class="dropdown icon"></i>
                    Step 3
                </h3>
                <div class="ui attached segment content">
                    <p>Go to Access Levels > Add New / or an existing level > JVzoo Integration. Then copy and paste a Buy Button from JVzoo. Then Add Product ID which should also be seen in the Buy button URL (or on your main products page in the Product ID column).</p>
                    <img class="ui bordered image" src="http://content.screencast.com/users/BrianCain/folders/Jing/media/68210783-c8a2-4353-b287-4fd09be324a8/2015-12-31_1205.png">
                </div>

            </div>
            <h3 class="ui horizontal divider header">
                <i class="setting icon"></i>
                Settings
            </h3>

            <div class="ui segment form">

                <div class="field">
                    <label>Use this as your JVZIPN url</label>

                    <div class="ui action input" ng-init="init()">
                        <input type="text" class="endpoint-api" id="copy_me" value="{{app.api3URL + '/transaction?type=jvzoo&subdomain=' + current_site.subdomain}}">
                        <button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="app.api3URL + '/transaction?type=jvzoo&subdomain=' + current_site.subdomain" ng-click="copied()">
                            <i class="copy icon"></i>
                            Copy
                        </button>
                    </div>
                </div>
                <div class="field">
                    <label>Use this as your Thank You Page url (optional)</label>

                    <div class="ui action input">
                        <input type="text" class="endpoint-api" id="copy_me2" value="{{'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'}}">
                        <button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me2" data-clipboard-action="copy" clip-copy="'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'" ng-click="copied()">
                            <i class="copy icon"></i>
                            Copy
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>