<h2 class="ui header">
    <i class="configure icon"></i>
    {{current_integration.id ? 'Configure' : 'Install'}} Sendgrid
</h2>

<div class="ui active inverted dimmer" ng-if="loading">
    <div class="ui text loader">Loading</div>
</div>

<div class="ui segment">
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal divider header">
                <i class="setting icon"></i>
                Settings
            </h3>

            <form class="ui segment form">
                <div class="two fields">
                  <div class="field">
                     <input type="text" ng-model="current_company.sendgrid.username">
                  </div>
                  <div class="field">
                      <div class="ui left pointing blue basic label">
                        Enter your Sendgrid Username here
                      </div>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <input type="text" ng-model="current_company.sendgrid.password">
                  </div>
                  <div class="field">
                      <div class="ui left pointing blue basic label">
                        Enter your Sendgrid Password here
                      </div>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <input type="text" ng-model="current_company.sendgrid.api_key">
                  </div>
                  <div class="field">
                    <div class="ui left pointing blue basic label">
                      Enter your Sendgrid API Key here
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>

    <div class="actions">
        <button ng-click="save()" ng-disabled="!current_company.sendgrid.api_key || !current_company.sendgrid.username || !current_company.sendgrid.password" class="ui right labeled icon green button">
            Save changes
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>