	<div class="item ">
		<h4 class="ui header">
			Site Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['site_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4 class="ui header">
			Site Top Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['site_top_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Site Middle Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['site_middle_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Site Bottom Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['site_bottom_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Navigation Text Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['navigation_text_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Navigation Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['navigation_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Navigation Icon Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['navigation_icon_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Section Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['section_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Headline Text Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['headline_text_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Module Label Text Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['module_label_text_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Module Label Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['module_label_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Main Button Text Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['main_button_text_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Main Button Background Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['main_button_background_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>
	<div class="item ">
		<h4>
			Footer Text Color
		</h4>
		<div class="color-picker">
			<div class="">
				<spectrum-colorpicker options="app.colorpicker_options" ng-model="meta_data['footer_text_color']"></spectrum-colorpicker>
			</div>
		</div>
	</div>