<div class="item ">
	<h4 class="ui header">
		Site Logo Image
	</h4>
	<div class="color-picker">
		<div>
			<div class="" ng-controller="inlineMediaController">
				<style>
					#dropzone-upload {
						box-sizing: border-box;
						min-height: 150px;
						border: 2px solid rgba(0, 0, 0, 0.3);
						background: white;
						border: 2px dashed #0087f7;
						border-radius: 5px;
						background: white;
						cursor: pointer;
						margin: 5px 5px 15px;
						text-align: center;
						font-weight: 400;
						font-size: 1.5em;
					}

					#dropzone-upload .hovering {
						border-width: 4px;
						font-weight: 700;
						background: #cfcfcf;
					}

					.drop-box {
						background: #f8f8f8;
						border: 5px dashed #dddddd;
						text-align: center;
						padding: 20px;
						margin-left: 10px;
						margin-bottom: 20px;
						cursor: pointer;
					}

					.drop-box.dragover {
						border: 5px dashed blue;
					}

					.drop-box.dragover-err {
						border: 5px dashed red;
					}
				</style>

				<div class="ui segment basic" ng-show="loading" style="min-height:70px;">
					<div class="ui active inverted dimmer">
						<div class="ui text loader">Loading</div>
					</div>
				</div>
				<div class="col-md-12 height40" ng-hide="loading" ng-init="data_to_update = 'site_logo'">
					<form method="post">
						<div ngf-select="" ngf-drop="" ng-model="files" ngf-multiple="multiple" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="dropzone drop-box upload-image-container" ngf-drop-available="dropAvailable">
							Select or Drop File
						</div>
					</form>
				</div>
			</div>
			<br>
			<img ng-if="meta_data['site_logo']" src="{{meta_data['site_logo']}}" style="max-width:100%"/>
			<br>
			<span ng-click="meta_data['site_logo'] = ''" style="cursor:pointer;">&times; Remove</span>
		</div>
		<div class="media-body" style="color : black">

		</div>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Show icons?
	</h4>
	<div class="switch">
		<div class="onoffswitch">
			<input type="checkbox" ng-checked="meta_data['show_nav_icons'] == '1' || meta_data['show_nav_icons'] == 1" ng-model="meta_data['show_nav_icons']" class="onoffswitch-checkbox" id="show_nav_icons">
			<label class="onoffswitch-label" for="show_nav_icons">
				<span class="onoffswitch-inner"></span>
				<span class="onoffswitch-switch"></span>
			</label>

		</div>
	</div>
</div>
<div class="item">
	<label class="ui header">
		Icon positions
	</label>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['icon_position']">
			<option value="left">Left</option>
			<option value="top">Top</option>
			<option value="right">Right</option>
			<option value="bottom">Bottom</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Icon size
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['icon_size']">
			<option value="">Small</option>
			<option value="fa-2x">Medium</option>
			<option value="fa-3x">Large</option>
			<option value="fa-4x">Big</option>
			<option value="fa-5x">Huge</option>
			<option value="fa-6x">Massive</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Navigation style
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['navigation_style']">
			<option value="text">Plain</option>
			<option value="">Boxes</option>
			<option value="borderless">Single box</option>
			<option value="tabular">Tabs</option>
			<option value="secondary">Underline</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Navigation location
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['navigation_location']">
			<option value="">Standard</option>
			<option value="top fixed">Top Fixed</option>
			<option value="bottom fixed">Bottom Fixed</option>
			<option value="left fixed" ng-hide="1">Left Fixed</option>
			<option value="right fixed" ng-hide="1">Right Fixed</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Logo position
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['logo_position']">
			<option value="left">Left</option>
			<option value="above">Above nav</option>
			<option value="right">Right</option>
			<option value="below">Below nav</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Logo size
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['logo_size']">
			<option value="mini">Mini</option>
			<option value="tiny">Tiny</option>
			<option value="small">Small</option>
			<option value="medium">Medium</option>
			<option value="large">Large</option>
			<option value="big">Big</option>
			<option value="huge">Huge</option>
			<option value="massive">Massive</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Logo border
	</h4>
	<div class="switch">
		<div class="onoffswitch">
			<input type="checkbox" ng-checked="meta_data['logo_border'] == '1'" ng-model="meta_data['logo_border']" class="onoffswitch-checkbox" id="logo_border">
			<label class="onoffswitch-label" for="logo_border">
				<span class="onoffswitch-inner"></span>
				<span class="onoffswitch-switch"></span>
			</label>

		</div>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Logo style
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['logo_style']">
			<option value="">Standard</option>
			<option value="rounded">Rounded</option>
			<option value="circular">Circular</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Page background style
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['page_background_style']">
			<option value="fluid">Fluid</option>
			<option value="boxed">Boxed</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Sidebar position
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['sidebar_position']">
			<option value="left">Left</option>
			<option value="right">Right</option>
			<option value="none">None</option>
		</select>
	</div>
</div>

<div class="item">
	<h4 class="ui header">
		Module label style
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['module_label_style']">
			<option value="ribbon">Ribbon</option>
			<option value="attached">Attached</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		Module label position
	</h4>
	<div class="switch">
		<select class="form-control" ng-model="meta_data['module_label_position']">
			<option value="top left">Top Left</option>
			<option value="top">Top</option>
			<option value="top right">Top Right</option>
			<option value="bottom right">Bottom Right</option>
			<option value="bottom">Bottom</option>
			<option value="bottom left">Bottom Left</option>
		</select>
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		'Syllabus' Text
	</h4>
	<div class="switch">
		<input type="text" name="syllabus_text" class="form-control input-lg"
			   ng-model="meta_data['syllabus_text']" placeholder="Syllabus">
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		'Search lessons...' text
	</h4>
	<div class="switch">
		<input type="text" name="syllabus_text" class="form-control input-lg"
			   ng-model="meta_data['search_lesson_text']" placeholder="Search lessons...">
	</div>
</div>

<div class="item">
	<h4 class="ui header">
		'Lessons' text
	</h4>
	<div class="switch">
		<input type="text" name="syllabus_text" class="form-control input-lg"
			   ng-model="meta_data['lesson_text']" placeholder="Lessons">
	</div>
</div>
<div class="item">
	<h4 class="ui header">
		'Begin/Continue this course' text
	</h4>
	<div class="switch">
		<input type="text" name="syllabus_text" class="form-control input-lg"
			   ng-model="meta_data['begin_course_text']" placeholder="Begin/Continue this course">
	</div>
</div>
<div class="item" ng-controller="capIconThemeController">
	<h4 class="ui header">
		Cap Icon cap {{vairableTemp}}
	</h4>
	<div class="switch">
		<!-- <ui-iconpicker groups="font-awesome" value="{{meta_data['cap_icon'] ? meta_data['cap_icon'] : 'fa fa-graduation-cap' }}" ng-model="meta_data['cap_icon']" ng-click="menuItemLabel();">
		</ui-iconpicker> -->
		<sm-iconpicker style="cursor:pointer;" icon='{{meta_data["cap_icon"]}}'>
		</sm-iconpicker>
	</div>
</div>