<ng-include src="'templates/components/public/www/common/menu.html'"></ng-include>


<div class="ui vertical masthead top_header pricing_header center aligned segment">

	<h1 class="ui center aligned icon {{next_item.color}} header">
		<i class="circular {{next_item.icon}} icon"></i>
		{{next_item.name}}
		<div class="ui sub center aligned header">
			{{next_item.category}}
		</div>
	</h1>

	<div class="ui center aligned grey header">
		<h3>{{next_item.description_short}}</h3>
	</div>

</div>

<div class="ui vertical promo stripe intro product_details segment offwhite_bg">

	<div class="ui grid stackable container">
		<div class="eleven wide column">
			<div class="ui basic segment">

				<h4 class="ui grey header m-b-xs">PEOPLE</h4>

				<div class="ui {{next_item.color}} horizontal statistic m-b-xs m-t-none">
					<div class="value">
						{{pricing_steps[ slider.value ] | number}}
					</div>
					<div class="label">
						people
					</div>
				</div>

				<div class="ui hidden fitted clearing divider"></div>

				<p class="pull-left">Your price automatically increases as your app tracks more people.</p>
				<p class="pull-right">
					<a ui-sref="public.www.soon">More than 50k people?</a>
				</p>

				<div class="ui hidden fitted clearing divider"></div>

				<rzslider
				 rz-slider-model="slider.value"
				 rz-slider-options="slider.options"></rzslider>
			</div>
			<div class="ui basic segment">
				<h4 class="ui grey header m-b-xs">PLAN</h4>

				<div class="ui equal width fluid stackable grid">
					<div class="clickable column" ng-click="active_plan = 'lite'">
						<h3 class="ui {{active_plan == 'lite' ? next_item.color : 'disabled'}} dividing header">
							<i class="small icons">
								<i class="thin circle icon"></i>
								<i ng-show="active_plan == 'lite' ? true : false" class="tiny circle icon"></i>
							</i>

							<div class="content">
								Lite
							</div>
						</h3>
						<div class="ui {{active_plan != 'lite' ? 'disabled' : ''}} items" ng-if="next_item.plans.lite">
							<div class="item" ng-repeat="next_item2 in next_item.plans.lite.features">
								<div class="content">
									<h4 class="ui header">{{next_item2.title}}</h4>
									<div class="description">
										<p ng-repeat="next_item3 in next_item2.points">{{next_item3}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clickable column" ng-click="active_plan = 'standard'">
						<h3 class="ui {{active_plan == 'standard' ? next_item.color : 'disabled'}} dividing header">
							<i class="small icons">
								<i class="thin circle icon"></i>
								<i ng-show="active_plan == 'standard' ? true : false" class="tiny circle icon"></i>
							</i>

							<div class="content">
								Standard
							</div>
						</h3>
						<div class="ui {{active_plan != 'standard' ? 'disabled' : ''}} items" ng-if="next_item.plans.standard">
							<div class="item" ng-repeat="next_item2 in next_item.plans.standard.features">
								<div class="content">
									<h4 class="ui header">{{next_item2.title}}</h4>
									<div class="description">
										<p ng-repeat="next_item3 in next_item2.points">{{next_item3}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ui hidden divider"></div>

			<div class="ui segment">
				<h4 class="ui red header m-b-xs">Built on the Smart Member platform</h4>

				<div class="ui equal width fluid grid">
					<div class="column">
						<div class="ui items">
							<div class="item">
								<div class="content">
									<div class="description">
										<p>Track unlimited member data and events</p>
										<p>Filter and segment members in real-time</p>
										<p>View live member profiles</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="column">
						<div class="ui items">
							<div class="item">
								<div class="content">
									<div class="description">
										<p>Import and export your member data</p>
										<p>Integrate via APIs and webhooks</p>
										<p>Stripe, HipChat, Slack, and Zapier integrations</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
		<div class="five wide column">

			<div class="ui segments">
				<div class="ui segment">
					<h1 class="ui {{next_item.color}} header m-n">
						Smart Sites
					</h1>
					<p>{{pricing_steps[ slider.value ] | number}} people, {{active_plan == 'standard' ? 'Standard' : 'Lite'}} plan</p>
				</div>
				<div class="ui secondary segment">
					<h4 class="ui grey header m-b-xs">PRICE</h4>
					<h1 class="ui {{next_item.color}} header m-n m-b-sm">
						{{price_per_month | currency:"$":0}} per month
					</h1>
					<p>Start with a 14-day free trial</p>

					<div class="ui small action fluid input">
						<input type="text" placeholder="Enter your email">
						<div class="ui {{next_item.color}} button">START NOW</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="ui product_details stripe vertical segment">

	<div class="ui container">
		<div class="ui basic segment">

			<div class="ui hidden divider"></div>
			<div class="ui center aligned grey pricing_text header">
				<p>
					Add more products after you sign up.
				</p>
			</div>

			<div class="ui hidden section divider"></div>
			<div class="ui hidden section divider"></div>

			<div class="ui three column grid stackable container">
				<div class="column" ng-repeat="next_item2 in all_products" ng-if="next_item2.name != next_item.name">
					<div class="ui fluid card product_card">
						<div class="content">
							<h2 class="ui center aligned icon {{next_item2.color}} header">
								<i class="circular {{next_item2.icon}} icon"></i>
								{{next_item2.name}}
								<div class="ui sub center aligned header">
									{{next_item2.category}}
								</div>
							</h2>

							<div class="ui hidden divider"></div>

							<div class="center aligned description">
								<h4>{{next_item2.description_short}}</h4>
							</div>

							<div class="ui center aligned grey pricing_text header">
								<p>starts at
									<span class="ui large {{next_item2.color}} header">$49</span>
									per month
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="ui hidden divider"></div>

			<div class="ui center aligned grey pricing_text header">
				<p>
					<a ui-sref="public.www.pricing">&leftarrow; Back to all products</a>
				</p>
			</div>
			<div class="ui hidden divider"></div>
		</div>
	</div>

	<div class="ui hidden section divider"></div>
	<div class="ui hidden section divider"></div>

	<div class="ui grid container" ng-include="'templates/components/public/www/common/faqs.html'"></div>

</div>