<div class="three wide column the_left_sidebar">

	<div class="header">
		KEYS
		<i class="help circle grey icon" title="Keys are what 'unlock' Doors for your members. Owning a product, buying a subscription, secret invites, etc. can all grant Keys." sui-popup></i>
	</div>
	<div class="ui selection relaxed large list">
		<a ui-sref="admin.app.access.keys({segment: 'all'})" class="link {{$stateParams.segment == 'all' ? 'active' : ''}} item">
			<i class="privacy icon"></i>
			<div class="content">
				<div class="header">
					All 
					<!-- ({{(counts.live + counts.draft) || 0}}) -->
				</div>
			</div>
		</a>
		<a ui-sref="admin.app.access.keys({segment: 'all-live'})" class="link {{$stateParams.segment == 'all-live' ? 'active' : ''}} item">
			<i class="privacy icon"></i>
			<div class="content">
				<div class="header">
					All live 
					<!-- ({{counts.live || 0}}) -->
				</div>
			</div>
		</a>
		<a ui-sref="admin.app.access.keys({segment: 'all-drafts'})" class="link {{$stateParams.segment == 'all-drafts' ? 'active' : ''}} item">
			<i class="privacy icon"></i>
			<div class="content">
				<div class="header">
					All drafts 
					<!-- ({{counts.draft || 0}}) -->
				</div>
			</div>
		</a>
		<!-- <a ui-sref="admin.app.access.keys({segment: 'all-paused'})" class="link {{$stateParams.segment == 'all-paused' ? 'active' : ''}} item">
			<i class="privacy icon"></i>
			<div class="content">
				<div class="header">
					All paused
				</div>
			</div>
		</a> -->
	</div>
</div>
<div class="thirteen wide column">

	<div class="ui active inverted dimmer" ng-if="loading">
		<div class="ui text loader">Loading</div>
	</div>

	<div class="ui basic segment">
		<div class="ui equal width middle aligned grid">
			<div class="column">
				<h2 class="ui inline header">
					<i class="privacy icon"></i>
					<div class="content">
						{{page_title}}
						<div class="sub header">({{pagination.total_count}})</div>
					</div>
				</h2>
			</div>
			<div class="right aligned column">
				<button ng-click="CreateNewKey()" class="ui red large right labeled icon button">
					Add New Key
					<i class="plus icon"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="ui basic segment">
		<div class="ui fluid container">

			<table class="ui celled small table">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							Auto-granting Rules
							<i class="help circle grey icon" title="Setup filters & rules to automatically grant members a key" sui-popup></i>
						</th>
						<th>
							Keyholders
						</th>
						<th>
							Last Given
						</th>
						<th>
							Created
						</th>
						<th class="single line">
							First Set Live
						</th>
					</tr>
				</thead>
				<tbody>
				
					<tr dir-paginate="key in keys | itemsPerPage: pagination.per_page" total-items="pagination.total_count" current-page="pagination.current_page" >
						<td>
							<h4 class="ui header single line m-b-xs">
								<a ui-sref="admin.app.access.edit-key({id:key._id})">
									{{key.name}}
								</a>
								<span class="ui green label" ng-if="key.activated">Live</span>
							</h4>
							<div class="sub header">
								{{getFilterMessage(key.filters,key.filters_operand,key.filters_type)}}
							</div>
						</td>
						<td>
							<div class="sub header">
								{{getFilterMessage(key.filters,key.filters_operand,key.filters_type)}}
							</div>
						</td>
						<td class="single line">
							<div class="ui large basic blue borderless label">
								<i class="user icon m-r-xs"></i> {{key.total_keyholders}}
							</div>
						</td>
						<td class="two wide">
							<div ng-if="key.last_given_at">
								<i class="calendar icon"></i> {{moment.unix(key.last_given_at.sec).format("DD MMM YYYY")}}
							</div>
						</td>
						<td class="two wide">
							<div ng-if="key.created_at">
								<i class="calendar icon"></i> {{moment(key.created_at).format("DD MMM YYYY")}}
							</div>
						</td>
						<td class="two wide">
							<div ng-if="key.set_live_at">
								<i class="calendar icon"></i> {{moment.unix(key.set_live_at).format("DD MMM YYYY")}}
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<span ng-if="pagination.total_count > 0" class="ui pointing label">{{pagination.total_count}} keys found</span>
			<span ng-if="pagination.total_count == 0">No keys found</span>
			<div class="text-right" >
				<dir-pagination-controls max-size="5"></dir-pagination-controls>
			</div>
		</div>
	</div>

</div>



