<div class="sixteen wide column" ng-if="!loading">
	<div class="column">
		<div class="ui compact segment basic">
			<h2 class="ui header headline_text_color">
				{{page.title}}
			</h2>
		</div>
	</div>
</div>
<div class="twelve wide column">

	<div class="ui piled segment section_background_color">

		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>

		<div class="ui embed" ng-if="page.embed_content">
			<div dynamic="page.embed_content" ng-if="page.embed_content"></div>
		</div>

		<img class="ui fluid image" ng-src="{{page.featured_image}}" ng-if="page.featured_image && page.always_show_featured_image">

		<div ng-if="!page.access">
			<a class="ui fluid image" ng-href="{{page.access_level.information_url || '/sign/in/'}}">
				<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
			</a>
		</div>

		<div class="ui padded basic segment section_background_color">
			<a ng-if="is_site_admin || is_team_member" ng-href="/admin/site/pages/page/{{page.id}}" class="">Edit</a>

			<div class="row" dynamic="page.content"></div>

			<div class="panel-footer comments_go_here" ng-show="page.discussion_settings.show_comments" style="margin-bottom:20px;">
				<div ng-include="'templates/components/public/app/common/comments.html'"></div>
			</div>

		</div>

	</div>


</div>
<div class="four wide column">

	<div ng-include="'templates/components/public/app/common/sidebar.html'"></div>

</div>