<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
    General Settings
</h3>
<div class="ui attached segment content">

    <h4>Background Image</h4>

    <div class="inline field">
        <h4>Upload image</h4>
        <button type="button" class="ui button" sm-uploader="background_url" ng-model="bridgepage.swapspot.background_url" data-allowMultiple="false">
            <i class="upload icon"></i>
            Choose File
        </button>
    </div>
    <div class="field" ng-if="bridgepage.swapspot.background_url">
        <img class="ui fluid image" ng-src="{{bridgepage.swapspot.background_url}}">
        <button class="ui left labeled tiny basic red icon button m-t-sm" ng-click="bridgepage.swapspot.background_url=''">
            Clear
            <i class="remove icon"></i>
        </button>
    </div>
    <div class="ui message">key: background_url</div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Header
</h3>
<div class="ui attached segment content">

    <div ng-show="header">
        <h4>Tagline</h4>

        <div class="inline field">
            <input type="text" name="tagline" ng-model="bridgepage.swapspot.tagline">
        </div>
        <div class="ui message">key: tagline</div>
        <div class="field">
            <h4>
                Tagline Text Color
            </h4>
            <spectrum-colorpicker options="app.colorpicker_options" ng-model="bridgepage.swapspot.tagline_text_color"></spectrum-colorpicker>
        </div>
        <div class="field">
            <h4>Headline</h4>

                <input type="text" name="headline" ng-model="bridgepage.swapspot.headline">
        </div>
        <div class="ui message">key: headline</div>
        <div class="field">
            <h4>Headline Text Color</h4>

                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.headline_text_color"></spectrum-colorpicker>
        </div>
        <div class="ui message">key: headline_text_color</div>
    </div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Timer Settings
</h3>
<div class="ui attached segment content">

    <div ng-show="timer">
        <div class="field">
            <h4 >Enable timer on this BP</h4>
            <div class="ui checkbox" ng-model="bridgepage.swapspot.enable_timer" sui-checkbox truevalue="1" falsevalue="0">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Enable timer</label>
            </div>

        </div>
        <div class="field">
            <h4 >Timer Settings</h4>
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.timer_settings" ng-value="1" name="timer_settings" ng-disabled="bridgepage.swapspot.enable_timer == 0"> Specific time and date
                </label>
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.timer_settings" ng-value="2" name="timer_settings" ng-disabled="bridgepage.swapspot.enable_timer == 0"> Evergreen countdown on page load
                </label>
            <div ng-if="bridgepage.swapspot.timer_settings == 1">
                <div class="col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">Date</span>
                        <input class=" " type="date" ng-model="bridgepage.swapspot.day" ng-blur="toTimeStamp($event)" />
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">Time</span>
                        <input class=" " type="time" ng-model="bridgepage.swapspot.day" ng-blur="toTimeStamp($event)" />
                    </div>
                </div>
            </div>

            <div ng-if="bridgepage.swapspot.timer_settings == 2">
                    <select ng-model="bridgepage.swapspot.duration" ng-change="toTimeStampGreen()"
                            class="  pull-left" style="width:75px;">
                        <option ng-repeat="n in range(1,30)" ng-selected="n==bridgepage.swapspot.duration" value="{{n}}">{{n}}</option>
                    </select>

                    <select ng-model="bridgepage.swapspot.interval"
                            class="  pull-left" style="margin-left:5px;width: 120px;" ng-change="toTimeStampGreen()">
                        <option value="minutes">Minutes</option>
                        <option value="hours">Hours</option>
                        <option value="days">Days</option>
                        <option value="months">Months</option>
                    </select>
            </div>


        </div>

        <div class="field">
            <h4>Time end action</h4>
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.time_end_action" ng-value="1" name="role" ng-disabled="bridgepage.swapspot.enable_timer == 0"> Hide Timer
                </label>
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.time_end_action" ng-value="2" name="role" ng-disabled="bridgepage.swapspot.enable_timer == 0"> Redirect to URL
                </label>
        </div>

        <div class="field" ng-if="bridgepage.swapspot.time_end_action == 2">
            <h4 >Redirect URL</h4>

                <input type="text" name="ctaurl" class="   " ng-model="bridgepage.swapspot.time_redirect_url" ng-disabled="!bridgepage.swapspot.enable_timer">
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Video
</h3>
<div class="ui attached segment content">

    <div ng-show="video">
        <div class="field">
            <h4 >Embed</h4>

                <textarea name="embed" rows="10" class="   "
                          ng-model="bridgepage.swapspot.embed"></textarea>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Popup
</h3>
<div class="ui attached segment content">

    <div ng-show="popup">
        <div class="field">
            <h4 >Enable popup on this template?</h4>

                <input type="checkbox" name="enable_popup" class="" ng-model="bridgepage.swapspot.enable_popup">
        </div>
        <div class="field">
            <h4 >Popup content</h4>

                <textarea froala name="content" wrap="virtual" ng-model="bridgepage.swapspot.popup_content" editable="editable" editor='editor' on-image-upload="imageUpload(files , 'content')"><p></p></textarea>
        </div>
        <div class="field">
            <h4 >Custom Popup width</h4>

                <input type="text" name="button" class="   " ng-model="bridgepage.swapspot.popup_width" placeholder="700px">
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	CTA Buttons
</h3>
<div class="ui attached segment content">

    <div ng-show="cta">
        <div class="field">
            <h4 >CTA URL</h4>

                <input type="text" name="ctaurl" class="   " ng-model="bridgepage.swapspot.ctaurl">
        </div>
        <div class="ui message">key: ctaurl</div>
        <div class="field">
            <h4 >CTA Button Delay</h4>

            <select ng-model="bridgepage.swapspot.duration2" ng-change="toTimeStampDelay()"
                    class="  pull-left" style="width:75px;margin-right:5px;">
                <option ng-repeat="n in range(1,300)" ng-selected="n==bridgepage.swapspot.duration2" value="{{n}}">{{n}}</option>
            </select>

            <select ng-model="bridgepage.swapspot.interval2"
                    class="" style="width: 120px;" ng-change="toTimeStampDelay()">
                <option value="minutes">Minutes</option>
                <option value="hours">Hours</option>
            </select>
            <a href="#" ng-if="bridgepage.swapspot.duration2 > 0" ng-click="bridgepage.swapspot.duration2 = 0;bridgepage.swapspot.interval2 = '';toTimeStampDelay()">Clear</a>
            <br />
            <p>Note it won't hide during preview</p>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Button Text Color</h4>

                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.button_text_color"></spectrum-colorpicker>
        </div>
        <div class="ui message">key: button_text_color</div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Button Background Color</h4>

                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.button_background_color"></spectrum-colorpicker>
        </div>
        <div class="ui message">key: button_background_color</div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Button 1 Text</h4>

                <input type="text" name="button" class="   " ng-model="bridgepage.swapspot.button">
        </div>
        <div class="ui message">key: button</div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Open in New Tab?</h4>

                <input type="checkbox" name="open_link_in_new_tab" class=""
                       ng-model="bridgepage.swapspot.open_link_new_tab" ng-true-value="'_blank'"
                       ng-false-value="'_self'">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Button 2 Text</h4>

                <input type="text" name="button2" class="   " ng-model="bridgepage.swapspot.button2">
        </div>
        <div class="ui message">key: button2</div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Footer
</h3>
<div class="ui attached segment content">

    <div ng-show="footer">
        <div class="field">
            <h4 >Show guarantee text?</h4>


                <input type="checkbox" name="show_guarantee_text" class=""
                       ng-model="bridgepage.swapspot.show_guarantee_text" ng-true-value="'block'" ng-false-value="'none'">
        </div>
        <div class="field">
            <h4 >Term URL</h4>

                <input type="text" name="term_url" class="   "
                       ng-model="bridgepage.swapspot.term_url">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Term Text</h4>

                <input type="text" name="term_text" class="   "
                       ng-model="bridgepage.swapspot.term_text">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Term Text Color</h4>

                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.term_text_color"></spectrum-colorpicker>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Open in New Tab?</h4>

                <input type="checkbox" name="open_term_link_in_new_tab" class=""
                       ng-model="bridgepage.swapspot.open_term_link_in_new_tab" ng-true-value="'_blank'"
                       ng-false-value="'_self'">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Privacy URL</h4>

                <input type="text" name="privacy_url" class="   "
                       ng-model="bridgepage.swapspot.privacy_url">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Privacy Text</h4>

                <input type="text" name="privacy_text" class="   "
                       ng-model="bridgepage.swapspot.privacy_text">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Privacy Text Color</h4>

                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.privacy_text_color"></spectrum-colorpicker>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Open in New Tab?</h4>

                <input type="checkbox" name="open_privacy_link_in_new_tab" class=""
                       ng-model="bridgepage.swapspot.open_privacy_link_in_new_tab" ng-true-value="'_blank'"
                       ng-false-value="'_self'">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Copyright Text</h4>

                <input type="text" name="copyright" class="   "
                       ng-model="bridgepage.swapspot.copyright">
        </div>

        <div class="hr-line-dashed"></div>
        <div class="field">
            <h4 >Custom Footer HTML</h4>

                <textarea froala name="content" wrap="virtual" ng-model="bridgepage.swapspot.footer_custom_html" editable="editable" editor='editor' on-image-upload="imageUpload(files , 'content')"><p></p></textarea>
        </div>

    </div>
    <div class="clearfix"></div>
</div>




