<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
    General Settings
</h3>
<div class="ui attached segment content">

    <h4>Background Image</h4>

    <div class="inline field">
        <label>Upload image</label>
        <button type="button" class="ui button" sm-uploader="background_url" ng-model="bridgepage.swapspot.background_url" data-allowMultiple="false">
            <i class="upload icon"></i>
            Choose File
        </button>
    </div>
    <div class="field" ng-if="bridgepage.swapspot.background_url">
        <img class="ui fluid image" ng-src="{{bridgepage.swapspot.background_url}}">
        <button class="ui left labeled tiny basic red icon button m-t-sm" ng-click="bridgepage.swapspot.background_url=''">
            Clear
            <i class="remove icon"></i>
        </button>
    </div>

</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Header
</h3>
<div class="ui attached segment content">

    <div ng-show="header">
        <div class="form-group">
            <label class="col-sm-2 control-label">Tagline</label>

            <div class="col-sm-10">
                <input type="text" name="tagline" class="form-control input-lg"
                       ng-model="bridgepage.swapspot.tagline">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Headline</label>

            <div class="col-sm-10">
                <input type="text" name="headline" class="form-control input-lg"
                       ng-model="bridgepage.swapspot.headline">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Headline Text Color</label>

            <div class="col-sm-10">
                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.headline_text_color"></spectrum-colorpicker>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Timer Settings
</h3>
<div class="ui attached segment content">

    <div ng-show="timer">
        <div class="form-group">
            <label class="col-sm-2 control-label">Enabled timer on this BP</label>
            <div class="col-sm-10">
                <input type="checkbox" ng-model="bridgepage.swapspot.enable_timer" ng-checked="bridgepage.swapspot.enable_timer" class="" ng-true-value="1" ng-false-value="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Timer Settings</label>
            <div class="col-sm-10">
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.timer_settings" ng-value="1" name="timer_settings" ng-disabled="!bridgepage.swapspot.enable_timer"> Specific time and date
                </label>
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.timer_settings" ng-value="2" name="timer_settings" ng-disabled="!bridgepage.swapspot.enable_timer"> Evergreen countdown on page load
                </label>
            </div>
            <div ng-if="bridgepage.swapspot.timer_settings == 1">
                <div class="col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">Date</span>
                        <input class="form-control" type="date" ng-model="bridgepage.swapspot.day" ng-blur="toTimeStamp($event)" />
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">Time</span>
                        <input class="form-control" type="time" ng-model="bridgepage.swapspot.day" ng-blur="toTimeStamp($event)" />
                    </div>
                </div>
            </div>

            <div ng-if="bridgepage.swapspot.timer_settings == 2">
                <div class="col-sm-10">
                    <select ng-model="bridgepage.swapspot.duration" ng-change="toTimeStampGreen()"
                            class="form-control pull-left" style="width:75px;">
                        <option ng-repeat="n in range(1,30)" ng-selected="n==bridgepage.swapspot.duration" value="{{n}}">{{n}}</option>
                    </select>

                    <select ng-model="bridgepage.swapspot.interval"
                            class="form-control pull-left" style="margin-left:5px;width: 120px;" ng-change="toTimeStampGreen()">
                        <option value="minutes">Minutes</option>
                        <option value="hours">Hours</option>
                        <option value="days">Days</option>
                        <option value="months">Months</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Time end action</label>
            <div class="col-sm-10">
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.time_end_action" ng-value="1" name="role" ng-disabled="!bridgepage.swapspot.enable_timer"> Hide Timer
                </label>
                <label>
                    <input type="radio" ng-model="bridgepage.swapspot.time_end_action" ng-value="2" name="role" ng-disabled="!bridgepage.swapspot.enable_timer"> Redirect to URL
                </label>
            </div>
        </div>

        <div class="form-group" ng-if="bridgepage.swapspot.time_end_action == 2">
            <label class="col-sm-2 control-label">Redirect URL</label>

            <div class="col-sm-10">
                <input type="text" name="ctaurl" class="form-control input-lg" ng-model="bridgepage.swapspot.time_redirect_url" ng-disabled="!bridgepage.swapspot.enable_timer">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Video
</h3>
<div class="ui attached segment content">

    <div ng-show="video">
        <div class="form-group">
            <label class="col-sm-2 control-label">Embed</label>

            <div class="col-sm-10">
                <textarea name="embed" rows="10" class="form-control input-lg"
                          ng-model="bridgepage.swapspot.embed"></textarea>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Popup
</h3>
<div class="ui attached segment content">

    <div ng-show="popup">
        <div class="form-group">
            <label class="col-sm-2 control-label">Enable popup on this template?</label>

            <div class="col-sm-10">
                <input type="checkbox" name="enable_popup" class="" ng-model="bridgepage.swapspot.enable_popup">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Popup content</label>

            <div class="col-sm-10">
                <textarea id="summernote" name="content" wrap="virtual" ng-model="bridgepage.swapspot.popup_content" summernote editable="editable" editor='editor' on-image-upload="imageUpload(files , 'content')" config='summernote_options'><p></p></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Custom Popup width</label>

            <div class="col-sm-10">
                <input type="text" name="button" class="form-control input-lg" ng-model="bridgepage.swapspot.popup_width" placeholder="700px">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	CTA Buttons
</h3>
<div class="ui attached segment content">

    <div ng-show="cta">
        <div class="form-group">
            <label class="col-sm-2 control-label">CTA URL</label>

            <div class="col-sm-10">
                <input type="text" name="ctaurl" class="form-control input-lg" ng-model="bridgepage.swapspot.ctaurl">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">CTA Button Delay</label>

            <div class="col-sm-10">
                <input type="text" name="ctaurl" class="form-control input-lg" ng-model="bridgepage.swapspot.cta_delay">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Button Text Color</label>

            <div class="col-sm-10">
                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.button_text_color"></spectrum-colorpicker>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Button Background Color</label>

            <div class="col-sm-10">
                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.button_background_color"></spectrum-colorpicker>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Button 1 Text</label>

            <div class="col-sm-10">
                <input type="text" name="button" class="form-control input-lg" ng-model="bridgepage.swapspot.button">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Open in New Tab?</label>

            <div class="col-sm-10">
                <input type="checkbox" name="open_link_in_new_tab" class=""
                       ng-model="bridgepage.swapspot.open_link_new_tab" ng-true-value="'_blank'"
                       ng-false-value="'_self'">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Button 2 Text</label>

            <div class="col-sm-10">
                <input type="text" name="button2" class="form-control input-lg" ng-model="bridgepage.swapspot.button2">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<h3 class="ui top attached header title">
    <i class="dropdown icon"></i>
	Footer
</h3>
<div class="ui attached segment content">

    <div ng-show="footer">
        <div class="form-group">
            <label class="col-sm-2 control-label">Show guarantee text?</label>

            <div class="col-sm-10">

                <input type="checkbox" name="show_guarantee_text" class=""
                       ng-model="bridgepage.swapspot.show_guarantee_text" ng-true-value="'block'" ng-false-value="'none'">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Term URL</label>

            <div class="col-sm-10">
                <input type="text" name="term_url" class="form-control input-lg"
                       ng-model="bridgepage.swapspot.term_url">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Term Text</label>

            <div class="col-sm-10">
                <input type="text" name="term_text" class="form-control input-lg"
                       ng-model="bridgepage.swapspot.term_text">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Term Text Color</label>

            <div class="col-sm-10">
                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.term_text_color"></spectrum-colorpicker>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Open in New Tab?</label>

            <div class="col-sm-10">
                <input type="checkbox" name="open_term_link_in_new_tab" class=""
                       ng-model="bridgepage.swapspot.open_term_link_in_new_tab" ng-true-value="'_blank'"
                       ng-false-value="'_self'">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Privacy URL</label>

            <div class="col-sm-10">
                <input type="text" name="privacy_url" class="form-control input-lg"
                       ng-model="bridgepage.swapspot.privacy_url">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Privacy Text</label>

            <div class="col-sm-10">
                <input type="text" name="privacy_text" class="form-control input-lg"
                       ng-model="bridgepage.swapspot.privacy_text">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Privacy Text Color</label>

            <div class="col-sm-10">
                <spectrum-colorpicker options="{showInput: true, preferredFormat: 'hex'}"
                                      ng-model="bridgepage.swapspot.privacy_text_color"></spectrum-colorpicker>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Open in New Tab?</label>

            <div class="col-sm-10">
                <input type="checkbox" name="open_privacy_link_in_new_tab" class=""
                       ng-model="bridgepage.swapspot.open_privacy_link_in_new_tab" ng-true-value="'_blank'"
                       ng-false-value="'_self'">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Copyright Text</label>

            <div class="col-sm-10">
                <input type="text" name="copyright" class="form-control input-lg"
                       ng-model="bridgepage.swapspot.copyright">
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Custom Footer HTML</label>

            <div class="col-sm-10">
                <textarea id="summernote" name="content" wrap="virtual" ng-model="bridgepage.swapspot.footer_custom_html" summernote editable="editable" editor='editor' on-image-upload="imageUpload(files , 'content')" config='summernote_options'><p></p></textarea>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>




