<div class="ui attached clearing segment section_background_color" ng-if="loading || next_item.featured_image || next_item.embed_content || !next_item.access">

	<div class="ui active inverted dimmer" ng-if="loading">
		<div class="ui text loader">Loading</div>
	</div>

	<div ng-if="next_item.embed_content && ShouldSuiHandleEmbed( next_item.embed_content )" class="ui embed" data-url="{{next_item.embed_content | extractsrc}}" data-original-embed="{{next_item.embed_content}}" data-placeholder="{{next_item.featured_image}}" sui-embed></div>
	<div ng-if="next_item.embed_content && !ShouldSuiHandleEmbed( next_item.embed_content )" class="ui embed video_container" dynamic="next_item.embed_content">

	</div>

	<img class="ui fluid image" ng-src="{{next_item.featured_image}}" ng-if="next_item.featured_image && (!next_item.embed_content || next_item.always_show_featured_image == 1)">

	<div ng-if="!next_item.access">
		<a class="ui fluid image" ng-if="next_item.access_level.information_url" ng-href="{{next_item.access_level.information_url}}">
			<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
		</a>
		<a class="ui fluid image" ng-click="smModal.Show('public.sign.in')" ng-if="!next_item.access_level.information_url">
			<img src="{{options.access_deny_image || 'https://imbmediab.s3.amazonaws.com/1/6cf8ce94fde69ffb61a79ad2447a6a75/unowned.jpg'}}">
		</a>
	</div>
</div>
<div class="ui attached clearing padded segment section_background_color" ng-if="next_item.timeLeft > 0">
	<h3 class="text-center">
		You can access this content in:
	</h3>
	<h3 class="text-center">
		<timer countdown="next_item.timeLeft" interval="1000">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
	</h3>
</div>

<div class="ui attached clearing padded segment section_background_color" ng-if="next_item.audio_file || ((next_item.transcript_content_public || next_item.access) && next_item.transcript_content)">

	<div class="lesson_meta" style="min-height: 40px;">
		<span class="pull-right" style="padding-left: 20px; padding-top: 5px;">
			<a ng-if="next_item.audio_file" ng-href="{{app.apiUrl}}/utility/download?file={{next_item.audio_file}}" target="_blank" class="ui button fluid main_button_background_color main_button_text_color">
				<i class="download icon"></i>
				Audio
			</a>
		</span>
		<span class="pull-right" ng-if="(next_item.transcript_content_public || next_item.access) && next_item.transcript_content" style="padding-right: 20px; padding-top:5px;">
			<button type="button" class="btn btn-sm btn-primary toggle-transcript" title="View Transcript" ng-click="next_item.showTranscript = !next_item.showTranscript" alt="View Transcript">
				<span class="glyphicon glyphicon-download" style="margin-right: 5px;" ng-click="next_item.showTranscript = !next_item.showTranscript"></span>
				{{next_item.transcript_button_text || 'View Transcript'}}
			</button>
		</span>
	</div>
</div>
<div class="ui attached clearing padded segment section_background_color">

	<a class="ui top right attached label" sm-access="manage_content" if-not="hide" ng-click="smModal.Show('public.administrate.site.content.syllabus.lesson', {id: next_item.id})">
		edit
	</a>

	<div ng-show="next_item.showTranscript" class="transcript_stuff" style="padding: 15px; border: 1px solid rgb(204, 204, 204); margin-bottom: 20px; border-radius: 4px; display: block;">
		<h4 class="text-left">Transcript:</h4>
		<p style="line-height: 24px;">
		<div style='white-space: pre-wrap' dynamic='next_item.transcript_content'></div>
		</p>
	</div>

	<div dynamic="next_item.content" ng-if="next_item.content && (next_item.show_content_publicly || next_item.access)"></div>

	<p ng-if="next_item.description">{{next_item.description}}</p>

</div>
<h3 class="ui attached header" ng-if="next_item.discussion_settings.show_comments">
	Comments
</h3>
<div class="ui attached clearing padded segment section_background_color" ng-if="next_item.discussion_settings.show_comments" ng-init="loadComments()">


	<div ng-if="next_item.comments.length == 0">
		<div class="ui message">
			<p>No comments yet</p>
		</div>
	</div>

	<div class="ui threaded comments">
		<div class="comment comment_parent" ng-repeat="comment in next_item.comments | orderBy:'created_at':next_item.discussion_settings.newest_comments_first">
			<a class="avatar">
				<img title="{{comment.user.first_name}} {{comment.user.last_name}}" src="{{comment.user.profile_image || 'http://www.gravatar.com/avatar/90b9efad502faa07e2f045c8ce1919eb?d=mm&s=48'}}">
			</a>
			<div class="content">
				<a class="author">{{comment.user.first_name}} {{comment.user.last_name}}</a>
				<div class="metadata">
					<span class="date">{{moment.utc( comment.created_at ).fromNow()}}</span>
				</div>
				<div class="text">
					{{comment.body}}
				</div>
				<div class="actions">
					<a class="reply" ng-show="next_item.discussion_settings.allow_replies" ng-init="show_reply_div = false" ng-click="show_reply_div = !show_reply_div">Reply</a>
				</div>
			</div>
			<div class="comments" ng-if="comment.reply">
				<div class="comment comment_item" ng-repeat="reply in comment.reply | orderBy:'created_at'">
					<a class="avatar">
						<img title="{{reply.user.first_name}} {{reply.user.last_name}}" src="{{reply.user.profile_image || 'http://www.gravatar.com/avatar/90b9efad502faa07e2f045c8ce1919eb?d=mm&s=48'}}">
					</a>
					<div class="content">
						<a class="author">{{reply.user.first_name}} {{reply.user.last_name}}</a>
						<div class="metadata">
							<span class="date">{{moment.utc( reply.created_at ).fromNow()}}</span>
						</div>
						<div class="text">
							{{reply.body}}
						</div>
						<div class="actions" ng-hide="1">
							<a class="reply" ng-click="$parent.show_reply_div = !$parent.show_reply_div">Reply</a>
						</div>
					</div>
				</div>
			</div>
			<div class="reply_comment_area" ng-if="show_reply_div">
				<div class="ui reply form" ng-if="!next_item.discussion_settings.close_to_new_comments || next_item.discussion_settings.close_to_new_comments == '0'">
					<div class="field">
						<textarea ng-model="new_reply"></textarea>
					</div>
					<div class="ui blue labeled submit icon button" ng-click="saveReply(comment , new_reply)">
						<i class="check icon"></i> Add Reply
					</div>
				</div>
			</div>
		</div>

		<h4 class="ui horizontal divider header" ng-if="false && (!next_item.discussion_settings.close_to_new_comments || next_item.discussion_settings.close_to_new_comments == '0')">
			<i class="plus icon"></i>
			Add Comment
		</h4>

		<div class="ui reply form" ng-if="!next_item.discussion_settings.close_to_new_comments || next_item.discussion_settings.close_to_new_comments == '0'">
			<div class="field">
				<textarea ng-model="new_comment"></textarea>
			</div>
			<div class="ui blue labeled submit icon button" ng-click="saveComment(new_comment)">
				<i class="check icon"></i> Submit
			</div>
		</div>
	</div>
</div>
