<div class="ui segment" ng-controller="FacebookGroupController" ng-if='site.facebook_group_id'>
	<h2 class="ui header" ng-if='!facebook_groups'>Join The Discussion</h2>
	<p ng-if='!facebook_groups'>Join our private member-only facebook group discussion and connect with other
		members of this site.
	</p>
	<select ng-selected="0" data-ng-options="group.remote_id as group.username for group in facebook_groups" class='form-control input-lg hide' ng-model="group_id.selected" placeholder='Select Facebook Group' style="display: none;">
	</select>
	<a class="btn btn-info btn-sm" type="button"
	   ng-if='!facebook_groups' ng-click='joinGroup(group_id.selected)'>
		<img src="/images/facebook_group_connect.png" style="width: 100%;" alt=""/>
	</a>
	<span ng-if='facebook_groups'>
		 <a ng-repeat="group in facebook_groups" target="_blank" href='https://www.facebook.com/{{group.remote_id}}'>
			 <h3 ng-if="facebook_groups.length > 1">{{group.name}}</h3>
			 <img src="/images/facebook_group_view.png" style="width: 100%;" alt=""/>
		 </a>
	</span>
</div>

<div class="ui centered ad m-b-md" ng-repeat="ad in ads">
	<a site-ad data-id="{{ad.id}}" target="{{ad.open_in_new_tab ? '_blank' : '_self'}}" ng-show="ad.custom_ad" class="ui fluid image" href="{{ad.banner_url}}" ng-click="bannerClick(ad)">
		<div ng-if="ad.custom_ad" class="col-md-12" dynamic="ad.custom_ad"></div>
	</a>
	<a site-ad data-id="{{ad.id}}" target="{{ad.open_in_new_tab ? '_blank' : '_self'}}" ng-show="ad.banner_image_url" class="ui fluid image" data-bypass="true" href="{{ad.banner_url}}" ng-click="bannerClick(ad)">
		<img ng-if="ad.banner_image_url" ng-src="{{ad.banner_image_url}}">
	</a>
</div>