<div class="ui basic center aligned segment" ng-if="site.subdomain == 'sm'" style="background-color: #EBF730;">
	<h1 class="ui header headline_text_color" style="font-size: 4em; color:#414141!important;">
		Closes in
		<timer end-time="launch_time_left" interval="1000">
			<span style="color:#F02A2B;">{{hours}} hour{{hoursS}}</span>,
			<span style="color:#F02A2B;">{{minutes}} minute{{minutesS}}</span>,
			<span style="color:#F02A2B;">{{seconds}} second{{secondsS}}</span>.
		</timer>
	</h1>
</div>

<div sm-class="'ui labeled navigation_background_color ' + (meta_data.icon_position == 'top' || meta_data.icon_position == 'bottom' ? ' icon ' : '') + meta_data.navigation_style + ' ' + meta_data.navigation_location + ' pointing menu large stackable'">

	<div resize sm-class="(options.menu_items.length | numbertoword) + ( (meta_data.navigation_location != 'left fixed' && meta_data.navigation_location != 'right fixed') ? (IsMobile() ? ' ui buttons' : '') : '')" ng-if="options.menu_items">
		<a class="item button navigation_text_color" sui-popup data-stateAttributes='{"id":{{menu_item.id}}}' data-edit="{{site.is_admin ? true : false}}" data-state="public.administrate.site.appearance.menu" sm-active-class="menu_item.url" ng-href="{{menu_item.url | parseurl}}" ng-repeat="menu_item in options.menu_items | orderBy:'sort_order'" ng-click="selectedElement($index)">

			<i sm-class="'icon navigation_icon_color fa ' + ( menu_item.icon || 'fa-home' ) + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'top' || meta_data.icon_position == 'left') && !menu_item.custom_icon &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)"></i>
			<i sm-class="'icon navigation_icon_color fa ' + menu_item.custom_icon + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'top' || meta_data.icon_position == 'left') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') != -1 &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)"></i>
			<img style="width:auto;" sm-class="'icon navigation_icon_color ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'top' || meta_data.icon_position == 'left') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') == -1 &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)" src="{{menu_item.custom_icon}}"/>
			{{ menu_item.label }}

			<i sm-class="'icon navigation_icon_color fa ' + ( menu_item.icon || 'fa-home' ) + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'bottom' || meta_data.icon_position == 'right') && !menu_item.custom_icon &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)"></i>
			<i sm-class="'icon navigation_icon_color fa ' + menu_item.custom_icon + ' ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'bottom' || meta_data.icon_position == 'right') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') != -1 &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)"></i>
			<img style="width:auto;" sm-class="'icon navigation_icon_color ' + meta_data.icon_size" ng-if="(meta_data.icon_position == 'bottom' || meta_data.icon_position == 'right') && menu_item.custom_icon && menu_item.custom_icon.indexOf('fa ') == -1 &&  (meta_data.show_nav_icons == '1' || meta_data.show_nav_icons == 1)" src="{{menu_item.custom_icon}}"/>

		</a>
	</div>

</div>


