<div class="ui short modal"><i class="close icon"></i>
    <div class="header">
        Reset your Password for {{site.name}}
    </div>
    <div class="content">
        <div class="description">

            <div class="ui two column middle aligned very relaxed stackable centered grid container">
                <div class="column">

                    <form class="ui form" ng-submit="reset(data.new_password)" ng-if="hash">

                        <input type="hidden" name="password_reset_hash">

                        <p>Enter a <strong>new password</strong> below</p>

                        <div class="field">
                            <label>New Password</label>
                            <div class="ui left icon input">
                                <input type="password" placeholder="New Password" ng-model="data.new_password">
                                <i class="fa fa-lock icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Confirm Password</label>
                            <div class="ui left icon input">
                                <input type="password" placeholder="Confirm Password">
                                <i class="fa fa-lock icon"></i>
                            </div>
                        </div>
                        <button busy type="submit" class="ui blue submit button">
                            Save Password
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="actions">
        <a class="ui labeled icon button" ng-click="smModal.Show('public.sign.in')">
            Login
            <i class="user icon"></i>
        </a>
        <a class="ui labeled icon button" ng-click="smModal.Show('public.sign.up')">
            Sign Up
            <i class="edit icon"></i>
        </a>
        <a ng-href="{{app.subdomain == 'my' ? 'http://help.smartmember.com':'/support-ticket'}}" class="ui close right labeled icon button">
            Need help?
            <i class="life ring icon"></i>
        </a>
        <div ng-if="!$state.includes('public.my')" class="close ui black button">
            Close
        </div>
    </div>
</div>










