<div class="ui modal">
	<div class="header">
		<i class="icons">
			<i class="users icon"></i>
			<i class="corner add icon"></i>
		</i>
		Invite people to become members of your site
	</div>
	<div class="content">
		<div class="description">

			<div class="ui message">
				<div class="header">
					Invite new members by:
				</div>
				<ul class="list">
					<li>sending them an email</li>
					<li>giving them your site's link(s)</li>
				</ul>
			</div>

			<div class="ui section divider"></div>

			<div class="ui styled fluid accordion" sui-accordion>
				<div class="active title">
					<i class="dropdown icon"></i>
					Email method
				</div>
				<div class="active content">
					<div class="ui form">

						<div class="field">
							<label>Paste in email addresses</label>
							<textarea ng-model="members.emails" placeholder="ex. john@smith.com, jane@doe.net"></textarea>
						</div>

						<div class="ui ignored info message">
							<p>
								We'll send out an email to these people and create accounts for them.
							</p>
							<p>
								<strong>note:</strong> separate each email by spaces, commas, or 1 per line.
							</p>
						</div>

					</div>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Link method
				</div>
				<div class="content">
					<div class="ui form">

						<div class="field" ng-if="$rootScope.access_level_hash">
							<label>"Secret" Link</label>
							<input ng-if="site.domain" value="http://{{site.domain}}/access/{{$rootScope.access_level_hash}}"/>
							<input ng-if="!site.domain" value="http://{{site.subdomain}}.{{app.domain}}/access/{{$rootScope.access_level_hash}}"/>
						</div>
						<p ng-if="$rootScope.access_level_hash">

						</p>
						<div class="ui ignored info message" ng-if="$rootScope.access_level_hash">
							<p>
								Hand out the above url to people if you'd like them to sign up to your site and instantly get access to
								your locked content. They'll go through the normal sign-up process, but will be treated as if they just
								bought your product.
							</p>
							<p>
								<strong>note:</strong> this is a great choice for inviting JV's to come preview your content while
								still keeping it restricted from the general public.
							</p>
						</div>

						<div class="field">
							<label>Default Link</label>
							<input ng-if="site.domain" value="http://{{site.domain}}/?signup"/>
							<input ng-if="!site.domain" value="http://{{site.subdomain}}.{{app.domain}}/?signup"/>
						</div>

						<div class="ui ignored info message">
							<p>
								Give this link to people to sign-up on your site to become normal logged-in users.
							</p>
							<p>
								<strong>note:</strong> this is a great choice for inviting future customers of your site. Having them
							</p>
							<p>
								sign-up to your site will capture their email so you can communicate with them even after they're gone!
							</p>
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<a ng-click="invite()" class="ui right labeled icon green button finish_invite_step">
			Save & continue
			<i class="checkmark icon"></i>
		</a>
	</div>
</div>