<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="magic icon"></i>
		Pick a logo for your site
	</div>
	<div class="content">
		<div class="description">

			<div class="ui message">
				<p>Before adding content to your site, upload it's logo (if you have one).</p>
				<p>It will show up at the top of your site and anywhere where it's listed publicly.</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui form">
				<div class="inline field">
					<label>Upload image / logo</label>
					<button type="button" class="ui button" sm-uploader="site_logo" ng-model="site_options.site_logo">
						<i class="upload icon"></i>
						Choose File
					</button>
				</div>
				<div class="field">
					<img class="ui fluid image" ng-src="{{site_options.site_logo}}" ng-show="site_options.site_logo">
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<button class="ui left floated left labeled icon button" ng-if="site_options.site_logo" ng-click="site_options.site_logo=''">
			Clear
			<i class="remove icon"></i>
		</button>
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<a busy ng-click="save()" class="ui right labeled icon green button">
			Save & continue
			<i class="checkmark icon"></i>
		</a>
	</div>
</div>