<div class="ui modal">
	<i class="close icon"></i>

	<div class="header">
	    <i class="paragraph icon"></i>
	    {{ template_data.title | translate }}
	</div>
	<div class="content">
		<div>
			<div class="row">
				<div>
					<div class="hpanel hbgblue">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12 border-right animated-panel zoomIn" style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
									<i class="pe-7s-display1 fa-5x" style="font-size:11em;"></i>
								</div>
								<div class="col-md-12 animated-panel zoomIn" style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">
									<div>
										<h3 class="ui header">Syllabus Page</h3>
										<p style="margin-left:0px;">Configure the look and feel of your syllabus page</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Syllabus Format</label>
					<div class="col-sm-12">
						<div class="radio">
						  <label><input type="radio" ng-model='site.syllabus_format' value='list'>List View</label>
						</div>
						<div class="radio">
						  <label><input type="radio" ng-model='site.syllabus_format' value='thumbnail'>Thumbnail view</label>
						</div>
					<span class="help-block m-b-none">
					</span>
					</div>
				</div>
				<div >
					<label class="col-sm-12 control-label">Welcome content</label>
					<div class="col-sm-12">
						<textarea froala ng-model="site.welcome_content"></textarea>
					<span class="help-block m-b-none">
						Embed a video/content here to show at the top of your Syllabus for logged-in members of your
						site
					</span>
					</div>
				</div>
				<div>
					<label style='margin-top: 30px;' class="col-sm-12 control-label">Syllabus Format Toggle Display</label>
					<div class="col-sm-12">
						<div class="radio">
						  <label><input type="radio" ng-model='site.show_syllabus_toggle' value='1'>Show toggle to visitors</label>
						</div>
						<div class="radio">
						  <label><input type="radio" ng-model='site.show_syllabus_toggle' value='0'>Hide toggle from visitors</label>
						</div>
					<span class="help-block m-b-none">
					</span>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="actions">
	    <div ng-click="save()" class="ui right labeled icon button">
	       Save changes
	        <i class="checkmark icon"></i>
	    </div>
	    <div class="ui black deny button close">
	        Close
	    </div>
	</div>
</div>
