<div ng-if="article.display != 'article-index' && !loading" class="twelve wide column" ng-include="'templates/components/public/app/site/common/show-content.html'"></div>
<div ng-if="article.display == 'article-index' && !loading" class="twelve wide column" ng-include="'templates/components/public/app/site/common/article-index.html'"></div>
<div class="ui segment basic four wide column p-none" ng-show="loading" style="min-height:70px;">
	<div class="ui active inverted dimmer">
		<div class="ui text loader">Loading</div>
	</div>
</div>
<div class="four wide column" ng-if="displaySidebar() && !loading">
    <div ng-include="'templates/components/public/app/site/common/sidebar.html'"></div>
</div>