<div class="item mobile only">
	<div class="menu">
		<a class="ui icon button" ng-click="smSidebar.Show('.left_app_sidebar_contents', '', {closable:true,dimPage:true});">
			<i class="sidebar icon"></i>
			Menu
		</a>
	</div>
	<div class="right menu">
		<a class="ui icon button aligned right aligned" ng-click="show_admin_mobile_top_nav = !show_admin_mobile_top_nav">
			<i class="sidebar icon"></i>
			Account
		</a>
	</div>
</div>


<div class="menu">
	<div class="ui dropdown item {{show_admin_mobile_top_nav || 'mobile hidden'}} profile_image_container" sui-dropdown>
		<img class="ui rounded mini image" src="{{user.profile_image || '/images/image.png'}}">
		<i class="dropdown icon"></i>

		<div class="menu">
			<a class="item" ui-sref="public.app.admin.account.settings">Account settings</a>
			<a class="item" ui-sref="public.www.home" ng-hide="( onCustomDomain() || app.subdomain != 'my' ) && meta_data.hide_sm_logo && meta_data.hide_sm_logo != '0'">Site Directory</a>
			<a class="item" style="display:none;">Report Bugs</a>
			<a class="item" ng-if="onCustomDomain() || app.subdomain != 'my'" ui-sref="public.app.site.support-tickets">Support Tickets</a>
			<a class="item" ng-if="!onCustomDomain() && app.subdomain == 'my'"
			   href="http://help.smartmember.{{app.env}}/support-ticket">Support Ticket</a>
			<a class="item" ng-href="http://help.smartmember.com" ng-if="user.sm_access" ng-hide="options['support_enable'] == 'no'">SM Help Center</a>

			<a class="item" ng-click="LogOut()">Log out</a>

		</div>
	</div>
	<div class="item {{show_admin_mobile_top_nav || 'mobile hidden'}}" ng-if="$state.includes('public.www')" sm-access="edit_theme_options" if-not="hide">
		<a class="ui inverted basic red button" ui-sref="public.app.site.home">
			<i class="left arrow icon"></i>
			Back to Site
		</a>
	</div>
	<a class="ui item {{show_admin_mobile_top_nav || 'mobile hidden'}} wizard_container" title="Setup your account with a step-by-step tour guide" ui-sref="public.app.admin.wizard.list({id : 'account_wizard'})" ng-if="isSitelessPage('my') && $state.includes('public.my') && user.sm_access">
		<div class="ui indicating inverted progress m-b-none" style="width: 100%;" data-value="0" data-total="1" data-type="wizard" sui-account-progress>
			<div class="bar">
				<div class="progress">{{site.wizard_step}}</div>
			</div>
			<div class="label" style="font-size: 0.8em;">Account Wizard</div>
		</div>
	</a>

	<a class="ui item {{show_admin_mobile_top_nav || 'mobile hidden'}} wizard_container" sm-access="manage_content" if-not="hide" title="Setup your site with a step-by-step tour guide" ui-sref="public.app.admin.wizard.list({id : 'site_launch_wizard'})" ng-if="!isSitelessPage() && $state.includes('public.app') && site.wizard_step < 5">
		<div class="ui indicating inverted progress m-b-n" style="width: 100%; " data-value="{{site.wizard_step}}" data-total="5" data-type="wizard" sui-progress>
			<div class="bar">
				<div class="progress">{{site.wizard_step}} of 5 steps</div>
			</div>
			<div class="label" style="font-size: 0.8em;">Setup Wizard</div>
		</div>
	</a>
</div>

<div class="{{$state.includes('public.app.admin.sites') ? 'active' : ''}} item build_menu_trigger_container {{show_admin_mobile_top_nav || 'mobile hidden'}}">
	<a class="ui inverted basic red button" ui-sref="public.app.admin.sites">
		Browse
	</a>
	<a class="ui inverted basic red button" ng-if="!isSitelessPage() && $state.includes('public.app')" sm-access="edit_theme_options" if-not="hide" ng-click="smSidebar.Show('.left_sidebar_contents', 'theme-editor.html');smSidebar.Show('.top_sidebar_contents', 'theme-editor-controls.html')">
		Design
	</a>
	<div class="ui inverted basic red button mobile only" sm-access="manage_content" if-not="hide" ng-if="!isSitelessPage() && $state.includes('public.app')" ng-click="smSidebar.Show('.left_sidebar_contents', 'admin-mobile.html');">
		Build
	</div>
	<div class="ui inverted basic red button mobile hidden" sm-access="manage_content" if-not="hide" ng-if="!isSitelessPage() && $state.includes('public.app')" data-move-popup="false" data-popup=".build_menu" data-on="click" data-duration="350" data-position="bottom center" sui-popup>
		Build
	</div>
</div>


<div class="right ui inverted app_shortcuts_container menu {{show_admin_mobile_top_nav || 'mobile hidden'}}">

	<a class="item thin" ui-sref="public.app.admin.smart-links.list" ng-click="" ng-if="!isSitelessPage() && $state.includes('public.app')" sm-access="manage_content" if-not="hide" title="Smart Links" position="bottom center" sui-popup>
		<button class="ui inverted basic red icon button">
			<i class="linkify icon"></i>
		</button>
	</a>

	<div class="item thin" ng-if="!isSitelessPage() && $state.includes('public.app')" sm-access="manage_email" if-not="hide" title="Email" position="bottom center" sui-popup>
		<div class="ui dropdown" sui-dropdown>
			<button class="ui inverted basic red icon button">
				<i class="envelope icon"></i>
			</button>
			<div class="menu">
				<a class="item" ui-sref="public.app.admin.email.emails">{{ 'EMAILS' | translate }}</a>
				<a class="item" ui-sref="public.app.admin.email.lists">{{ 'LISTS' | translate }}</a>
				<a class="item" ng-if="false" ng-click="smModal.Show('public.administrate.team.email.groups')">{{ 'GROUPS' | translate }}</a>
				<a class="item" ui-sref="public.app.admin.email.subscribers">{{ 'SUBSCRIBERS' | translate }}</a>
				<a class="item" ui-sref="public.app.admin.email.autoresponders">{{ 'AUTORESPONDERS' | translate }}</a>
				<a class="item" ui-sref="public.app.admin.email.forms">{{ 'OPTIN_FORM' | translate }}</a>
				<a class="item" ui-sref="public.app.admin.email.settings">{{ 'SETTINGS' | translate }}</a>
				<a class="item" ui-sref="public.app.admin.email.queue">{{ 'QUEUE' | translate }}</a>
			</div>
		</div>
	</div>
	<a class="item thin" ng-href="//app.smartmember.com/inbox/" ng-if="!isSitelessPage() && $state.includes('public.app')" sm-access="manage_support_tickets" if-not="hide" title="Support" position="bottom center" sui-popup>
		<button class="ui inverted basic red icon button">
			<i class="life ring icon"></i>

			<div ng-if="site.unread_support_ticket>0" class="mini floating ui red label">{{site.unread_support_ticket}}</div>
		</button>
	</a>
	<a class="item thin" ui-sref="public.app.admin.bridge-pages" sm-access="manage_content" if-not="hide" ng-if="!isSitelessPage() && $state.includes('public.app')" title="Bridge Pages" position="bottom center" sui-popup>
		<button class="ui inverted basic red icon button">
			<i class="browser icon"></i>
		</button>
	</a>
	<a class="item thin" href='https://chrome.google.com/webstore/detail/ngjjhojkdcaodebnplalpchjjgaecbpc?utm_source=chrome-app-launcher-info-dialog' target='_blank' ng-if="!isSitelessPage()" sm-access="manage_support_tickets" if-not="hide" title="Speed Blogging" position="bottom center" sui-popup>
		<button class="ui inverted basic red icon button">
			<i class="checkered flag icon"></i>
		</button>
	</a>
	<div ng-if="!isSitelessPage()" class="ui category search item" sui-search>
		<div class="ui icon input">
			<input class="prompt" type="text" placeholder="">
			<i class="search icon"></i>
		</div>
		<div class="results"></div>
	</div>

	<a class="ui item {{$state.includes('public.www') ? 'active' : ''}}" ui-sref-opts="{reload:true}" ui-sref="public.www.home" title="Smart Member Directory" ng-hide="meta_data.hide_sm_logo && meta_data.hide_sm_logo != '0'">
		<img class="ui rounded mini image" src="/images/sm-64.png">
	</a>

</div>

<div class="ui inverted flowing pointing popup build_menu {{show_admin_mobile_top_nav || 'mobile hidden'}}" ng-if="!isSitelessPage()">
	<div class="ui equal width padded grid">
		<div class="column p-none" ng-include="'templates/components/public/admin-bar/build-menu/content.html'">

		</div>
		<div class="column p-none" ng-include="'templates/components/public/admin-bar/build-menu/members.html'">

		</div>
		<div class="column p-none" ng-include="'templates/components/public/admin-bar/build-menu/sidebars.html'">

		</div>
		<div class="column p-none" ng-include="'templates/components/public/admin-bar/build-menu/settings.html'">

		</div>
	</div>
</div>