.public {
  .admin_bar {
    z-index: 97 !important;
  }
  .sidebar.top {
    z-index: 99 !important;
  }
  .sidebar.left {
    z-index: 98 !important;
    background: #ffffff;
  }
  .sidebar.left .fluid.accordion .ui.attached.segment {
    border-right: none;
    border-left: none;
    width: 100%;
  }
  .sidebar.left .fluid.accordion .ui.attached.header {
    border-right: none;
    border-left: none;
  }

  .admin_bar,
  .sidebar.top .ui.menu:first-child {
    min-height: 62px !important;
  }
  .sidebar.left .ui.form:first-child {
    margin-top: 72px !important;
  }

  .admin_bar .ui.labeled.icon.button {
    padding-left: 2.77142857em!important;
  }
  .ui.menu .thin.item {
    padding-left:0.54285714em;
    padding-right:0.54285714em;
  }
}

@media screen and (min-width: 801px) {
  .mobile_admin_notification {
    display: none !important;
  }
}
@media screen and (max-width: 800px) {
  .admin_bar {
    display: none !important;
  }

  .public .logged_in {
    margin-top: 0 !important;
  }

  .mobile_admin_notification {
    display: none;
  }
}

