.public {
  .admin_bar {
    z-index: 97 !important;
  }
  .top_sidebar_contents {
    z-index: 99 !important;
  }
  .left_sidebar_contents {
    z-index: 98 !important;
    background: #ffffff;
  }
  .admin_bar,
  .top_sidebar_contents .ui.menu:first-child {
    min-height: 62px !important;
  }
  .left_sidebar_contents .ui.form:first-child {
    margin-top: 72px !important;
  }

  .admin_bar .ui.labeled.icon.button {
    padding-left: 2.77142857em!important;
  }
  .ui.menu .thin.item {
    padding-left:0.14285714em;
    padding-right:0.14285714em;
  }
}



