<a class="ui item" ui-sref="public.www.home" ui-sref-opts="{reload:true}">
	<img class="ui rounded mini image" src="/images/sm-64.png">
</a>

<a class="ui pointing dropdown link item" ng-click="smModal.Show('public.administrate.team.sites')" sui-dropdown>
	<i class="globe {{sites_loading ? 'loading' : ''}} icon"></i>
	<span class="text">My Sites</span>
</a>

<div class="item" ng-if="!isSitelessPage()" sm-access="edit_theme_options" if-not="hide">
	<a class="ui inverted basic red button" ng-click="smSidebar.Show('.left_sidebar_contents', 'theme-editor.html');smSidebar.Show('.top_sidebar_contents', 'theme-editor-controls.html')">
		<i class="options icon"></i>
		Theme
	</a>
</div>

<div class="active item thin" ng-if="!isSitelessPage()" data-inline="true" data-on="click" data-duration="350" data-position="bottom center" sui-popup>
	<div class="ui inverted basic red labeled icon button">
		<i class="users icon"></i>
		Smart<strong>Member</strong>
	</div>
</div>
<div class="ui inverted flowing pointing popup" ng-if="!isSitelessPage()">
	<div class="ui equal width padded grid">
		<div class="column p-none">

			<div class="ui large inverted fluid vertical menu">
				<div class="item">
					<div class="header">Content</div>
					<div class="menu">
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.syllabus.lessons')">
							<i class="student icon"></i>
							{{ 'LESSONS' | translate }}
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.syllabus.modules')">
							<i class="student icon"></i>
							{{ 'MODULES' | translate }}
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.blog.posts')">
							<i class="paragraph icon"></i>
							{{ 'POSTS' | translate }}
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.helpdesk.articles')">
							<i class="life ring icon"></i>
							Articles
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.helpdesk.categories')">
							<i class="life ring icon"></i>
							Categories
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.downloads')">
							<i class="download icon"></i>
							{{ 'DOWNLOADS' | translate }}
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.livecasts')">
							<i class="microphone icon"></i>
							{{ 'LIVECASTS' | translate }}
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.pages.custom-pages')">
							<i class="file text icon"></i>
							Pages
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.membership.notices')">
							<i class="announcement icon"></i>
							Notices
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.import')">
							<i class="upload icon"></i>
							{{ 'IMPORT' | translate }}
						</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.stats')">
							<i class="bar chart icon"></i>
							{{ 'STATS' | translate }}
						</a>
					</div>
				</div>
			</div>

		</div>
		<div class="column p-none">

			<div class="ui large inverted fluid vertical menu" sm-access="manage_members" if-not="hide">
				<div class="item">
					<div class="header">Members</div>
					<div class="menu">
						<a class="item" ui-sref="public.app.home">Site Home</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.membership.members')">{{ 'MEMBERS' | translate }}</a>
						<a class="item" sm-access="manage_access_levels" if-not="hide" ng-click="smModal.Show('public.administrate.site.membership.products')">Access Levels</a>
						<a class="item" sm-access="manage_access_levels" if-not="hide" ng-click="smModal.Show('public.administrate.site.membership.passes')">{{ 'PASSES' | translate }}</a>
						<a class="item" sm-access="manage_transactions" if-not="hide" ng-click="smModal.Show('public.administrate.site.membership.transactions')">{{ 'TRANSACTIONS' | translate }}</a>
						<a class="item" sm-access="view_financial_stats" if-not="hide" ui-sref="public.administrate.wallboard" target=_blank>{{ 'SALES_WALLBOARD' | translate }}</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.membership.finance_settings')">{{ 'FINANCE_SETTINGS' | translate }}</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.content.syllabus.notes')">User notes</a>
					</div>
				</div>
			</div>

		</div>
		<div class="column p-none">

			<div class="ui large inverted fluid vertical menu">
				<div class="item" sm-access="edit_theme_options" if-not="hide">
					<div class="header">Sidebars</div>
					<div class="menu">
						<a class="item" ng-click="smModal.Show('public.administrate.site.appearance.widgets')">{{ 'WIDGETS' | translate }}</a>
						<a class="item" ng-click="smModal.Show('public.administrate.site.appearance.banners')">{{ 'BANNERS' | translate }}</a>
					</div>
				</div>
				<div class="item" sm-access="manage_apps" if-not="hide">
					<div class="header">Apps</div>
					<div class="menu">
						<a class="item" ng-click="smModal.Show('public.administrate.team.app_configurations.available')">Add new app</a>
						<a class="item" ng-click="smModal.Show('public.administrate.team.app_configurations.list')">Installed apps</a>
						<a class="item" ng-click="smModal.Show('public.administrate.team.app_configurations.connections')">{{ 'CONNECTED_ACCOUNTS' | translate }}</a>
					</div>
				</div>
			</div>

		</div>
		<div class="column p-none">

			<div class="ui large inverted fluid vertical menu" sm-access="edit_theme_options" if-not="hide">
				<div class="item">
					<div class="header">Settings</div>
					<div class="menu">
						<a class="item" sm-access="edit_theme_options" if-not="hide" ng-click="smModal.Show('public.administrate.site.appearance.settings')">Site settings</a>
						<a class="item" sm-access="edit_theme_options" if-not="hide" ng-click="smModal.Show('public.administrate.site.pages.core.list')">Core pages</a>
						<a class="item" sm-access="edit_site_options" if-not="hide" ng-click="smModal.Show('public.administrate.site.appearance.directory')">Directory Listing</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="item thin" ng-if="!isSitelessPage()" sm-access="manage_email" if-not="hide">
	<div class="ui dropdown" sui-dropdown>
		<button class="ui inverted basic red labeled icon button">
			<i class="envelope icon"></i>
			Smart<strong>Mail</strong>
		</button>
		<div class="menu">
			<a class="item" ng-click="smModal.Show('public.administrate.team.email.emails')">{{ 'EMAILS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.email.lists')">{{ 'LISTS' | translate }}</a>
			<a class="item" ng-if="false" ng-click="smModal.Show('public.administrate.team.email.groups')">{{ 'GROUPS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.email.subscribers')">{{ 'SUBSCRIBERS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.email.autoresponders')">{{ 'AUTORESPONDERS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.email.forms')">{{ 'OPTIN_FORM' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.email.settings')">{{ 'SETTINGS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.email.queue')">{{ 'QUEUE' | translate }}</a>
		</div>
	</div>
</div>
<div class="item thin" ng-if="!isSitelessPage()" sm-access="manage_support_tickets" if-not="hide">
	<div class="ui dropdown" ng-click="smModal.Show('public.administrate.team.helpdesk.tickets')">
		<button class="ui inverted basic red labeled icon button">
			<i class="life ring icon"></i>
			Smart<strong>Support</strong>
		</button>
	</div>
</div>
<div class="item thin" ng-if="!isSitelessPage()">
	<div class="ui dropdown" ng-click="smModal.Show('public.administrate.site.pages.bridge-pages')">
		<button class="ui inverted basic red labeled icon button">
			<i class="browser icon"></i>
			Bridge<strong>Pages</strong>
		</button>
	</div>
</div>
<div class="item thin" ng-if="!isSitelessPage()" sm-access="manage_support_tickets" if-not="hide">
	<div class="ui dropdown" ng-click="smModal.Show('public.administrate.team.helpdesk.tickets')">
		<button class="ui inverted basic red labeled icon button">
			<i class="checkered flag icon"></i>
			Speed<strong>Blogging</strong>
		</button>
	</div>
</div>
<div class="item thin" ng-if="!isSitelessPage()" sm-access="manage_affiliates" if-not="hide">
	<div class="ui dropdown" sui-dropdown>
		<button class="ui inverted basic red labeled icon button">
			<i class="rocket icon"></i>
			Smart<strong>Affiliates</strong>
		</button>
		<div class="menu">
			<a class="item" ng-click="smModal.Show('public.administrate.team.jv.affiliates')">{{ 'AFFILIATES' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.jv.teams')">{{ 'AFFILIATE_TEAMS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.jv.fetcher')">{{ 'JVZOO_FETCHER' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.jv.contests')">{{ 'CONTESTS' | translate }}</a>
			<a class="item" ng-click="smModal.Show('public.administrate.team.jv.stats')">{{ 'STATS' | translate }}</a>
		</div>
	</div>
</div>

<div class="right menu">

	<a class="ui item" style="width: 150px;" title="Setup your account with a step-by-step tour guide" ng-click="smModal.Show('public.administrate.wizard' , {id : 'account_wizard'})" ng-if="isSitelessPage('my') && user.sm_access">
		<div class="ui indicating inverted progress m-b-none" style="width: 100%;" data-value="0" data-total="1" sui-account-progress>
			<div class="bar">
				<div class="progress">{{site.wizard_step}}</div>
			</div>
			<div class="label" style="font-size: 0.8em;">Account Wizard</div>
		</div>
	</a>
	<a class="ui item" style="width: 150px;" sm-access="view_restricted_content" if-not="hide" title="Setup your site with a step-by-step tour guide" ng-click="smModal.Show('public.administrate.wizard' , {id : 'site_launch_wizard'})" ng-if="!isSitelessPage() && site.wizard_step < 5">
		<div class="ui indicating inverted progress m-b-none" style="width: 100%;" data-value="{{site.wizard_step}}" data-total="5" sui-progress>
			<div class="bar">
				<div class="progress">{{site.wizard_step}} of 5 steps</div>
			</div>
			<div class="label" style="font-size: 0.8em;">Setup Wizard</div>
		</div>
	</a>

	<div ng-if="!isSitelessPage() && site.wizard_step >= 5" class="ui category search item" sui-search>
		<div class="ui icon input">
			<input class="prompt" type="text" placeholder="">
			<i class="search icon"></i>
		</div>
		<div class="results"></div>
	</div>
	<div class="ui dropdown item" sui-dropdown>
		<i class="dropdown icon"></i>
		<img class="ui rounded mini image" src="{{user.profile_image}}">
		<div class="menu">
			<a class="item" ng-click="smModal.Show('public.administrate.account.settings')">Account settings</a>
			<a class="item" ui-sref="public.www.home">Site Directory</a>
			<a class="item">Report Bugs</a>
			<a class="item" ui-sref="public.app.support-ticket">Support Tickets</a>
			<a class="item" ng-click="LogOut()">Log out</a>

		</div>
	</div>

</div>

