<div class="ui modal"><i class="close icon"></i>
	<div class="row content">
		<div class="col-lg-12">
			<div class="ibox-content page-heading clear_box">
				<div class="p-xs">
					<div class="row">
						<div class="col-md-9">
							<div class="pull-left m-r-md">
								<i class="fa fa-gear text-branded mid-icon"></i>
							</div>
							<h2 class="ui header">{{ 'TEAM_SETTINGS' | translate }} for <em>{{current_company.name}}</em></h2>
							<span>Change your team name and more on this page.</span>
						</div>
						<div class="col-md-3 text-right">
							<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
								<i class="fa fa-question"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="ibox float-e-margins">
				<div class="ibox-title">
				</div>
				<div class="ibox-content">
					<form class="ui form" ng-submit="save()">

						<div class="field">
							<label class="col-sm-2 control-label">Name</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" ng-model="company.name" placeholder="My Awesome Team" required>
							<span class="help-block m-b-none">
								{{ 'FORM_COMPANY_NAME_HELPBLOCK' | translate }}
							</span>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
	    <button ng-click="save()" class="ui right labeled icon button">
	        Save changes
	        <i class="checkmark icon"></i>
	    </button>
	    <div class="ui black deny button close" >
	        Close
	    </div>
	</div>
</div>
