<div class="row  border-bottom white-bg dashboard-header" ng-init="init()">
	<div class="col-sm-4">
		<h2>Lesson Stats</h2>
		<small>performance stats for lesson content</small>
		<p ng-hide="summary.lessons_top_list">
			no lessons have been viewed yet
		</p>
		<ul class="list-group clear-list m-t">

			<li class="list-group-item {{key == 0 ? 'fist-item' : ''}}" ng-repeat="(key, next_item) in summary.lessons_top_list">
				<span class="pull-right">
					{{next_item.views}} views
				</span>
				<span class="label label-{{key == 0 ? 'success' : ''}}{{key == 1 ? 'info' : ''}}{{key == 2 ? 'primary' : ''}}">
					{{key + 1}}
				</span>
				{{next_item.title}}
			</li>
		</ul>
	</div>
	<div class="col-sm-8">
		<div class="flot-chart dashboard-chart">
			<div flot class="flot-chart-content" dataset="charts[0].data" options="charts[0].options"></div>
		</div>
		<div class="row text-left">
			<div class="col-xs-4 text-center">
				<div class=" m-l-md">
					<span class="h4 font-bold m-t block">{{summary.lessons_total_views ? summary.lessons_total_views : 0}}</span>
					<small class="text-muted m-b block">Viewed all time</small>
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<span class="h4 font-bold m-t block">{{summary.lessons_avg_daily_visits ? summary.lessons_avg_daily_visits : 0 | number:2}}</span>
				<small class="text-muted m-b block">Viewed per day</small>
			</div>
			<div class="col-xs-4 text-center">
				<span class="h4 font-bold m-t block">{{stats.lesson_views_today ? stats.lesson_views_today : 0}}</span>
				<small class="text-muted m-b block">Viewed today</small>
			</div>

		</div>
	</div>

</div>
<div class="row  border-bottom white-bg dashboard-header">
	<div class="col-sm-4">
		<h2>Download Stats</h2>
		<small>performance stats for download content</small>

		<p ng-hide="summary.downloads_top_list">
			no downloads have been processed yet
		</p>
		<ul class="list-group clear-list m-t">

			<li class="list-group-item {{key == 0 ? 'fist-item' : ''}}" ng-repeat="(key, next_item) in summary.downloads_top_list">
				<span class="pull-right">
					{{next_item.views}} downloads
				</span>
				<span class="label label-{{key == 0 ? 'success' : ''}}{{key == 1 ? 'primary' : ''}}{{key == 2 ? 'info' : ''}}">
					{{key + 1}}
				</span>
				{{next_item.title}}
			</li>
		</ul>
	</div>
	<div class="col-sm-8">
		<div class="flot-chart dashboard-chart">
			<div flot class="flot-chart-content" dataset="charts[1].data" options="charts[1].options"></div>
		</div>
		<div class="row text-left">
			<div class="col-xs-4 text-center">
				<div class=" m-l-md">
					<span class="h4 font-bold m-t block">{{summary.total_downloads ? summary.total_downloads : 0}}</span>
					<small class="text-muted m-b block">Downloads all time</small>
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<span class="h4 font-bold m-t block">{{summary.avg_daily_downloads ? stats.avg_daily_downloads : 0 | number:2}}</span>
				<small class="text-muted m-b block">Downloads per day</small>
			</div>
			<div class="col-xs-4 text-center">
				<span class="h4 font-bold m-t block">{{stats.downloads_today ? stats.downloads_today : 0}}</span>
				<small class="text-muted m-b block">Downloads today</small>
			</div>

		</div>
	</div>

</div>

