<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="users icon"></i>
		Your Member Imports
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>These are the imports you've done previously, and the status of any still-processing import jobs.</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

			<table class="ui celled striped padded structured table" ng-if="items.length > 0 && !loading" foonice>
				<thead>
					<tr>
						<th data-toggle="">Progress</th>
						<th data-hide="">Created</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="item in items | itemsPerPage: pagination.per_page" total-items="pagination.total_count"  current-page="pagination.current_page">
						<td>
							{{new_queue}}
							<div class="ui indicating progress" data-starttrigger="true" data-text="member" data-value="{{item.done_count}}" data-total="{{item.total_count}}" sui-progress>
								<div class="bar">
									<div class="progress"></div>
								</div>
								<div class="label">Importing {{item.total_count}} Members</div>
							</div>
						</td>
						<td style="width: 160px;">
							{{moment.utc(item.created_at).fromNow()}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">
							<div class="ui pointing label">
								{{pagination.total_count}} items
							</div>
							<dir-pagination-controls max-size="5"></dir-pagination-controls>
						</th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
	<div class="actions">
		<a ng-click="smModal.Show('public.administrate.site.membership.import')" class="ui deny button close">
			Back to importing
		</a>
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>