<div class="ui modal">
	<div class="header">
		<i class="users icon"></i>
		Your Member Imports
	</div>
	<div class="content">
		<div class="description">
			<div class="ui message">
				<p>These are the imports you've done previously, and the status of any still-processing import jobs.</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui active inverted dimmer" ng-if="loading">
				<div class="ui loader"></div>
			</div>

			<table class="ui celled striped padded structured table" ng-if="data.length > 0 && !loading" foonice>
				<thead>
					<tr>
						<th data-toggle="">Progress</th>
						<th data-hide="">Status</th>
						<th data-hide="">Created</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="next_item in data[ pagination.current_page ] | filter:$parent.query | itemsPerPage: pagination.per_page" total-items="pagination.total_count"  current-page="pagination.current_page">
						<td>
							<div class="ui indicating progress" data-text="{active: 'Importing {value} of {total} members',success: '{total} Members Imported!'}" data-value="{{next_item.done_count}}" data-total="{{next_item.total_count}}" sui-progress>
								<div class="bar"></div>
								<div class="label">Importing Members</div>
							</div>
						</td>
						<td>
							{{next_item.active == 0 ? 'Done' : 'Active'}}
						</td>
						<td style="width: 160px;">
							{{moment.utc(next_item.created_at).fromNow()}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">
							<div class="ui pointing label">
								{{pagination.total_count}} items
							</div>
							<dir-pagination-controls max-size="5"></dir-pagination-controls>
						</th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
	<div class="actions">
		<a ng-click="smModal.Show('public.administrate.site.membership.import')" class="ui deny button close">
			Back to importing
		</a>
		<div class="ui black deny button close">
			Close
		</div>
	</div>
</div>