<div class="ui form">

	<div class="field">
		<div class="ui checkbox" ng-model="next_item.discussion_settings.show_comments" truevalue="1" falsevalue="0" sui-checkbox>
			<input type="checkbox" tabindex="0" class="hidden">
			<label>
				Display comments
			</label>
			<div class="ui ignored info message">
				<p>Check box to display existing comments on this content</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" ng-model="next_item.discussion_settings.close_to_new_comments" truevalue="1" falsevalue="0" sui-checkbox>
			<input type="checkbox" tabindex="0" class="hidden">
			<label>
				Close to new comments
			</label>
			<div class="ui ignored info message">
				<p>Checking this box means users cannot make new comments.</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" ng-model="next_item.discussion_settings.newest_comments_first" truevalue="1" falsevalue="0" sui-checkbox>
			<input type="checkbox" tabindex="0" class="hidden">
			<label>
				Newest at top
			</label>
			<div class="ui ignored info message">
				<p>Check this box to show the newest comments at the top, replies will still be
					shown in chronological order</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" ng-model="next_item.discussion_settings.allow_replies" truevalue="1" falsevalue="0" sui-checkbox>
			<input type="checkbox" tabindex="0" class="hidden">
			<label>
				Enable replies
			</label>
			<div class="ui ignored info message">
				<p>Check this box to allow users to reply to anyone's comments. By default only
					admin users can reply to comments, and users can only make replies on their
					own comments.</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" ng-model="next_item.discussion_settings.public_comments" truevalue="1" falsevalue="0" sui-checkbox>
			<input type="checkbox" tabindex="0" class="hidden">
			<label>
				Auto-approve comments
			</label>
			<div class="ui ignored info message">
				<p>Check this box to automatically approve all comments. By default comments
					require an admin to approve them before showing publicly.</p>
			</div>
		</div>
	</div>
</div>