<div class="ui form">

	<div class="field">
		<div class="ui checkbox" sui-checkbox>
			<input type="checkbox" ng-true-value="1" ng-false-value="0" name="show_comments"
				   ng-model="next_item.discussion_settings.show_comments"
				   ng-checked="next_item.discussion_settings.show_comments">
			<label>
				Display comments
			</label>
			<div class="ui ignored info message">
				<p>Check box to display existing comments on this content</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" sui-checkbox>
			<input type="checkbox" ng-true-value="1" ng-false-value="0" name="close_to_new_comments"
				   ng-model="next_item.discussion_settings.close_to_new_comments"
				   ng-checked="next_item.discussion_settings.close_to_new_comments">
			<label>
				Close to new comments
			</label>
			<div class="ui ignored info message">
				<p>Checking this box means users cannot make new comments.</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" sui-checkbox>
			<input type="checkbox" ng-true-value="1" ng-false-value="0" name="newest_comments_first"
				   ng-model="next_item.discussion_settings.newest_comments_first"
				   ng-checked="next_item.discussion_settings.newest_comments_first">
			<label>
				Newest at top
			</label>
			<div class="ui ignored info message">
				<p>Check this box to show the newest comments at the top, replies will still be
					shown in chronological order</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" sui-checkbox>
			<input type="checkbox" ng-true-value="1" ng-false-value="0" name="allow_replies_to_all_comments"
				   ng-model="next_item.discussion_settings.allow_replies"
				   ng-checked="next_item.discussion_settings.allow_replies">
			<label>
				Enable replies
			</label>
			<div class="ui ignored info message">
				<p>Check this box to allow users to reply to anyone's comments. By default only
					admin users can reply to comments, and users can only make replies on their
					own comments.</p>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox" sui-checkbox>
			<input type="checkbox" ng-true-value="1" ng-false-value="0" name="publicize_all_comments"
				   ng-model="next_item.discussion_settings.public_comments"
				   ng-checked="next_item.discussion_settings.public_comments">
			<label>
				Auto-approve comments
			</label>
			<div class="ui ignored info message">
				<p>Check this box to automatically approve all comments. By default comments
					require an admin to approve them before showing publicly.</p>
			</div>
		</div>
	</div>

</div>