<div class="ui form">
	<div class="field">
		<label class="col-sm-2 control-label">Title:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="title" ng-model="next_item.title" ng-blur="setPermalink($event)" placeholder="Title">
		</div>
	</div>
	<div class="field">
		<label class="col-sm-2 control-label">Permalink:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="permalink" ng-model="next_item.permalink" ng-blur="onBlurSlug($event)">
			<span class="help-block m-b-none">This is the unique Url for your content.</span>
		</div>
	</div>
	<div class="field">
		<label class="col-sm-2 control-label">Content:</label>
		<div class="col-sm-10">
			<textarea froala ng-model="next_item.content"></textarea>
		</div>
		<label ng-if="false">
			<input type="checkbox" ng-model="next_item.show_content_publicly" ng-true-value="1" ng-false-value="0">
			Show content publicly (even when user is logged out)?
		</label>
	</div>
	<div class="field" ng-hide="template_data.access_choice == false">
		<label class="col-sm-2 control-label">Who can access?:</label>
		<div class="col-sm-5">
			<select class="form-control" ng-model="next_item.access_level_type" data-ng-options="al_type.id as al_type.name for al_type in access_level_types">
			</select>
		</div>
		<div class="col-md-5" ng-if="next_item.access_level_type==2 || next_item.access_level_type==3">
			<select class="form-control" ng-model="next_item.access_level_id">
				<optgroup label="Default">
					<option value="0" ng-selected="!next_item.access_level_id">Logged-in Users</option>
				</optgroup>
				<optgroup label="Members who own">
					<option ng-repeat="access_level in access_levels" ng-selected="next_item.access_level_id == access_level.id" value="{{access_level.id}}">{{access_level.name}}</option>
				</optgroup>
			</select>
		</div>
	</div>

</div>
