<div class="ui form">
	<div class="field">
		<label class="col-sm-2 control-label">Title:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="title" ng-model="next_item.title" ng-blur="setPermalink($event)" placeholder="Title">
		</div>
	</div>
	<div class="field">
		<label class="col-sm-2 control-label">Permalink:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="permalink" ng-model="next_item.permalink" ng-blur="onBlurSlug($event)">
			<span class="help-block m-b-none">This is the unique Url for your content.</span>
		</div>
	</div>
    <div class="field" ng-if="template_data.post_categories">
        <label class="col-sm-2 control-label">Categories:</label>
        <select class="ui multiple search selection dropdown" dropdown ng-model="next_item.chosen_categories" multiple ng-if="available_categories && available_categories.length > 0">
            <option ng-repeat="category in available_categories" value="{{category.id}}" ng-selected="$parent.next_item.chosen_categories.indexOf( id ) != -1">{{category.title}}</option>
        </select>
        <button class="mini ui green button" ng-click="$parent.add_category=true" ng-if="!add_category">Add</button>
        <button class="mini ui red button" ng-click="$parent.add_category=false" ng-if="add_category">Cancel</button>
        <div class="ui segment" ng-if="add_category">
            <div class="field">
                <label>Name</label>
                <input type="text" ng-model="new_category.title" ng-blur="setCategoryPermalink( $event, new_category )" />
            </div>
            <div class="field">
                <label>Permalink</label>
                <input type="text" ng-model="new_category.permalink" ng-blur="onBlurCategorySlug( $event, new_category )" />
                <div class="ui info message">This is the unique url to view all posts from the category.</div>
            </div>
            <button class="mini ui green button" ng-click="addCategory( new_category )">Save</button>
        </div>
    </div>
	<div class="field">
		<label class="col-sm-2 control-label">Content:</label>
		<div class="col-sm-10">
			<textarea froala ng-model="next_item.content"></textarea>
		</div>
		<label ng-if="false">
			<input type="checkbox" ng-model="next_item.show_content_publicly" ng-true-value="1" ng-false-value="0">
			Show content publicly (even when user is logged out)?
		</label>
	</div>
	<div class="field" ng-hide="template_data.access_choice == false">
		<label class="col-sm-2 control-label">Who can access?:</label>
		<div class="col-sm-5">
			<select  class="form-control" ng-model="next_item.access_level_type" ng-options="al_type.id as al_type.name for al_type in access_level_types">
			</select>
		</div>
		<div class="col-md-5" ng-if="next_item.access_level_type==2 || next_item.access_level_type==3">

			<select class="form-control" ng-model="next_item.access_level_id" ng-init="!next_item.access_level_id  ? next_item.access_level_id=0: next_item.access_level_id=next_item.access_level_id">
				<optgroup label="Default">
					<option value="0" ng-selected="!next_item.access_level_id">Logged-in Users</option>
				</optgroup>
				<optgroup label="Members who own">
					<option ng-repeat="access_level in access_levels" ng-selected="next_item.access_level_id == access_level.id" value="{{access_level.id}}">{{access_level.name}}</option>
				</optgroup>
			</select>
		</div>
	</div>

</div>
