<div class="ui form">
	<div class="field">
		<label class="col-sm-2 control-label">Open:</label>
		<div class="col-sm-2">
			<div class="input-group">
				<span class="input-group-addon">Date</span>
				<input class="form-control scheduled_date" type="date" ng-model="next_item.published_date"/>
			</div>
										<span class="help-block m-b-none">
											choose when this content is shown on the site; defaults to right now
										</span>
		</div>
		<div class="col-sm-2">
			<div class="input-group">
				<span class="input-group-addon">Time</span>
				<input class="form-control" type="time" ng-model="next_item.published_date"/>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="col-sm-2 control-label">Closed:</label>
		<div class="col-sm-2">
			<div class="input-group">
				<span class="input-group-addon">Date</span>
				<input class="form-control scheduled_date" type="date" id="scheduled_date_end" ng-model="next_item.end_published_date"/>
			</div>
			<span class="input_note" style="margin-bottom:15px;">leave empty to keep this content available forever</span>
		</div>

		<div class="col-sm-2">
			<div class="input-group">
				<span class="input-group-addon">Time</span>
				<input class="form-control" type="time" ng-model="next_item.end_published_date"/>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="col-sm-2 control-label">Not-ready Preview:</label>
		<div class="col-sm-10">
			<div>
				<label>
					<input icheck type="checkbox" ng-true-value="1" ng-false-value="0" name="preview_schedule" ng-model="next_item.preview_schedule">
					Check to show this content listed on your site, even before it's <strong>Open</strong>
				</label>
			</div>
										<span class="help-block m-b-none">

										</span>
		</div>
	</div>

	<hr>

	<div class="field">
		<div class="col-sm-5 col-sm-offset-2">
			<div class="clearfix">
											<span class="help-block m-b-none">
												Drip-feeding lets you schedule this content to become available based on the individual viewing member's signup / purchase date. For
												example, you can have this content become available to members 3 days after they purchase a product.
											</span>
											<span class="help-block m-b-none">
												<strong>note:</strong> this content must have it's Access locked to members for drip-feeding to work.
											</span>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="col-sm-2 control-label">Drip-feeding:</label>
		<div class="col-sm-1" style="margin-bottom:10px;">
			<select ng-model="next_item.dripfeed_settings.duration" style="width:10%;" class="form-control " ng-disabled="next_item.access_level_type != 2 && next_item.access_level_type != 3">
				<option ng-repeat="n in range(1,59)"   value="{{n}}">{{n}}</option>
			</select>
		</div>

		<div class="col-sm-2">

			<select style="width:20%;" ng-model="next_item.dripfeed_settings.interval" class="form-control" ng-disabled="next_item.access_level_type != 2 && next_item.access_level_type != 3">
				<option value="hours" >Hours</option>
				<option value="days">Days</option>
				<option value="months">Months</option>
			</select>
		</div>
        <div class="col-sm-3">
            <a ng-if="next_item.dripfeed_settings.duration || next_item.dripfeed_settings.interval" ng-click="next_item.dripfeed_settings = {}; next_item.remove_dripfeed = true;">Remove Dripfeed</a>
        </div>
	</div>
	<div class="field">
		<label class="col-sm-2 control-label">Drip-feed Preview:</label>
		<div class="col-sm-10">
			<div>
				<label>
					<input icheck type="checkbox" ng-true-value="1" ng-false-value="0" name="preview_dripfeed" ng-model="next_item.preview_dripfeed" ng-disabled="next_item.access_level_type != 2 && next_item.access_level_type != 3">
					Check to show this content listed on your site, even before enough time has passed for the visitor to access it
				</label>
			</div>
										<span class="help-block m-b-none">

										</span>
		</div>
	</div>
</div>