<div class="ui modal"><i class="close icon"></i>
<h1 class="ui header"><i class="ts_icon ts_icon_pencil clear_blue"></i> Tracking Code</h1>
<div class="content">
    <div id="post_col" class="col span_6_of_6" ng-init="init()">

        <form ng-submit="save()" class="save_form" accept-encoding="UTF-8">

            <h2 class="ui header">Google Analytics Tracking ID (UA Code)</h2>
            <p class="small_bottom_margin">
                <input type="text" name="google_analytics_id" class="no_bottom_margin" ng-model="site_options.google_analytics_id" />
            </p>
            <hr>
            <h2 class="ui header">Facebook Pixel ID</h2>
            <p class="small_bottom_margin">
                <input type="text" name="facebook_conversion_pixel" class="no_bottom_margin" ng-model="site_options.facebook_conversion_pixel" />
            </p>
            <hr>
            <h2 class="ui header">Bing ID</h2>
            <p class="small_bottom_margin">
                <input type="text" name="bing_id" class="no_bottom_margin" ng-model="site_options.bing_id" />
            </p>
            <hr>
            <h2 class="ui header">Google Webmaster Verification ID</h2>
            <p class="small_bottom_margin">
                <input type="text" name="google_webmaster_tag" class="no_bottom_margin" ng-model="site_options.google_webmaster_tag" />
                <small>For example: O7Iba-qgK7C6MEywEoku4RkTXRbFKxvXHQpGdnuu***</small>
            </p>
            <hr>
            <h2 class="ui header">Bing Webmaster Verification ID</h2>
            <p class="small_bottom_margin">
                <input type="text" name="bing_webmaster_tag" class="no_bottom_margin" ng-model="site_options.bing_webmaster_tag" />
                <small>For example: 0FC3FD705126161B0252E755A56</small>
            </p>
        </form>

    </div>
</div>
<div class="actions">
    <button ng-click="save()" class="ui right labeled icon button">
        Save changes
        <i class="checkmark icon"></i>
    </button>
    <div class="ui black deny button close">
        Close
    </div>
</div>
</div>
