
<h1><i class="ts_icon ts_icon_book thrills_purple"></i> Special Pages</h1>

<section>

    <div id="admin_list">

        <div class="admin_tabs tab_set on_neutral_grey">
            <a id="" class="tab_trigger tab selected" data-target="sales_page">
                Sales Page
            </a>
            <a id="" class="tab_trigger tab" data-target="refund_page">
                Refund Page
            </a>
            <a id="" class="tab_trigger tab" data-target="bonus_page">
                Bonus Page
            </a>

            <i class="tab_caret ts_icon ts_icon_caret_down"></i>
            <i class="tab_caret ts_icon ts_icon_caret_up"></i>
        </div>
        <div class="tab-content bottom_margin clear_both">
            <div class="tab_pane large_bottom_padding selected " id="" data-target="sales_page" data-route="SalesPageBuilderAdminRoute">

                <div class="animate-panel" ng-init="initSalesPage()">
                    <div class="content">
                        <div>
                            <form ng-submit="saveSalesPage()" method="post">
                                <div class="row">
                                    <div class="col-md-8 animated-panel fadeInDown"
                                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                                        <div class="hpanel hbgblue">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-2 border-right animated-panel zoomIn"
                                                         style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
                                                        <i class="pe-7s-display1 fa-5x" style="font-size:11em;"></i>
                                                    </div>
                                                    <div class="col-md-8 col-md-offset-1 animated-panel zoomIn"
                                                         style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">
                                                        <div class="text-center m-b-md">
                                                            <h3>Sales Page Builder</h3>

                                                            <p>Build a custom sales page to present to unregistered users to promote your
                                                                product!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 animated-panel fadeInDown"
                                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                                        <div class="hpanel hbgnavyblue">
                                            <div class="panel-body" style="text-align:center;">
                                                <button type="submit" class="btn btn-lg btn-info" id="save_sales_page_btn"
                                                        style="padding: 15px 48px 18px;font-size: 24px;  margin: 42px 0px;">Save Sales Page
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 animated-panel zoomIn"
                                         style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                                        <div class="hpanel">
                                            <div class="list-group" style="margin:0px;">
							<span class="list-group-item active"
                                  style="border-radius: 0px;  background-color: #34495e;border-color: #34495e;color: #ffffff">
								<h4 class="list-group-item-heading text-center truncate">Options</h4>
							</span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>

                                                    <div class="col-sm-10">
                                                        <div class="panel panel-info">
                                                            <div class="row">
                                                                <label style="width: 100%;">
                                                                    <div class="col-md-offset-3 col-md-2">
                                                                        <input type="checkbox" name="show_sales_page"
                                                                               class="form-control input-lg pull-left" ng-true-value="1" ng-false-value="0"
                                                                               ng-model="sales_options.sales_page_enabled"/>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h4 class="text-left" style="line-height:50px; margin:0;">
                                                                            Enable Sales Page
                                                                        </h4>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"> </label>

                                                    <div class="col-sm-10">
                                                        <h3 class="text-center">
                                                            <a href="/lessons?preview=true" target="_blank" data-bypass="true">Click here to
                                                                preview your sales page</a>
                                                        </h3>
									<span class="help-block m-b-none">
									</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Video / Embed Content</label>

                                                    <div class="col-sm-10">
                                    <textarea name="embed_content" class="form-control input-lg"
                                              ng-model="sales_options.sales_page_embed"></textarea>
									<span class="help-block m-b-none">
									</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Sales Page Intro</label>

                                                    <div class="col-sm-10">
                                    <textarea  name="content" class="form-control input-lg"
                                               ng-model="sales_options.sales_page_content" id="sales_page_content"></textarea>
									<span class="help-block m-b-none">
									</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>

                                                    <div class="col-sm-10">
                                                        <h3 class="text-center" style="padding:40px;">Syllabus automatically gets inserted
                                                            in here</h3>
									<span class="help-block m-b-none">
									</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Sales Page Outro</label>

                                                    <div class="col-sm-10">
                                    <textarea name="outro" class="form-control input-lg" id="sales_page_outro"
                                              ng-model="sales_options.sales_page_outro"></textarea>
									<span class="help-block m-b-none">
									</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>

            <div class="tab_pane large_bottom_padding " id="" data-target="refund_page" data-route="RefundPageAdminRoute">

            </div>
            <div class="tab_pane large_bottom_padding " id="" data-target="bonus_page" data-route="FreeBonusAdminRoute">

            </div>
        </div>
    </div>
</section>




