<div class="wrapper wrapper-content  animated fadeInRight">
	<div class="row animated fadeInRight">
		<div class="col-lg-12">
			<div class="ibox-content page-heading clear_box">
				<div class="p-xs">
					<div class="row">
						<div class="col-md-9">
							<div class="pull-left m-r-md">
								<i class="fa fa-exchange text-branded mid-icon"></i>
							</div>
							<h2>Available {{ 'INTEGRATIONS' | translate }}</h2>
							<span>Extend the power of your sites by connecting 3rd-party apps and tools.</span>
						</div>
						<div class="col-md-3 text-right">
							<button disabled title="Tutorial coming soon!" class="btn btn-default m-t-md" type="button">
								<i class="fa fa-question"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="ibox">
				<div class="ibox-content">
					<div class="input-group">
						<input type="text" placeholder="Search {{ 'INTEGRATIONS' | translate }}" class="input form-control" ng-model="search.name">
						<span class="input-group-btn">
							<button type="button" class="btn btn btn-brand"> <i class="fa fa-search"></i> Search</button>
						</span>
					</div>
					<div class="clients-list">

						<div ng-hide="( availableIntegrations | filter: search).length > 0" class="smart_2_area plastic_row service clearfix">
							<h4 style="text-align:center">No integrations match your search</h4>
						</div>

						<div class="table-responsive">
								<table class="table table-striped table-hover integrations_list">
									<tbody>

										<tr ng-repeat="integration in availableIntegrations | filter: search" ng-click="SetIntegrationViewbox(integration.id)" class="show_pointer">
											<td class="client-avatar">
												<img alt="image" src="{{integration.logo}}">
											</td>
											<td>
												<strong>{{integration.name}}</strong>
												<p>{{integration.description}}</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="ibox ">
				<div class="ibox-content">
					<div class="tab-content integration_detail_container">

						<div ng-repeat="integration in availableIntegrations" id="contact-{{integration.id}}" class="tab-pane active" ng-show="active_integration == integration.id" ng-init="">

							<div class="row m-b-sm">
								<div class="col-lg-12 text-center">
									<h2>{{integration.name}}</h2>
								</div>
							</div>
							<div class="row sm">
								<div class="col-lg-10 col-md-offset-1 text-center">
									<div class="m-b-sm">
										<img alt="image" class="img-responsive" src="{{integration.logo}}">
									</div>
								</div>
							</div>

							<div class="row m-b-sm">
								<div class="col-lg-12">

									<p>{{integration.description}}</p>

									<hr>

									<a type="button" class="btn btn-brand btn-lg btn-block" href="{{integration.instructions_only ? $state.href('admin.team.integration.configure',{integration: integration.id}) : $state.href('admin.team.integration.choose',{integration: integration.id})}}">
										<i class="fa fa-envelope"></i> Add integration
									</a>
								</div>
							</div>

							<hr>

							<div class="client-detail">

								<h3>Overview</h3>

								<div ng-bind-html="integration.long_description"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>