<div ng-if="loading" class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
</div>
<div ng-if="!loading" class="card clearfix large_top_margin">
    <h4 style="margin-bottom:20px;">Configure JVZoo Grabber for <strong>{{company.name}}</strong></h4>
    <div class="col span_2_of_6 small">
        Install the extension
    </div>
    <div class="col span_4_of_6 ">
        <label class="small">
            <a target="_blank" href="https://chrome.google.com/webstore/detail/affiliate-approval-pro/fgdfpdiamefbcdghabjipjbpabggfbfb" data-bypass="true">
                <button class="btn btn-success ">JV Affiliate Chrome Extension</button>
            </a>
        </label>
    </div>
    <div class="clear_both"></div>
    <div class="col span_2_of_6 small">
        Copy this URL to the Affiliate Approval Pro extension settings.
    </div>
    <div class="col span_4_of_6 ">
        <label class="small">
            <div class="input-group" ng-init="init()">
                <input class="form-control input-lg endpoint-api" id="copy_me" disabled ng-model="url" />
                    <span class="input-group-btn">
                        <a class="btn copy-button" style="height:45px;" data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="url" ng-click="copied()" >Copy</a>
                    </span>
            </div>
        </label>
    </div>
    <div class="clear_both"></div>
</div>