<div class="ui modal">
	<div class="col-lg-10">
		<h2 class="ui header">Menu Navigation</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>

			</li>
			<li>
				<a>Miscellaneous</a>
			</li>
			<li class="active">
				<strong>Menu Navigation</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

	<div class="row">
		<div class="col-lg-6">
			<div class="ibox">
				<div class="ibox-content">
					<h3 class="ui header">Header Menu</h3>
					<p class="small">Add navigation items to the top of your site</p>

					<div class="input-group">
						<input type="text" placeholder="Label" class="input input-sm form-control" ng-model="newItem.label">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-white" ng-click="addMenuItem()">
								<i class="fa fa-plus"></i> Add Menu Item
							</button>
						</span>
					</div>
					<ul ui-sortable="sortableOptions" class="sortable-list agile-list" ng-model="menu_items">
                        <li ng-repeat="next_item in menu_items" class="success-element menu_item" data-component="{{next_item}}">
                            <div class="row">
                                <div class="col-sm-3" ng-show="next_item.featured_image">
                                    <i ng-if="!next_item.custom_icon && next_item.icon" class="{{next_item.icon}} modal-icon"></i>
                                    <i ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') != -1" class="{{next_item.custom_icon}} modal-icon"></i>
                                    <img class="img-thumbnail img-responsive" ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') == -1" src="{{next_item.custom_icon}}" />
                                </div>
                                <div class="col-sm-{{next_item.featured_image ? '9' : '12'}}">
                                    {{next_item.label}}
                                    <br>
                                    <small class="font-bold" ng-if="next_item.url.indexOf('http://') == -1 && next_item.url.indexOf('https://') == -1">http://{{(app.domain ? app.domain : app.subdomain + '.' + app.rootDomain) + '/' + next_item.url}}</small>
                                    <small class="font-bold" ng-if="next_item.url.indexOf('http://') != -1 || next_item.url.indexOf('https://') != -1">{{next_item.url}}</small>
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white" ng-click="open1(next_item, 'main')">edit</a>
                                        <div style="cursor:pointer; margin-top:7px;" class="col-md-1 glyphicon glyphicon-trash pull-right" ng-click="deleteMenuItem(next_item)"></div>
                                    </div>
                                </div>
                            </div>

                        </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox">
				<div class="ibox-content">
					<h3 class="ui header">Footer Menu</h3>
					<p class="small">Add navigation items to the bottom of your site</p>
					<div class="input-group">
						<input type="text" placeholder="Label" class="input input-sm form-control" ng-model="newFooterItem.label">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-white" ng-click="addFooterMenuItem()">
								<i class="fa fa-plus"></i> Add Footer Item
							</button>
						</span>
					</div>
					<ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="footer_menu_items">
                        <li ng-repeat="next_item in footer_menu_items" class="success-element footer_menu_item" data-component="{{next_item}}">
                            <div class="row">
                                <div class="col-sm-3" ng-show="next_item.featured_image">
                                    <i ng-if="!next_item.custom_icon && next_item.icon" class="{{next_item.icon}} modal-icon"></i>
                                    <i ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') != -1" class="{{next_item.custom_icon}} modal-icon"></i>
                                    <img class="img-thumbnail img-responsive" ng-if="next_item.custom_icon && next_item.custom_icon.indexOf('fa fa-') == -1" src="{{next_item.custom_icon}}" />
                                </div>
                                <div class="col-sm-{{next_item.featured_image ? '9' : '12'}}">
                                    {{next_item.label}}
                                    <br>
                                    <small class="font-bold" ng-if="next_item.url.indexOf('http://') == -1 && next_item.url.indexOf('https://') == -1">http://{{(app.domain ? app.domain : app.subdomain + '.' + app.rootDomain) + '/' + next_item.url}}</small>
                                    <small class="font-bold" ng-if="next_item.url.indexOf('http://') != -1 || next_item.url.indexOf('https://') != -1">{{next_item.url}}</small>
                                    <div class="agile-detail">

                                        <a href="#" class="pull-right btn btn-xs btn-white" ng-click="open2(next_item, 'footer')">edit</a>
                                        <div style="cursor:pointer; margin-top:7px;" class="col-md-1 glyphicon glyphicon-trash pull-right" ng-click="deleteFooterMenuItem(next_item)"></div>
                                    </div>
                                </div>
                            </div>

                        </li>
					</ul>
				</div>
			</div>
		</div>

	</div>

    <button class="btn btn-brand pull-left" ng-click="save()" ng-if="wizard_mode">Save</button>
</div>