<div class="ui modal">

	<div class="header">
		<i class="write icon"></i>
		{{ module.id ? 'Update' : 'Add' | translate }} a module
	</div>
	<div class="content">
		<div class="description">

			<div class="ui message">
				<p>Modules help organize and categorize your lessons, like chapters in a book.</p>
			</div>

			<div class="ui section divider"></div>

			<div class="ui form">

				<div class="field">
					<label>Module name</label>

					<input type="text" ng-model="module.title">
				</div>

			</div>

		</div>
	</div>
	<div class="actions">
		<div ng-click="smModal.Show('public.administrate.site.content.syllabus.modules')" class="ui black deny button close">
			Back
		</div>
		<a busy ng-click="save()" class="ui right labeled icon green button">
			Save changes
			<i class="check icon"></i>
		</a>
	</div>
</div>