<div id="page" class="legal">

    <div id="page_contents" class="">


        <section class="blog_container clearfix top" style="padding: 8rem 0 0 0;max-width:60rem!important;" >

            <h1>Policies</h1>

            <style>

                #policies .plastic_row {
                    /* slight tweak from default, no icon etc. */
                    padding-left: 1.25rem;
                }
                #policies .plastic_row .description {
                    /* Firefox weirdness? */
                    word-break: break-word;
                }

            </style>

            <div id="policies" class="card home_card clearfix">

                <a ng-href="terms-of-service" class="plastic_row">
                    <i class="ts_icon ts_icon_chevron_large_right chevron"></i>
                    <h3>Terms of Service</h3>
                    <span class="description">User agreements that govern your use of the Smart Member service.</span>
                </a>

                <a ng-href="privacy-policy" class="plastic_row">
                    <i class="ts_icon ts_icon_chevron_large_right chevron"></i>
                    <h3>Privacy Policy</h3>
                    <span class="description">Our policy regarding what information we collect at Smart member, how we use it, and what choices you have.</span>
                </a>

                <a ng-href="transparency-report" class="plastic_row">
                    <i class="ts_icon ts_icon_chevron_large_right chevron"></i>
                    <h3>Transparency Report</h3>
                    <span class="description">Summary of government and law enforcement requests for user data and content removal from Smart Member.</span>
                </a>

                <a ng-href="user-data-request-policy" class="plastic_row">
                    <i class="ts_icon ts_icon_chevron_large_right chevron"></i>
                    <h3>Request for User Data Policy</h3>
                    <span class="description">Our policy regarding legal requests for user data and content removal.</span>
                </a>

            </div>

        </section>


    </div>

</div>