<div id="page" class="legal">

    <div id="page_contents" class="">


        <section class="blog_container clearfix top" style="padding: 8rem 0 0 0;max-width:60rem!important;" >

            <h1>Privacy Policy</h1>

            <p>
                You can view all of our policy documents, including security and disclosure practices, at <a ng-href="policies">Policies</a>.
            </p>
            <div class="tab_set on_neutral_grey">
                <a ng-href="privacy-policy" class="selected">Privacy Policy</a>
                <i class="tab_caret ts_icon ts_icon_caret_down"></i>
                <i class="tab_caret ts_icon ts_icon_caret_up"></i>
            </div>
            <div class="tab_pane selected">

                <h2>Our Privacy Principles</h2>

                <p>If you read nothing else, please read this:</p>

                <ul>
                    <li>The most fundamental privacy principle we follow is that by default, anything you create in your Smart Member sites is private by default. That is, viewing the content created on each site requires authentication as an admin of that site until it's toggled otherwise.</li>
                    <li>Smart Member is the custodian of data on behalf of the teams that use Smart Member. We don't own site content & data. Teams own their data. They like it that way and so do we.</li>
                    <li>At Smart Member we believe that more transparency is better than less. We try to make our product easy to use, with settings and options that are easy to find and understand. This is good for privacy, good for the product, and good for Smart Member customers and users. To foster greater transparency, we have published a <a ng-href="transparency-report">Transparency Report</a>, which is our summary of government and law enforcement requests for user data and content removal from Smart Member, and our <a ng-href="user-data-request-policy">User Data Request Policy</a> explaining our policy requests regarding user data and content removal requests.</li>
                    <li>We think that having more information be easily accessible and searchable wherever you go, whatever device you have, is better than having less. So this is how we built Smart Member. Teams can select their own data retention policies (depending on their level of service) but our defaults show our bias. Administrators and owners can change these settings but we want you to know where we stand.</li>
                    <li>Privacy goes hand in glove with <a ng-href="security" target="_blank">security</a> and confidentiality. We see these things being the three legs that keep the stool balanced and upright. Each is as important as the other and if one is missing the stool won't stand. They are all very important to us and we take them very seriously.</li>
                </ul>

                <h1>Smart Member Privacy Policy</h1>

                <p>Updated: September 1, 2015</p>

                <p>
                    This privacy policy is here to help you understand what information we collect at Smart Member, how we use it, and what choices you have. When we talk about Smart Member in this policy, we are talking about Smart Member, LLC, the company, and the Smart Member website at <a href="http://www.smartmember.com">www.smartmember.com</a>. Smart Member is available for use via a web browser or applications specific to your desktop or mobile device.
                </p>

                <p>
                    This policy describes how Smart Member treats your information, not how other organizations treat your information. If you are using Smart Member in a workplace or on a device or account issued to you by your employer or another organization, that company or organization likely has its own policies regarding storage, access, modification, deletion, and retention of communications and content which may apply to your use of Smart Member. Content that would otherwise be considered private to you or to a limited group of people may, in some cases, be accessible by your team owner or administrator. Please check with your employer, team owner or administrator about the policies it has in place regarding your communications and related content on Smart Member. More on this below.
                </p>

                <p>
                    In this policy we talk about various roles within a Smart Member team and the privileges that come with each. It's helpful to understand these roles and the relationships between them. Here's the breakdown: primary owner &gt; team owner &gt; site administrator &gt; site member. Primary owners have the most control over their team's settings on Smart Member, followed by team owners and then site administrators. The person who establishes the Smart Member team is considered the primary owner with the most control over the team (which is why it's not a good idea for this person to be a contractor or temp employee). Teams can have more than one owner, but only one can be the primary owner. Primary ownership can be transferred to another member after the team is created (see prior note about temp workers and flaky people). All team owners are site administrators, and all owners and site administrators are also site members.
                </p>

                <h2>Information we collect and receive</h2>

                <p>
                    We collect different kinds of information. Some of it is personally identifiable and some is non-identifying or aggregated. Here are the types of information we collect or receive:
                </p>

                <ul>
                    <li>
                        <b>Team information.</b> When you create a team on Smart Member, we collect your email address (as the team owner), your team name, your user name that appears in your Smart Member team, and password.
                    </li>
                    <li>
                        <b>Site information.</b> When you create a site on Smart Member, we collect the Smart Member domain (ex: your-site-name.smartmember.site), and your site name that appears in your Title / SEO settings.
                    </li>
                    <li>
                        <b>Account and profile information.</b> The only information we require to create your Smart Member account is an email address and password. Optional information you can enter into your profile includes information such as your first and last name, profile picture, and your phone number. Any information you add to your profile is visible to other people on your team as described on your profile management page.
                    </li>
                    <li>
                        <b>Billing information.</b> We collect billing address and credit card information if you purchase a premium version of Smart Member. Credit card information is securely passed to our payment processing partner and is not stored at Smart Member.
                    </li>
                    <li>
                        <b>Log data.</b> When you use Smart Member, our servers automatically record information, including information that your browser sends whenever you visit a website or your mobile app sends when you're using it. This log data may include your Internet Protocol address, the address of the web page you visited before coming to Smart Member, your browser type and settings, the date and time of your request, information about your browser configuration and plug-ins, language preferences, and cookie data.
                    </li>
                    <li>
                        <b>Device information.</b> In addition to log data, we may also collect information about the device you're using Smart Member on, including what type of device it is, what operating system you're using, device settings, unique device identifiers, and crash data. Whether we collect some or all of this information often depends on what type of device you're using and its settings.
                    </li>
                    <li>
                        <b>Geo-location information.</b> Precise GPS from mobile devices is collected only with your permission. WiFi and IP addresses received from your browser or device may be used to determine approximate location.
                    </li>
                    <li>
                        <b>Smart Member usage information.</b> This is information about which teams, sites, people, features, content, and links you interact with within Smart Member and what integrations with related services you use.
                    </li>
                    <li>
                        <b>Service integrations.</b> If you <a ng-href="integrations">integrate with a service</a> on Smart Member we will connect that service to ours.
                        <ul>
                            <li>Depending on team settings, team members may be able to add integrations to a site. Those integrations are viewable and editable by the site administrators.</li>
                            <li>We do not receive or store your passwords for any of these services.</li>
                            <li>You can remove an integration at any time which unbinds that integration on a go-forward basis. That does not, however, delete the content that was received from them and indexed within Smart Member. That content must be deleted manually.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Site content that you create and publish within Smart Member.</b> This includes:
                        <ul>
                            <li>The site content itself. This content can include text, pictures, files and video among other types of files.</li>
                            <li>When text or files were created and by whom, when or if they were seen by you, and where you created them (in a site, or through an integration, for example).</li>
                        </ul>
                    </li>
                    <li>
                        <b>Information from partners or other 3rd parties.</b> Smart Member may receive information from partners or others that we could use to make our own information better or more useful. This might be aggregate level information about which IP addresses go with which zip codes or it might be more specific information about how well an online marketing or email campaign performed.
                    </li>
                </ul>

                <h2>Our Cookie Policy</h2>

                <p>
                    Smart Member uses cookies, or similar technologies like single-pixel gifs and web beacons, to record log data. We use both session-based and persistent cookies.
                </p>

                <p>
                    Cookies are small text files sent by us to your computer and from your computer to us, each time you visit our website. They are unique to your Smart Member account or your browser. Session-based cookies last only while your browser is open and are automatically deleted when you close your browser. Persistent cookies last until you or your browser delete them or until they expire.
                </p>

                <p>
                    Some cookies are associated with your Smart Member account and personal information in order to remember that you are logged in and which teams you are logged into. Other cookies are not tied to your Smart Member account but are unique and allow us to do site analytics and customization, among other things. If you access Smart Member through your browser, you can manage your cookie settings there but if you disable all cookies you may not be able to use Smart Member.
                </p>

                <p>
                    Smart Member sets and accesses our own cookies on our company-owned domains. In addition, we use 3rd parties like Google Analytics and Mixpanel for website analytics. You may opt-out of third party cookies from <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google Analytics</a> and <a href="https://mixpanel.com/optout/" target="_blank">Mixpanel</a> on their respective websites. We do not currently recognize or respond to browser-initiated Do Not Track signals as there is no consistent industry standard for compliance.
                </p>

                <h2>How we use your information</h2>

                <p>
                    We use your information for the following:

                </p><ul>

                <li>
                    <b>Providing the Smart Member service.</b> We use information you provide to authenticate you and create site content for you and from you
                </li>

                <li>
                    <b>Understanding and improving our products.</b> To make the product better we have to understand how users are using it. We have a fair bit of data about usage and we intend to use it many different ways to improve our products, including research. This policy is not intended to place any limits on what we do with usage data that is aggregated or de-identified so it is no longer tied to a Smart Member user.
                </li>

                <li>
                    <b>Investigating and preventing bad stuff from happening.</b> We work hard to keep Smart Member secure and to prevent abuse and fraud.
                </li>

                <li>
                    <b>Communicating with you</b>
                    <ul>
                        <li>
                            <b>Solving your problems and responding to your requests.</b> If you contact us with a problem or question, we will use your information to respond to that request and address your problems or concerns.
                        </li>
                        <li>
                            <b>In-product communications.</b> We may use the information you provide to contact you through Smart Member. For example, if, after, a few weeks of using Smart Member we notice that one of your sites has no activity on it, we may send you a message that suggests you create some content or use a particular feature. This is just one example of how we use information about your usage of the product to make suggestions to you.
                        </li>
                        <li>
                            <b>Email messages.</b> We may send you service and administrative emails, such as when we notice that you are nearing a site or integration limit. We may also contact you to inform you about changes in our services, or our service offerings. These messages are considered part of the service and you may not opt-out of them. In addition, we sometimes send emails to Smart Member users about new product features or other news about Smart Member. You can opt-out of these at any time.
                        </li>
                    </ul>
                </li>

            </ul>

                <h2>Your choices</h2>

                <p>
                    When you use Smart Member, you have control over a number of things with respect to your own privacy and choices about how your content is visible to others or not. If you are a Smart Member team owner or administrator, you have additional choices that impact your team's privacy. Some members will not have access to all of the same choices that their team owner(s) or administrator(s) do. That is because Smart Member is set up to be team-oriented, and provides team owners with the maximum ability to control their teams.
                </p>

                <!-- p + bold? -->
                <h3>Content Settings and Export Options</h3>

                <p>
                    Smart Member offers different options for content export to team owners and administrators, depending on the level of service they have signed up for. These service levels are likely to change so please see our <a ng-href="pricing">pricing page</a> to learn more about which features are associated with which level of service.
                </p>

                <ul>
                    <li>
                        <b>Content Exports</b>
                        <ul>
                            <li>
                                Administrators of all teams, both free and premium, can export their team's site content.
                            </li>
                        </ul>
                    </li>
                </ul>

                <h3>Choices for Site Members</h3>

                <ul>
                    <li>
                        If you are a member of a site, you may deactivate your account. Deactivation of an account disables your access to that Smart Member site but does not delete your profile or content, which are considered part of the site's data.
                    </li>
                    <li>
                        While you cannot completely delete a profile once it is created, you can update your profile information at any time and modify your email settings. You can also change your user name from time to time.
                    </li>
                </ul>

                <h3>Choices for Team Owners and Administrators</h3>

                <ul>
                    <li>
                        Administrators have the ability to manage and change most of the team settings, including site content settings. Administrators can also deactivate member accounts for their sites.
                    </li>
                    <li>
                        Only a primary owner can deactivate or delete a team.
                    </li>
                </ul>

                <h3>Other Choices</h3>

                <ul>
                    <li>
                        The browser you use may provide you with the ability to control cookies or other types of local data storage.
                    </li>
                    <li>
                        Your mobile device may provide you with choices around how and whether location or other data is shared with us.
                    </li>
                </ul>

                <h3>Sharing and Disclosure</h3>

                <p>
                    There are times when communications and related content and other user information may be shared by Smart Member. This section discusses only how Smart Member may share user information. Organizations that use Smart Member may have their own policies for sharing and disclosure of information they can access through Smart Member. Smart Member may share information:
                </p>

                <ul>
                    <li>
                        <b>With consent, to comply with legal process, or to protect Smart Member and our users.</b>
                        When we have your consent or if we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; to protect the safety, rights, or property of the public, any person, or Smart Member; or to detect, prevent, or otherwise address fraud, security or technical issues. If we receive a law enforcement or other third party request for information we will provide prior notice to the subject of the request where we are legally permitted to do so.  For more information on Smart Member's policies for responding to requests for user data, please see our <a ng-href="user-data-request-policy">User Data Request Policy</a>.
                    </li>
                    <li>
                        <b>With third parties and agents.</b> We may employ third party companies or individuals to process personal information on our behalf based on our instructions and in compliance with this Privacy Policy. For example, we may share data with a security consultant to help us get better at preventing unauthorized access or with an email vendor to send messages on our behalf. We may also share data with hosting providers, payment processors, marketing vendors, and other consultants who work on our behalf and under contractual promises of confidentiality.
                    </li>
                    <li>
                        <b>About you with your organization or team administrator(s).</b>
                        <ul>
                            <li>
                                We may share your email address and team name with your organization. If the email address under which you've registered your account belongs to or is controlled by an organization (to be clear, we're not talking about free web-based email providers like Gmail, Hotmail or Yahoo! Mail) we may disclose that email address and associated team names to that organization in order to help it understand who associated with that organization uses Smart Member, and to assist the organization with its enterprise accounts. Please do not use a work email address for our services unless you are authorized to do so, and are therefore comfortable with this kind of sharing.
                            </li>
                            <li>
                                In addition, there may be times when you contact Smart Member to help resolve an issue specific to a team you are a member of. In order to help resolve the issue, we may need to share your concern with your administrator. When possible, we will try to mask or remove any identifying information before sharing these communications.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>In the event of a merger or sale.</b> If we engage in a merger, acquisition, bankruptcy, dissolution, reorganization, or similar transaction or proceeding that involves the transfer of the information described in this Privacy Policy.
                    </li>
                    <li>
                        <b>That is aggregated and non-identifiable.</b> We may also share aggregated or non-personally identifiable information with our partners or others for business or research purposes. For example, we may tell a prospective Smart Member customer the average number of messages sent within a Smart Member team in a day or may partner with research firm or academics to explore interesting questions about workplace communications. Again, this policy is not intended to prohibit the disclosure and use of aggregated or de-identified data.
                    </li>
                </ul>

                <h3>Security</h3>

                <p>
                    Smart Member takes reasonable steps to protect information you provide to us as part of your use of the Smart Member service from loss, misuse, and unauthorized access or disclosure. When you enter sensitive information (such as sign-in credentials) we encrypt the transmission of that information using secure socket layer technology (SSL). We follow generally accepted standards to protect the personal data submitted to us, both during transmission and once we receive it. However, no electronic or email transmission or digital storage mechanism is ever fully secure or error free.
                </p>

                <p>
                    To learn more about current practices and policies regarding security and confidentiality, please see our <a ng-href="security">Security Practices</a>; we keep that document updated as these practices evolve over time.
                </p>

                <h3>Children's information</h3>

                <p>
                    Smart Member is not directed to children under 13. If you learn that a minor child has provided us with personal information without your consent, please <a href="mailto:feedback@smartmember.com">contact us</a>.
                </p>

                <h3>Changes to this Privacy Policy</h3>

                <p>
                    We may change this policy from time to time, and if we do we'll post any changes on this page. If you continue to use Smart Member after those changes are in effect, you agree to the revised policy. If the changes are material, we may provide more prominent notice or seek your consent to the new policy.
                </p>

                <h3>Contacting Smart Member</h3>

                <p>
                    Please also feel free to contact us if you have any questions about Smart Member's Privacy Policy or practices. You may contact us at <a href="mailto:feedback@smartmember.com">feedback@smartmember.com</a> or at our mailing address below:
                </p>

                <p>
                    Smart Member, LLC<br>
                    1970 Rawhide Dr. STE 102<br>
                    Round Rock, TX<br>
                    78681
                </p>

                <div class="clear_both"></div>

            </div>
        </section>


    </div>

</div>