<div id="page" class="legal">

    <div id="page_contents" class="">


        <section class="blog_container clearfix top" style="padding: 8rem 0 0 0;max-width:60rem!important;" >

            <h1>Transparency Report</h1>
            <p>
                You can view all of our policy documents, including security and disclosure practices, at <a ng-href="policies">Policies</a>.
            </p>

            <div class="tab_pane selected">

                <style type="text/css">

                    .col_right ol li:before,
                    #page_contents ol li:before {
                        display: inline-block;
                        margin-bottom: 1rem;
                        margin-right: 0.75rem;
                        font-weight: 700;
                        text-align: right;
                        content: counters(item,".") ".";
                        counter-increment: item;
                    }

                </style>

                <div class="col span_5_of_6">

                    <p>
                        <b>As of April 30, 2015, Smart Member has received the following legal requests:</b>
                    </p>

                    <ul>
                        <li>
                            Government requests for user data: 0
                        </li>
                        <li>
                            Other legal requests for user data: 0
                        </li>
                        <li>
                            Content take-down requests: 0
                        </li>
                    </ul>

                </div>

                <div class="clear_both"></div>

            </div>

        </section>


    </div>

</div>