<section>


	<h3 class="small_bottom_margin">Your Photo</h3>

	<div class="clearfix">
		<div class="col span_3_of_6">
			<p class="small_bottom_margin profile_image_preview img-responsive" style="height : 400px; background-color : gray"><img onload = "imageLoad()" id="profile_image" style="margin : auto; display : block ; max-height : 400px ;" ng-src="{{user.profile_image}}" alt="Profile Image"></p>
			<p class="input_note" ng-if="!user.profile_image">(Currently using your gravatar image)</p>
			<p class="input_note" ng-if="user.profile_image">(Currently using your uploaded image)</p>
		</div>

		<div class="col span_3_of_6">
			<p class="no_bottom_margin">Select a file to upload</p>
			<form method="post" class="change_profile_image large_bottom_margin">

				<p><button type="button" data-bypass="true" class="set_profile_image" sm-uploader="profile_image" ng-model="user.profile_image">Choose Profile Image</button></p>
				<p class="input_note">Want to look your best? Make sure to upload a photo that's at least 192px in width and height.</p>
				<p><button type="submit" class="btn ladda-button" data-style="expand-right" ng-click="saveProfileImage()"><span class="ladda-label">Save</span><span class="ladda-spinner"></span></button></p>
			</form>
		</div>
	</div>

	<script type="text/javascript">
	function imageLoad(){

		var image = document.getElementById('profile_image');
		image.style.paddingTop = 0;

		console.log(image.width)
		image.style.paddingTop = (400-image.height)/2 + 'px' ; 
	}
	</script>

</section>