<div class="ui short modal"><i class="close icon"></i>
	<div class="header">
		Sign up to {{site.name || 'Smart Member'}}
	</div>

	<div class="content">
		<div class="description">

			<div class="ui two column middle aligned very relaxed stackable grid container relative_container" style="position: relative;">

				<div class="column">

					<form sm-form="register()" class="ui form">

						<div class="field">
							<label>Name</label>
							<div class="ui left icon input">
								<input type="text" placeholder="Name" name="name" ng-model="user.first_name">
								<i class="fa fa-tag icon"></i>
							</div>
						</div>
						<div class="field">
							<label>Email</label>
							<div class="ui left icon input">
								<input type="email" placeholder="Email" name="email" ng-model="user.email" ng-change="email_taken = false">
								<i class="fa fa-at icon"></i>
							</div>
						</div>
						<div class="field">
							<label>Password</label>
							<div class="ui left icon input">
								<input type="password" name="password" ng-model="user.password" pattern=".{6,}" required title="minimum 6 characters">
								<i class="fa fa-lock icon"></i>
							</div>
						</div>
						<div class="field" ng-if="email_taken">
							<label>A verification code was sent to your address, please copy that code and paste in here.</label>
							<input type="text" placeholder="Verification Code" ng-model="user.verification_code">

							<p ng-if="verification_failed">
								Verification code was invalid. Please try again.
								<br>
								Code is only valid for fifteen minutes.
								<a href="#" ng-click="sendVerificationCode()">Click here</a>
								to be sent a new code.
							</p>
						</div>
						<button busy type="submit" class="ui blue submit button">
							{{site_options.register_button_text ? site_options.register_button_text : 'Sign Up'}}
						</button>
					</form>
				</div>
				<div class="ui vertical divider">
					Or
				</div>
				<div class="center aligned column">
					<a ui-sref="public.sign.in" class="ui big green labeled icon button">
						<i class="user icon"></i>
						Login
					</a>
				</div>
			</div>

		</div>
	</div>
	<div class="actions">
		<div ng-click="CloseExtraState()" class="ui black button">
			Close
		</div>
		<a ng-href="{{app.subdomain == 'my' ? 'http://help.smartmember.com':'/support-ticket'}}" class="ui close right labeled icon button" ng-click="CloseModal();">
			Need help?
			<i class="life ring icon"></i>
		</a>
	</div>

</div>






