<div class="ui modal">
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} ClickBank App
	</div>
	<div class="content">
		<div class="description">
			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>
			<div class="ui segment form">


				<div class="field">
					<label>ClickBank Secret Key</label>
					<input type="text" ng-model="current_integration.remote_id">

					<div class="ui ignored info message">
						<i class="info icon"></i>
						This is the Secret Key that will be used to decrypt encrypted sales data transferred by ClickBank
					</div>
				</div>

				<div class="field">
					<label>Use this as your ClickBank IPN url</label>

					<div class="ui action input" ng-init="init()">
						<input type="text" class="endpoint-api" id="copy_me" value="{{app.apiUrl + '/transaction?type=clickbank&subdomain=' + current_site.subdomain}}">
						<button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="app.apiUrl + '/transaction?type=clickbank&subdomain=' + current_site.subdomain" ng-click="copied()">
							<i class="copy icon"></i>
							Copy
						</button>
					</div>
				</div>
				<div class="field">
					<label>Use this as your Thank You Page url (optional)</label>

					<div class="ui action input">
						<input type="text" class="endpoint-api" id="copy_me2" value="{{'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'}}">
						<button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me2" data-clipboard-action="copy" clip-copy="'http://' + ( current_site.domain ? current_site.domain : current_site.subdomain + '.' + app.rootDomain ) + '/thank-you'" ng-click="copied()">
							<i class="copy icon"></i>
							Copy
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<button ng-click="saveIntegration()" ng-disabled="(!current_integration.remote_id)" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>
