<div class="ui modal"><i class="close icon"></i>
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} JVZoo Grabber App
	</div>
	<div class="content">
		<div class="description">

			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>

			<div class="ui segment form" ng-submit="saveIntegration()">

				<div class="inline field">
					<label>Install the extension</label>
					<a href="https://chrome.google.com/webstore/detail/affiliate-approval-pro/fgdfpdiamefbcdghabjipjbpabggfbfb" target="_blank" class="ui right labeled icon button">
						Go to Play Store
						<i class="external icon"></i>
					</a>
				</div>

				<div class="field">
					<label>Your webhook url</label>

					<div class="ui action input" ng-init="init()">
						<input type="text" class="endpoint-api" id="copy_me" ng-model="url">
						<button class="ui teal right labeled icon button copy-button" data-clipboard-target="#copy_me" data-clipboard-action="copy" clip-copy="url" ng-click="copied()">
							<i class="copy icon"></i>
							Copy
						</button>
					</div>

					<div class="ui ignored info message">
						<p>Copy this URL to the Affiliate Approval Pro extension settings.</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
	</div>
</div>