<div class="ui modal">
	<div class="header">
		<i class="configure icon"></i>
		{{current_integration ? 'Configure' : 'Install'}} Vimeo App
	</div>
	<div class="content">
		<div class="description">

			<h3 class="ui horizontal divider header">
				<i class="magic icon"></i>
				Setup Instructions
			</h3>

			<div class="ui ignored positive message">
				<p>Follow these steps to install the {{integration.name}} app.</p>
			</div>

			<div class="ui styled fluid accordion" sui-accordion>
				<h3 class="ui top attached header title active">
					<i class="dropdown icon"></i>
					Step 1
				</h3>
				<div class="ui attached segment content active">
					<p>Click "Connect New Account." and then log into vimeo.</p>
					<img class="ui bordered image" src="http://content.screencast.com/users/BrianCain/folders/Jing/media/a7087a8b-dbbc-4f75-9be1-deb7f0a8cbab/2015-12-31_1218.png">
				</div>

				<h3 class="ui top attached header title">
					<i class="dropdown icon"></i>
					Step 2
				</h3>
				<div class="ui attached segment content">
					<p>Click Allow, and you'll have your Vimeo account connected to Smart Member</p>
					<img class="ui bordered image" src="http://content.screencast.com/users/BrianCain/folders/Jing/media/84f27a02-4348-47fd-aaec-203d7b0710c8/2015-12-31_1229.png">
				</div>

				<h3 class="ui top attached header title">
					<i class="dropdown icon"></i>
					Step 3
				</h3>
				<div class="ui attached segment content">
					<p>Click Content > Import. Then click the VIMEO option to find your integrated account, and SM site you want to import to</p>
					<img class="ui bordered image" src="http://content.screencast.com/users/BrianCain/folders/Jing/media/68210783-c8a2-4353-b287-4fd09be324a8/2015-12-31_1205.png">
				</div>

				<h3 class="ui top attached header title">
					<i class="dropdown icon"></i>
					Step 4
				</h3>
				<div class="ui attached segment content">
					<p>A List of your VIMEO videos will pop up, and you will have the option to begin adding them as lessons.</p>
				</div>
			</div>


			<h3 class="ui horizontal divider header">
				<i class="setting icon"></i>
				Settings
			</h3>

			<div class="ui segment form">
				<div class="field">
					<label>Choose Vimeo Account</label>
					<select class="ui dropdown" ng-model="current_integration.connected_account_id" sui-dropdown>
						<option value="">Accounts</option>
						<optgroup label="Accounts">
							<option ng-repeat="account in account_choices" ng-selected="current_integration.connected_account_id == account.id" value="{{account.id}}">
								{{account.name ? account.name : (account.username ? account.username : account.remote_id)}}
							</option>
						</optgroup>
					</select>
				</div>
				<div class="field">
					<label></label>
					<button class="ui button" ng-click="connectVimeoAccount()">connect new account</button>
				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui black deny button close" ng-click="cancel()">
			Back
		</div>
		<button busy ng-click="saveIntegration()" ng-disabled="!current_integration.connected_account_id || current_integration.connected_account_id == 0" class="ui right labeled icon green button">
			Save changes
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>
