<div class="card clearfix large_top_margin">
    <h4 style="margin-bottom:20px;">Configure Sendgrid Integration for <strong>{{current_integration.company_id ? company.name : current_site.name}}</strong></h4>
    <div class="hr-line-dashed"></div>
    <div class="field">
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Sendgrid Username</label>
            </div>

            <div class="col-sm-8">
                <input type="text" name="logo_url" class="form-control input-lg ng-pristine ng-valid ng-touched" ng-model="current_integration.username">
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="field">
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Sendgrid Password</label>
            </div>

            <div class="col-sm-8">
                <input type="password"  class="form-control input-lg ng-pristine ng-valid ng-touched" ng-model="current_integration.password">
            </div>
        </div>
    </div>
    <div class="clear_both"></div>

    <div class="clear_both"></div>
    <div class="col span_2_of_6"></div>
    <div class="col span_4_of_6">
        <span class="inline_block">
            <a ng-click="saveIntegration()" class="btn btn-brand pull-left">
                Save
            </a>
        </span>
    </div>
</div>