<div class="ui modal">
	<i class="close icon"></i>
	
	<div class="header">
		<i class="paragraph icon"></i>
		
	</div>
	<div class="content">
		<div class="description">
		
			<form method="get" class="form-horizontal save_form">

				<div class="form-group">
					<label class="col-sm-3 control-label">Image / logo</label>

					<div class="col-sm-9">
						<button type="button" class="btn btn-danger set_site_logo"
								sm-uploader="site_logo" ng-model="site_options.site_logo">Choose Image
						</button>
			            							<span class="help-block m-b-none">
			            								This is your sites logo and will show anywhere your site is listed both publicly and here in the
														admin area.
			            							</span>

						<div class="width-100 text-center">
							<img class="site_logo_preview img-responsive img-thumbnail"
								 ng-src="{{site_options.site_logo}}" ng-show="site_options.site_logo"
								 style="width:auto;"/>
						</div>
						<br/>

						<div class="pull-right" ng-if="site_options.site_logo">
							<a class="btn btn-danger" ng-click="site_options.site_logo=''"><i
							 class="ace-icon fa fa-remove">Remove</i></a>
						</div>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
			</form>
			
		</div>
	</div>
	<div class="actions">
		<!-- SAMPLE ACTION BUTTON -->
		<a ng-click="save()" ng-disabled="saving" class="ui right labeled icon button">
			{{saving ? 'Saving site logo' : 'Save & Continue'}}
			<i class="checkmark icon"></i>
		</a>
		<!-- /SAMPLE ACTION BUTTON -->
		
		<div class="ui black deny button close" ng-click="cancel()">
			Close
		</div>
	</div>
</div>