<div class="sixteen wide column " ng-init="init()" >

	<h2 class="ui center aligned icon header headline_text_color">
		<i class="circular fa fa-life-ring icon"></i>
		<div class="content" ng-if="ticket_submitted">
			Your ticket has been submitted
			<div class="sub header headline_text_color">
				<p>Check your e-mail for confirmation and instructions.</p>
				<p>If you weren't a member an account has been created for you to view your ticket status and any replies, details have been sent to your e-mail.</p>
			</div>
		</div>
		<div class="content" ng-if="!ticket_submitted && ticket.type != 'refund'">
			Submit a Support Ticket
			<div class="sub header headline_text_color">
				We'll be in touch as soon as possible!
			</div>
		</div>
		<div class="content" ng-if="!ticket_submitted && ticket.type == 'refund'">
			Submit Your Refund Request
			<div class="sub header headline_text_color">
				We will review your account and process refunds accordingly.
			</div>
		</div>
	</h2>

</div>
<div class="twelve wide column">

	<div class="ui piled segment section_background_color" ng-if="!ticket_submitted">

		<div class="ui active inverted dimmer" ng-if="loading">
			<div class="ui text loader">Loading</div>
		</div>
		<div class="ui padded basic segment section_background_color">

			<form class="ui form">
				<div class="field" ng-if="ticket.type == 'refund'">
					<label>Reason for Refund</label>
					<select type="text" ng-model="ticket.subject" name="subject" class="ui fluid dropdown">
						<option>Product didn't meet my expectations.</option>
						<option>Couldn't access product.</option>
						<option>I can't find a use for this product.</option>
						<option>Support wasn't timely about helping me.</option>
					</select>
				</div>
				<div class="field" ng-if="ticket.type!='refund' && !isLoggedIn()">
					<label>Email</label>
					<input type="text" placeholder="Email" ng-model="ticket.user_email" required>
				</div>
				<div class="field" ng-if="ticket.type != 'refund'">
					<label>Subject</label>
					<input type="text" placeholder="Ticket subject" ng-model="ticket.subject">
				</div>
				<div class="field">
					<label>{{type=='refund'?'Share your Feedback':'Message'}}</label>
					<textarea froala ng-model="ticket.message"></textarea>
				</div>
				<div class="field">
					<label>Attachment</label>

					<button ng-hide="ticket.attachment" class="ui button negative" type="button" sm-uploader="attachment" close-modal='true' ng-model="ticket.attachment">Attach File</button>
					<span class="attached_file_name"></span>
					<input type="hidden" name="attachment" class="form-control input-lg" ng-modl="ticket.attachment" />
					<a ng-show="ticket.attachment" data-bypass="true" target="_blank"
					   class="file_download" ng-href="{{ticket.attachment}}">
						{{ticket.attachment.split('/').pop()}}
					</a>
					<a ng-show="ticket.attachment" data-bypass="true"
					   class="" ng-click="ticket.attachment = ''" style="color:#8b0000;">x</a>
										<span class="help-block m-b-none">
											Attach a screenshot or any other file that will help us to help you.
										</span>
				</div>

				<button class="ui button" ng-click="(ticket.user_email!=null||isLoggedIn())? save(): ticket.user_email=ticket.user_email">Submit</button>
				<a ui-sref="public.app.site.support" class="ui button">Cancel</a>
			</form>

		</div>

	</div>

</div>
