<div id="wrapper">
	<div class="animate-panel">

		<div class="content">
			<div class="row">
				<div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.1s; -webkit-animation-delay: 0.1s;">
					<div class="hpanel">
						<div class="panel-body">
							<div class="text-center">
								<h2 class="m-b-xs">User Notes</h2>
								<p class="font-bold text-success">learning</p>
								<div class="m">
									<i class="pe-7s-science fa-5x"></i>
								</div>
								<p class="">
									These are the notes your members have taken on the lessons they've watched & read
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
					<div class="hpanel">
						<div class="panel-body">
							<div class="table-responsive">
							<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
							<div class="row">
								
								<div class="col-sm-6 col-sm-offset-6" >
								<div id="example1_filter" class="dataTables_filter">
									<label>Search:
										<input type="text" class="form-control input-sm" placeholder="" aria-controls="example1" ng-model="query" ng-change="search()">
									</label>
								</div>
								</div>
							</div>
							<div class="row">
							<table id="example1" class="display table table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Lesson</th>
										<th>User</th>
										<th>Note</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd" ng-repeat="note in notes">
										<td valign="top">{{note.id}}</td>
										<td valign="top">{{note.lesson.title}}</td>
										<td valign="top">{{note.user.first_name}} {{note.user.last_name}}</td>
										<td valign="top">{{note.note}}</td>
										<td valign="top">{{moment.utc(note.created_at).fromNow()}}</td>
									</tr>
								</tbody>
							</table>
							</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>


	</div>
</div>



